[2022-01-15 08:04] yichong96 commented on #3808
Sorry, here is the code to reproduce the error.
[code]

I am streaming in the images via a zmq socket. This is the error

[code]

Thank you for your help !

[2022-01-16 03:55] lminer commented on #3813
I tried using the image for `21.03`, which comes with cuda 11.1 and so should be compatible, but it still errored out. This time the error is as follows:

```E0115 23:38:07.125420 9 server.cc:181] Failed to initialize CUDA memory manager: unable to get number of CUDA devices: initialization error```

[2022-01-16 12:18] hampusrosvall commented on #3804
@rmccorm4 I think that is the case for image _classification_, however, I am doing image segmentation and am getting the exact behaviour as described in this issue here https://github.com/triton-inference-server/server/issues/3787. I.e., I am getting a single element array output when I request a class for each pixel `(i, j)`. You can replicate the error with the following model, config and label

[2022-01-17 06:30] zhaohb commented on #3624
@tanmayv25 Will this change fix the issue？

[2022-01-17 06:36] tanmayv25 commented on #3624
Yes. It should...

[2022-01-17 06:42] zhaohb commented on #3624
@tanmayv25 Now I am using 21.12, and I find that the performance of 21.12 is still ok by comparison. Will this merge improve the performance of 21.12？

[2022-01-17 06:44] tanmayv25 commented on #3624
The change forms larger batch sizes. whether it improves the performance or not depends upon the model but ideally you can expect some improvement.

[2022-01-17 06:46] zhaohb commented on #3624
ok, thank you very much, I will test it.

[2022-01-17 07:33] zzk0 opened #3816 "How to run tests after building tritonserver"
From the document,

[code]

Therefore, I want to test tritonserver after I built it.

[2022-01-17 08:23] hzy001 commented on #3731
I built the tritonserver with the `--enable-gpu` flag and it could load example models successfully.

[2022-01-17 09:22] DDyzonepiece commented on #2024
Thank you@CescMessi  it works!

[2022-01-17 09:24] akansal1 commented on #3678
@Tabrizian is there any update on the above issue ?

[2022-01-17 14:48] Tabrizian commented on #3678
@swapkh91 We've not been able to get to this ticket yet. Are you trying to run a Python model in k8s and faced this error?

[2022-01-17 18:10] ia-davidpichler opened #3817 "Possible Network Performance Bottleneck"
**Description**
I'm running some performance benchmarks of triton and am coming across weird(to me) results trying to scale a small IO bound model. I'm invoking a Unet model with a resnet18 backbone in onnx format with the tensorrt FP16 optimization. I wrote a simple benchmarking script in python using the synchronous http client across a number of processes. I am testing in AWS and when I run the

[2022-01-18 03:42] zhaohb commented on #3624
@tanmayv25 I recompiled tritonserver with this command:
[code]
and I use server r22.01 branch, then I test my model, found no improvement in performance.

[2022-01-18 05:49] akansal1 commented on #3678
@Tabrizian ye we have similar usecase as mentioned in the ticket, trying custom backend for deploying detectron model in production in kserve

[2022-01-18 14:04] zhaohb opened #3818 "How to understand queue_batch_size payload_batch_size pending_batch_size batch_size next_preferred_batch_size_ in dynamic_batch_scheduler.cc"
Now I am looking at the code of triton, the logic of dynamic batchsize in dynamic_batch_scheduler.cc, but some variables cannot be understood.
![image](https://user-images.githubusercontent.com/5791375/149952089-10cd0a12-fed1-4d48-b132-8e59d5e30405.png)
who can help me?

[2022-01-18 18:43] dyastremsky commented on #3798
@KshitizLohia Yes, it's in our queue to investigate. This error could definitely be due to the ONNX version.  What version did you use for conversion? The quickest solution would be to try using the most recent version of Triton server and checking whether your version of ONNX is supported by the current ONNX runtime.

[2022-01-18 19:41] dyastremsky commented on #3787
We've filed a report to investigate. Any additional information (e.g. a sample model, the config files, etc.) so that we can run it the same way would be helpful.

[2022-01-18 19:42] dyastremsky commented on #3804
Thank you kindly for the additional information. I've filed a report to investigate. What version of Triton are you running? Did you build it yourself or use the pre-built container?

[2022-01-18 20:45] tanmayv25 commented on #3624
I followed the same pattern as described in the issue. Generated the torch script model as described and loaded it in triton with max_queue_delay_microseconds=0 and no preferred batch size. I then sent 5 requests to a model asynchronously. Previously, I indeed saw the batches being formed as 1, 1, 1, 2.
With this fix, we keep growing payload till it has begun execution. With the fix I saw the batc

[2022-01-18 20:47] tanmayv25 commented on #3624
Can you share the average batch sizes in both the cases? with and without fix?

[2022-01-18 23:03] dyastremsky commented on #3808
We'll investigate the error. To replicate it, we'll need sample models (with config files), the version of Triton you're using, whether you built the server or used the pre-built container, and the commands to run.

@GuanLuo, do you know if Triton and perf analyzer run on MacOS? Also, are there significant reasons to choose gRPC vs HTTP? My understanding was the performance was comparable, so let

[2022-01-19 01:26] lminer commented on #3583
I second this as a great addition.

[2022-01-19 03:36] lixiong4788 opened #3820 "its easy to compilation failure in China"
Hi, I’m @lixiong4788
I’m interested in the third-party build,
why we can't find the file(like /tmp/tritonbuild/tritonserver/build/third-party/libevent/include/evhttp.h) in the local system.
the /tmp don't contain anything about the tritonbuild ,how can we do that?
Is there a way to cache the git files of third-party libraries？
China's network is not good, it is often easy to interrupt and cause co

[2022-01-19 04:26] gggaugau opened #3822 "[Question] Is ensemble model sequential in all cases?"
Hello guys. I have an ensemble model containing 3 sub models, each taking the same input. Particularly:

[code]
In case there is an inference request, which case does my ensemble model execute the request?
1. trigger model A,B and C at the same time
2. trigger model A -> B -> C sequentially

[2022-01-19 09:27] dongfangduoshou123 opened #3824 "server's NGC container has no source code and build tools like cmake."
I pull the latest triton-server's docker image and then create one container and enter into the container;
and I find that the container dose not has the server's source code and build tools like cmake;
I hope you can maintain a server's docker images with tags like devel(this devel image should contains the server's
source code and build tools like cmake; and users could directly use this devel i

[2022-01-19 09:30] m-a-d-e commented on #3646
Hello,
Same issue here with CentOS 7.9, Triton 20.10 and Triton 21.11, Framework TensorRT.
This happens mostly when I shutdown Triton container. But it also happen sporadically when there is no activity (only th emodel are loaded, no inference)

Sys error logs looks like:
[  142.827258] nvidia 0000:3c:00.0: irq 252 for MSI/MSI-X
[  142.862672] BUG: unable to handle kernel NULL pointer dereference

[2022-01-19 09:30] dongfangduoshou123 commented on #3824
why the build program can so complex？
I hope the build program is like below:
mkdir build_dir
cd build_dir
cmake ..
make

thank you!

[2022-01-19 09:32] somelaoda opened #3825 "Tensorflow Backend had an unexpected memory increase while updating models"
Now I use triton tensorflow backend , every time when I update my model（copy a new version to --model-repository）,Trition process's  memory will have a unexpected grows  up ，and it can not reclaimed by itself.

To verify my conclusion, I updated my model 100 times with a script and got the following curve：
![image](https://user-images.githubusercontent.com/56757801/150100448-d22bb392-5993-4746-864

[2022-01-19 12:58] aman-cc commented on #2698
Hi @poornimajd, I have the exact situation and trying to run both models in parallel but not working. Did you find a way to make two models work in parallel?

[2022-01-19 13:18] poornimajd commented on #2698
No I was not able to solve the issue.

[2022-01-19 15:00] Tabrizian commented on #3796
It was just an example of the shared resources that might not lead to linear increase in the performance gains.

It could but in this particular case I think it is related to the issue that you linked. Could you please try with that change and we whether you still observe the same behavior?

[2022-01-19 19:04] CoderHam commented on #3700
@xtianhb can you share the gdb backtrace for the segfault?

[2022-01-19 20:18] dyastremsky commented on #3824
Our build targets many platforms and options (Windows, Linux, Jetson, etc.). Feel free to read through the build files to get a sense of why the logic is there. Most users use the pre-built Docker container, which is the easiest way to start. Instructions for different build options are here: https://github.com/triton-inference-server/server/blob/main/docs/build.md

We don't want to bloat the pre-

[2022-01-19 22:38] dyastremsky commented on #3816
There are tests in the qa folder. You should be able to run some of them. Others may require non-public models, so you can use them as a starting point for writing and running your own tests.

[2022-01-19 22:45] dyastremsky commented on #3825
Thanks for providing a detailed report. TensorFlow does not return memory to the system when a model is unloaded, only when the process exits. This is a known limitation of TensorFlow.

[2022-01-19 23:23] deadeyegoodwin commented on #3776
@piekey1994  Can you provide repro steps, models, etc. so that we can reproduce this step.

[2022-01-20 06:49] eyalhir74 opened #3830 "[Question]: Fairseq model to Triton server"
Hi,
  I have a Fairseq model which I'd like to load into Triton. Is it possible? Any tutorial/explaination exists on how to do so?

thanks
Eyal

[2022-01-20 09:04] dugarsumit opened #3831 "Missing logs incase of incorrect model name"
**Description**
I have created a python model which can call different onnx models after some preprocessing based on some conditions.

1. When I pass an incorrect python `model_name` to the triton client there are no error logs in the triton server.
2. But if my python model calls an incorrect onnx model then I can see errors in the triton server.

Triton Information
TRITON_VERSION=2.14.0

Are you

[2022-01-20 14:02] Tabrizian commented on #3831
The error is not logged but you can check whether your BLS request had error using the `has_error` method of the inference response.  In case it had an error, the error message is included in the `infer_response.error().message()`.

[2022-01-20 14:15] dugarsumit commented on #3831
yes, I can get the error as you mentioned. But I was curious if there's any specific reason for not logging these errors. The reason I am asking it is from the point of view of monitoring and alerting. I want to trigger an alert system based on the errors that I get in the triton server.

[2022-01-20 14:39] zijin520 opened #3832 "[question] model loading"
Hi, Could you please help me to get the answers. Thanks.
1. When overwriting the original model file with a new model file, how does the model roll back to the previous model if an error occurs when trying to load the new file?  Did you make a copy of the original file beforehand?
2. Is the offline model file loaded into memory every time it is loaded?  If so, will it take up a lot of memory? And

[2022-01-20 14:45] Tabrizian commented on #3831
I see. I have filed an enhancement ticket for this.

[2022-01-20 17:01] GuanLuo commented on #3832
1. Triton only unload the previous model if the new model is successfully loaded, so in the case of failure, the previous model will still be served even though the files have been replaced.
2. In Triton, when a model is loaded, it is ready to perform any inference so yes the model is loaded into memory. The memory usage depends on both the model itself and the framework, there are small models th

[2022-01-20 17:05] GuanLuo commented on #3822
Case 1 will be the expected behavior as the required inputs for all steps in the pipeline have been satisfied.

[2022-01-20 18:07] GuanLuo commented on #3830
We have [doc](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md) and [example](https://github.com/triton-inference-server/server/tree/main/docs/examples/model_repository) for deploying different kinds of models, the general procedures should also apply to your particular model. Please provide more detail if you encounter specific issues while following the exa

[2022-01-20 19:03] philnguyenresson opened #3833 "Differing batch_size between input and output"
I have a tensorRT model (generated by trtexec) which has a different input batch_size  and output batch_size. This is due to a part of the model which performs an operation similar to tensorflow's [extract_patches](https://www.tensorflow.org/api_docs/python/tf/image/extract_patches), except instead of inserting the patches into a new dimension, I concatenate them along the first (batch) dimension.

[2022-01-20 19:13] SaratM34 opened #3834 "[Question] Error when loading models with python backend"
**Description**
A clear and concise description of what the bug is.

**Triton Information**
r21.09

Are you using the Triton container or did you build it yourself?
Built myself

Question
I am getting the below errors when loading the models from NFS mount. All the models use python backend with custom conda environments. Just wanted to understand what could be the reason for these errors. I was a

[2022-01-20 23:24] deadeyegoodwin commented on #3834
Python backend must unpack any conda environment you have associated with the model. Are the listed directories writable by the triton process?

[2022-01-20 23:28] deadeyegoodwin commented on #3833
If you don't use the dynamic batcher then I suspect that you will get the behavior you want. You can create a batch on the client, send it to triton in a single request, and the response should be the shape you expect. With the dynamic batcher triton must "scatter" each output tensors so that a portion of it goes to the appropriate request. This is where it assumes output batch size equals input b

[2022-01-20 23:28] #3833 closed

[2022-01-20 23:30] deadeyegoodwin commented on #3830
This site has many model examples, some of which give instructions for triton. Check there to see if there is any information for fairseq. https://github.com/NVIDIA/DeepLearningExamples

[2022-01-20 23:30] #3830 closed

[2022-01-20 23:31] #3822 closed

[2022-01-20 23:34] deadeyegoodwin commented on #3832
The backend repo has a lot of information about backends in general, including a tutorial on writing them: https://github.com/triton-inference-server/backend

This example website has many model examples: https://github.com/NVIDIA/DeepLearningExamples

[2022-01-20 23:34] #3832 closed

[2022-01-20 23:36] SaratM34 commented on #3834
@deadeyegoodwin Thanks for your reply. **/tmp** directory is writable because using the same Triton Image I was able to load the model repository from local a directory. Also since /tmp is within Triton Container it should be writable even when loading models from NFS mount right?

[2022-01-20 23:36] deadeyegoodwin commented on #3776
FYI @askhade

[2022-01-20 23:39] deadeyegoodwin commented on #3825
It is correct that TF does not release GPU memory back to the system. But it should reuse the memory that it has already allocated, so I would expect the GPU memory to increase to  hold 2 models (because the old model will not be unloaded until the new model is successfully loaded), but then level off after that. @GuanLuo  what do you think?

[2022-01-20 23:40] deadeyegoodwin commented on #3816
https://github.com/triton-inference-server/server/blob/main/docs/test.md

[2022-01-20 23:40] #3816 closed

[2022-01-20 23:41] #3824 closed

[2022-01-20 23:44] deadeyegoodwin commented on #3700
Does the model work correctly if you just run it as a TF model, do not apply the TF-TRT optimization.

[2022-01-20 23:49] deadeyegoodwin commented on #3820
The Triton build requires that it pull code from github using the cmake FetchContent and ExternalProject commands. You can find this in almost all CMakeLists.txt files in the various repos that make up Triton. You can likely change those to use local copies of the source code so that the build does not need so much network access. You will need to edit the FetchContent to point to your local copie

[2022-01-20 23:49] #3820 closed

[2022-01-20 23:51] deadeyegoodwin commented on #3583
No, there is not a backend that does that kind of memory management, and the onnxruntime backend does not have any plans to implement it.

[2022-01-20 23:51] #3583 closed

[2022-01-20 23:52] SaratM34 commented on #3386
@tanmayv25 In my initial testing the results looks good. The performance is greatly improved. Below is some summary from initial testing

`Before Fix`

[code]

`After Fix`

[code]

I have some more testing pending. I will update here Once I am done with the complete testing.

[2022-01-20 23:57] deadeyegoodwin commented on #3808
I believe you are hitting a limitation of the greenlet library that the HTTP client is based on. @tanmayv25  please correct if I am wrong. You can look into greenlet to see if there is any way to work around this limitation. On our roadmap we also have a request to implement an asyncio version of the HTTP client that may be a solution for this issue, but we don't have any timeline for when that co

[2022-01-20 23:57] #3808 closed

[2022-01-21 00:07] deadeyegoodwin commented on #3818
We typically can't provide a written explanation of the source code beyond the source code and the corresponding comments. Do you have a particular issue you are seeing, or some feature that you are trying to add to the batcher? Reopen with that kind of question and we can try to help.

[2022-01-21 00:07] #3818 closed

[2022-01-21 00:15] deadeyegoodwin commented on #3817
Does AWS have some per-connection throttling? You could try using a single client that opens 2 connections to see how that perf compares with the other trials. It seems like there are some tools to monitor bandwidth but I haven't used them so not sure if they will be helpful: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-network-bandwidth.html

[2022-01-21 01:11] tanmayv25 commented on #3386
Thanks for sharing the results.

[2022-01-21 01:21] deadeyegoodwin commented on #3813
What is the console output when the container is started?

[2022-01-21 01:26] Tabrizian commented on #3834
I looked up the first error in the `libarchive.h` and it looks like it happens when some underlying system call such as `fseek` or `read` fails. The second errors seems to be coming from a simple `mkdir` syscall https://github.com/triton-inference-server/python_backend/blob/92881cf95d826eacfeb58f3e90d5cb45a9d2115a/src/pb_env.cc#L123. Can you try the code below when the NFS is being used in your co

[2022-01-21 01:28] yichong96 commented on #3808
@deadeyegoodwin thanks for confirmation on this issue

[2022-01-21 01:30] deadeyegoodwin commented on #3762
set_data_from_numpy always returns None. It adds the data to the InferInput but doesn't return anything. If you want to collect the inputs use inputs.append(inp_ten)

[2022-01-21 01:30] #3762 closed

[2022-01-21 01:33] tanmayv25 commented on #3808
@yichong96  You are hitting the same problem as being described here: https://stackoverflow.com/questions/33531745/python-gevent-shared-queue-listener-process

In order to use this architecture seemlessly you must use greenlet friendly queue.
[code]

[2022-01-21 01:42] deadeyegoodwin commented on #3801
Your output tensors are not BYTES tensors (TYPE_STRING in the model configuration). You are trying to deserialize an FP32 tensor as if it were BYTES. You need to look at the definition of what the datatypes are:
https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#datatypes
That function is for deserializing a BYTES tensor which is serialized as described here: h

[2022-01-21 01:42] #3801 closed

[2022-01-21 01:45] deadeyegoodwin commented on #3795
With the current support then intention is that you would need to put the model in the model repo twice, with different names and specify a different sig_def for each. Then your client would refer to one of the models to get the sig_def it wanted. Supporting multiple sig_defs which could have different inputs and outputs would require major changes to the model configuration and model repository a

[2022-01-21 01:47] deadeyegoodwin commented on #3802
@GuanLuo It is curious that we don't fail both calls in the same way.

[2022-01-21 04:14] zijin520 opened #3837 "[Question] Is there data populating when request batch_size is less than tensorrt offline model batch_size"
For tensorrt_backend, If the batch_size of the tensorrt offline model is 8 and the batch_size of the request is 7, can Tensorrt handle such a request, and if so, does it populate the input data?  Who fills it? Is it Runtime or Triton or ternsorrt_backend.
For the handling of this situation, can you give the code position. Thanks

[2022-01-21 05:44] SilverBach805 opened #3838 "The problem of low cpu usage"
**Description**
A clear and concise description of what the bug is.

**Triton Information**
What version of Triton are you using?
21.08 to 21.12
Are you using the Triton container or did you build it yourself?
Triton container released by nvidia.

**To Reproduce**
Steps to reproduce the behavior.

Describe the models (framework, inputs, outputs), ideally include the model configuration file (if us

[2022-01-21 05:49] GuanLuo commented on #3802
I haven't look into this issue, but my guess is that the first load sets timestamp of the model, then during the second attempt the model manager gets the same timestamp from polling the model directory and decides "reload" is not needed for this model

[2022-01-21 06:38] GuanLuo commented on #3825
I agree that the GPU memory usage should stay flat at some point. However, I wonder if the memory in the screenshot is referring to the system memory usage. Either way, that seems to be some kind of memory leak or the previous model versions were not unloaded? @somelaoda what is the model config that you use for the model and how do you "copy a new version to --model-repository"? i.e. copying it a

[2022-01-21 06:56] SilverBach805 opened #3839 "allow_ragged_batch"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-21 10:16] Alexejklim opened #3840 "python model get stuck on instance initialization step"
I use pytorch model with triton container 21.11 and Kserve 0.7 Inferenceservice. Came across a problem, that model deployment got stuck on step "Starting Python backend stub" without any error message in logs.

I0118 14:09:47.387210 18 python.cc:1608] Using Python execution env ...
I0118 14:09:47.387333 18 python.cc:1875] TRITONBACKEND_ModelInstanceInitialize: ...
I0118 14:09:47.387343 18 backend_

[2022-01-21 11:58] alicimertcan commented on #3761
I got the same problem on 21.11 and 21.12, it works with the single model or a couple of models, but triton never releases them.

Ensemble model: Python backend(cpu) + onnx model(GPU)

python model:
instance_group [
  {
    kind: KIND_CPU
  }
]

model_warmup [{}]

response_cache {
  enable: True
}

onnx model:
instance_group [
  {
    kind: KIND_GPU
  }
]

model_warmup [{}]

response_cache {
  ena

[2022-01-21 12:07] L-A-Sandhu opened #3841 "Pytorch backend forJetson Nano"
I am trying to build pytorch backend for my jetson device. I have used " cmake -DCMAKE_INSTALL_PREFIX:PATH=`pwd`/install -DTRITON_PYTORCH_DOCKER_IMAGE="nvcr.io/nvidia/pytorch:21.12-py3" .." to get the pytorch docker 21.12-py3.
while building it exits with the following error

[  9%] Built target kernel-library-new
[ 22%] Built target triton-common-async-work-queue
[ 54%] Built target triton-backen

[2022-01-21 12:52] sourabh-burnwal opened #3842 "Prometheus always shows one GPU in Triton on Kubernetes"
I deployed a Kubernetes Cluster of Triton nodes. Everything seems working like it's supposed to. But the Prometheus metrics the server is exporting are confusing. So for the query: nv_gpu_utilization, I am getting one GPU only whereas two pods are running currently, meaning there should be two GPUs since I have configured node affinity as 1. So, only one pod will be running/started on one node. Ho

[2022-01-21 14:11] Tabrizian commented on #3678
@akansal1 @swapkh91 Can you try with this fix again and see whether you still face this issue? You need to compile the Python backend from the main branch:

https://github.com/triton-inference-server/python_backend#building-from-source

https://github.com/triton-inference-server/python_backend/commit/e9379464298de8ca9273910fecd07a57202d0789

[2022-01-21 14:19] Tabrizian commented on #3840
Thanks for doing a complete analysis of this issue. The CPU usage problem has been fixed in this https://github.com/triton-inference-server/python_backend/commit/e9379464298de8ca9273910fecd07a57202d0789.

[2022-01-21 15:00] xtianhb commented on #3700
Hi!

I was able to 'solve' the problem by running the optimization in the same triton client just before inference. Before, I was using an external script. It is explained here:

https://forums.developer.nvidia.com/t/ssd-model-trt-deepstream-triton-segfault/197961

@CoderHam There in the NV forum link Ive had uploaded a gdb trace.

@deadeyegoodwin Yes, native model works fine.

Thanks!!!

[2022-01-21 15:56] philnguyenresson commented on #3833
I don't think I have dynamic batching enabled, here is the auto generated config json for the model:

I will try modifying my model as mentioned above to see if that works

[2022-01-21 17:08] lminer commented on #3813
Turns out it was an env var issue. I added this to my dockerfile and now it works:
[code]

[2022-01-21 17:08] #3813 closed

[2022-01-21 17:30] deadeyegoodwin commented on #3840
Closing. Reopen if you still see an issue after upgrading to the mention fix (will be available in the 22.01 release.

[2022-01-21 17:30] #3840 closed

[2022-01-21 17:39] deadeyegoodwin commented on #3842
How are you getting the metrics? If you are using the http://metrics endpoint on a node then you are only going to see the metrics that are collected by that node, which will be only for the 1 GPU on that node. If you want a metric view across your entire cluster you need to add a prometheus database into your cluster that scrapes the metrics from all nodes and then you can query the database. See

[2022-01-21 17:39] #3842 closed

[2022-01-21 17:40] deadeyegoodwin commented on #3841
Python backend works with jetson. We will be including it by default in an upcoming release. @CoderHam  can you provide details and help with the above.

[2022-01-21 17:46] deadeyegoodwin commented on #3761
There is a python stub process created for each of your python models. Are you python models using GPU? Are they correctly managing the GPU memory?

[2022-01-21 17:50] deadeyegoodwin commented on #3839
Yes, you will need to modify your model. https://github.com/triton-inference-server/server/blob/main/docs/ragged_batching.md

[2022-01-21 17:50] #3839 closed

[2022-01-21 17:51] deadeyegoodwin commented on #3841
Pytorch backend is not currently supported for jetson. You would first need to build pytorch itself for jetson. The pytorch on NGC is for ubuntu/x86, it does not work for jetson.
But we are adding PyTorch backend to our jetson release as part of the 22.01 release, which should be out in 1-2 weeks.

[2022-01-21 17:51] #3841 closed

[2022-01-21 17:53] deadeyegoodwin commented on #3802
I suppose we should reset that timestamp if the model load fails?

[2022-01-21 17:55] deadeyegoodwin commented on #3838
It depends on what you are trying to do. What models are you running? Are you using GPU(s)? Does your throughput go down by 6x when you use a 21.09 or later triton?

[2022-01-21 17:56] GuanLuo commented on #3802
I think we could in the explicit mode. In polling mode, we may want to update the timestamp as otherwise model manager will poll, try to load the model again and fail to load even though there is no changes in the model directory

[2022-01-21 17:58] deadeyegoodwin commented on #3837
Triton and tensorrt can handle a batch size that is less than the maximum batch size used when building the tensorrt model. Did you try it? No additional input data is generated, it is just left uninitialized. The TensorRT backend is here: https://github.com/triton-inference-server/tensorrt_backend/

[2022-01-21 17:58] #3837 closed

[2022-01-21 18:07] deadeyegoodwin commented on #3787
You don't show all of you client code, but you must be sending the inference request with class_count = 1. And the postprocessing code is for handling that. If you just want the raw tensor output, don't do that. See these links:
https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_classification.md
https://github.com/triton-inference-server/client/blob/main/src/pytho

[2022-01-21 18:07] #3787 closed

[2022-01-21 18:12] deadeyegoodwin commented on #3805
This is a problem with NGC, not with Triton. I've filed an issue with NGC referring to this issue.

[2022-01-21 18:13] #3485 closed

[2022-01-21 18:15] CoderHam commented on #3841
@L-A-Sandhu you will need to first install both torch and torchvision (and their dependencies) to build / run the pytorch backend.

[2022-01-21 18:17] CoderHam commented on #3725
@maciejszr please try with the latest available release. Closing due to inactivity.

[2022-01-21 18:17] #3725 closed

[2022-01-21 18:19] deadeyegoodwin commented on #3728
Triton core calls TRITONBACKEND_ModelInstanceInitialize and it should never pass in an invalid or nullptr "instance". I'm closing this as you seem to have fixed the issue. But if you are seeing a case where "instance" is invalid or nullptr in this call then please reopen and provide everything we need to reproduce.
See https://github.com/triton-inference-server/backend#backend-lifecycles

[2022-01-21 18:19] #3728 closed

[2022-01-21 18:19] CoderHam commented on #3750
@dumbPy can you provide the model and reproduction steps so we can triage this issue and work on a fix? Additionally did you face this error when running the torchscript model outside Triton?

[2022-01-21 18:19] #3750 closed

[2022-01-21 18:24] deadeyegoodwin commented on #3777
Can you run triton with valgrind? That should produce a stack trace showing exactly where the invalid pointer error is occurring.

[2022-01-21 18:28] deadeyegoodwin commented on #3769
Triton itself doesn't provide any mechanism for this. You can create whatever conda env you want to run your python code so perhaps you can do something with that to protect your code.

[2022-01-21 18:28] #3769 closed

[2022-01-21 18:29] #3764 closed

[2022-01-21 18:30] deadeyegoodwin commented on #3763
We are implementing an improved method to load shared libraries that implement TensorRT custom operations. @tanmayv25  please link this issue to the PR when you submit it.

[2022-01-21 18:36] deadeyegoodwin commented on #3717
You are using Triton via the C API? Are you correctly shutting down triton as is shown in simple.cc?

[2022-01-21 18:40] #3770 closed

[2022-01-21 18:42] deadeyegoodwin commented on #3711
Thanks for sharing the model. We will try to look into this soon.

[2022-01-21 18:42] Tabrizian commented on #3770
This issue has been fixed and will able available in 22.02. For setting the start/end flags you can refer to the test below:

https://github.com/triton-inference-server/server/blob/2a9af2c63f563e54ac123d21c0b1a498401dcd32/qa/python_models/bls/model.py#L103

[2022-01-21 18:47] dyastremsky commented on #3804
Please see https://github.com/triton-inference-server/server/issues/3787#issuecomment-1018742847. If that doesn't solve it, feel free to reopen this ticket.

[2022-01-21 18:49] deadeyegoodwin commented on #3685
Yes, that is an argument to build.py. Sorry for the slow response. Closing. Reopen if you are still having an issue.

[2022-01-21 18:49] #3685 closed

[2022-01-21 18:50] #3671 closed

[2022-01-21 18:51] deadeyegoodwin commented on #3668
This does not seem to be a triton problem. Closing. Reopen if you disagree or have more information.

[2022-01-21 18:51] #3668 closed

[2022-01-21 18:54] #3599 closed

[2022-01-21 23:16] #3382 closed

[2022-01-21 23:36] dyastremsky commented on #3774
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-01-21 23:36] #3774 closed

[2022-01-23 04:17] handoku commented on #3717
Yes and yes.  Is there anything should be particularly paid attention to? I just use `std::shared_ptr<TRITONSERVER_Server> server(server_ptr, TRITONSERVER_ServerDelete);`

Maybe important to mention, I modified `infer_request` by adding a member variable vector<uint64> which stores timestamps about tracing information. After inference，I will get timestamps value through getter. Could this harm the

[2022-01-24 00:33] lminer opened #3844 "How do I create properly formatted input_data_file for warmup"
I've read over the docs, model_config.proto, as well as the warmup tests, and I don't quite understand the file format for `input_data_file`.

I'm using the tensorflow backend, latest release of triton-inference-server. My config.pbtxt is as follows:

[code]
I'm struggling with how to create a raw file in the necessary format. I tried the following:

[code]

But when I run tritonserver, I get the

[2022-01-24 02:00] tuxedocat commented on #3548
Try exporting with `torch.jit.trace(model)` on NGC-PyTorch 21.12 `nvcr.io/nvidia/pytorch:21.12-py3` image.

I also tried exporting DistilBERT in huggingface's impl. (`transofmers==4.15.0`) and running it on NGC Triton 21.12 with libtorch (`21.12-pyt-python-py3`). Using NGC-PyTorch-21.12 image to trace the model saved me.

First failed attempt was to use stable `torch==1.10.1` when exporting but it

[2022-01-24 03:51] baorave commented on #3770
Thanks! And when will the version 22.02 be released?

[2022-01-24 04:52] S-GH commented on #3776
@piekey1994 I have also same issue

but the issue disappeared after fixing .pbtxt this line
`dynamic_batching { max_queue_delay_microseconds: 70000 }  ->  dynamic_batching { } `

i dont know why this worked

please let me know how it works

my model is also encoder with different input data shape

[2022-01-24 05:04] askhade commented on #3776
@piekey1994, @S-GH : Can you provide repro steps and the model to repro with.

[2022-01-24 06:14] okanlv commented on #3796
@Tabrizian Should I build docker containers myself from main branch to solve that issue?

[2022-01-24 07:20] sanjaypavo opened #3845 "E0124 07:16:50.138736 59 logging.cc:43] 1: [stdArchiveReader.cpp::StdArchiveReader::34] Error Code 1: Serialization (Serialization assertion safeVersionRead == safeSerializationVersion failed.Version tag does not match. Note: Current Version: 43, Serialized Engine Version: 0)"
Facing this issue while hosting a yolov5s tenosrrt engine in triton server,kindly respond on how to resolve this issue?

[2022-01-24 07:21] sanjaypavo commented on #3845
![Screenshot from 2022-01-24 12-41-06](https://user-images.githubusercontent.com/93761297/150738795-39db8b11-291d-4dae-84e9-0ef634b2c489.png)

[2022-01-24 08:14] wkkuniquegmail opened #3846 "how to enable Dynamic batching for Ensembling models?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-24 12:31] bro-adm opened #3847 "Understanding Backends"
Hello, I have some questions regarding how to handle different backend situations:

## Main Information
- triton version: 21.12-py3
- running the image on windows 10

## Use Cases
1) I have a multi model repository where all the models want to use the python backend with the same python version and the same dependencies. What is the best way to configure such a case?
We have noticed that the pytho

[2022-01-24 14:07] #3846 closed

[2022-01-24 14:08] piekey1994 commented on #3776
After changing to dynamic_batching { }, although there is no error, the speed is very slow, much slower than pytorch backend. At present, I have given up using the onnx model. After transferring the torchsript format, the speed of using pytorch backend is normal and there is no error.

[2022-01-24 14:08] piekey1994 commented on #3776
The model and configuration come from https://github.com/WENET-E2e/WENET/Tree/Main/Runtime/Server/x86 _ GPU.

[2022-01-24 15:58] Tabrizian commented on #3796
@okanlv Yes, you need to build the container by yourself or only compile the backend using the instructions shown below:

https://github.com/triton-inference-server/python_backend#building-from-source

[2022-01-24 16:08] zhaohb commented on #3624
@tanmayv25  thank you very much, I tested it and found that the performance also improved, it is great!

[2022-01-24 18:10] SaratM34 commented on #3834
@Tabrizian Thanks for your response. I tried running the code above when NFS is being used by the container. The directory is getting created within /tmp folder. I also see that `ExtractTarFile` is called after directory is created. Could it be any error when extracting tar file?

[2022-01-24 21:11] ia-davidpichler commented on #3817
On each client I'm using four processes each with their own client sending requests to the triton server (4 processes on each client and I've verified increasing processes/client doesn't increase performance). And I've verified with `iperf` that I can simultaneously transfer ~5 Gb/s on two client instances to the server instance.

[2022-01-25 00:02] GuanLuo commented on #3847
@Tabrizian Can you take a look at the Python backend questions?

In general it is not good to have multiple versions of the same backends reside in the same environment, as it is likely to crash the server when it tries to load different versions of the same library due to conflicting symbols. Yes, you may provide various "custom backends" each corresponds to different version of the library and s

[2022-01-25 00:15] GuanLuo commented on #3845
Was the TRT model generated from the same TRT version that is used in the Triton container? For TRT model, it must be the same version to be served properly. The TRT version used in the release container can be found [here](https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html).

[2022-01-25 00:42] GuanLuo commented on #3844
Note that for string data type, in the raw data, an element is represented by a 4-byte unsigned integer giving the length followed by the actual bytes. [Here](https://github.com/triton-inference-server/client/blob/530bcac5f1574aa2222930076200544eb274245c/src/python/library/tritonclient/utils/__init__.py#L187-L241) is the utility we used to prepare the string tensor into raw data in the client.

[2022-01-25 00:53] GuanLuo commented on #3717
The lifecycle of the infer request is completed after the inference, so having getter and try to retrieve information after inference may have unexpected side affect (assuming your modification also extends the lifecycle so getter is valid). You should use tracing feature directly as that is how Triton reports, note that since you already using C API, you can provide your own version of `tracer.h`

[2022-01-25 00:53] #3717 closed

[2022-01-25 01:42] SaratM34 commented on #3834
@Tabrizian The issue got fixed. The model files got corrupted in the mount. This issue can be **closed**. Thanks for looking into this.

[2022-01-25 01:42] #3834 closed

[2022-01-25 03:19] SilverBach805 commented on #3838
i'm running with paddle OCR model which i transform to onnx. when i using GPU, it's same speed with direct running.
i have used 21.08-21.12. on version 21.08 it shows 600% usage with the top common and on 21.09 to 21.12, only 100%

i also try another model, it's the same

[2022-01-25 05:44] SilverBach805 commented on #3839
can you give mee a demo for how to modify model?

[2022-01-25 06:08] ThiruRJST commented on #3801
@deadeyegoodwin Even after changing the config file datatypes to ```TYPE_STRING``, raises the same error

[2022-01-25 07:48] Slyne commented on #3777
@deadeyegoodwin   Valgrind log: https://nvidia-my.sharepoint.com/:t:/p/slyned/ERO1z0wzhZpLvu_Uvw-E7BYB39rAzkXdzh0E_o-KdjboGA?e=khUlmT

[2022-01-25 08:24] somelaoda commented on #3825
@GuanLuo

Q:Is that referring to the system memory usage
A:The memory in the screenshot is referring to the system memory usage, as same as what we see when use ```free -m```,```used``` in triton21.12 container.

Q: how do you "copy a new version to --model-repository"
A:I copy my model to a new version directory, trition load the new version and unload old version, but memory grows up.
![image](h

[2022-01-25 10:16] okanlv commented on #3796
I have tried to build python backend (main branch) on triton server (r21.12) but I have received an error

Steps to reproduce
---
- Run bash in triton container
[code]
- Install required packages
[code]
- Clone & build python backend
[code]
This is the error I have received
[code]
Have I missed anything?

[2022-01-25 13:52] Tabrizian commented on #3796
Can you use the `r22.01` branch of Python backend with `r22.01` tag of other repos:

[code]

[2022-01-25 15:50] Tabrizian commented on #3847
You can use the [Python execution environments ](https://github.com/triton-inference-server/python_backend#using-custom-python-execution-environments) but you don't have to compile the stub since the Python version of the dependencies is matching the Python version that is available in the container. All your models can point to the same execution environment and it will be extracted only once.

A

[2022-01-25 18:03] lminer commented on #3844
@GuanLuo thanks for the tip. I gave that a shot as follow:

[code]

But am now getting a different error: ```warmup error: Invalid argument - incomplete string data for inference input 'b', expecting string of length 2420121392 but only 4 bytes available```

Here's a more complete stack trace if that helps.

[code]

[2022-01-25 18:14] GuanLuo commented on #3844
I suspect that the data is not serialized properly, the expected string length looks wrong `string of length 2420121392`. @tanmayv25 can you take a quick look on if `serialize_byte_tensor()` is used correctly?

[2022-01-25 18:44] CoderHam commented on #3847
@bro-adm this might cause symbol conflicts or issues with deps if the pytorch versions between the two are built with different cudnn/cuda versions.  I encourage you to try the same with a custom backend for pytorch (say pytorch2 for example)

Triton does not plan to officially support this as of now.

We have something like this for Openvino as described [here](https://github.com/triton-inference

[2022-01-25 20:47] tanmayv25 commented on #3777
@Slyne  I was able to reproduce the bug with your steps. The most interesting thing is that if I remove `import kaldifeat` from the python model.py then I don't see this error. This appears to be something wrong with unloading kaldifeat module.
We will investigate further and let you know.

[2022-01-25 21:05] naor2013 commented on #3847
@CoderHam since the Pytorch backend isn't based on Pytorch releases but based on Nvidia's Pytorch which takes from master and changes things on top of it, there isn't a good compatibility.
A model built on Pytorch 1.10 might not work on Triton's pytorch backend.
That seems like something that isn't going to change.
We want to provide many options for our users with multiple versions of pytorch sup

[2022-01-25 21:26] GuanLuo commented on #3825
In this case, this memory increase is unexpected, we will investigate. Can you share the minimal reproduce steps? i.e. Triton command and the script used

[2022-01-25 21:31] GuanLuo commented on #3839
The [example section](https://github.com/triton-inference-server/server/blob/main/docs/ragged_batching.md#example-on-ragged-input-and-batch-input) of the linked documentation should give an idea on how the model should be implemented (paragraph 2 to be specific). Please let us know if you think the documentation is unclear and how we may improve it.

[2022-01-26 00:23] tanmayv25 commented on #3844
@lminer You must write the serialized item to the file and not the ndarray object itself.

Try the following:

[code]

[2022-01-26 01:50] lminer commented on #3844
I worked! Thank you.

[2022-01-26 04:05] #3844 closed

[2022-01-26 06:29] mgxjq commented on #3839
i see the docs, it shows that a normal model use batch like this
        max_batch_size: 16
        input [
          {
            name: "INPUT"
            data_type: TYPE_FP32
            dims: [ -1 ]
          }
        ]
and use ragged_batch like this
max_batch_size: 16
      input [
        {
          name: "INPUT"
          data_type: TYPE_FP32
          dims: [ -1 ]
          allow_ragged

[2022-01-26 06:56] hampusrosvall commented on #3804
@dyastremsky I am using this Docker image `nvcr.io/nvidia/tritonserver:21.12-py3`. In https://github.com/triton-inference-server/server/issues/3787 the developer has a single neuron output and hence it makes sense to put `class_count=1` in the output request. However, my toy model in https://github.com/triton-inference-server/server/issues/3804#issuecomment-1013865548 has two outputs and hence I s

[2022-01-26 07:18] okanlv commented on #3796
@Tabrizian Thanks, that solved the installation problem, but I have observed the same CPU usage as before in both idle and working state. I have only tested with 1 CPU instance model. Let me know if I could help in any other way.

[2022-01-26 09:16] zhaohb commented on #3386
@SaratM34 @tanmayv25 I am currently building the tritonserver with --backend=python:22.01, I then tested python backend and unfortunately found no performance improvement.
what is the problem?

[2022-01-26 11:55] PythonImageDeveloper opened #3851 "Why Triton's allow_ragged_batch feature doesn't works?"
**Triton Information**
What version of Triton are you using? 20.x

Are you using the Triton container or did you build it yourself? No

GPU: RTX 3060 - 12 GB
Model : wave2vec2 with 3 inputs

Hi all,
I Successfully converted the ASR model from onnx to TRT-7.x with the below shapes :
**min_shape : 1x8000
opt_shape: 1x64000
max_shape: 1x512000**

I used Triton 20.x for server and client, the every th

[2022-01-26 12:26] Slyne commented on #3777
Maybe. I don't know how to read the valgrind log and didn't find any keywords related to kaldifeat.
Thank you again!
This issue only occurs when closing triton. During inference (after completing the initialize, execute, finalize part), everything seems fine and I can also perf_analyze the application without seeing any errors.

[2022-01-26 13:31] ziyuanjiang opened #3852 "modification of the dimension check in EvaluateTensorRTContext"
I am using the tensorRT backend for my model.
My model has multiple inputs whose first dimensions are dynamic and should all be the batch size.
When I create the tensorRT model plan. Somehow, I encountered errors when setting the first dimension of the inputs in one profile with different min, opt, max values. （The same min, opt, max value for all inputs. Just the values for min, opt, max are diff

[2022-01-26 14:21] Tabrizian commented on #3796
Did you install the compiled backend into the `backends` folder? Does the new `/opt/tritonserver/backends/python/libtriton_python.so` have updated version?

[2022-01-26 17:34] dyastremsky commented on #3804
Thanks for providing additional context! Let me tag @deadeyegoodwin, as he was able to propose the original fix and might have an additional recommendation.

[2022-01-26 18:31] deadeyegoodwin commented on #3804
class_count has nothing to do with the number of outputs. For each output you request you can decide to have that output returned as a raw tensor (the default) or you can ask for it to be returned as a ordered list of classifications. You use class_count parameter for this and the value of class_count indicates how many classifications to return for that output. The algorithm used is explained in

[2022-01-26 19:04] GuanLuo commented on #3851
Q1: Triton is able to prepare multiple batches, note that whether there will be parallel executions depends on your [instance group setting](https://github.com/triton-inference-server/server/blob/main/docs/optimization.md#model-instances).

Q2: The error message is not accurate regarding what the actual issue is. For the ragged batching implementation in TensorRT backend, your model should be acce

[2022-01-26 19:25] GuanLuo commented on #3839
You should substitute "INDEX" with the tensor name that your model expects for the "position array". Yes, in short "Triton only give a longer tensor and a position array", which is what you should modify your model to accept those as its inputs. Your model should know how to delimit and process the batch from the inputs, and return the outputs for the batch.

Let's take the above input config and

[2022-01-26 19:27] tanmayv25 commented on #3777
I am certain that the issue is specific to kaldifeat and it's use within triton's python infrastructure. I have tried various other python modules and they all work perfectly fine. Looking more closely into the kaldifeat module, we can see that it compiles shared object files.
Looking at the valgrind logs, the issue of invalid reads is coming when Triton is trying to unload the model instance.
[co

[2022-01-26 19:33] deadeyegoodwin commented on #3777
So the python stub process may have some leaks or other issues due to kaldifeat, but that should not cause the tritonserver process to have an invalid free, should it? Perhaps there is something wrong in the cleanup logic of the python backend?

[2022-01-26 21:16] tanmayv25 commented on #3386
The reported slowdown manifests when there are multiple cpu-intensive models loaded in triton. The other idle models interfere with the performance of the target model because the python backend thread was not sleeping properly for these idle models hogging up the cpu.
@zhaohb  You will not see the speed up if you have only one python model or if your model is not cpu-intensive enough.
I am closin

[2022-01-26 21:16] #3386 closed

[2022-01-26 23:19] bro-adm commented on #3847
I am a bit confused

## Pre Stub Creation Steps
This are the steps I took to install the needed stuff to create the python backend stub:
    1  apt-get update
    2  apt-get install curl
    3  cd /tmp
    4  curl -O https://repo.anaconda.com/archive/Anaconda3-2021.11-Linux-x86_64.sh
    5  bash Anaconda3-2021.11-Linux-x86_64.sh -b -p $HOME/anaconda3
    6  eval "$($HOME/anaconda3/bin/conda shell.

[2022-01-26 23:24] bro-adm commented on #3847
@Tabrizian, you said that pip installing globally would work, but as I understand, it will only work with the default (in this case 3.8) python version. Correct?
if it were to work on more than one version it will be with just adding the stubs for each model dir in the model repo, but then shouldn't the pip be of the matching python version (like 3.7 should have a different pip from 3.8)? If so wh

[2022-01-26 23:27] rmccorm4 commented on #3711
Hi @andreabrduque ,

Thanks for sharing the repro.

I took a look at your setup using the latest `21.12-py3` container and was able to reproduce the issue.

**Let me share some of my findings so far:**

1. The entire ONNX model is convertible to TensorRT, so I decided to convert it to a TensorRT engine to see if we could eliminate variables in the ONNXRT-TRT accelerator. Using the standalone Tenso

[2022-01-27 01:03] user473 opened #3854 "rate limiting based on number of requests"
Hi,
We were wondering if rate limiting based on number of requests/batch size is possible. This would be a variation of the current rate limiting feature.

Our problem is as follows:
- dozens of models in one server, one gpu.
- steady but low amount of requests come to all models
- Requests often comes in large burst to a select few(random) of them at a time.
- We want to maximize TPS without OOM.

[2022-01-27 01:38] SilverBach805 commented on #3839
what about we have three or more inputs like bert? how should i modify my config.pbtxt? all three inputs need to concat. do i need three batch_input? but i only have one output.
Thanks a lot for your reply!

[2022-01-27 01:45] zhaohb commented on #3386
@tanmayv25 ok, thank you very much.

[2022-01-27 02:16] mgxjq opened #3855 "tensorrt slower than others"
**Description**
tensorrt slower than others

**Triton Information**
21.08 and 21.11

Are you using the Triton container or did you build it yourself?
use  Triton container

**To Reproduce**
Steps to reproduce the behavior.

i get a tensorrt model from onnx, but i found that its slower than onnx, log like this , when it return result, it needs 400ms for pinned memory deallocation, why?

{"log":"I01

[2022-01-27 05:17] Slyne commented on #3777
Opened an issue in kaldifeat project for tracking: https://github.com/csukuangfj/kaldifeat/issues/26

[2022-01-27 11:30] andreapairon opened #3856 "Single model scaling"
I wonder if it's possible to scale out the Triton server loading only the model that is currently under heavy load.

Example:
I have a Triton server with `model-1` and `model-2`; the `model-2` is under heavy load and I would like to provide a new Triton server that includes only the `model-2`, without loading the `model-1` as well.

So, the final scenario would be:
first Triton server with `model-

[2022-01-27 15:26] pommedeterresautee opened #3857 "BLS script + FORCE_CPU_ONLY_INPUT_TENSORS -> output tensor from ORT is NEVER on GPU memory"
**Description**
In a Python script (BLS), when I retrieve output of a GPU model (ONNX Runtime), it is *always* a CPU tensor (on 64 ONNX Runtime calls in row).
`DLPack` is used to move tensor from/to ONNX Runtime.
Because of that, I need to move the result back to CUDA memory to resend it to the model (generative language model use case).
This move from CUDA -> CPU HOST -> CUDA takes time during in

[2022-01-27 15:30] Tabrizian commented on #3857
Thanks for filing a detailed issue about this. This is something that we are aware of and there is a ticket for it here to fix this:

https://github.com/triton-inference-server/onnxruntime_backend/issues/73

The problem is that the ORT backend always returns the output in CPU and that's why the BLS response is always in CPU.

[2022-01-27 15:40] pommedeterresautee commented on #3857
Thank you a lot for the (very fast) response.
Is there a similar issue with TensorRT engine?
Moreover, I understand that the fix is coming in Triton 22.02, may I ask if there is a (even very approximative) date for its release?

[2022-01-27 15:54] Tabrizian commented on #3857
I assume by TRT engine you mean the TensorRT backend models? I don't think there is a similar issue with the TRT models.

cc @dzier

[2022-01-27 16:50] kobiche opened #3859 "Incorrect order of outputs"
**Description**
Triton has an error while auto-generating the model configuration from an ONNX model, as it swaps the order of the model's outputs. The output of the model should be a list of two np.arrays, the first with shape [1, 24] and the second with [1, 75].

**Triton Information**
Docker image: nvcr.io/nvidia/tritonserver:21.12-py3

Are you using the Triton container or did you build it you

[2022-01-27 18:25] tanmayv25 commented on #3777
Thanks @Slyne  for filing the issue. We will continue investigating on our side and let you know if I find something strange.

The clean up logic looks ok to me but I haven't got a chance to do a deep dive. The respective finalize functions are being called appropriately. Will do a deep dive once I get some time.

[2022-01-27 18:25] ddukek22 commented on #3750
I mentioned in https://github.com/triton-inference-server/server/issues/2641, but I think likely what is happening is that you have a mismatch between what memory triton is allocating your model / expects outputs to be in and where your outputs are. I would try a test being explicit in both the config.pbtxt and with the values that you are returning. My guess would be in your case that `classes` i

[2022-01-27 18:35] GuanLuo commented on #2641
@ddukek22 if that is the cause, then there is an ongoing PR that may fix it: https://github.com/triton-inference-server/pytorch_backend/pull/49

[2022-01-27 18:48] CoderHam commented on #3859
@kobiche the swap is likely not made by Triton but during the onnx model generation. Can you load the onnx model outside Triton and confirm the order of inputs in that model?

[2022-01-27 18:51] GuanLuo commented on #3859
You shouldn't assume the outputs are returned or listed in a specific order, what you should do in your client is to look up the output tensors by name.

[2022-01-27 18:55] #3859 closed

[2022-01-27 19:03] GuanLuo commented on #3856
There are different [model management mode](https://github.com/triton-inference-server/server/blob/main/docs/model_management.md) that you can specify for your need

[2022-01-27 19:03] #3856 closed

[2022-01-27 19:12] GuanLuo commented on #3855
Can you provide the perf analyzer results? And do you expect that the model should run faster in TRT? In other word, when you run the model in native TRT and native ONNX Runtime outside Triton, do you observe that the TRT outperform ONNX Runtime?

And can you elaborate on "how you conclude that 400ms is needed for pinned memory deallocation"?

[2022-01-27 21:55] Tabrizian commented on #3847
You don't have to compile CMake from source. You can use the cmake Ubuntu repository to install an appropriate version.  https://github.com/triton-inference-server/server/blob/main/qa/L0_backend_python/common.sh#L46-L52

The base env is default environment that conda creates when being installed. I think there are some flags to disable it's activation.

I'll update the docs to mention this depende

[2022-01-27 22:54] bro-adm commented on #3847
I couldn't run this commands when I wasn't inside the /tmp/cmake directory:
- cmake -DTRITON_ENABLE_GPU=ON -DCMAKE_INSTALL_PREFIX:PATH=`pwd`/install ..
- make triton-python-backend-stub

That made me think that the cmake dependencies would be required not only in the container I was creating the stub but also in the container where I was running the server. From what I understand now cmake is not

[2022-01-27 23:02] bro-adm commented on #3847
python isn't a directory inside /opt/tritonserver -> do I need to create it or are you reffering to the /opt/tritonserver/backends/python directory?

if it is the second option do I just replace the stub in there with my version of python stub and how does that affect the triton_python_backend_utils.py file and the libtriton_python.so file and where does the conda pack fir here?

[2022-01-28 02:12] hamaney opened #3864 "Windows Dockerfile reference new cuDNN folder structure"
**Description**
The Windows Docker Image references a directory that does not exist.
When the Dockerfile builds, it runs the line `"RUN unzip %CUDNN_ZIP%"` which was copied from the host.
After this line, the Dockerfile then tries to copy some cuDNN dlls and other files to the `%CUDA_INSTALL_ROOT_WP%`.
The issue is that the zip file copied from the host to the container has different folder names

[2022-01-28 02:13] zijin520 opened #3865 "[Question] how to update config.prototxt to support different model input shape"
For a onnx model with input shape[1,3,32,32], it works well with the config.prototxt bellow.
    _name: "cat_dog_onnx"
    platform: "onnxruntime_onnx"
    max_batch_size : 0
    input [
      {
        name: "data_input"
        data_type: TYPE_FP32
        format: FORMAT_NCHW
        dims: [ 3, 32, 32 ]
        reshape { shape: [ 1,3, 32, 32   ] }
      }
    ]
    output [
      {
        name:

[2022-01-28 02:39] AbdulAbCellera commented on #3864
fixed in https://github.com/triton-inference-server/server/pull/3861

[2022-01-28 04:42] SimonLliu opened #3866 "Why the third party of grpc-new not appear to contain CMakeLists.txt"
**Description**
Thanks for your good work! When i want to build triton-server with docker (https://github.com/triton-inference-server/server/blob/main/docs/build.md#ubuntu-docker), i run the default command. And i find abseil, cares, protobuf have the errors (does not appear to contain CMakeLists.txt).

**Triton Information**
What version of Triton are you using?
I use the main branch of the trito

[2022-01-28 06:22] mgxjq commented on #3855
maybe its my error, but i transformed another model(paddle ocr) to trt by trtexec command, it  have the same or a little of slower speed with onnx even i use fp16 and int8. i test this by perf_analyzer on 1080ti. How can I feel the speed of tensorrt?

[2022-01-28 06:30] mgxjq commented on #3839
You mean that each input should have a corresponding index, even if my three input dimensions are the same, so that the Triton can be spliced automatically. Then I get three inputs and three indexes during model inference. I should directly infer the spliced inputs in the model. If it is a combination of five requests, you need to split the output according to the index, and then return an array w

[2022-01-28 06:34] mgxjq commented on #3839
another question for batch, if  inputs of three requests are batched and i use  ragged batch, need i config reshape in config.pbtxt to reshape input with batch? or how triton concat inputs with batch of 3 and batch of 2?

[2022-01-28 11:01] KshitizLohia commented on #3802
@deadeyegoodwin Is there a doc on how model manager load/unloads model and set timestamp according to last updated model? This will help us understand it better.

[2022-01-28 17:21] deadeyegoodwin commented on #3802
@GuanLuo  But if the model isn't loaded at all, then it is strange to report with the second load attempt that the model loaded ok. I think  it is ok if we just keep attempting to load the model and it keeps failing at each poll attempt. That would mean that we don't want to reset the timestamps unless the model loads successfully. Can you file a ticket (bug) to track this fix.

[2022-01-28 18:05] GuanLuo commented on #3839
Triton doesn't do the slicing for inputs, it batches them and provide index information (batch input) to the model and the model should know how to "slice" the batched input. For output, the model will just return the batch output and Triton will split it (based on model config) as responses to the requests.

It's up to your model implementation, if each input of the same request has the same shap

[2022-01-28 18:09] GuanLuo commented on #3802
We do have a ticket to track this issue, added some description to that ticket

[2022-01-29 00:13] GuanLuo commented on #3865
(1) You don't need to use `reshape` for your model, you just specify the input dims to be `dims: [1, 3, 32, 32]`. And similarly for the new model with shape that you mentioned, you specify `dims: [2, 3, 32, 32]`

(2) Firstly your model should support batching, in other words, the first dimension of all inputs / outputs should be dynamic size (-1). Otherwise, your model actually expects batches of

[2022-01-29 00:13] #3865 closed

[2022-01-29 00:41] GuanLuo commented on #3866
Just to confirm, are you running the `build.py` script from main branch as well?

[2022-01-29 01:53] GuanLuo commented on #3855
Triton runs models using the corresponding frameworks internally, so Triton's performance can only be as good as running natively in the framework in the most ideal case. Which is why I want to know how the performance are compared when you run the model in native TRT and native ONNX Runtime. If TRT is already slower than ONNX outside Triton, then it is something that the TRT team should investiga

[2022-01-29 03:49] SimonLliu commented on #3866
Yes. I ran the build.py script from main branch

[2022-01-29 15:43] farzanehnakhaee70 opened #3869 "Dynamic_batching not working correctly with tensorflow models"
**Description**
I'm deploying fast-speech model on triton. However, for triton version>=21.10, there is a problem with dynamic batching (this problem is not existed for older versions). Also whenever I disable the dynamic batching, it also works perfectly in all triton versions.

Is this one related to this issue? #3624

**Triton Information**
The problem existed in Triton 21.11 and 21.12.
Also I'

[2022-01-30 09:46] yushcs commented on #2624
I met the same problem, did you find out how to solve it?

[2022-01-30 20:37] okanlv commented on #3796
I have found the problem. I have not set `-DCMAKE_INSTALL_PREFIX` as `/opt/tritonserver` before. That solved the problem. I'm sharing the performance analyzer results below. I will test with another model to see whether I see a performance drop.

I have used the following command to run the triton server
[code]
I have used the following command to run performance analyzer
[code]
Inside that contai

[2022-01-31 14:09] Tabrizian commented on #3796
Great. Thanks for letting us know. I'll close this ticket as the original problem is resolved.

[2022-01-31 14:09] #3796 closed

[2022-01-31 17:47] GuanLuo commented on #2624
Can you share more information so we may reproduce the issue?

[2022-01-31 18:56] tanmayv25 commented on #3777
PR #3868  fixes  `==21418== Invalid read of size 8` described at the top. However, I still see the free() invalid pointer.
Running valgrind with --trace-children=yes I see bunch of other errors.

[2022-01-31 20:04] CoderHam commented on #3869
@farzanehnakhaee70 can you share a minimal repro for the same?
@tanmayv25 had we recently changed/fixed the dynamic batcher?

[2022-01-31 20:06] CoderHam commented on #3866
@SimonLliu can you try building without the --cmake-dir argument if you are using the docker based build? The directory refers to the path inside the docker and not the local filesystem. We will need to fix the docs to clarify the same.

[2022-01-31 20:33] tanmayv25 commented on #3869
Can you describe what is this problem? Are you seeing the batch size not large enough as what is described in the issue #3624 . If yes, then it will be fixed in our 22.01 release.  You can try [this ](https://github.com/triton-inference-server/server/pull/3789) fix and see if it solves your problem.

[2022-01-31 20:40] tanmayv25 commented on #3869
Ahh.. I see. This should not be happening. Please try the 22.01 release when it is out or try to build triton with the fix described and see if it solves your problem. Can you share your config.pbtxt for the model?

[2022-01-31 21:26] CoderHam commented on #3847
@bro-adm yes Iman meant  `/opt/tritonserver/backends/python`. You will likely need to replace the libtriton_python.so if you have built a custom one.

[2022-01-31 21:26] #3864 closed

[2022-01-31 21:27] CoderHam commented on #3711
@rmccorm4 can you link the PRs for the fix and close this accordingly

[2022-01-31 21:31] CoderHam commented on #3678
@akansal1 @swapkh91 please re-open if the linked fixes do not resolve the issue for you

[2022-01-31 21:31] #3678 closed

[2022-01-31 21:34] CoderHam commented on #3610
@konstantin-sancom what are the errors are seeing during runtime? Triton does not plan on shipping binaries separately.

[2022-01-31 21:39] CoderHam commented on #3512
@GuoGuiRong closing due to inactivity

[2022-01-31 21:39] #3512 closed

[2022-01-31 21:44] CoderHam commented on #3138
@okyspace support for SSL was added to both the HTTP Server endpoint and the Client sdk: https://github.com/triton-inference-server/server/pull/3862

[2022-01-31 21:44] #3138 closed

[2022-01-31 21:45] CoderHam commented on #3854
cc @tanmayv25

[2022-01-31 21:47] Tabrizian commented on #3847
Sorry I missed this message.

Correct.

Yes, I meant the /opt/tritonserver/backends/python directory. You don't need to replace the `libtriton_python.so` but you need to make sure that your stub is built for the exact same version of Triton. For example, you can't build a stub from 21.10 release and expect it to work with 21.12 release. You only need to replace /opt/tritonserver/backends/python/tr

[2022-01-31 21:49] CoderHam commented on #3852
@ziyuanjiang in your case is the first dimension not the batch dimension? If not that batching model might not be supported by Triton.
cc @GuanLuo

[2022-01-31 21:55] CoderHam commented on #3572
@GuoGuiRong closing due to inactivity

[2022-01-31 21:55] #3572 closed

[2022-02-01 01:25] ali-mirza1 commented on #3781
Facing the same issue.

[2022-02-01 03:44] konstantin-sancom commented on #3610
Hi, @CoderHam . I'm talking about this issue: https://github.com/triton-inference-server/server/issues/3694

[2022-02-01 04:41] SimonLliu commented on #3866
I try it. Yet there are no some changes in the logs and these errors exist. Maybe the problem is not from --cmake-dir.

[2022-02-01 07:21] farzanehnakhaee70 commented on #3869
Hi @tanmayv25
Thanks a lot for your response. Yeah, the problem is solved in version 22.01.
Here is my config file as well:
[code]

[2022-02-01 08:05] andreabrduque commented on #3711
Thank you all for looking into this. I confirm that model works as expected using onnxruntime. I don't know why TensorRT converts values to NANs, but I haven't tried TensorRT on this model besides altering the configuration of the triton server.

[2022-02-01 09:34] bro-adm commented on #3847
Thanks,
You made my day!!!

[2022-02-01 16:03] oeway opened #3877 "UNAVAILABLE: Internal: unable to create stream: the provided PTX was compiled with an unsupported toolchain"
**Description**
I upgraded the triton server with the ngc container `22.01-py3` and all my models becomes unavailable.

This [previous issue](https://github.com/triton-inference-server/server/issues/2193) suggests that the nvidia driver is outdated, so I did an upgrade and now I got: `Driver Version: 495.46, CUDA Version: 11.5` on my host (ubuntu 20.04). But still doesn't work.

**Triton Informati

[2022-02-01 17:26] CoderHam commented on #3877
@oeway This issue occurs due to a mismatch between the driver and compilation toolchain. I believe the driver version used for 22.01 is 510. Can you try using the Nvidia driver version 510.39?

I believe Framework Support Matrix docs need to be fixed to reflect the same.

[2022-02-01 17:37] CoderHam commented on #3869
@farzanehnakhaee70 thank you for confirming the same. Closing the issue.

[2022-02-01 17:37] #3869 closed

[2022-02-01 17:41] CoderHam commented on #3857
@pommedeterresautee 22.02 will be released in a month from now.

[2022-02-01 17:41] CoderHam commented on #3857
@Tabrizian can this be closed?

[2022-02-01 17:53] CoderHam commented on #3877
@oeway I confirmed that the Nvidia Driver should be release 510. Can you try the same and confirm it solves your problem?

[2022-02-01 18:07] Tabrizian commented on #3857
Yes, I think this can be closed since there is already a GitHub issue in onnxruntime backend repo about this.

[2022-02-01 18:07] #3857 closed

[2022-02-01 18:15] oeway commented on #3877
Hi, thanks for your quick response.

I have RTX3090 cards, according to the drivers page, https://www.nvidia.com/Download/driverResults.aspx/184248/en-us  the latest driver I can get is 495.46 on the new feature branch. How can I get 510?

[2022-02-01 18:50] CoderHam commented on #3877
Refer to https://developer.nvidia.com/cuda-downloads

[2022-02-01 19:38] #3711 closed

[2022-02-01 19:38] pommedeterresautee commented on #3857
@Tabrizian just for information, tried Tensorrt and there is indeed no issue (tensors are kept on gpu memory)

[2022-02-01 19:41] oeway commented on #3877
@CoderHam Thanks for the pointers, I will give it a try for my local test environment. However, we would like to deploy to a K8s cluster, and according to the [GPU Operator Component Matrix](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#operator-component-matrix), the latest we can get is `470.82.01`. Do you by chance know a workaround for this?

[2022-02-01 21:53] Tabrizian commented on #3857
@pommedeterresautee  Thanks for letting us know!

[2022-02-02 00:15] tanmayv25 commented on #3777
The module `kaldifeat` has lots of leaks and invalid read/writes on import.

This can be verified using:
[code]
However, we do not see the `free() invalid pointer` error in this case. Running Triton in valgrind with `--trace-children=yes` gives more details about the invalid free:

[code]

The trace demostrates the free() invalid pointer originates in `pybind11::finalize_interpreter()` clean-up. T

[2022-02-02 00:15] #3777 closed

[2022-02-02 12:31] sarperkilic opened #3880 "Batch Inference"
**Description**

Hello,

I am trying to load my TensorRT model for batch size>1 inference. Below, I am sharing my config file.

name: "segmentation_model"
platform: "tensorrt_plan"
max_batch_size: 16
input [
  {
    name: "input_1"
    data_type: TYPE_FP32
    dims: [ -1,3, 512, 864 ]
  }
]
output [
  {
    name: "softmax_1"
    data_type: TYPE_FP32
    dims: [ -1,512,864,3]
  }
]

When I try to l

[2022-02-02 18:48] dyastremsky commented on #3880
Remove the -1 as your first dimension in the input and output. They are implicit when you use max_batch_size.

See this documentation for more information: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#maximum-batch-size

[2022-02-02 19:03] CoderHam commented on #3877
@oeway can you try to enable cuda compability? (If it is currently disabled)

[2022-02-02 23:19] #3880 closed

[2022-02-02 23:20] #3851 closed

[2022-02-03 00:23] naor2013 opened #3883 "tensorrt slower than onnx"
**Description**
A clear and concise description of what the bug is.

I tested my model as ONNX and as trt on Triton using perf_analyzer.
I didn't test them any other way because I don't know how.
tensorrt came worse which is weird because it should be an optimized version of that same onnx model.
The weird thing I noticed (which might and might not be the cause) is that the "compute input" part is

[2022-02-03 00:35] CoderHam commented on #3883
@naor2013 do you mean you used the TensorRT backend or the TensorRT optimization option for OnnxRuntime backend?
Can you share the model and perf analyzer configuration you used?

[2022-02-03 08:53] ivangtorre opened #3884 "triton server for jetpack not provided in release 2.18"
[**Description**
It seems that it has not provided a jetpack version for downloading Triton 2.18
https://github.com/triton-inference-server/server/releases/tag/v2.18.0
**Triton Information**
2.18

[2022-02-03 12:32] naor2013 commented on #3883
@CoderHam I used the TensorRT backend.
The model is NVIDIA's Conformer pre-trained model: https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/stt_en_conformer_ctc_small

The .onnx and .plan files and the .pbtxt files can be found here: https://ufile.io/f/fxyta

The perf analyzer configuration I used is:
perf_analyzer -m model --shape audio_signal:80,200 -v --concurrency-range 24:32:8 -I g

[2022-02-03 17:21] TsykunovDmitriy commented on #3286
@Tabrizian
I also faced with this problem. I have a python backend for a pytorch model. If I use dynamic batching, then several requests come to the execute function. Why aren't they stack in one batch?

[2022-02-03 18:26] #3807 closed

[2022-02-03 18:27] #3794 closed

[2022-02-03 18:28] dyastremsky commented on #3795
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-03 18:34] CoderHam commented on #3884
@ivangtorre the 22.01 (2.18.0) release for Jetson has been delayed. We will update the docs and upload the build once it is ready

[2022-02-03 18:36] CoderHam commented on #3883
@naor2013 thank you for sharing the same.
Can you also share the logs from perf analyzer that show the throughout and detailed breakdown of latency?

[2022-02-03 19:02] TsykunovDmitriy opened #3885 "Triton server not combined requests to batch in python backend"
**Description**
I implemented a python-backend. Set the dynamic batching option in config.pbtxt
Triton not combined request to batch. After dynamic_batching is enabled, several requests begin to arrive at input of execute function but each batch size equal to 1.

**Triton Information**
r22.01
docker image nvcr.io/nvidia/tritonserver:22.01-py3

**To Reproduce**
config.pbtxt
[code]
model.py
[code]
r

[2022-02-03 19:09] naor2013 commented on #3883
@CoderHam Sure.

Onnx:
Request concurrency: 24
  Client:
    Request count: 7639
    Throughput: 763.9 infer/sec
    Avg latency: 31348 usec (standard deviation 4727 usec)
    p50 latency: 32541 usec
    p90 latency: 33637 usec
    p95 latency: 35001 usec
    p99 latency: 45777 usec

  Server:
    Inference count: 9137
    Execution count: 706
    Successful request count: 706
    Avg request late

[2022-02-03 19:58] CoderHam commented on #3885
@tanmayv25 I believe your batching fix should have impacted python backend as well right?
@Tabrizian can you confirm the same?

[2022-02-03 20:08] Tabrizian commented on #3885
I don't think this related to the @tanmayv25 fix. As shown in the logs, the length of the `requests` object is larger than 1 indicating that a batch of requests has been passed to the model. This means that dynamic batching is working otherwise the length of requests object would've always been 1. That being said, the batching in Python backend does not batch the inputs together to create a single

[2022-02-03 20:20] Tabrizian commented on #3885
Closing this issue as there is already an open issue for this feature request.

[2022-02-03 20:20] #3885 closed

[2022-02-03 20:29] TsykunovDmitriy commented on #3885
Thanks for the answer.
I consider it important to fix this in examples and in documentation for python_backend repository, since such behavior is not entirely trivial.

Thanks for your work, all the best!

[2022-02-04 20:58] TsykunovDmitriy opened #3891 "Pass outputs of one model to inputs of another in BLS"
**Description**
In my pipeline, several models are called sequentially. How can I pass output of one model to input of another in BLS?

**Triton Information**
r22.01
docker image

**To Reproduce**
The code below raise last exception.
[code]
log output
[code]

**Expected behavior**
Unfortunately, I could not find in examples or docs method how to change the name of tensor. The only solution I've fo

[2022-02-06 07:44] parichehrvn opened #3895 "unexpected input format FORMAT_NONE, expecting FORMAT_NCHW or FORMAT_NHWC"
I am trying to use my Tensorflow SSD SavedModel to make inferences using Triton 21.08.
The config.pbtxt file is as follows:

[code]

When I try to make the inference, the following error is returned:
**Exception: unexpected input format FORMAT_NONE, expecting FORMAT_NCHW or FORMAT_NHWC**

[2022-02-07 02:56] CoderHam commented on #3895
@parichehrvn was this exception raise on the client side or server side? Can you share your client code to reproduce the same?

[2022-02-07 03:00] CoderHam commented on #3891
@TsykunovDmitriy please refer to https://github.com/triton-inference-server/server/blob/main/docs/architecture.md#ensemble-models on how to use ensembles in Triton.

"n ensemble model represents a pipeline of one or more models and the connection of input and output tensors between those models."

It contains an example on how to configure ensemble models in Triton.

[2022-02-07 08:14] GuanLuo commented on #3852
Seems like the `input_shape_vec` generated doesn't get set to reflect the shape of the batch, but only the shape of the request. @tanmayv25 although it looks like a trivial fix, can you file a ticket for that?

[2022-02-07 08:28] averkij opened #3896 "Conditional model inference"
🖐 Hello, engineers.

I'm using Triton inference server and I have some pipeline of different models grouped in the single ensemble model (_platform_: ensemble). Now I need to implement some API flags that lead to adding two additional models in the pipeline.

So, the question is — do I need to **implement another three ensemble pipelines for every flags combination** or there are other options? An

[2022-02-07 10:03] MeghaVarshney21 opened #3897 "DCGM_FI_DEV_GPU_UTIL for HPA is showing error "no metrics returned from custom metrics API""
Hi,

I have deployed triton on the top of Kubernetes (EKS). I've installed everything and is working well and I have created a HPA  as well for the triton deployment on the basis of GPU Utilization (DCGM_FI_DEV_GPU_UTIL).

The yaml file for HPA looks like this:-

[code]

But, I have realized that it is not working.  It is showing me the error that "unable to get metric DCGM_FI_DEV_GPU_UTIL: no met

[2022-02-07 10:52] narolski commented on #3671
@fifofonix based on your proposal I've implemented an async grpc infer method:
[code]

However, it introduces a memory leak - it seems that the memory is not freed when (when we fetch the response using `await stub.ModelInfer(request)`, or when we create `input`, `output` objects.

Have you faced this issue by any chance? Did you manage to find a possible fix? I'd be much obliged 🙏

[2022-02-07 12:12] Vulcan-YJX opened #3898 "Client side ratio perf_ Analyzer requests are much slower"
Hi, I have deployed tritonServer on Nx , perf_ Analyzer show that Peoplenet is 150infer/s . But It is just 60infer/s when i use python script in [tao-toolkit-triton-apps](https://github.com/NVIDIA-AI-IOT/tao-toolkit-triton-apps).  Once request maybe need 0.016 sec.How can we reach the theoretical value？

`
  Inferences/Second vs. Client Average Batch Latency
  Concurrency: 1, throughput: 119.8 inf

[2022-02-07 12:21] csukuangfj commented on #3777
For the given demon `main.cpp`:

[code]

If you change

[code]

to

[code]

It will still `abort` when running `./example`. Therefore, this issue is not unique to `kaldifeat`.

---

[code]
produces as many warnings as

[code]

---

Also,

[code]
produces many warnings.

I am not an expert about `valgrind` and am not sure whether the above invocation of `valgrind` is the correct approach to detect

[2022-02-07 12:34] Slyne commented on #3777
@csukuangfj  Thank you!

Did you see the ```free() invalid pointer``` issue when using the below code:
[code]

It's quite strange when we ```import torch``` in triton, we didn't see this issue. But when it comes to ```kaldifeat```, the issue occurs...

[2022-02-07 12:43] csukuangfj commented on #3777
Yes, it is reproducible.

<img width="929" alt="Screen Shot 2022-02-07 at 8 41 58 PM" src="https://user-images.githubusercontent.com/5284924/152790182-a5bf484b-6a66-4609-b41a-32b0a55ce0c0.png">

[2022-02-07 13:49] parichehrvn commented on #3895
This is on the client side.
I got ideas from the sample code in the gate. But I have not written the post-processing part yet.
The following is my client code:

[code]

Also, when I print the config file, the input dimension is [1, -1, -1, 3], while I set the input dimension to [300, 300, 3] in the config.pbtxt file.
The following is print result of config file in the **parse_model** method.
`
Att

[2022-02-07 14:16] Tabrizian commented on #3891
@TsykunovDmitriy Currently, there is not a way to change the tensor name but there is a ticket for it. Creating a new tensor from the existing tensor, as you mentioned in the issue, is the current approach for changing the tensor name. Note that this will not copy the underlying tensor and both of the tensors refer to the same underlying data.

[2022-02-07 14:20] Tabrizian commented on #3896
The [business logic scripting](https://github.com/triton-inference-server/python_backend#business-logic-scripting) feature is the official method for having full control over the ensemble execution. Conditional execution is not supported in the Triton ensemble.

[2022-02-07 14:20] #3896 closed

[2022-02-07 19:18] GuanLuo commented on #3895
I think the issue is that the format checking section in the client assumes `input_config` is a protobuf message which is not true when using HTTP client, `input_config.format` is in JSON string to be specific and causes the mismatch. If that is the cause, the simple fix is to use the GRPC client.

[2022-02-07 19:23] TsykunovDmitriy commented on #3891
@Tabrizian Thanks a lot.
Close issue.

[2022-02-07 19:23] #3891 closed

[2022-02-08 00:36] CoderHam commented on #3883
@naor2013 thank you for sharing all the information. We will investigate this once we have the bandwidth to do so.

[2022-02-08 08:09] Slyne opened #3901 "How to add reshape[] to states with implicit state management"
**Is your feature request related to a problem? Please describe.**
It is mentioned in the [document](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#reshape
)  that the input & output tensors of a model can have shape [B].
I added the same reshape to states of a stateful model by using [implicit state management](https://github.com/triton-inference-server/se

[2022-02-08 09:38] zakajd commented on #2777
Hi @hubtub2
Did you managed to implement patch processing in Triton?
I'm facing almost the same issue now, try to inference variable-sized images that are too big to fit in memory and think about crop-process-merge pipeline.

Thanks in advance!

[2022-02-08 09:39] sbmalik commented on #3212
@CPFelix do you get any update regarding this issue?

[2022-02-08 12:31] sbmalik opened #3902 "Is there a way to load LD_PRELOAD plugins dynamically?"
**Description**
I want to load **LD_PRELOAD** after some computations in docker image but currently I am unable to find a solution about this. I also tried to add lines in **nvidia_entrypoint.sh** but that solution is also not working.

**Triton Information**
FROM nvcr.io/nvidia/tritonserver:21.03-py3

Are you using the Triton container or did you build it yourself?
Using a Container

**To Reprodu

[2022-02-08 15:43] fifofonix commented on #3671
We are not experiencing a memory issue with this strategy.  Our processes are running as containers and we see them hitting a plateau of memory utilization which is more or less steady across many 100Ks inferences.  The containers are using a provider/consumer asyncio paradigm and each have 8 or so concurrent inferences on the go at any one time.  I have scanned your code visually and unfortunatel

[2022-02-08 16:26] Tabrizian commented on #3901
Reshape is not currently supported by implicit state management. I have filed a ticket to fix this. Thanks for bringing this to our attention.

[2022-02-08 17:03] v1nc3nt27 opened #3903 "Directing requests to correct triton deployment on kubernetes"
Hello all,

I was wondering if there is any best-practice solution for the following case:

We want to run triton on kubernetes and AWS with nodes that have a single T4 each. Mostly, we deploy each model twice (on separate nodes). Sometimes, however, we run a model only once (e.g. for testing), sometimes we need to run it more than twice. Hence, not each triton sever deployment will have each mode

[2022-02-08 17:11] Michelvl92 opened #3904 "Unclear TensorRT version match"
**Description**
I use the docker containers to export an ONNX model to TenosrRT to use with the triton server. Each release of https://github.com/onnx/  always expects a specific version of TensorRT, but this version does not exactly match the version of the Triton server. So it is unclear to me which release of onnx-tensorrt I should match with which release of triton-infernce-server?

[2022-02-08 17:52] tanmayv25 commented on #3904
You can use our `trtexec` from Nvidia's TensorRT container release to convert onnx to trt model. The generated model would be compatible with corresponding release of Triton. For instance, model generated with 22.01 TRT container will work with 22.01 Triton container.
https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tensorrt

[2022-02-08 22:03] tanmayv25 commented on #3852
Sure! This is a bug. Backend must sweep across all profiles to capture what are supported for the shape then use manhattan to resolve which one to select.

[2022-02-09 01:21] tanmayv25 commented on #3903
I am not aware of how this can be achieved in kubernetes. @rmccorm4  Any suggestions?

[2022-02-09 01:31] tanmayv25 commented on #3904
You can find more about the difference here: https://github.com/onnx/onnx-tensorrt/issues/500
Closing the issue now. Please re-open if you have any other questions.

[2022-02-09 01:31] #3904 closed

[2022-02-09 01:37] bryanmcgrane opened #3905 "Experiencing Bottlenecking at Scale - is it related to having a single gRPC connection?"
**Description**
Hello. My team leverages communicating with Triton over gRPC from our server written in Go. We followed the simple example [here](https://github.com/triton-inference-server/client/blob/main/src/grpc_generated/go/grpc_simple_client.go), but we are now experiencing what we believe is a bottleneck due to only establishing a single client on our Go server via this call.

[code]

We did

[2022-02-09 13:19] sbmalik commented on #3902
@Tabrizian I've tried to edit the nvidia_entrypoint.sh but it's also not setting the environment variables?? Any suggestions?

[2022-02-09 15:16] bro-adm commented on #3847
@Tabrizian
Hello again,

After your help we decided to move on with the concept of the changing the stub inside /opt/tritonserver/backends/python directory according to the python&triton versions we are asked for.
Some new information:
- we are working on an on-prem environment so we don't have the privileges with working online.
- we are working with k8s.
- I am working outside the premise on a w

[2022-02-09 15:49] narolski commented on #3764
I'd also like to bump up this issue. The triton image as a whole is rather big, so any reduction of its size would be much appreciated.

[2022-02-09 16:09] narolski opened #3906 "Triton tries to use the `tensorflow1` backend for `22.01-tf2-python-py3` image"
**Description**
When I want to use the image `22.01-tf2-python-py3` instead of ``22.01-py3`, I get:
[code]
For a `tensorflow_savedmodel` saved with TensorFlow 2.6+.

**Triton Information**
`22.01-tf2-python-py3` and `22.01-py3`

Using the provided containers from NVCR.

**To Reproduce**

Config file:
[code]

Use the containers from NVCR.

**Expected behavior**

The server should run fine and shoul

[2022-02-09 16:33] mattdibi opened #3907 "Question: support for older CPUs (no AVX)"
I have a question about support for older CPUs (i.e. CPUs not supporting AVX/AVX2 instructions set).

[Here](https://github.com/triton-inference-server/server/blob/0e18a6476a605152ffd215baa68971890c0e1494/nvidia_entrypoint.sh#L75) I see it performs a check at startup and throws an error if the CPU doesn't support AVX instructions.

I know that a number of backends are built with AVX/AVX2 support b

[2022-02-09 16:44] tanmayv25 commented on #3898
Perf_analyzer is a C++ client application and uses our C++ client library. The C++ library is much more performant and handles data more efficiently than python.
This large difference could be attributed to large data handling cost on python. perf_analyzer uses data from a single buffer to repeatedly send the requests one after the other. You can try increasing the request concurrencies in python

[2022-02-09 16:52] #3907 closed

[2022-02-09 16:59] tanmayv25 commented on #3906
Did you launch the server with `--backend-config=tensorflow,version=2` ?
https://github.com/triton-inference-server/tensorflow_backend#--backend-configtensorflowversionint

[2022-02-09 17:07] lpfhs opened #3908 "Failed to build perf_analyzer on macOS"
**Description**
Building perf_analyzer from source fails on macOS (Big Sur 11.6.2):
[code]

**To Reproduce**
[code]

**Expected behavior**
Successfully build a perf_analyzer binary that runs on macOS.

[2022-02-09 17:18] mattdibi commented on #3805
Any update on this? I'm having the same issue while building locally with Docker.

[code]

[2022-02-09 17:19] tanmayv25 commented on #3905
Please note the performance best practices as described by grpc team here: https://grpc.io/docs/guides/performance/
Though it does not have many pointers about Go application, you would find the points under General head quite illuminating.

Specifically in this case may be you are hitting the concurrency limit on the channel?

Triton server is a grpc implementation and any general optimization on

[2022-02-09 17:33] bryanmcgrane commented on #3905
Thank you for the quick response. I was aware of this gRPC limitation, and I think this is exactly what we're seeing.

On this comment:

Can you point me to where in your client library you added this support? This is very encouraging.

[2022-02-09 17:41] the40thieves commented on #3903
Hi this is a model orchestration problem, current Triton can explicitly load and unload the model, but it may make more sense to set up separated services for hosting and testing ... etc

[2022-02-09 17:42] bryanmcgrane commented on #3905
Actually I think I found the PR here: https://github.com/triton-inference-server/client/pull/55

[2022-02-09 17:43] mengdong commented on #3903
Hello, this is a model orchestration problem, Triton supports explicitly load and unload models across the same deployment, it also make sense to set up separated services for hosing and testing of different models.

[2022-02-09 17:48] tanmayv25 commented on #3908
@jbkyang-nvi  Any idea why cmake is adding -soname switch on MacOS. AFAIK MacOS does not understand `.so`s but dylib.

[2022-02-09 17:49] tanmayv25 commented on #3908
@lpfhs  We don't officially support MacOS but would investigate the issue.

[2022-02-09 18:27] tanmayv25 commented on #3902
@sbmalik Did you try with a helper script that returns a string X with all .so's in **/plugins** with there full absolute paths?
then launch server with `LD_PRELOAD=X tritonserver ...` ?

[2022-02-09 18:29] tanmayv25 commented on #3897
@jbkyang-nvi can you take a look at this issue?

[2022-02-09 18:34] sbmalik commented on #3902
@tanmayv25 I am using the docker way and trying to load the plugin in your described way always give me this error that **/opt/tritonserver/nvidia_entrypoint.sh: 71: LD_PRELOAD=xyz.so no such file or directory** e.t.c.. any other thing before _tritonserver_ command does not work

[2022-02-09 18:42] shmahe opened #3909 "TorchScript GELU error"
**Description**
Loading the model.pt fails with the following error when loading. I've added the steps we took to load the model, is there an issue with that?

I0208 23:28:55.112867 1 server.cc:589]
+------------+---------+-----------------------------------------------------------------------------------------------------+
| Model      | Version | Status

[2022-02-09 18:45] jbkyang-nvi commented on #3897
Hi @MeghaVarshney21 can you clarify a few things:
1. Does

mean you started a separate instance of DCGM on your machine?

2. Does the Triton metrics not work for you? We do use `DCGM_FI_DEV_GPU_UTIL` to monitor the GPUs that are exposed to Triton as `nv_gpu_utilization`.  Details [here](https://github.com/triton-inference-server/server/blob/main/docs/metrics.md)

[2022-02-09 18:52] CoderHam commented on #3909
@shmahe the issue looks similar to https://github.com/triton-inference-server/server/issues/3385

Which version of torch are using to produce the model?

[2022-02-09 19:29] CoderHam commented on #3902
@sbmalik is the shared library you are trying to load inside the docker? If not, you need to run the docker in interactive mode, copy the library into it and then run the `LD_PRELOAD=X tritonserver ... ` command inside it instead of via the `nvidia_entrypoint.sh`

[2022-02-09 20:14] naor2013 commented on #3909
If you convert your model to TorchScript in nvcr.io/Nvidia/pytorch:21.12-py3 this issue will be solved.
It's because Nvidia's Pytorch version (used both in Triton and in the Pytorch image I referenced above) is not compatible with "regular" pytorch.
Nvidia did fix it pretty recently so it would probably be solved in Triton 22.02 (if not, maybe 22.03) but instead of waiting, just doing what I said

[2022-02-09 20:25] tanmayv25 commented on #3905
Yes. That's the change I was talking about.

[2022-02-09 20:29] bryanmcgrane commented on #3905
We are seeing the same result between our server and Triton. Thanks for the help!

[2022-02-09 20:29] #3905 closed

[2022-02-09 20:32] shmahe commented on #3909
@CoderHam The torch version is torch-1.10.2-cp37

@naor2013 Thanks, will try this!

[2022-02-09 20:42] tanmayv25 commented on #3838
Hi @SilverBach805,
We removed the SetntraOpNumThreadCount and reverted to using default settings when moving from 21.08 to 21.09 in our onnxruntime_backend. https://github.com/triton-inference-server/onnxruntime_backend/commit/258da929d3ea6d2a594873ed6825d671659c4fa1

See here for more details about how it impacts the CPU usage: https://github.com/microsoft/onnxruntime/issues/2741

[2022-02-09 20:42] #3838 closed

[2022-02-09 21:00] tanmayv25 commented on #3854
I believe this is a legitimate ask. I have opened an RFE for the enhancement.

[2022-02-09 21:30] tanmayv25 commented on #3777
@csukuangfj @Slyne  That is very strange. I changed kaldifeat to torch in reproducer:

[code]

And I don't see the free() invalid any more.

[code]

However, for kaldifeat I see:

[code]

The kaldifeat version:
[code]

I tried numpy too and it runs smoothly. @Slyne Can you try confirming whether `torch` core dumps for you?
I understand running valgrind like that is not correct, and the leak inform

[2022-02-09 22:48] dyastremsky commented on #3761
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-09 22:48] #3761 closed

[2022-02-09 22:50] dyastremsky commented on #3548
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-09 22:50] #3548 closed

[2022-02-10 00:59] sbmalik commented on #3902
@CoderHam that was a nice approach but I can't do this because I am working on a complete product and running the container with other containers via docker-compose. So, manually doing this would not be a solution I think.

[2022-02-10 06:06] parichehrvn commented on #3895
I tried the GRPC protocol but I got the same error.

[2022-02-10 07:40] MeghaVarshney21 commented on #3897
Hi @jbkyang-nvi ,

I have created a separate pod for dcgm-exporter. I am getting metrics **(DCGM_FI_DEV_GPU_UTIL)** from Prometheus, but I am not able to use it for the autoscaling of Triton pods.

[code]

[2022-02-10 07:44] MistSun-Chen opened #3912 "Model has kind KIND_GPU but no GPUs are available"
**Description**

I  download model_repository in official and used nvidia-docker to create a tritonserver as described in quickstart .
even though I run ”docker run --gpus=1”，It always run on CPU
Then I add the instance_group in the configuration of densenet_onnx
[code]
tritonserver fails to start

**Triton Information**
docker image：nvcr.io/nvidia/tritonserver:21.12-py3

**To Reproduce**
## envir

[2022-02-10 07:58] v1nc3nt27 commented on #3903
I see, thanks a lot for the explanation. I'll use different services then and also have a look into dynamic loading and undloading of models!

[2022-02-10 07:58] #3903 closed

[2022-02-10 08:29] narolski commented on #3906
@tanmayv25 After adding the flag it did work, thank you! 🎉  Wish this was documented in the main repository 👌

[2022-02-10 08:29] #3906 closed

[2022-02-10 08:43] narolski opened #3913 "CPU-Only Image: Dockerfile to build them, or release to nvcr"
**Is your feature request related to a problem? Please describe.**

The size of Triton Inference Server images severely limits its deployment ability in the production environment.

**Describe the solution you'd like**

Ideally a `Dockerfile` should be provided that would allow us to easily create images with backends that we wish to use, with or without the CPU-only or GPU-only support. Alternati

[2022-02-10 09:40] averkij opened #3914 "Error: Failed to process the request(s). error: unpack_from requires a buffer of at least ..."
Hello,

I'm struggling to pass the **string** parameter into my model from the **python** code. I've tried a lot of ways such as:

[code]

[code]

and others. Then I'm adding it in the request as bytes, and my model's input is TYPE_STRING which I believe is also bytes.
But I'm getting a error **" Failed to process the request(s) for model instance 'tokenizer', message: error: unpack_from requires

[2022-02-10 12:38] 756890911 opened #3915 "Use ensemble to start Python Backend and PyTorch Backend, prompting not supported for Pytorch Backend."
I use ensemble to start Python Backend and PyTorch Backend and say not supported for Pytorch Backend.

Python Backend does preprocessing and PyTorch Backend does model prediction. Skip Model configuration auto-complete for 'AIp-infer -coco-mask': not supported for pytorch backend

使用
/opt/tritonserver/bin/tritonserver \
--model-repository=/ningzhou.li/ensembled_image_new \
--strict-model-config=fa

[2022-02-10 17:43] tanmayv25 commented on #3912
@MistSun-Chen  Can you run `nvidia-smi` within the container and share its output?

[2022-02-10 18:28] bbarodia opened #3916 "Triton Server Crash"
**Description**
Triton Server Crashes when given a slightly larger input. It works fine on smaller input

**Triton Information**
What version of Triton are you using?
21.12-py3

Are you using the Triton container or did you build it yourself?
Triton Container on docker

**To Reproduce**
Steps to reproduce the behavior.
I am using an ensemble model which has 3 steps.
1) video download
2) video deco

[2022-02-10 18:35] CoderHam commented on #3913
Additionally our --no-container-build still uses a docker container to build the specific backends. Look at the cmake file for the onnxruntime backend for example.

You would need to enable Docker In Docker build. Refer to the build.py to see how we mount the docker socket directories and have docker installed in our build container to run the same.

[2022-02-10 18:37] tanmayv25 commented on #3914
See the comment: https://github.com/triton-inference-server/server/issues/3844#issuecomment-1021734020.

This should work:

[code]

[2022-02-10 18:44] tanmayv25 commented on #3915
The autocomplete feature is not supported for pytorch models and user must provide complete config.pbtxt for the model. Because pytorch model do not carry sufficient metadata we can not populate the model configuration for pytorch models in our pytorch backend.

For more details about `--strict-model-config=false` option, see here: https://github.com/triton-inference-server/server/blob/main/docs/m

[2022-02-10 18:44] #3915 closed

[2022-02-10 19:45] jbkyang-nvi commented on #3897
@MeghaVarshney21 Triton uses the library version of DCGM which is not allowed to co-exist with the container version of DCGM which might explain the behavior you are seeing. To disable Triton's usage of the DCGM library you will need to compile Tritonserver yourself with [build.py](https://github.com/triton-inference-server/server/blob/main/docs/build.md#building-for-ubuntu-2004) without `--enable

[2022-02-10 20:03] GuanLuo commented on #3895
What is the value of `input_config` when you use GRPC protocol? Can you share a minimal repro?

[2022-02-10 20:12] tanmayv25 commented on #3817
@ia-davidpichler  I am not very familiar with `iperf`, but the fact that you are able to achieve high performance on localhost hints that triton's http endpoint is capable of handling requests at an higher rate.
The issue occurs only on remote, which makes it more likely to do with the network.

[2022-02-10 20:15] tanmayv25 commented on #3908
That is a good idea. Building PA with C API support should be optional.

[2022-02-11 00:23] nealvaidya opened #3917 "grpc node.js client unable to send uint32 inputs"
**Description**
I modified the `simple` javascript client library to request a model that takes uint32 inputs instead of int32. The input tensors sent by the client are not being correctly serialized, leading to incorrect results.

**To Reproduce**
Deploy the [add_sub ](https://github.com/triton-inference-server/python_backend/tree/main/examples/add_sub) example from the python_backend repo, with

[2022-02-11 00:31] ia-davidpichler commented on #3817
I would agree. But I'm not really sure where this bottleneck exists in the network stack. And it seems to really only be a process bottleneck and not an instance bottleneck since the performance about doubles if I use two triton servers.

[2022-02-11 00:37] CoderHam commented on #3917
@nealvaidya can you share your modified client? It might not be modified correctly for uint32

[2022-02-11 01:18] 756890911 commented on #3915
I set the { key: "FORCE_CPU_ONLY_INPUT_TENSORS" value: {string_value:"no"}} in CONFIG.PBTXT  Solved the problem.

[2022-02-11 01:28] nealvaidya commented on #3917
@CoderHam I have a modified client here that doesn't work [here](https://github.com/nealvaidya/client/blob/uint_testing/src/grpc_generated/javascript/client3.js), as well as one that does work by instead using the raw_input_contents field [here](https://github.com/nealvaidya/client/blob/uint_testing/src/grpc_generated/javascript/client.js)

[2022-02-11 03:42] MistSun-Chen commented on #3912
[code]

[2022-02-11 04:00] tanmayv25 commented on #3912
I don't see the complete GPU name. The message below:

means triton application fails to access the GPU. Triton has minimum GPU compute capability as 6.0

Is by any chance your GPU's compute capability less than 6.0?

[2022-02-11 04:04] tanmayv25 commented on #3912
You can use `--min-supported-compute-capability` option https://github.com/triton-inference-server/server/blob/main/src/servers/main.cc#L559 when launching server. Note that not all backends would support the device by providing a lower limit.

FYI: You can use https://en.wikipedia.org/wiki/CUDA to find the compute capabilty of your device.

[2022-02-11 04:41] MistSun-Chen commented on #3912
@tanmayv25 Thanks for your reply.Your answer is useful
I run "nvidia-smi -L"
[code]
I check the  https://en.wikipedia.org/wiki/CUDA and find  that the GPU compute capability is 5.2.If I use --min-supported-compute-capability=5.2 ,it works.

Can you tell me which backends do not support min-supported-compute-capability？

[2022-02-11 05:48] parichehrvn commented on #3895
@GuanLuo  the following is the input config:

[code]

[2022-02-11 07:40] narolski commented on #3913
@CoderHam Thank you for the swift response, I will try DIND to build the image on my own using `build.py`. `cmake` fails because it tries to execute `docker ...` at some point, apparently.

I've also managed to build Triton Inference Server image with ONNX backend without using Docker, but it was not as painless as I'd hoped. That is why I think it would be great if we could use the pre-build imag

[2022-02-11 07:54] s-rog commented on #3678
This is still present in 22.01 when inferencing with a detectron model in python backend
(stub process becomes unhealthy after multiple inference requests)

[2022-02-11 08:21] SimonLliu opened #3918 "Where to modify the apt sources in building such container?"
**Description**
A clear and concise description of what the bug is.
**In the process of compiling the triton server with docker, we find that we can not install some apt packages. And we want to modify the sources in /etc/apt/sources.list. But we can not find the corresponding dockerfile. Can you tell me where the corresponding dockerfile is or where we can add the new sources into sources.list. T

[2022-02-11 08:27] expresschen opened #3919 "UNAVAILABLE: Internal: trt failed to set binding dimension to [8,10,128] for input 'input_id' for paraRecognition"
**Description**
A clear and concise description of what the bug is.

**Triton Information**
What version of Triton are you using?

Are you using the Triton container or did you build it yourself?

**To Reproduce**
Steps to reproduce the behavior.

Describe the models (framework, inputs, outputs), ideally include the model configuration file (if using an ensemble include the model configuration fil

[2022-02-11 08:49] #3912 closed

[2022-02-11 09:16] MeghaVarshney21 commented on #3897
Autoscaling is one of the key features in Kubernetes cluster. It is a feature in which the cluster is capable of increasing the number of nodes as the demand for service response increases and decrease the number of nodes as the requirement decreases.

**
So, I am using HPA for autoscaling the  triton pods on the basis of gpu utilization(DCGM_FI_DEV_GPU_UTIL).**

[2022-02-11 14:05] andreapairon opened #3920 "NVIDIA Tesla T4 is not being used during inference"
Hi,
I have a GPU node on Kubernetes with one NVIDIA Tesla T4.
I deployed a Triton server (release 21.09) requesting a GPU:

![image](https://user-images.githubusercontent.com/16152588/153605163-36008153-992b-45bc-aa45-6094f6687795.png)

The GPU is recognized when Triton comes up:
![image](https://user-images.githubusercontent.com/16152588/153605320-438ce4fe-0011-43cb-b081-e369c7dc9d99.png)

In my

[2022-02-11 14:32] #3920 closed

[2022-02-11 16:48] HarHarLinks opened #3922 "[client c++] Could not find a package configuration file provided by "RapidJSON""
**Description**
[code]

**Triton Information**
trying to build client branch r22.01 (only c++ api is needed, thus excluding python and java from the [suggested args](https://github.com/triton-inference-server/client#build-using-cmake))

**To Reproduce**
Platform: CentOS 7.9.2009, cmake 3.21.1, GNU Make 3.82, icc (ICC) 2021.5.0 20211109
[code]

**Expected behavior**
build succeeds

[2022-02-11 17:03] tanmayv25 commented on #3922
You must install the associated dependencies on the system first. rapidjson in this case.
https://github.com/triton-inference-server/server/blob/main/Dockerfile.sdk#L67
You might have to install other dependencies as well. Use the dockerfile.sdk above as a reference.

Please re-open if you have any other questions or issues.

[2022-02-11 17:04] Tabrizian commented on #3847
Do you specify `EXECUTION_ENV_PATH` in the config.pbtxt file of your model in this scenario or you want all your Python models to pick up Python 3.7? If you are specifying the `EXEUCTION_ENV_PATH`, it will automatically modify the LD_LIBRARY_PATH such that when the stub is being loaded libpython3.7 can be found. Does the model load successfully in this scenario? I think it is expected that the ldd

[2022-02-11 17:13] tanmayv25 commented on #3919
The error means that the trt plan does not support the shape [8,10,128].
You can try polygraphy to view what dimensions are supported.

Provide the details in the issue template if you need further assistance.

[2022-02-11 17:13] #3919 closed

[2022-02-11 17:18] HarHarLinks commented on #3922
Thanks for the quick reply.

Why are the requirements not documented at the README of https://github.com/triton-inference-server/client?
Please treat this issue as ticket for adding this.

Running above steps will automatically clone and build over a dozen 3P deps, including all kind of protobuf, grpc and at least 2 json libs (json and nlohmann-json). Why is RapidJSON not included in this?

---

f

[2022-02-11 18:07] tanmayv25 commented on #3918
We don't have a specific docker file for the server but expose the build.py utility that creates a dockerfile based on the options provided. You would need to tweak the build.py to modify apt sources. Specifically, in this function: [dockerfile_prepare_container_linux()](https://github.com/triton-inference-server/server/blob/main/build.py#L970).

Somewhere around here: https://github.com/triton-in

[2022-02-11 19:05] shmahe commented on #3909
@naor2013 's suggestion worked, thanks for the help!

[2022-02-11 19:05] #3909 closed

[2022-02-11 20:32] tanmayv25 commented on #3922
We have the cleaning up of the client build in our roadmap.

Thanks for letting me know. Let me review the policy with team.

[2022-02-12 02:55] yaoyunda opened #3923 "Build tritonserver image failed due to hardcoded the”/tmp” folder in build files"
**Description**
A clear and concise description of what the bug is.
Build "tritonserver" from the code as [instruction](https://github.com/triton-inference-server/server/blob/main/docs/build.md#:~:text=Build%20without%20Docker.-,Building%20with%20Docker,-The%20easiest%20way).
It is going to fail. Here are the last console output:
error: make server failed
error: docker run tritonserver_builder fai

[2022-02-12 03:39] yaoyunda opened #3924 "Build image "tritonserver_qa" failed due to “Dockerfile.QA” references to a non-existing folder"
**Description**
A clear and concise description of what the bug is.
After build of image "tritonserver", follow all steps of [instructions](urlhttps://github.com/triton-inference-server/server/blob/main/docs/test.md#:~:text=Blame-,Testing%20Triton,-Currently%20there%20is) to build image" tritonserver_qa".
Build failed with error:
cp: cannot stat 'qa/L0_tf_image_models/.': No such file or directory

[2022-02-12 04:37] SimonLliu commented on #3918
Thanks for your help.

And i add new apt sources in [create_dockerfile_buildbase()](https://github.com/triton-inference-server/server/blob/main/build.py](https://github.com/triton-inference-server/server/blob/main/build.py#L760), [create_dockerfile_build()](https://github.com/triton-inference-server/server/blob/main/build.py#L861), [dockerfile_prepare_container_linux()](https://github.com/triton-i

[2022-02-13 13:23] averkij commented on #3914
Yeah, thank you. It's a bit confusing that **serialize_byte_tensor** from the [client library](https://github.com/triton-inference-server/client/blob/main/src/python/library/tritonclient/utils/__init__.py#L187) differs from the [backend](https://github.com/triton-inference-server/python_backend/blob/main/src/resources/triton_python_backend_utils.py) one.

[2022-02-13 13:23] #3914 closed

[2022-02-13 15:19] Vulcan-YJX commented on #3898
Thanks for your help, It works!

[2022-02-13 15:25] jayxio opened #3926 "Does triton-inference-server run on Drive AGX?"
**Is your feature request related to a problem? Please describe.**
1. We would like to try parallel model execution on iGPU+DLA devices. Is it possible to run triton-inference-server on a V3NP or Orin-X device?
Currently, we have a V3NP in Linux tegra-ubuntu 4.14.150-rt67-tegra. And it seems there's no docs for installing and run triton-inference-server on them.
2. Will there be any performance im

[2022-02-14 00:26] yaoyunda opened #3927 "Test “L0_trt_dla” failed in branch r21.12 due to missing model “resnet50_plan”"
**Description**
A clear and concise description of what the bug is.
Follow the instructions:
go to folder "qa/L0_trt_dla" and run test as:
bash -x test.sh
test failed with error: Request for unknown model 'resnet50_plan' is not found

The file "~/server/qa/L0_trt_dla/dla_test.py" contains a line :
model_name = "resnet50_plan"

The file ~/server/qa/L0_trt_dla/test.sh contains a line :
cp -r $DATADI

[2022-02-14 03:25] expresschen opened #3928 "The error means that the trt plan does not support the shape [16,128]."
The error means that the trt plan does not support the shape [8,10,128].
You can try polygraphy(https://github.com/NVIDIA/TensorRT/tree/main/tools/Polygraphy/examples/cli/inspect/01_inspecting_a_tensorrt_network) to view what dimensions are supported.

Provide the details in the issue template if you need further assistance.

_Originally posted by @tanmayv25 in https://github.com/triton-inference-

[2022-02-14 03:39] expresschen commented on #3928
GPU:P40
Tensorrt version:8.2.18
cuda:10.2
triton-inference-server:[21](http://nvcr.io/nvidia/tritonserver:21.12-py3)
polygraphy:
 ==== TensorRT Network ====
    Name: Unnamed Network 0 | Explicit Batch Network

    ---- 3 Network Input(s) ----
    {input_id [dtype=int32, shape=(-1, 128)],
     attention_mask [dtype=int32, shape=(-1, 128)],
     token_type_ids [dtype=int32, shape=(-1, 128)]}

    -

[2022-02-14 05:43] csukuangfj commented on #3777
I just created a GithUb repo to reproduce the `core dump` issue by changing `import kaldifeat` to `import torch`.
Please see https://github.com/csukuangfj/memory-leak-example

You can see the output from GitHub actions at
https://github.com/csukuangfj/memory-leak-example/runs/5179267107?check_suite_focus=true

A screenshot of the output is given below:
<img width="933" alt="Screen Shot 2022-02-14

[2022-02-14 09:11] remib-proovstation opened #3929 "Same output for every batches when using shared memory"
**Description**
When using shared memory in python client with a object detection model in onnx backend, when extracting the results from the inference output on the shared memory, I obtain number_batches times the same result (the one from the last request). ​

**Triton Information**
Triton 21.10 from docker
Python client from `pip install tritonclient[all]`

_Are you using the Triton container o

[2022-02-14 11:27] expresschen commented on #3928
In the output log, I found this error message again
E0214 10:55:10.085525 1 logging.cc:43] 1: [graphContext.h::MyelinGraphContext::24] Error Code 1: Myelin (Compiled against cuBLAS 10.2.2.0 but running against cuBLAS 11.7.3.0.)
I0214 10:55:10.085570 1 logging.cc:49] Could not set default profile 0 for execution context. Profile index must be set explicitly.
I0214 10:55:10.085593 1 logging.cc:49] [

[2022-02-14 12:28] SimonLliu commented on #3918
We continue to check the codes and errors. And we find the codes will generate a container for each backend such as onnxruntime. And we find that in the process of "run the triton_builder", there exists a Dockerfile.ort in the path "/tmp/tritonbuild/onnxruntime/build/".  Can you help me where are the codes that generating Dockerfile.ort?

Thanks a lot and Triton-server is a very excellent work!

[2022-02-14 15:36] 739982423 commented on #3877
2022.2.14:
Version 510.54 for RTX3090 is available for download at https://www.nvidia.com/Download/driverResults.aspx/186996/en-us

[2022-02-14 16:30] mattdibi opened #3930 "VPU support for OpenVINO backend"
**Is your feature request related to a problem? Please describe.**
OpenVINO backend currently supports inference only on CPU devices using [OpenVINO CPU plugin](https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_supported_plugins_CPU.html).

**Describe the solution you'd like**
I would like to perform inference on VPU devices (Myriad/Myriad X accelerators) using the OpenVino backend throu

[2022-02-14 17:41] tanmayv25 commented on #3918
That container is being built as a part of individual backend cmake build: https://github.com/triton-inference-server/onnxruntime_backend/blob/main/CMakeLists.txt#L360
The script to build the docker file is here: https://github.com/triton-inference-server/onnxruntime_backend/blob/main/tools/gen_ort_dockerfile.py

Same build structure is found in other backends.

[2022-02-14 17:50] tanmayv25 commented on #3928
Looks like there is a discrepancy in the CUDA stack for the build and runtime systems. Did you run the above model generation script on corresponding tensorrt container from NGC? It should be tensorrt:21.12-py3 in your case.

[2022-02-14 17:50] chajath commented on #3805
Any update on this? I'm also seeing the same issue. Is there a bug tracker on NGC side?

[2022-02-14 19:44] bro-adm commented on #3847
@Tabrizian
Thanks, currently working on changing the stub in `/backends/python` dir :slightly_smiling_face:

###### just to know

- With the repository agents (if they weren't in beta), we could have ideally create a repo agent that reads in the model config a python version parameter and add into the matching model dir the matching stub -> if so according to our understanding we would also need t

[2022-02-14 21:09] Tabrizian commented on #3930
cc @tanmayv25

[2022-02-15 00:16] matthewkotila commented on #3929
Hi @remib-proovstation, sorry you're running into this issue. Thanks for the detailed information. We are looking into the issue 👍.

[2022-02-15 00:45] CoderHam commented on #3929
@remib-proovstation You are reusing the same shared memory region and sending async requests without a timeout between requests. If you want to use the same shared memory region you must ensure there is a single request in flight that uses the specific region.

[2022-02-15 01:09] Tabrizian commented on #3923
Thanks for bringing this to our attention. I have filed a ticket for this.

[2022-02-15 01:14] Tabrizian commented on #3927
The models required for some of the tests are not publicly available. @CoderHam Are you aware of any method to generate this specific model?

[2022-02-15 01:17] CoderHam commented on #3927
@yaoyunda the TRT DLA model cannot be published publicly at the moment. Are you trying to test dla support?

[2022-02-15 01:57] CoderHam commented on #3923
@yaoyunda the build.py allows the user to configure the build directory according to their needs: https://github.com/triton-inference-server/server/blob/main/build.py#L1467-L1473

[2022-02-15 02:34] expresschen commented on #3928
The container version I use is 21.12-py3, so the version of tensorrt used locally is the same as the version used by the container. But I use cuda10.2 locally, but cuda11.5 used in the container, is this the reason. But cuda11.5 does not have a GPU version corresponding to pytorch.

[2022-02-15 03:24] cakeislife100 opened #3935 "Best practices for loading a new model version across Triton instances"
Hello! We are using the method described [here](https://github.com/triton-inference-server/server/blob/main/docs/faq.md#how-would-you-use-triton-inference-server-within-the-aws-environment) and running multiple Triton instances between a load balancer to be able to scale up our model servers. This is working great except for when a new model is loaded to the repository. Normally we can just call `

[2022-02-15 06:55] kismetro opened #3936 "triton for windows(r22.01) build error"
I have tried to build triton server using follow guide.
: https://github.com/triton-inference-server/server/blob/main/docs/build.md#windows

**Step 1.**
"win10-py3-min" container is built well.

**Step 2.**
Tried to build triton server using build.py.
"tritonserver_buildbase" container seems to be built well. But CMake error is occured when build third party repo as follows:

Anyone can help me to

[2022-02-15 08:43] remib-proovstation commented on #3929
@CoderHam thank you for your answer. I was indeed getting the feeling that a single shm region for async output could not work. I have then three questions:
1)  why does this not seems to happen for my inputs, since I'm sending async request on the shm region for my input too ?
2)  I implemented my pipeline based on the example from triton client, where we all waiting for all the responses from th

[2022-02-15 10:24] MeghaVarshney21 commented on #3897
Thanks @jbkyang-nvi

But when I check prometheus metrics for my cluster with more than one pod (meaning multiple GPUs), nv_gpu_utilisation shows single gpu always. **Why is it so and what does it mean?**
![Screenshot from 2022-02-15 15-53-45](https://user-images.githubusercontent.com/95682577/154042706-df768160-c791-4532-8c9e-0eb6ab681fb8.png)

**Also, how to use this metric (nv_gpu_utilisation) i

[2022-02-15 11:45] zhyj3038 commented on #3678
same issue

[2022-02-15 11:46] zhyj3038 commented on #3678
same issue on 21.11 .
message: Stub process is not healthy.

[2022-02-15 14:20] Tabrizian commented on #3678
@s-rog Can you open a separate issue and put your model configuration, your model.py, and client file so that we can look into this?

@zhyj3038 Can you try the 22.01 release and share with us whether you are still seeing the same issue?

[2022-02-15 15:58] Tabrizian commented on #3855
Closing due to in-activity.

[2022-02-15 16:51] Tabrizian commented on #3935
I'm not very familiar with load balancers but is there an option to change the behavior based on the request type? For example, if the request pattern matches what you have described above it should broadcast the request to all the instances, instead of only sending the response to one of them.

cc @rmccorm4

[2022-02-15 17:34] vladimir-sverdlov opened #3937 "torchscripted model fails to load on triton server"
**Description**
When creating a torchscripted model and exporting to triton backend, when it tries to load it it fails due to a None attribute.

[code]

**Triton Information**
What version of Triton are you using? 21.02-py3

Are you using the Triton container or did you build it yourself? nvcr.io/nvidia/tritonserver

**To Reproduce**
Steps to reproduce the behavior.
create a torch model, ours is b

[2022-02-15 19:48] #3898 closed

[2022-02-15 23:01] rmccorm4 commented on #3935
Hi @cakeislife100, I don't believe there is a way to explicitly reach every instance behind a load balancer or ensure that the load balancer routes a request to a specific instance without some kind of special workaround.

Typically for something like this, I would expect a user to explicitly send the model load requests to each individual instance rather than through the load balancer. You would

[2022-02-16 00:09] GuanLuo commented on #3936
What is the command you used for `build.py`?

[2022-02-16 00:11] CoderHam commented on #3937
@vladimir-sverdlov can you share the pytorch code for the model or a repro?

Additionally try tracing the model in with the NGC 22.02 PyTorch container (has Pytorch v1.11.0) and try that model?

[2022-02-16 00:33] jbkyang-nvi commented on #3897
What did you run the Triton container with? Is it run with `--gpus='"device=0:0"'` or similar? Otherwise it should have a field of `nv_gpu_utilization` for each GPU label.

One of the ways it seems like is to rebuild triton using build.py that does not use GPU metrics as commented here: https://github.com/triton-inference-server/server/issues/3897#issuecomment-1035414009 and start your own DCGM mo

[2022-02-16 00:47] lminer commented on #3081
Any updates on whether there's a plan to support oneDNN?

[2022-02-16 01:13] kismetro commented on #3936
**Here is my build.py ues**

python build.py --cmake-dir=./build --build-dir=/tmp/citritonbuild --no-container-pull --image=base,win10-py3-min --enable-logging --enable-stats --enable-tracing --enable-gpu --endpoint=grpc --endpoint=http --repo-tag=common:r22.01 --repo-tag=core:r22.01 --repo-tag=backend:r22.01 --repo-tag=thirdparty:r22.01 --backend=ensemble --backend=tensorrt:r22.01 --backend=onnxr

[2022-02-16 01:15] GuanLuo commented on #3399
Thank for the follow-up, unfortunately we have other prioritized items to work on so I haven't have the chance to take a look at this. This issue is being tracked, but feel free to create a PR with the fix if you don't mind taking a stab at it.

[2022-02-16 01:26] GuanLuo commented on #3895
That seems to be something wrong in your client, it is not clear how the error message print FORMAT_NONE (`mc.ModelInput.Format.Name(input_config.format)`) while the `input_config` already has `format: FORMAT_NHWC`

Please share a minimal repro if you have verified that your client is correct.

[2022-02-16 01:45] lminer opened #3940 "Docs for building custom TF backend are obsolete"
If I run `nvcr.io/nvidia/tensorflow:22.01-tf2-py3`

And then run the following command

[code]

I get:

[code]

[2022-02-16 05:54] parichehrvn commented on #3895
what do you mean by "minimal repro"?

[2022-02-16 07:47] SimonLliu commented on #3918
Thanks very much! This problem is solved.

[2022-02-16 07:58] gggaugau opened #3941 "[Question] About perf_analyzer request & execution count"
Hello guys. I have a question about perf_analyzer request & execution count.
[code]
Why is execution count > request count in the example below? What exactly does execution count mean?
Thanks in advance.

[2022-02-16 09:31] luvwinnie opened #3942 "[Question] Details examples for how to use the rate limiter?"
Hello, I'm using the triton inference server for deploying the models, I have about 11 models to deploy and I need to control the request since I'm using the ONNX model which dynamically allocate the memories, I don't understand about the "number" assign on R1,R2,R3 and etc, so called "resource" in this [page](https://github.com/triton-inference-server/server/blob/main/docs/rate_limiter.md#:~:text

[2022-02-16 10:49] zhaohb opened #3944 "python backend error: c_python_backend_utils.TritonModelException: Tensor is stored in GPU and cannot be converted to NumPy"
**Description**
I am currently using the Python Backend BLS function and called another tensorrt model using the pb_utils.inferencerequest interface and the call succeeded, but the result is stored on the GPU，and I can't find how to copy the interface from the GPU.

**Triton Information**
22.01

Are you using the Triton container or did you build it yourself?
no

**Expected behavior**
Can python b

[2022-02-16 14:28] Tabrizian commented on #3944
The tensors stored in the GPU cannot be used with NumPy. You can use PyTorch with DLPack to convert them to CPU.

[2022-02-16 15:12] naor2013 commented on #3941
@gggaugau I'm not from the triton team but what it means is that there were 21 requests of batch 32 (which is what you specified in -b 32) so that makes a total of 672 "single" inferences in 21 requests.

[2022-02-16 18:43] dyastremsky commented on #3805
@deadeyegoodwin

[2022-02-16 18:52] GuanLuo commented on #3941
The client stats and server stats are being collected in different location where client stats is collected inside perf analyzer while server stats is calculated based on the delta reported from server stats API, so the variance will be observed if you compare client stats with server stats.

[2022-02-16 18:57] GuanLuo commented on #3941
Execution count is the number of the model run, where request count is the number of inference request sent to the model. When using dynamic batching, Triton may batch multiple requests for one model run and in such case you can have smaller execution count than request count.

[2022-02-16 18:57] #3941 closed

[2022-02-16 19:19] GuanLuo commented on #3895
Instructions on how to reproduce the same issue in other environment so we can investigate on our end.

[2022-02-16 21:24] CoderHam commented on #3287
@CPFelix the issue "Model without config.pbtxt on Minio can't be load successfully" was resolved by https://github.com/triton-inference-server/server/pull/3704.

We test models that can be loaded from Minio and inferred. The error `tritonclient.utils.InferenceServerException: [StatusCode.UNAVAILABLE] failed to connect to all addresses` seems to be caused by the server either being down or the requ

[2022-02-16 21:27] HarHarLinks opened #3948 "[client c++] build script uses system libcurl instead of own third-party/curl"
**Description**
build script uses system libcurl instead of own third-party/curl
the former is too old, leading to this error:
[code]

`third-party/curl/lib64/libcurl.a` and alongside it headers with the referenced `CURLOPT_UPLOAD_BUFFERSIZE` are present, but not used.

related: #3922

**Triton Information**
clients r22.01

**To Reproduce**
Platform: CentOS 7.9.2009, cmake 3.21.1, GNU Make 3.82, i

[2022-02-16 21:38] HarHarLinks commented on #3948
I think you need to require a minimum curl version in the build script https://github.com/triton-inference-server/client/blob/f0f2b89b3b8418a0a79a8dd60329a8b99489268b/src/c%2B%2B/CMakeLists.txt#L86

CURLOPT_UPLOAD_BUFFERSIZE was added in 7.62.0 https://curl.se/libcurl/c/CURLOPT_UPLOAD_BUFFERSIZE.html

[2022-02-16 21:56] CoderHam commented on #3029
@ioangatop @amromidhat which version of Triton server were you using? Can you quantify your slowdown using the perf analyzer?

[2022-02-16 22:00] ioangatop commented on #3029
@CoderHam for me I believe it was `OnnxRuntime`.
I believe it was the [Release 2.10.0 corresponding to NGC container 21.05](https://github.com/triton-inference-server/server/releases/tag/v2.10.0).

[2022-02-16 22:07] CoderHam commented on #3029
@ioangatop A correction to my earlier statement regarding the the reproduction. I am unable to reproduce the drop in perf with S3 in 22.02 and the one I detected earlier was due to variation in model performance.

Since 21.05 is outdated can you try the same experiment with 22.02?

[2022-02-16 23:45] deadeyegoodwin commented on #3825
Closing due to inactivity. Reopen with repro instructions.

[2022-02-16 23:45] #3825 closed

[2022-02-17 01:45] zhaohb commented on #3944
Thank you for your reply. I have solved this problem using DLPack. Thank you very much.
I will close that issue.

[2022-02-17 01:45] #3944 closed

[2022-02-17 02:15] zhaohb commented on #3944
@Tabrizian Again, why is it on the GPU, and under what circumstances is it on the CPU?

[2022-02-17 02:27] BorisPolonsky commented on #3781
May I ask if you have new models that replicate the issue or you are using the model that provided in this post?

[2022-02-17 06:26] KyloRen1 commented on #3781
New model with the same issue

[2022-02-17 08:36] ali-mirza1 commented on #3781
new models, but exactly the same issue.

[2022-02-17 09:03] stengoes opened #3951 "Questions about ragged batching of higher dimensional tensors"
After reading the [ragged batching documentation](https://github.com/triton-inference-server/server/blob/main/docs/ragged_batching.md) a couple of things still remain unclear to me.

The example provided is really quite helpful, but I would like to know how I can adapt it to my situation in which I have higher dimensional tensors. Let us say that, like the example in my situation I also send 3 req

[2022-02-17 11:21] SimonLliu opened #3952 "Bug for building triton server with onnx backend with docker"
**Description**
A clear and concise description of what the bug is.
Thanks for your good job!
When i build the triton server with docker with onnx backend, i meet so many warnings and the pregress is broken in [ 77%] Built target onnxruntime_providers.
**Do you still meet these warnings in the building process ?**
**Why these errors happen?**

**Triton Information**
What version of Triton are you

[2022-02-17 13:43] llustc opened #3953 "inference queue time high"
We are using triton to deploy gpu service, the queue waiting time suddenly becomes very long，But the infer time is very stable（batchsize=1） ，The gpu usage and cpu usage of the gpu machine are normal，and qps did not rise. Is there any direction to investigate this issue? thanks

The monitoring information is as follows，
![image](https://user-images.githubusercontent.com/97878310/154491873-a4bfda0d-

[2022-02-17 13:45] llustc commented on #3953
![5F92E787-64EE-4FFD-AED9-F8740B6407F9](https://user-images.githubusercontent.com/97878310/154494153-7dae624e-023e-4fe5-a191-fad52bb4bf80.png)
![61F5A340-FA63-4FFE-99C3-738D820579A7](https://user-images.githubusercontent.com/97878310/154494176-b938ea44-7d24-45d7-b3b2-6defd002427d.png)

[2022-02-17 14:00] Tabrizian commented on #3944
There are many circumstances that lead to the BLS output being on GPU. For example, the backend can decide which output to use for GPU tensors. Python backend tries to provide the outputs in the same device it has received the output to avoid data movement.

[2022-02-17 15:26] Tabrizian commented on #3940
You are correct. Looks like the option no longer exist in 22.01. I have filed a ticket to fix this.

[2022-02-17 16:01] Tabrizian commented on #3942
No, this means that from the pool of all the resources (global or per-device) this model requires 4 R1 resources. For example, if you have 10 R1 resources for a device in total, and you have 3 instances of model A, and each instance execution requires 4 of R1 resources, it means that at the same time only two of the instances of model A will be executed at the same time.

For making sure that you

[2022-02-17 16:17] Tabrizian commented on #3441
Closing the issue due to in-activity.

[2022-02-17 16:17] #3441 closed

[2022-02-17 16:27] narolski opened #3954 "Memory Leak Between Inferences Cause Server OOMs (CPU, TF2/ONNX)"
**Description**
Using latest Triton `v22.01` with ONNXBackend (self-built) or with the TensorFlow Backend (image from Nvidia Container Registry) and performing the CPU inference there seems to be a memory leak: memory usage increases with each request, finally leading to an OOM for the Triton Inference Server instance.

**Triton Information**
What version of Triton are you using? **v22.01**

Are y

[2022-02-17 18:41] tanmayv25 commented on #3922
You might have to use target_include_directories to include ${RAPIDJSON_INCLUDE_DIRS}" when building cc-clients target. Cmake does not include the headers directly. Feel free to open a PR with your changes, contributions from the community are highly appreciated.

[2022-02-17 19:06] tanmayv25 commented on #3942
Iman has described the use case accurately. Triton does not monitor memory as such while scheduling. Setting the resource counts as Iman described, a user can imitate the R1 as system memory. It's upon user to attach meaning to a named resource.

[2022-02-17 19:21] tanmayv25 commented on #3948
We must use third-party curl. This looks like a bug. https://github.com/triton-inference-server/client/blob/main/CMakeLists.txt#L119

[2022-02-17 19:47] #3918 closed

[2022-02-17 20:11] Tabrizian commented on #3948
Filed a ticket for this.

[2022-02-17 20:15] Tabrizian commented on #3954
@narolski Thanks for filing a ticket for this. Can you share the `model.onnx` and tensorflow saved files of the model too? This can help us save some time when trying to reproduce this issue.

[2022-02-17 20:35] yaoyunda commented on #3927
@CoderHam ,
I tried to build and run all the tests available. is there any doc to specify the scope of tests.  currently about 50+ CI test failed from all these 100+ tests.

[2022-02-17 21:03] kgksl opened #3955 "Triton server - required NVIDIA driver version vs CUDA minor version compatibility"
I am able to run [Triton-server 21.12](https://docs.nvidia.com/deeplearning/triton-inference-server/release-notes/rel_21-12.html#rel_21-12) (server version 2.17) docker image with TensorRT backend on a GPU that has NVIDIA driver version 470 installed. However I noticed that Triton-server 21.12 requires NVIDIA driver version 495 or later on the release notes to support CUDA 11.5.

I am wondering if

[2022-02-17 21:20] rmccorm4 commented on #3955
Hi @kgksl, what GPU are you using? As noted in the release notes, for Tesla GPUs (T4, V100, A100, etc.) cuda compatibility mode will support certain earlier driver versions:

[2022-02-17 21:49] kgksl commented on #3955
@rmccorm4 thanks for the reply. I am not using a Tesla GPU. I am using a RTX2070 at the moment and all the GPUs I am planning to use are Turing/ Pascal.

[2022-02-17 21:58] Tabrizian commented on #3951
cc @GuanLuo

[2022-02-17 22:18] rmccorm4 commented on #3955
Hi @kgksl , can you share the output banner printed when you start the Triton 21.12 container on that machine?

[2022-02-17 22:26] GuanLuo commented on #3951
The ragged batched input will be flatten to [-1]. In general, the current higher dimensional tensor using ragged batch can't be restored because there is no batch input that describes the shape of each ragged input. However, we are planning to add new batch input kind to capture the input shape so the model can use it to restore the ragged input.

However, if you know that only one of the dimensio

[2022-02-17 22:51] kgksl commented on #3955
Hi @rmccorm4 thanks alot for the instructions.

I built a custom triton-server docker image by using `nvcr.io/nvidia/tritonserver:21.12-py3-min` as the base image and TensorRT as backend. And I was using this custom docker image as the base image for my final triton-server docker image.
And I didn't see any warning related when running this docker image, and the server was working fine with runnin

[2022-02-17 23:16] rmccorm4 commented on #3955
Hi @kgksl, so as you suspected, you're getting CUDA Minor Version compatibility with your setup.

If you're not seeing this warning/banner in your custom image, are you overwriting the ENTRYPOINT in your Dockerfile?

[2022-02-17 23:39] lminer commented on #3940
Do you know when it was removed? Even in 21.10 I'm getting this issue.

[2022-02-17 23:48] kgksl commented on #3955
thanks a-lot for your help.

Final question: the given [application considerations]( https://docs.nvidia.com/deploy/cuda-compatibility/#application-considerations) talk about limitations on applications using `PTX`  and I can see there are issues related `PTX` on this repo, which means triton-server might be using it in some (or all) instances. Do you know about this?

[2022-02-18 00:12] rmccorm4 commented on #3955
@GuanLuo @deadeyegoodwin any thoughts on this?

[2022-02-18 00:48] GuanLuo commented on #3955
In the backend utilities provided, there is a [copy kernel](https://github.com/triton-inference-server/backend/blob/main/src/kernel.h) that backend implementer can use for gather / scatter tensors in some use cases, which is compiled with PTX for portability reason. Besides that the backend / framework itself may utilize PTX as well. That being said, PTX usage is specific to backend and Triton cor

[2022-02-18 03:30] SimonLliu commented on #3952
Thanks for your help!
I git clone the repo again and get the version of 22.03dev.
But i meet the same problems.

container-version and upstream-container-version are in the front of the build.py default.

And partial logs are:
 77%] Linking CXX static library libonnxruntime_providers.a
[ 77%] Built target onnxruntime_providers
[91mmake: *** [Makefile:166: all] Error 2
[0m[91mTraceback (most rec

[2022-02-18 04:38] SimonLliu commented on #3952
And i can compile pytorch_backend. Maybe this problem results from the environment of onnx.

[2022-02-18 08:07] narolski commented on #3954
@Tabrizian, thank you for responding on such a short notice 💯

Of course! Here are the files:
- ONNX: https://drive.google.com/file/d/1oO1ov_1iLM28cO4RfW2NY0oMJBlWqcDf/view?usp=sharing
- TensorFlow Saved Model:

Also, here's the notebook that can be used to obtain the models: https://colab.research.google.com/drive/1_K4ggHnc9qsC26qJIUtacwHUcpA7a-zd?usp=sharing.

I have some ideas that might help i

[2022-02-18 08:35] SimZhou opened #3960 "Request for non-gpu version docker image (to decrease the image size)"
Hi,

I am requesting for a triton version which does not provide GPU support, here are reasons:
1. (Main Reason) Docker images with gpu support are so large (10-30x that without gpu support), which increases both hardware expense and network transfer expense.
2. As as SAAS provider, our clients does not always provide us servers with gpu. Either because gpus are expensive, or they do not need late

[2022-02-18 08:51] zhaohb opened #3961 "python backend: how does the conda environment support multiple versions"
**Description**
[code]
The directory structure supported by Python Backend is shown above. I am not sure what to do if there are multiple versions and the conda environment of each version is inconsistent.
Would it be possible to put test_env.tar.gz in the directory of the model version?，I dit that.
like this:
[code]
but, when I put the conda environment in the version directory, I don't know how

[2022-02-18 09:10] SuoSiFire opened #3962 "Build trtion server image with container failed"
**Description**
A clear and concise description of what the bug is.

Build trtion server image with container failed ,error msg :

docker run -it -d --name tensorflow_backend_deps gitlab-master.nvidia.com:5005/dl/dgx/tensorflow:master-py3-base
Unable to find image 'gitlab-master.nvidia.com:5005/dl/dgx/tensorflow:master-py3-base' locally
docker: Error response from daemon: Get https://gitlab-master

[2022-02-18 10:00] narolski commented on #3960
Duplicate of #3913.

[2022-02-18 12:39] HarHarLinks commented on #3922
Isn't this what is done here already?
https://github.com/triton-inference-server/client/blob/fe6ccbb00e57ce91e284bc5540b29e8929670f06/src/c%2B%2B/library/CMakeLists.txt#L55

[2022-02-18 17:49] lminer commented on #3962
I'm having the same issue

[2022-02-18 19:23] CoderHam commented on #3962
@SuoSiFire and @lminer that you for raising this issue. We will work on a fix for the same.

[2022-02-18 19:58] Tabrizian commented on #3961
It is not possible to do this. The execution environments are per model and not per model version. You need to create a separate model in order to host to different versions. I have marked this feature request as an enhancement.

[2022-02-18 21:33] CoderHam commented on #3952
@askhade can you help here? Looks to be an Onnx Runtime Backend build issue

[2022-02-18 21:35] CoderHam commented on #3936
@kismetro are you running build.py from the r22.01 branch or the main branch of the server repo?

[2022-02-18 21:43] CoderHam commented on #3929
@remib-proovstation if you see this problem with sync inference requests (please shared the repro code) it might be a bug. I can file a ticket to look into this.

It should occur for inputs as well.

* Do not use the exact same shared memory region, rather use a small section of a large shared memory region. It is the users responsibility to maintain the lifecycle of these regions and use them cor

[2022-02-18 21:48] CoderHam commented on #3927
@yaoyunda as a general thumb rule you can skip all the tests that do not use the generated models. I am closing this ticket for now since the L0_trt_dla test model will not be available publicly for now.

[2022-02-18 21:48] #3927 closed

[2022-02-18 21:52] CoderHam commented on #3926
@jayxio as I understand we do not officially support V3NP / Orin-X just yet. While I do not have a timeline for you, you can attempt to use [build.py](https://github.com/triton-inference-server/server/blob/main/build.py) and refer to the [build docs](https://github.com/triton-inference-server/server/blob/main/docs/build.md) to build on these devices. I would recommend using the no-container build

[2022-02-18 22:26] CoderHam commented on #3924
The issue was introduced by https://github.com/triton-inference-server/server/commit/fe917fa5b1d17c2bc2e36c92affd1ef254d3e2ce

We should not be copying the L0_tf_image_models for when it does not exist (It does not exist

[2022-02-19 01:22] Tabrizian commented on #3942
Closing the ticket as the question has been answered.

[2022-02-19 01:22] #3942 closed

[2022-02-19 04:35] kismetro commented on #3936
@CoderHam

I am running on brach r22.01. But same tries were done on master and r21.12 also.

Thank you!

[2022-02-19 09:29] MeghaVarshney21 commented on #3897
I am using AWS EKS. I am using GPU instance type. It has all the pre-installed binaries required for kubernetes nodes. I cannot pass the --gpu " " argument because it is a docker argument not triton argument. And when I am trying to pass --gpu argument in deploy.yaml file it is giving me an error that tritonserver has no such argument.
But without passing this --gpu argument, I am able to access t

[2022-02-20 16:30] narolski commented on #3954
@Tabrizian thank you for your response.

Firstly, I’ll try to use the fixed-size inputs for the CRAFT model to see if the memory allocations are a bit more predictable for the production environment.

Secondly, I’d be glad if you could consider adding the aforementioned ONNXRuntime configuration option to the onnxbackend.

Thirdly, do you have any best practices regarding the production configurat

[2022-02-21 02:27] llustc commented on #3953
Thanks for your reply, i will have a try.

[2022-02-21 02:27] #3953 closed

[2022-02-21 07:19] sarperkilic opened #3965 "ONNX Backend Installation Error"
**Description**

Hello,

I am trying to install ONNX backend on Jetson Nano (Jetpack 4.6).

From the following command, I download the required backend file:
`git clone https://github.com/triton-inference-server/onnxruntime_backend.git`

Then I run these:
[code]

But I have got this error:

Step 19/27 : RUN ./build.sh ${COMMON_BUILD_ARGS} --update --build --use_cuda --cuda_home "/usr/local/cuda"

[2022-02-22 00:43] kgksl commented on #3955
thanks a lot for your answers. I am using TensorRT as the backend with Triton server. I am not familiar with TensorRT core and if it uses PTX. Do you have an idea about that? thanks

[2022-02-22 05:07] HoangTienDuc opened #3967 "Error about layer datatype when load onnx model"
**Description**
Hi, I want to use deepstream triton to get inference from my onnx model. However, at this time, DS-6.0 L4T does not support INT64 datatype. So, to make my program run, i need to change the layer that has datatype INT64 to another datatype (ex: FLOAT32, FLOAT16).
After changing the layer datatype, the updated model was checked successfully. However the updated model can not be loade

[2022-02-22 13:57] stengoes commented on #3951
Thanks for your explanation @GuanLuo.

I understand that the flattened input [-1] cannot be restored to a higher dimensional ragged tensor with any of the currently available batch_input kinds. But instead of introducing a new kind of batch_input you could also consider concatenating along the first dimension. Such that two examples `[a1, b, c, d] and [a2, b, c, d]` form a batch like `[a1+a2, b, c

[2022-02-22 16:28] CoderHam commented on #3924
@yaoyunda closed with the aforementioned [fix](https://github.com/triton-inference-server/server/commit/523e20da696266e0b112b21c5a32ec9066905c90). You can cherry-pick the same onto your older branch to resolve your issue

[2022-02-22 16:28] #3924 closed

[2022-02-22 16:32] CoderHam commented on #3937
@vladimir-sverdlov you should first try to run the torchscript model outside Triton (in native PyTorch) and see if you can reproduce the error. If so, the issue may be from the way the model was traced/scripted. (Occurs outside of Triton)

Sometimes the issue occurs because the model was traced with an old version of PyTorch. I recommend you to produce the torchscript model inside the NGC 22.02 Py

[2022-02-22 16:49] narolski commented on #3954
@Tabrizian @tanmayv25, so sorry to bother you, per the previous message, do you think you'll be able to:

1. Add `arena_extend_strategy` configuration option for CPU inference with `onnxruntimebackend`?
2. Share some best practices on production configuration of Triton Inference Server running on a Kubernetes pod?

Thank you in advance 🙇

[2022-02-22 16:57] CoderHam commented on #3923
@yaoyunda have you tried to repeat the build with a non-tmp directory for `--build-dir`?

[2022-02-22 17:39] yaoyunda commented on #3923
@CoderHam , yes, I did overwrite the build directory, this part is easy to handle, the issue is also spread to other files with hard coded "/tmp" folder, as I in the above "Expected behavior": (build.py, Dockerfile.sdk, Dockerfile.QA, gen_qa_model_repository, gen_qa_custom_ops ),5 files.

[2022-02-22 17:47] yaoyunda commented on #3924
Thanks @CoderHam , question: I use git to clone the code from baranch r21.12, is the file Dockerfile.QA still the same with these 2 extra lines? basically I am using the code directly from github to build, does not fork it.

[2022-02-22 17:59] vladimir-sverdlov commented on #3937
@CoderHam thanks for your suggestions, we were able to load the torchscript model when using torch version 1.6.0
a new issue we encounter now, is that the same model(the one that was created with the 1.6.0 torch version) produces different results when ran on a cpu&gpu machines vs the triton run, we get different results with a much lower confidence.
any idea to what may be causing this?
as mentio

[2022-02-22 18:07] GuanLuo commented on #3967
Can you try to use the ONNX checker with `check_model(model, full_check=True)`? https://github.com/onnx/onnx/issues/3642

[2022-02-22 18:08] CoderHam commented on #3924
No the Dockerfile in r21,12 is not the same as main. You will need to apply the patch after cloning.

[2022-02-22 18:09] CoderHam commented on #3923
Thanks @yaoyunda. We will work on exposing a configurable directory so that you can choose to not use /tmp

[2022-02-22 18:11] CoderHam commented on #3937
@vladimir-sverdlov the issue you described appears to be inside PyTorch. The model should not have different results between CPU / GPU. You should raise an issue with [PyTorch](https://github.com/pytorch/pytorch).

Since the issue is not inside Triton, can I close this issue?

[2022-02-22 18:16] vladimir-sverdlov commented on #3937
I think I didn't phrase myself correctly.
I get the same results when I run on cpu or GPU machines. When I run on triton GPU, I get different results

[2022-02-22 18:23] CoderHam commented on #3937
Is this with the C++ API or the python API for PyTorch? If you are using the python API then I recommend using the C API so that comparison is apples to apples.

Are you running a single instance or multiple instances of the model? How different (MSE or some quantifiable error rate) is the results?

Do you see the difference even running on Triton with device as CPU ?

[2022-02-22 18:44] benbarron opened #3968 "error when trying to allocate a region of cuda shared memory"
**Description**
I am getting the following error when trying to allocate a region of cuda shared memory.
[code]

**Triton Information**
I am using triton version 2.13.0 on a jetson agx with jetpack 4.6.1

I am using the following docker image
[code]
**To Reproduce**
When I run the commands
[code]
I get the following error
[code]

[2022-02-22 19:11] CoderHam commented on #3968
@benbarron Cuda shared memory is not support on Jetson/ Jetpack.

[2022-02-22 19:11] #3968 closed

[2022-02-22 19:26] GuanLuo commented on #3951
I think your idea on using the existing batch input type will work with your specific use case, as I mentioned earlier, there is only 1 dynamic dimension in your case, so your model should be able to compute the value of that dimension even with the existing batch input type. But I would disagree that "batch_input becomes a tensor with values `[a1, a1+a2]` in case of `BATCH_ACCUMULATED_ELEMENT_COU

[2022-02-22 22:39] jbkyang-nvi commented on #3960
Hi @narolski we are still discussing this internally. Timeline TBD.

[2022-02-23 01:47] HoangTienDuc commented on #3967
Thank for the useful information

[2022-02-23 02:08] jbkyang-nvi commented on #3897
Can you try running triton with `--allow-gpu-metrics=false` and have standalone DCGM and see if that works?

[2022-02-23 02:30] austingg commented on #3902
@sbmalik copy your plugins into docker images， and setting env LD_PRELOAD=/path/to/plugins in the `docker-compose.yaml`

[2022-02-23 03:58] Slyne commented on #3777
@tanmayv25 Are you running in a docker environment ? One of our colleague also found this issue and he didn't use kaldifeat. He only imports pytorch and tensorrt in python backend.

[2022-02-23 04:14] tanmayv25 commented on #3777
Yes. I am compiling and running the reproducer in docker container.

[2022-02-23 06:29] shimoshida opened #3970 "Cannot get CUDA device count, GPU metrics will not be available on multi-gpus"
**Description**
I want to deploy Triton server via Azure Kubernetes Service.
My target node is `ND96asr v4` which is equipped with 8 A100 GPU.
When running Triton server **without** loading any models, the following sentences are displayed.

[code]
(※ /workspace is empty dir)
Among them,

is trouble with loading model.
I assume that the problem is caused by docker image because at startup
[code]

[2022-02-23 07:25] zzk0 opened #3971 "Auto generated model configuration for custom backend"
From [this document](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#auto-generated-model-configuration) we can learn that some models do not require to provide a model configuration file. Is it possible for a custom backend?

[2022-02-23 07:58] SaratM34 opened #3972 "Way to capture headers in model.py when using python backend"
**Description**
Hi,

I am using HTTP/REST protocol to call the Triton directly for inferencing. I have a requirement where I need to capture a specific header from the request in the model.py when using python backend. Just wanted to check if there is a way to capture the header information in the model.py.

**Triton Information**
r21.09
Are you using the Triton container or did you build it yours

[2022-02-23 08:34] sarperkilic commented on #3965
Hello @GuanLuo , @CoderHam

I couldn't solve the problem by doing what you said. I am sharing what I did step by step below.

- I download the tar file to install Triton on Jetson Nano. (https://github.com/triton-inference-server/server/releases/tag/v2.17.0)
- Extract the tar file
- Under the backends folder of extracted Triton Server file, I download the onnx_runtimebackend folder from Triton's g

[2022-02-23 10:05] stengoes commented on #3951
I understand and I solved it for my situation by changing the model like you said.

But in the second part of my post, I was suggesting a way to change the current behaviour of ragged batching to support ragged batching of higher dimensional tensors without needing to introduce a new kind of batch input.

[2022-02-23 12:04] aecof-pro-ator commented on #2907
Hi, I have the same problem here.

Although this is a PyTorch issue, is there a workaround? Like maybe trace the model several times for each GPU and use instance group to have each model run on the right gpu?

Has anyone tried this kind of things ?

[2022-02-23 14:34] Tabrizian commented on #3972
Currently, there is no way to access the HTTP request headers in Python backend.

[2022-02-23 16:31] v1nc3nt27 commented on #3781
I've got the same issue, same container version, custom model. Http is working fine. Did you find any solution?

[2022-02-23 17:35] GuanLuo commented on #3965
Have you placed your built `libtriton_onnxruntime.so` file to one of the locations mentioned in the error message? i.e. `triton_model_repository/segmentation_model/1, triton_model_repository/segmentation_model, /backends/onnxruntime`

[2022-02-23 19:07] chajath opened #3973 "Update python preprocessor example to showcase batch processing"
**Description**
In the existing preprocessing example https://github.com/triton-inference-server/python_backend/blob/main/examples/preprocessing/model.py

It seems to imply that each requests has single row of data. If I follow the pattern, it erroneously produce only one row of inference out of the whole batch.

**Triton Information**
What version of Triton are you using? Tested with both 21.12 a

[2022-02-23 19:19] #3962 closed

[2022-02-23 19:31] fire opened #3976 "Edge compute using Transform4rec models with ONNX runtime"
**Is your feature request related to a problem? Please describe.**

I want to execute transform4rec models on edge compute to solve recommendation problems.

**Describe the solution you'd like**

On the edge compute, execute onnx model using onnxruntime with gpu acceleration and with a cpu fallback.

I am looking for a quick start example that takes tabular data, executes the model and gets a resu

[2022-02-23 20:11] dyastremsky commented on #3971
Sure. A good starting point would be referencing how other backends do it, such as ONNX: https://github.com/triton-inference-server/onnxruntime_backend/blob/main/src/onnxruntime.cc#L119-L134

[2022-02-23 21:28] sarperkilic commented on #3965
Hello,

Yes, libtriton_onnxruntime.so file is already placed in backends directory. I attached the images below

![image](https://user-images.githubusercontent.com/81593133/155411335-cfd7f41a-68f4-440c-9f0d-e4680efc9957.png)
![image (1)](https://user-images.githubusercontent.com/81593133/155411345-cdce8243-2c5d-4ed8-948a-1240d21b6767.png)

What is the correct and realiable way to install and use O

[2022-02-23 22:11] GuanLuo commented on #3965
Are you running Triton inside a docker container? If so, what is the docker run command that you use? If not, then you are not setting the backend path correctly, the option you used is ` --backend-directory=/backends` which points to backends under the root directory, which is different from the location that your screenshot shows

[2022-02-23 22:24] GuanLuo commented on #3971
Another reference is the API itself https://github.com/triton-inference-server/core/blob/main/include/triton/core/tritonbackend.h#L916-L946

[2022-02-23 23:34] Tabrizian commented on #3954
Sorry for the delay in getting back to you.

This enhancement makes sense to me. I have filed a ticket for it.

There are some examples in the https://github.com/triton-inference-server/server/tree/main/deploy you can check them out.

[2022-02-24 02:27] sbmalik commented on #3902
@austingg yes this is a good approach, but I am downloading my plugins from AWS, during the building of the docker container. The RUN command is not able to set a variable permanently and we can't use the ENV with command to set the plugins afterwards

[2022-02-24 02:41] BorisPolonsky commented on #3781
From my understanding the server process did not went down in your case. Although your case is not quite the same as mine and those reported by other developers in the posts above. I'm glad that you got your problem solved:)

[2022-02-24 02:48] CoderHam commented on #3902
Is mounting a directory that contains the plugin while launching your container not an option?

[2022-02-24 02:51] sbmalik commented on #3902
@CoderHam No, because as you know the Triton Inference Server provides a functionality of setting the model repository an **AWS S3 bucket** so I am loading, unloading all models from there. For these models, plugins are stored on the S3 bucket too. So, while building the container I'm syncing the directory for plugins from S3

[2022-02-24 02:52] kimdwkimdw opened #3978 "Triton cannot inference `tf.math.l2_normalize` correctly from ngc 21.06 ~ ngc 22.03 ( triton 2.20.0)"
**Description**

I've converted layers from tensorflow to TensorRT.
This model's result is valid until ngc 21.05.
From 21.06 to 22.01, TensorRT models containing layers converted from `tf.math.l2_normalize` cause wrong result in Triton inference server.

Expected values are in range between 0.0~1.0, but it generates wrong values from `1e+2` to `1e+5` like exploding.

I've get correct result withou

[2022-02-24 06:01] litianjian opened #3979 "Support for OpenPPL Backend"
OpenPPL is a high-performance deep-learning inference engine, which supports CUDA、X86、ARM platforms.  https://github.com/openppl-public/ppl.nn

NVIDIA Triton™ Inference Server delivers fast and scalable AI in production. I have extended the triton-server and added openppl-backend to enable triton-server support OpenPPL.
https://github.com/litianjian/server
https://github.com/litianjian/Triton_Open

[2022-02-24 07:16] zhyj3038 commented on #3678
just enlarge the Memory of container in Kubernetes  will solve it

[2022-02-24 09:12] zzk0 commented on #3971
Thank you for your prompt response!

It seems that autofill for custom backends only works in newer versions of triton and not in older versions such as [r21.10](https://github.com/triton-inference-server/server/blob/r21.10/src/core/autofill.cc)

[2022-02-24 09:58] Tamannaverma1912 commented on #3731
@BenHamm Were you able to solve this, I am stuck here too.

[2022-02-24 11:15] Tamannaverma1912 opened #3980 "CPU-only mode unable to load Models got CUDA error"
**Problem Description**
I was trying to follow the official example starting the server on a cpu-only device by calling the command:

docker run --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/Users/tamannaverma/triton-inference-server/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:22.01-py3 tritonserver --model-repository=/models

Here is the logs:

[code]

**Triton Information**

[2022-02-24 12:05] zzk0 commented on #3971
@dyastremsky @GuanLuo  I found the following code snippet, which seems to imply that if the model file is not one of these, it will not be recognized. 🤔

https://github.com/triton-inference-server/server/blob/main/src/core/model_config_utils.cc#L646-L658

[2022-02-24 16:09] CoderHam commented on #3980
@Tamannaverma1912 you must use the docker --gpus=all flag when launching the Triton container to ensure the docker has access to the GPU.

[2022-02-24 16:37] #3029 closed

[2022-02-24 16:38] CoderHam commented on #3287
@CPFelix closing due to inactivity. Will re-open if needed.

[2022-02-24 16:38] #3287 closed

[2022-02-24 18:00] dyastremsky commented on #3971
This code snippet is unrelated. It has to do with auto-completing the backend and default model filename fields based on the platform. That's done for backward compatibility. You'll need to specify the backend in the model config: https://github.com/triton-inference-server/backend/blob/main/README.md#backends

[2022-02-24 18:05] dyastremsky commented on #3971
I don't understand the relevance of the link. Could you link the specific lines you're looking at?

I'm not sure which version autocomplete was added in. If you're using an older version of Triton, I can look into that. I see the auto-complete API code that Guan linked still present in 21.10 here: https://github.com/triton-inference-server/core/blob/r21.10/include/triton/core/tritonbackend.h#L808-

[2022-02-24 21:15] cnegron-nv commented on #3738
@Raz-Hemo Could you collect and provide the nv bug report as described here - https://forums.developer.nvidia.com/t/if-you-have-a-problem-please-read-this-first/27131 Thank you

[2022-02-24 21:25] jbkyang-nvi commented on #3980
Hi @Tamannaverma1912 as noted in the instructions [here](https://github.com/triton-inference-server/server/blob/0079dbb2fe3366f2de2f4540e1b97153a5c606a8/docs/quickstart.md#run-on-cpu-only-system) Triton is unable to load any model configuration that requires a GPU.

Additionally, the instructions are a bit outdated since triton-inference-server/docs/examples/model_repository does not work as is. Y

[2022-02-24 22:58] GuanLuo commented on #3967
Closing as the issue is likely due to the model modification, please re-open the issue with updated repro steps if the modified model can be run without Triton but not within Triton.

[2022-02-24 22:58] #3967 closed

[2022-02-24 23:19] GuanLuo commented on #3951
I agree that your suggestion can solve this particular higher dimensional tensor scenario with existing ragged batch expressiveness, but as you mentioned this is not the generic solution as it can't describe tensors with multiple variable dimensions properly. And since there is already the plan for adding the new kind of batch input, I would incline to keep the existing behavior and let the new ba

[2022-02-25 01:41] s-rog commented on #3678
@Tabrizian we managed to get the model working in torchscript (torch backend) and no longer experience this issue

[2022-02-25 04:19] SimonLliu commented on #3952
Maybe this problem has been solved. Because building onnxruntime backend is different with building pytorch backend. It will compile onnx when building and in this progress, onnx framework will check and test the GPU situation. If we do not have GPUs, this progress will fail but pytorch will success.

[2022-02-25 04:50] askhade commented on #3952
@SimonLliu : Do you want to build cuda, tensorrt and openvino providers? If not can you remove "-enable-gpu" and try building again? Just looking at the logs I dont understand what the problem might be...

Can you explain why you are building from source?

[2022-02-25 04:53] askhade commented on #3979
@deadeyegoodwin , @tanmayv25 FYI

[2022-02-25 05:37] SimonLliu commented on #3952
Thanks for your help!
The reason why we are building from source is that we want to build triton image with different backends. And we have solved the building problem

[2022-02-25 05:40] #3955 closed

[2022-02-25 06:36] Shreypandey opened #3984 "Batching support by stacking input arrays by python backend"
*Is your feature request related to a problem? Please describe.*
Triton python backend should provide dynamic batching just like other backends supported by triton. For eg.
For the model config mentioned below
[code]
Inputs for pytorch/tensorflow/ONNX backends will be of shape `[k, 81]` where `k` is batch size calculated by triton dynamic batching.
Whereas Inputs for python backend is a python `li

[2022-02-25 07:03] lhy2749 opened #3985 "How to download dependency in advance?"
**Description**
Now I have an embarrassing problem. There is something wrong with my network agent, which always reports git errors when compiling in the container, like
[code]
I want to know if I can  download the dependencies on GitHub into my container before use `python build.py`, so that I don't need to download them from GitHub for cmake?

**Triton Information**
What version of Triton are yo

[2022-02-25 07:58] zzk0 commented on #3971
I will try to describe the scenario more clearly first. **There is a model directory, but no model configuration file, that is config.pbtxt.** Can autofill works for custom backends in such a scenario?

For triton r21.10, autofill only works for specific backends such as TensorFlow, PyTorch, ONNX. For example, we can start tritonserver with the following command, tritonserver will autofill the mis

[2022-02-25 09:23] narolski commented on #3960
@jbkyang-nvi thank you! I've managed to build the CPU-only image with `onnxruntimebackend` entirely in Docker (without relying on other Dockerfiles to copy data), so if there's any way I can help or contribute, please do let me know! 😃

[2022-02-25 10:55] remib-proovstation opened #3986 "Set_shared_memory of the class InferInput in python client doesn't support offset !=0"
**Description**
When using the function `set_shared_memory` of the class `InferInput` of the python http and grpc client with option `offset`,
`KeyError: 'shared_memory_offset'` is raised

**Triton Information**
I'm using the last client version (from `pip install tritonclient[all]`)

Are you using the Triton container or did you build it yourself?
I'm using the triton container, but this issue is

[2022-02-25 11:58] statfs commented on #2076
Any progress now?

[2022-02-25 14:21] Tabrizian commented on #3286
@TsykunovDmitriy There is not any update on this. But we have ticket for this feature request.

[2022-02-25 14:24] Tabrizian commented on #3984
We already have a ticket filed for this enhancement. https://github.com/triton-inference-server/server/issues/3286

[2022-02-25 16:39] remib-proovstation opened #3987 "Python client shm functions set_shared_memory_region and get_contents_as_numpy should support offset !=0"
**Is your feature request related to a problem? Please describe.**
As it was recommended to me in another issue (https://github.com/triton-inference-server/server/issues/3929#issuecomment-1045223192), I'm trying to use a large shm region for all the batches of my inference, for input and outputs.
But since the functions set_shared_memory_region and get_contents_as_numpy don't support offset, I can

[2022-02-25 18:57] dyastremsky commented on #3971
Thanks for providing additional information!

@tanmayv25, do you know if there is a way for custom backends to specify the model name for autofill (when there is no config file at all) or would this be an enhancement?

[2022-02-25 19:39] GuanLuo commented on #2076
@statfs Are you still seeing the issue after 20.11 release? Please create a separate GitHub issue with minimal repo if that is the case

[2022-02-25 19:49] GuanLuo commented on #3971
No, at the minimal there must be a `config.pbtxt` file that has `backend` field specified, otherwise Triton will not know what backend library it should interact with, not to mention the autofill is now part of the backend functionality. And your suggestion for `TRITONBACKEND_RegisterModelFileName()` will have the same issue, Triton needs to know which backend library to be loaded before calling `

[2022-02-26 14:41] SimZhou commented on #3960
Hey, can I ask how's the size of your CPU-only image?

[2022-02-27 05:38] luvwinnie commented on #3942
@Tabrizian Thank you for answering! Just want to clarify the step 3 which is the remains memory after loaded models, this value "m" does it have any units for it for example GB/MB and etc?

[2022-02-27 14:46] vladimir-sverdlov commented on #3937
hey @CoderHam. thanks for being responsive and very helpful.
closing this issue as we were able to resolve it, it came down to the model being scripted which gave us inconsistent results.

[2022-02-27 14:46] #3937 closed

[2022-02-28 01:49] #3971 closed

[2022-02-28 06:19] stengoes commented on #3951
Ok thanks for sharing your insights and  plans for the future support of ragged batching of higher dimensional tensors.

I will close this issue now.

[2022-02-28 06:19] #3951 closed

[2022-02-28 08:50] llustc opened #3989 "Deploying my own crnn model using triton, the output has the wrong shape"
### triton version
- 21.09

### config.pbtxt
name: "crnn"
platform: "pytorch_libtorch"
backend: "pytorch",
max_batch_size: 16
input [
  {
    name: "input__0"
    data_type: TYPE_FP32
    format: FORMAT_NCHW
    dims: [ 1, 32, 320 ]
  }
]

output [
  {
    name: "output__0"
    data_type: TYPE_FP32
    dims: [81, -1,  7219]
  }
]

model_warmup: [
  {
    name: "random_input__0",
    batch_size: 1,

[2022-02-28 13:05] remib-proovstation commented on #3987
I've proposed the changes in this PR
https://github.com/triton-inference-server/client/pull/74

[2022-02-28 13:05] remib-proovstation commented on #3986
I've proposed changes in this PR
https://github.com/triton-inference-server/client/pull/74

[2022-02-28 13:13] swapkh91 commented on #3678
@s-rog can you please share how you did it?
Which triton release?
I guess yours is also a detectron model

[2022-02-28 15:07] cyLi-Tiger opened #3990 "Ask about the meaning of output."
I only have a simple question, I ran the image classification client example, I wonder what does the numbers in the red block mean? Are they inference time? If not, how can I know how much time does a inference take?

I want to know the above question because I wan't to test whether my model can be inference faster after depression.
Looking forward to your reply! Thanks!
![image](https://user-imag

[2022-02-28 15:23] cyLi-Tiger commented on #3990
In the mean time, what framework do you suggest to make this inference result better, for example, can we use nginx?

[2022-02-28 16:34] #3877 closed

[2022-02-28 16:34] dyastremsky commented on #3913
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-28 16:34] #3913 closed

[2022-02-28 16:35] dyastremsky commented on #3817
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-28 16:35] #3817 closed

[2022-02-28 16:36] dyastremsky commented on #3916
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-28 16:36] #3916 closed, assigned to nobody

[2022-02-28 16:37] dyastremsky commented on #3884
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-02-28 16:37] #3884 closed

[2022-02-28 18:18] zeruniverse opened #3992 "Python backend BLS unable to handle response from GPU model"
**Description**

I have model A and model B, both in GPU. I wrote a BLS like this:

[code]

The failure is from this line https://github.com/triton-inference-server/python_backend/blob/56727b5b78d5d04720eac718c5f3ef1b9d591a94/src/pb_tensor.cc#L501

I think `AsNumpy` should be implemented no matter if the tensor is in CPU or GPU, otherwise, many BLS with multiple models (and conditions handling in

[2022-02-28 18:19] tanmayv25 commented on #3979
In order to add official support for your backend, we must also add testing. At minimum, L0_infer and L0_batcher should run with this backend.

[2022-02-28 18:25] tanmayv25 commented on #3979
See this document for adding the tests for your backend: https://github.com/triton-inference-server/server/blob/main/docs/test.md

[2022-02-28 18:48] GuanLuo commented on #3990
That is the probability of the result to be in the category, so there is ~75% confidence that the item is coffee mug. Please checkout [perf analyzer](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md) for performance profiling.

[2022-02-28 18:48] #3990 closed

[2022-02-28 18:51] GuanLuo commented on #3989
What is the client you used to send the inference request, it seems like the client is sending batch-1 request and thus the output will also be batch-1

[2022-02-28 18:55] Tabrizian commented on #3973
@chajath Can you elaborate the issue? The preprocess model assumes that the request has a single row and then reshapes it so that it is according to the format that the TRT model expects.

[2022-02-28 19:07] zeruniverse commented on #3992
I understand dl_pack can do such conversion. But with pytorch, every python stub will take ~2G GPU memory even I just convert one array. This greatly limits how many BLS I can wrote.

[2022-02-28 19:22] CoderHam commented on #3948
@HarHarLinks are you facing this issue when you are building on your machine directly instead of inside a docker using the Dockerfile.sdk?

[2022-02-28 19:43] HarHarLinks commented on #3948
Yes, I am building the client library outside the container to integrate it with an existing application.

I am working on a High-Performance Computing Cluster which runs on Centos 7 as described; thus I have no root access (nor `apt`) to install dependencies system-wide. I assume libcurl is preinstalled by the distro or my admins due to being a common dependency.

Your make system does try to shi

[2022-02-28 19:44] chajath commented on #3973
So, in the model repository https://github.com/triton-inference-server/python_backend/blob/main/examples/preprocessing/model.py I see the max batch size is up to be 256. That seems to suggest that the model is handling batching. However in the code example it just calls img.tobytes (https://github.com/triton-inference-server/python_backend/blob/main/examples/preprocessing/model.py#L125) which seem

[2022-02-28 20:57] dyastremsky commented on #3986
Thank you for submitting a PR.

[2022-02-28 20:57] dyastremsky commented on #3987
Thank you for submitting the PR.

[2022-02-28 21:00] dyastremsky commented on #3992
Thanks for submitting this request and providing additional details!

@Tabrizian Is there a better way to do this? Or would an enhancement be worth filing?

[2022-02-28 21:13] dyastremsky commented on #3970
Thank you for your detailed ticket. Unfortunately, this is a known issue. See https://github.com/triton-inference-server/server/releases/tag/v2.19.0

"Triton cannot retrieve GPU metrics with MIG-enabled GPU devices (A100 and A30)."

It's in our queue.

(Tagging @msalehiNV for visibility.)

[2022-02-28 21:15] CoderHam commented on #3948
@HarHarLinks can you try building with this change: https://github.com/triton-inference-server/client/pull/75
It should skip the system paths and use the third-party curl path for the Triton client build

[2022-02-28 22:14] dyastremsky commented on #3985
You could probably clone the repos locally, mount them via a volume, then update the build.py script for your case. If cloning works locally, perhaps try something like --net=host on the container to see if that resolves your network issues.

[2022-02-28 22:17] dyastremsky commented on #3978
Thank you for bringing this to our attention. We've filed a ticket to investigate.

[2022-02-28 22:59] CoderHam commented on #3985
In addition to the steps @dyastremsky mentioned, you will also need to modify the FetchContent defined in the cmakelists.txt to point to local copies of the repos instead of git. This would be a non-trivial amount of changes.

[2022-02-28 23:24] cnegron-nv commented on #3978
@kimdwkimdw This does appear to be a TRT related issue, have you by chance asked a this question from the TRT team? https://github.com/NVIDIA/TensorRT/issues

[2022-03-01 01:19] piekey1994 commented on #3671
@fifofonix We use grpc synchronized + loop.run_in_executor or await stub.ModelInfer(request) mentioned above, there will be memory leaks. However, this problem does not occur when using loop.run_in_executor + httpclient.

[2022-03-01 01:52] luvwinnie commented on #3512
I'm facing the same errors which work well on the half and suddenly the triton inference server received SIGNAL 11, @GuoGuiRong did you solved the problem?

[2022-03-01 01:55] cyLi-Tiger opened #3994 "How to get the time each inference cost?"
I wonder how can I know the time each inference cost, for example, how can I get the inference time in the image classification client example that you provide?
![image](https://user-images.githubusercontent.com/37681002/156089868-18e8b4e0-3ef0-4d60-97d8-5caa5a5d6595.png)

[2022-03-01 02:30] xxxpsyduck commented on #2024
@stella-ds Can you share the way to get input and output layer names and shapes?

[2022-03-01 02:57] luvwinnie commented on #3916
Currently I'm facing the Server crash problem too. @dyastremsky How can I know or debug what is the problem with this?

[code]

[2022-03-01 03:40] llustc commented on #3989
My batch is placed in the second dimension. When batch=1, the normal output is (81, 1, 7219). If batch=n, the output should be (81, n, 7219), but the output of triton is (1, n, 7219)

[2022-03-01 05:13] shimoshida commented on #3970
@dyastremsky Thank you for your reply.
I'm sorry for overlooking the known issues and will wait for the modification!

[2022-03-01 07:00] s-rog commented on #3678
I was not the one on my team who implemented it but I think [this comment in #2024](https://github.com/triton-inference-server/server/issues/2024#issuecomment-974058244) is the solution. We had it working on 21.09

[2022-03-01 07:51] mattdibi opened #3996 "Tensorflow2 backend UNAVAILABLE: Not found: unable to load shared library: libnccl.so.2"
**Description**
After a custom CPU-only ARM64 Docker build I cannot run a Tensorflow model because:

[code]

Complete log: [log.txt](https://github.com/triton-inference-server/server/files/8159729/log.txt)

**Triton Information**
_What version of Triton are you using?_ **r22.02**

_Are you using the Triton container or did you build it yourself?_ **I'm building a Triton container**

**To Reproduce

[2022-03-01 08:15] TannedCung opened #3997 "Memory not released"
**Description**
i do a stress inference into tritonserver. When i increase the load rate, tritonserver increases the memory consumed as well (to a certain level if i stop rising load rate). However, after i stop sending requests to triton, the memory is not released. With the small rate of request this doesn't happen.

**Triton Information**
Image: `nvcr.io/nvidia/tritonserver:22.01-py3` and `nvcr

[2022-03-01 08:45] shoval-a commented on #3847
@Tabrizian it seems that the issue with `libpython3.7m.so.1.0` not found - has been solved.
All you need to do is to run `export LD_LIBRARY_PATH=/path/to/libpython/directory` in the container.

[2022-03-01 13:49] Tabrizian commented on #3847
@bro-adm / @shoval-a Sorry for delayed response.

It is not about the TF backend but just an example of using a certain version of TF with different Python versions. Some TF versions are not compatible with some Python versions. You could have multiple global Python versions but I have not tried it.

With the global python interpreter you don't need to have the EXECUTION_ENV_PATH.

cc @GuanLuo to

[2022-03-01 13:51] Tabrizian commented on #3678
@s-rog / @swapkh91 if you could share you're still facing the same issue in 22.01 with Python backend please share your model so that we can fix this. Thank you.

[2022-03-01 13:54] Tabrizian commented on #3992
Thanks for your feature request @zeruniverse. We do have a feature request in the backlog for converting GPU tensors to CPU without any third-party library.

You could use any other library that supports DLPack to use the GPU tensors. CuPy also supports DLPack and does not have the memory usage issue:

https://docs.cupy.dev/en/stable/reference/generated/cupy.fromDlpack.html

[2022-03-01 13:54] Tabrizian commented on #3942
It can be in either MB/Bytes you just need to be consistent and use the same unit for all the steps.

[2022-03-01 17:56] dyastremsky commented on #3994
You can use Triton's [Model Analyzer](https://github.com/triton-inference-server/model_analyzer) if you're trying to profile the models.

If you're looking to do it for individual requests, you'll need to do it on the client side. The [GRPC client](https://github.com/triton-inference-server/client/blob/main/src/python/library/tritonclient/grpc/__init__.py#L685) and [HTTP client](https://github.com

[2022-03-01 17:56] #3994 closed

[2022-03-01 18:19] gnovack opened #3998 "Question: Is it possible to access request body 'parameters' in the python backend?"
**Description**
The KServe API specification mentions that the Inference API should accept a _parameters_ field which contains zero or more name-value pairs: https://github.com/kserve/kserve/blob/master/docs/predict-api/v2/required_api.md#parameters

I was curious if it is possible to access these parameters in the python backed, or do all client inputs to the python backend have to be passed as i

[2022-03-01 18:55] dyastremsky commented on #3998
@Tabrizian Do you know if the Python backend can take parameters or only tensors?

[2022-03-01 19:13] dyastremsky commented on #3916
@luvwinnie Thank you for reaching out. That seems to be unrelated. Please open a new issue with your bug report and reproducible steps, and we will assist.

[2022-03-01 19:17] GuanLuo commented on #3989
So for your model, the input batch dimension is the first dimension while the output batch dimension is the second dimension? Triton's dynamic batching assumes the batch dimension is always the first dimension and it will not work properly in this case. Since 81 is at the first dimension of the output, I suspect Triton treats that as batch dimension and scatter 1 in the 81 for the response as the

[2022-03-01 19:20] Tabrizian commented on #3998
It can only take tensors in the execute function. This will be a separate feature request. cc @msalehiNV

[2022-03-01 20:01] #3996 closed

[2022-03-01 20:02] dyastremsky commented on #3998
Thanks for clarifying, Iman! I created an enhancement ticket to track this issue.

[2022-03-01 20:54] CoderHam commented on #3948
@HarHarLinks did you try to use the patch to fix your issue?

[2022-03-02 00:30] CoderHam commented on #3989
@GuanLuo yes the check for the output shape was omitted for performance reasons. We can add strict checking for the output shapes based on model config.

Keep in mind we do not have this output validation post inference for any of the backends during inference. The reason we do not have this during model loading (like the other backends) is because pytorch does not store sufficient metadata about

[2022-03-02 01:45] YanLu-nyu opened #4001 "Is there existing a way to reschedule requests in concurrent model execution?"
**Description**
When req-1, req-2 and req-3 arrive at the same time, which call model-1, model-2 and model-3 respectively, can I sort the execution order to req-1 & req-2 (concurrent) -> req-3 via model configuration?

[2022-03-02 01:50] cyLi-Tiger commented on #3994
much thanks

[2022-03-02 06:40] lhy2749 commented on #3985
I found that the changes were really big, so I decided to wait for the cpu-only version.

[2022-03-02 06:40] #3985 closed

[2022-03-02 14:49] alexraymond opened #4002 "(triton-third-party) Azure-storage-cpplite dependency will not build with tag 0.3.0"
**Description**
When building Triton (client) from source with Clang 11, the build will fail at the triton-third-party step because of an issue with azure-storage-cpplite.

`azure-storage-cpplite/src/azure-storage-cpplite/src/base64.cpp:108:28: error: no member named 'runtime_error' in namespace 'std'`

This is caused by a missing `#include <stdexcept>` in their repository. It has been fixed in [t

[2022-03-02 16:18] alexraymond opened #4003 "Revise build environment and release Debian package to improve integration with existing systems"
This has been previously raised by other users as in #2209, but I will go into more detail. Also partly covered by #3141 and other issues defined therein.

**Is your feature request related to a problem? Please describe.**
Integrating the C++ client library into existing products in a professional build environment can be extremely difficult. Here are the main issues we are having with the current

[2022-03-02 16:52] fabiofumarola commented on #3980
Hi, I have the same error. How to replicate the scenario.

1. run the docker container of triton `nvcr.io/nvidia/tritonserver:22.01-py3` on mac M1
2. try to load a model with onnx format on CPU

[code]
4. then I get this error

[code]

[2022-03-02 16:53] deadeyegoodwin commented on #4001
The dynamic batcher priority levels only prioritizes requests going to the corresponding model. So you can have high priority and low priority requests to the same model. If you want to control priorities across models then you need to look at the rate limiter: https://github.com/triton-inference-server/server/blob/main/docs/rate_limiter.md

[2022-03-02 16:56] fabiofumarola commented on #3980
but I think the problem is on the architecture used when building the image

[2022-03-02 18:23] dyastremsky commented on #3996
Sure, thanks for pointing out the NCCL issue. It's been fixed for the main branch and next release.

That's correct. You should also be able to directly move the .so file produced into the server container (I believe /opt/tritonserver/backends/<backend_name>).

[2022-03-02 19:32] jbkyang-nvi commented on #3980
Hi @fabiofumarola can you share the model you are using? So I can try to repro.

[2022-03-02 21:34] CoderHam commented on #3948
Closed with the aforementioned [PR](https://github.com/triton-inference-server/client/pull/75)

[2022-03-02 21:34] #3948 closed

[2022-03-02 22:10] HarHarLinks commented on #3948
Tomorrow is the earliest I can try this.

[2022-03-02 23:40] dyastremsky commented on #4002
We will investigate. Can you please provide reproduction instructions, error output, and logs? We regularly build from source in our CI runs, so it may be a version mismatch on a library or driver.

[2022-03-03 01:57] Jaeker0512 opened #4007 "quantized model inference slow with Triton server than inference directly in python code"
**Description**
I have quantized my custom classification model base on `Roberta-base-12layers` and finally get the following Latency measures from different backend, the results looks good:
[code]

but after I deployed the `ONNX FP16 model` and `TesorRT model (both FP16 and INT-8 )` with Triton Server and then do stress test with `Jmeter` , the result showed that TensorRT INT-8 model is not faste

[2022-03-03 03:14] XZHUNZHUN opened #4008 "Signal 11 received and server down when inferring bert model"
### **Description**
I am testing out our BERT model but met some issues when sending requests to tritonserver. The model can be successfully loaded. And I tried using warmup but still not useful.
[code]

### **Triton Information**
**What version of Triton are you using?**
   tritonserver 21.10-py3, but I also tried 21.04, 20.08, and the above issues still occur.
**Are you using the Triton containe

[2022-03-03 05:35] zeruniverse opened #4009 "Expose ONNXRuntime memory arena shrinkage option as configurable parameter."
**Is your feature request related to a problem? Please describe.**
Due to ONNXRuntime memory arena, if a model is inferenced with a large batch size, the model will take huge amount of GRAM forever, which prevents other models from running.

**Describe the solution you'd like**
ONNXRuntime has a run config option "memory.enable_memory_arena_shrinkage" to address this issue. With it enabled, memory

[2022-03-03 08:31] jackzhou121 opened #4010 "triton server failed exited with coredump"
**Description**
triton server exited with core dump

**Triton Information**
triton version:2.12

Are you using the Triton container or did you build it yourself?
container:  nvcr.io/nvidia/tritonserver:21.07-py3
HARDWARE: A30,  NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4

**To Reproduce**
Steps to reproduce the behavior.
here is the code:

#3808
#include <chrono>
#inclu

[2022-03-03 08:35] jackzhou121 commented on #4010
the format was stronger

[2022-03-03 08:36] jackzhou121 commented on #4010
I put the code here

`#include <string>

#include <chrono>
#include <cstring>
#include <future>
#include <iostream>
#include <string>
#include <sstream>
#include <thread>
#include <unordered_map>
#include <vector>
#include <exception>
#include <stdexcept>
#include <torch/torch.h>

#include "triton/core/tritonserver.h"
#include "common/common.h"

#define TRITON_ENABLE_GPU 1

#ifdef TRITON_ENABLE_GP

[2022-03-03 09:38] swapkh91 commented on #3678
@Tabrizian getting same error in 22.01 when using python backend. The details to replicate are in the email I sent earlier, change the triton version when creating custom triton image

[code]

![Screenshot from 2022-03-03 14-50-10](https://user-images.githubusercontent.com/5755405/156534911-0d833ab1-e8e8-4456-8655-359c0641caad.png)

Node config
![Screenshot from 2022-03-03 14-53-39](https://user-i

[2022-03-03 11:20] HarHarLinks commented on #3948
appears to be working now.

[2022-03-03 11:52] zeruniverse opened #4011 "YOLOv5x ONNXRuntime with OpenVINO EP failed - need to upgrade OpenVINO EP"
**Description**

A YOLOv5x onnx model will fail during inference execution (loading is fine) when "openVINO" is chosen as cpu execution accelerator. The failing message is

[code]

This bug is gone if I recompile the ONNXRuntime backend with a newer OpenVINO EP. See details below

**Triton Information**
What version of Triton are you using?

22.02 official docker

**Debug**

I noticed the ONNXRunt

[2022-03-03 12:50] zeruniverse commented on #3992
Thanks for your reply. I tried CuPy, unfortunately, it only takes less GRAM but won't give back GRAM either. My business logic can only process one image at a time but some of my model can take dynamic batch. Therefore, I have to set instance group count of this BLS to a pretty big value to make sure I fully utilized my model. Each python stub taking 279Mi is still too much.

![Uploading a.jpg…]()

[2022-03-03 15:07] kimdwkimdw commented on #3978
I've already checked with TensorRT. https://github.com/NVIDIA/TensorRT/issues/1707

But it is appeared in only in Triton inference server.

[2022-03-04 09:26] luckymingjia opened #4013 "run c++ example code on win10"
Hi,when I run my code on win10 with the triton client c++ lib got form https://github.com/triton-inference-server/server/releases/download/v2.19.0/tritonserver2.19.0-sdk-win.zip here,it report errors !

When I run the c++ example with grpcclient.lib grpc_client.h grpcclient.dll on win10 system, it shows:
    1. it can not find libcrypto-1_1-x64.dll;
    2. it can not find libssl-1-1-x64.dll.

so i

[2022-03-04 10:14] remib-proovstation commented on #3929
Using a shared memory region of size number_of_batch_in_dataloader * size_of_batch, and navigating in this shm region with offset works well (but need the PR mentionned above to be merged).

Alternatively, using a specific shm region of the size of a batch for each batch works well. I keep the handles in a dictionary along with the bacth id. I didn't see any overhead from the creation and registra

[2022-03-04 10:14] #3929 closed

[2022-03-04 14:31] arnab-winimy opened #4014 "[Question] - Is it possible to cache inferences for TTS"
Currently we are trying to use Triton to infer Phrases to produce audio files. Is it possible to cache the response/result of same phrase at the Triton server level? If not are there any recommended way to do this type of caching.

[2022-03-04 21:51] narolski commented on #3960
@SimZhou the resulting Docker image (Triton binaries + OS dependencies) weights ~300 MB.

[2022-03-05 13:15] sourabh-burnwal opened #4015 "How to use Triton Inference Server with Docker Swarm"
Has anyone here tried to create a docker swarm of triton inference servers?
I have a use case, where I want to use a lightweight container orchestration tool. I tried to use docker swarm since it has load-balancing, fault-tolerance, rolling updates, and other features. I followed answers on StackOverflow on how to use GPU in docker swarm. Referring to that, my `/etc/docker/daemon.json` looks like

[2022-03-06 11:50] xioaxin opened #4016 "Segmentation fault (core dumped)"
**Description**
 When I run the demo  "model-analyzer profile --model-repository quick-start/ --profile-models add_sub --override-output-model-repository", it happens Segmentation fault (core dumped)

**Triton Information**
I use the container nvcr.io/nvidia/tritonserver:20.09-py3, and create a python=3.8 environment with triton-model-analyzer

Are you using the Triton container or did you build i

[2022-03-07 02:30] llustc commented on #3989
Thanks for your reply, I solved the problem using the way you provided.

[2022-03-07 02:30] #3989 closed

[2022-03-07 06:40] wangchengdng opened #4017 "tritonserver exited with coredump when using cuda graph optimization"
**Description**
We have some TensorRT models that use cuda graph optimization. Our online models need to be updated regularly, but we found that the server will exit when the model is updated, and a coredump will be generated, and the server works fine without using cuda graph.
**Triton Information**
What version of Triton are you using?
22.02
Are you using the Triton container or did you build it

[2022-03-07 14:53] Tabrizian commented on #4014
Yes, it is possible to cache inferences. There is a documentation about it in the link below:
https://github.com/triton-inference-server/server/blob/main/docs/response_cache.md

cc @rmccorm4

[2022-03-07 17:45] deadeyegoodwin commented on #4003
How are you building the clients. If I follow the build instructions I don't see extra third-party builds and the build time is just a couple of minutes.

$ cmake ...
$ make -j8  cc-clients python-clients

Assuming you don't want to build perf_analyzer and don't need the java client library, run cmake like this (also shown in documentation).

$ cmake -DCMAKE_INSTALL_PREFIX=`pwd`/install -DTRITON_E

[2022-03-07 21:35] Tabrizian commented on #4016
Duplicate of https://github.com/triton-inference-server/model_analyzer/issues/338

[2022-03-07 21:35] #4016 closed

[2022-03-07 23:27] jbkyang-nvi commented on #4002
Hi @alexraymond can you list the steps it took you to build the client? I don't see `azure-storage-cpplite` needed in the clients... I have tried building with the 22.02 min container with Clang 11 and there were no errors. I have a branch `kyang-patch-azure-third-party` that adds the specific commit you need but I want to make sure that it is in fact, what you need.