[2021-07-15 18:13] dyastremsky commented on #3026
Fixed with #3118. This should be working now with tensorflow as the backend. Your custom backend will perform the platform field checks.

[2021-07-15 18:13] #3026 closed

[2021-07-15 18:33] deadeyegoodwin commented on #3119
Thanks for the bug report and repo instructions. We will look into the issue.

[2021-07-15 18:41] deadeyegoodwin commented on #3121
That is just an informational message (notice that the log line starts with 'I'). You will only see this message is you turn on verbose logging.  It means that the model has produced / will produce the model output into GPU memory, so it is requesting from the grpc endpoint for a GPU buffer into which it will write the output. The GRPC endpoint is saying that is can't provide a GPU buffer so it is

[2021-07-15 18:41] #3121 closed

[2021-07-15 18:46] deadeyegoodwin commented on #3120
We don't test on Drive PX2 so I can't say for sure what is required for that platform. We do provide the jetson Jetpack-based release... I suggest that you try using that release and see if it works on PX2.

[2021-07-15 18:46] #3120 closed

[2021-07-15 18:49] deadeyegoodwin commented on #3114
Server log is printed to stdout/stderr, so typically will be shown in the console where you launched the server.
Can you turn on verbose output in the client API, that will likely provide some additional information.

[2021-07-15 19:02] tanmayv25 commented on #2877
Opening up a bug with our dev team and will get back soon. Meanwhile can you try our latest release and  let us know if you see the same issue there as well?

[2021-07-15 22:59] CoderHam commented on #3110
@okyspace unfortunately that the verbose error we received from the aws sdk. What I can suggest is using the same credentials inside the Triton docker and use the aws cli to confirm it is working correctly.

[2021-07-16 05:03] raimondasl commented on #3113
I went through the perf_analyzer code, instrumented it a bit, and did some printout debugging.
I think I understand what is happening.
Thanks also @tanmayv25 for the explanation of perf_analyzer's behavior.
The behavior is not necessarily incorrect, but it is complicated and perhaps not well presented. Certain aspects of behavior and output might be improved.

Here is my explanation of what happen

[2021-07-16 07:42] #3114 closed

[2021-07-16 09:23] okyspace commented on #3110
@CoderHam, can I understand how to deploy a SSL cert to establish the HTTPS connection from Triton to ECS. We suspect the issue is due to cert. I search through triton documentation but cannot find something relevant. Able to advise?

[2021-07-16 16:53] #3070 closed

[2021-07-16 16:58] deadeyegoodwin commented on #1777
@luvwinnie  More specifically, we don't have a schedule for when triton will allow in-memory model repository. However, we do now have a general mechanism for model encryption, etc. Take a look at https://github.com/triton-inference-server/server/blob/main/docs/repository_agents.md

[2021-07-16 17:23] flawaetz opened #3126 "Triton spins on startup running in EGX"
**Description**
When attempting to launch triton on NVIDIA EGX the model server consumes 100% CPU and never finishes startup.

**Triton Information**
21.06

Are you using the Triton container or did you build it yourself?
Container

**To Reproduce**
I'm running on an EGX instance with two A100 GPUs on Ubuntu 20.04 with docker-ce 20.10.7.   CUDA 11.2 with driver 460.73.01.

After noticing my regula

[2021-07-16 19:32] tanmayv25 commented on #3113
Thanks @raimondasl for sharing your suggestions. Your conclusions are correct and that is indeed how PA currently designed. Feedbacks from users are really helpful in improving PA.

This can be definitely done. if you think it provides some better insights.

The solution might be to use [--async](https://github.com/triton-inference-server/client/blob/main/src/c%2B%2B/perf_analyzer/main.cc#L325) fl

[2021-07-16 19:56] tanmayv25 commented on #2999
@Edwardmark  The base container with cuda/cudnn/tensorrt dependency is itself ~6GB. I believe 10GB is expected.
If you want CPU only containers then probably you can get smaller container sizes.

I don't think the issue size is with ubuntu base container but the cuda library. All the dependencies are installed assuming ubuntu in our scripts. This will definitely be a lot more involved exercise.

O

[2021-07-17 07:55] zhaohb opened #3129 "openvino custom op"
now I am using openvino, but custom operators are implemented as required. I wonder how to support custom operators on the OpenVino backend.

who can help me ? thanks

[2021-07-19 02:16] Edwardmark commented on #2999
@tanmayv25 Thank you very much.

[2021-07-19 04:32] raimondasl commented on #3113
@tanmayv25 - Thanks for the comment about options/modes that could be added to PA. I think they would be useful.

Unfortunately I cannot use --async mode for my experiments since it fails as described in https://github.com/triton-inference-server/server/issues/2686

I saw that PA reported throughput is much lower than it should be based on the latency even when throughput is lower than --request-r

[2021-07-19 06:13] ajaichemmanam commented on #2877
triton_1            | Error: Failed to initialize NVML
triton_1            | W0719 06:11:31.836719 15 metrics.cc:214] DCGM unable to start: DCGM initialization error

Part of log on triton v21.06.1

[2021-07-19 06:34] cong commented on #859
please use executeV2

[2021-07-19 06:34] cong commented on #859
please use executeV2

[2021-07-19 14:25] 9cvele3 opened #3130 "Support for HTTP endpoint on windows"
**Describe the solution you'd like**
Is it possible for Windows version of Triton to have HTTP server, like the Linux version does? Currently, only GRPC endpoint is supported.

**Additional context**
Triton uses libevhtp in HTTP server implementation, and vcpkg seems to lack libevhtp for Windows.
Is that the only blocker for having HTTP endpoint on Windows version of Triton ? Would it help if MinG

[2021-07-19 15:47] flawaetz commented on #3126
A couple additional notes:

- The behavior is the same even if I point triton to an empty directory for its model repository.  `tritonserver` sits at 100% CPU indefinitely.

- If I set `CUDA_VISIBLE_DEVICES=""` the server starts up immediately.

[2021-07-19 16:58] naor2013 opened #3131 "Support for Kafka endpoints"
**Is your feature request related to a problem? Please describe.**
Currently, Triton supports REST and GRPC protocols. I have some use-cases where I want a model to get its trigger and input from a Kafka topic.

**Describe the solution you'd like**
For example, someone pushes data to a Kafka topic, the inference starts on that data and the result is sent to another Kafka topic.

[2021-07-19 19:00] deadeyegoodwin commented on #3131
We have heard this request in other contexts... more generally for Triton to support pub-sub systems (including Kafka and Pulsar). Currently we do not have a firm schedule for when this type of support will be added.

[2021-07-19 19:09] deadeyegoodwin commented on #3126
Do you encounter the same problem with earlier versions of Triton?

[2021-07-19 19:10] flawaetz commented on #3126
Yes, I cycled back as far as 21.02 and encountered the same issue.

[2021-07-19 19:12] deadeyegoodwin commented on #3130
Triton likely needs a windows-native port of libevhtp. We suspect that it is just a matter of using the appropriate socket API for windows. Other than libevhtp there is no other blocker for getting HTTP support on windows. At this time we don't have a schedule for when we will be working on windows HTTP.

[2021-07-19 19:21] deadeyegoodwin commented on #2877
It seems like perhaps you are not actually running the 21.06 version of triton. The string "failed to initialize NVML" doesn't seem to be in the Triton source. Also the TRITONBACKEND API version is 1.4 in recent releases: https://github.com/triton-inference-server/core/blob/main/include/triton/core/tritonbackend.h#L93
But your log above is reporting 1.0.
I0625 17:00:02.520854 14 tensorflow.cc:1890

[2021-07-19 22:34] tanmayv25 commented on #3129
OpenVINO backend is still in beta quality with a limited testing.  You can try using `CPU_EXTENSION_PATH` parameter in the model config:  https://github.com/triton-inference-server/openvino_backend#parameters

For other instructions please follow: https://docs.openvinotoolkit.org/latest/openvino_docs_HOWTO_Custom_Layers_Guide.html

[2021-07-20 02:07] zhaohb commented on #3129
ok, thank you very much, I got it.

[2021-07-20 02:07] #3129 closed

[2021-07-20 02:09] zhaohb commented on #3129
another question, when will there be an official version？

[2021-07-20 04:49] tanmayv25 commented on #3129
There are some fixes available in OV 2021.4. We are waiting for ONNXRuntime to move to 2021.4 to enable our testing and officially support OV backend.

[2021-07-20 06:21] zhaohb commented on #3129
which version OV in triton 21.06?

[2021-07-20 08:43] zhaohb opened #3134 "dlSym cannot locate method 'CreateExtension'"
**Triton Information**
What version of Triton are you using?  21.06

Are you using the Triton container or did you build it yourself?
build my self

I have now recompiled the openvino back using openvino 2021.2 and need to load a custom operator that has been compiled to so lib,  but got an error when loading so:

[code]

how to solve it?

[2021-07-20 10:53] AnthonyBarbier commented on #3116
Oh, I see, thanks a lot for the explanation, makes more sense now.

Is there a way to configure the server to make it cope better with small requests?

I've got a client which sends 7000 requests of size 256, and no matter how I tweak the `preferred_batch_size` and `max_queue_delay_microseconds` it still takes ~30 seconds to run, and only 6-8 seconds is spent in my backend.

Is it just the overhea

[2021-07-20 14:04] bcvanmeurs commented on #3074
Hi @Tabrizian, sorry for the late response, somehow I missed the notifications here.

I have uploaded a model with randomised weights here: https://shukmagpilotmodelshare.blob.core.windows.net/random-model/random_model.pth. It is protected with a key, which I'll send over email.

Regarding the model.py it is a working example, but it only runs in the docker when the dependencies are installed. dl_

[2021-07-20 16:24] tanmayv25 commented on #3129
2021.2 See here: https://github.com/triton-inference-server/server/blob/r21.06/build.py#L73

[2021-07-20 16:32] LMarino1 opened #3135 "Triton requiring config.pbtxt when loading models from s3 (MinIO)?"
Using MinIO for S3, it seems starting with release 21.04, Triton is no longer automatically generating config files for models that lack them and instead errors out.

Logs from attempting to run version 21.06.1:
<pre>
=============================
== Triton Inference Server ==
=============================

NVIDIA Release 21.06 (build 24449615)

Copyright (c) 2018-2021, NVIDIA CORPORATION & AFFILI

[2021-07-20 17:46] GuanLuo commented on #3116
You can use `perf_analyzer` to profile the time spent on different parts of the inference cycle. It provides various options that you can use to simulate your workload.

And it would be good to create a new Github issue for the performance subject, as it differs from the original subject of this issue.

[2021-07-20 17:54] tanmayv25 commented on #3134
@zhaohb  Can you share the complete logs? Specifically, do you see This message being printed?
https://github.com/triton-inference-server/openvino_backend/blob/main/src/openvino.cc#L288

If not, then can you try adding second "CPU" argument as described here: https://docs.openvinotoolkit.org/2021.2/openvino_docs_HOWTO_Custom_Layers_Guide.html#building_and_running_the_custom_extension
in the functi

[2021-07-20 19:07] CoderHam commented on #3135
@LMarino1 does the config.pbtxt exist for densenet_onnx or is the file missing at `bucket-1/model_repository/densenet_onnx/config.pbtxt`?

[2021-07-20 19:17] CoderHam commented on #3045
@julienschuermans thanks for opening the issue. I fixed the model names and used threading instead of pooling to send the requests and the output was as expected i.e. no Nan values were reported.

feature_extractor.py:
[code]

[code]

detector.py
[code]
[code]

[2021-07-20 19:21] LMarino1 commented on #3135
@CoderHam

I've deliberately removed the config.pbtxt for this model in order to test whether or not Triton will generate it automatically. In practice I have other models that don't have configs at all that I will need Triton to be able to generate.

[2021-07-20 20:37] CoderHam commented on #3135
We will look into the root cause of the issue. Did you launch the server with `--strict-model-config=false` in both local and s3 cases?

[2021-07-20 20:43] LMarino1 commented on #3135
Yes, I specified `--strict-model-config=false` both times.
Thanks for looking into it!

[2021-07-21 02:09] zhaohb commented on #3129
ok, thank you very much , I know windows is 2021.2, but do not know linux is also 2021.2

[2021-07-21 07:14] ajaichemmanam commented on #2877
Yes previous log was based on an older version of triton

[2021-07-21 08:26] AnthonyBarbier commented on #3116
Sure, will close this issue now.
Thanks again for your help.

[2021-07-21 08:26] #3116 closed

[2021-07-21 09:18] okyspace commented on #3110
Resolved by including a cert. due to https. Thanks for the help.

[2021-07-21 09:18] #3110 closed

[2021-07-21 10:00] okyspace opened #3138 "Secure https endpoint"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
A secure http endpoint, i.e. https. Similar to https://github.com/triton-inference-server/server/blob/main/qa/L0_secure_grpc/test.sh

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Allow us

[2021-07-21 12:37] zhaohb commented on #3134
@tanmayv25 thank you very much for your help, now I have solved the problem about CreateExtension, because I need to add the InferenceEngine::CreateExtension interface to the custom operator, but there is an error when loading the model:
[code]

model.xml with netron:
![image](https://user-images.githubusercontent.com/5791375/126489218-71fab229-bf17-44e7-8770-521f61547e17.png)

how to solve?

[2021-07-21 12:46] zhaohb commented on #3134
this is my mylayer.cpp:
[code]

[2021-07-21 16:54] Tabrizian commented on #3074
Thanks for getting back to us. I can confirm that I have received the email. We'll get back to you as soon as there are any further updates.

[2021-07-21 19:02] alecgunny commented on #2442
Hey all, I wanted to check in on the status of the stateful control feature David mentioned in [this comment](https://github.com/triton-inference-server/server/issues/2442#issuecomment-768453149). Is there any rough ETA for when this might be available on the roadmap?

The reason I ask is that my TensorFlow implementation of this state update is reasonably slow at the moment (taking anywhere from

[2021-07-21 19:48] okyspace commented on #2159
@dzier does triton support https as of now? I do not find the codes in C-API.

[2021-07-21 20:54] tanmayv25 commented on #3134
Great you found this issue!

This issue might be better answered by  Intel OpenVINO (https://github.com/openvinotoolkit/openvino).
I wonder why MyLayer is still being searched as a primitive type.

Unfortunately, we don't have much testing of these features on the backend yet.

[2021-07-21 20:54] kpedro88 opened #3141 "CMake problems for client library in v2.11.0"
**Description**
This issue supersedes #2160, catching up to the latest release with the ongoing refactoring of different components into different repositories. As in the previous issue, this one relates to building just the client library (specifically the grpc client).

A few things have improved since #2160:
* curl dependence is properly isolated to the http client
* there are separate CMake fl

[2021-07-21 22:23] GuanLuo commented on #3138
The support for secure HTTPS endpoint is on our backlog but not yet prioritize for future release. Will keep this issue updated once we are working on this feature.

[2021-07-22 01:55] zhaohb commented on #3134
I think we should implement a mylayer.py in openvino/deployment_tools/model_optimizer/extensions/ops , like this:
[code]

but in openvino_backend I do not know where is be.

[2021-07-22 02:03] raimondasl commented on #3113
Here is a mismatch of throughput to latency when throughput is lower than --request-rate-range:

/workspace# perf_analyzer -m mymodel -i gRPC --sync --max-threads 4 --request-rate-range 24 -u myip:8001 -p 100000 -b 1 --shape xxx:2560,1 --num-of-sequences 4 --input-data /myinput
 Successfully read data for 1 stream/streams with 72 step/steps.
*** Measurement Settings ***
  Batch size: 1
  Using "ti

[2021-07-22 02:26] zhaohb commented on #3134
the next version of openvino backend will support custom op？I need openvino to support the function of custom op.

[2021-07-22 02:32] luckycallor commented on #3033
hello, from the log I can not tell whether the memory is increasing or not. In our obervatoion, the memory increase is relative to the num of requests. Can you test the memory with more requests and longer time?

[2021-07-22 09:32] zhaohb commented on #3134
@tanmayv25 I implement getOpSets in InfEngineNgraphExtension class：
[code]

but I get the error:
[code]
model.xml like this:
[code]

It gives me the feeling that the custom op is not loaded.

[2021-07-22 09:43] luvwinnie commented on #1777
@deadeyegoodwin thank you so much I would like to take a look.

[2021-07-22 10:45] DayDayupupupup opened #3142 "openvino error in loading network (with custom op)"
**Description**
In my model, there are some ops that OpenVino does not support. So I looked at the documentation on how OpenVino implements custom layers：
https://docs.openvinotoolkit.org/2021.2/openvino_docs_HOWTO_Custom_Layers_Guide.html
I implemented FFT OP with reference to the above documentation, and I have verified that wnet_20.xml can infer in the OpenVino 2021.2 environment.
But in Triton

[2021-07-22 16:28] tanmayv25 commented on #3134
The above message doesn't seems to be getting emitted with your `getOpSets` implementation. In fact, the error seems to be coming during reading the IR itself. If you are able to use your extension outside Triton, in OV environment, then it is definitely a bug with our backend implementation. Can you share a minimal repro with your *final* extension that works within OV but fails with Triton?
We w

[2021-07-22 17:28] flawaetz commented on #3126
I made a debug build of triton and captured the following while `tritonserver` was sitting at 100% CPU.

[code]

[2021-07-23 03:14] zhaohb commented on #3134
@tanmayv25 [https://drive.google.com/drive/folders/1RPM2PjFMJaSdwDX-cpQ3gsqpTQ8B0fZf?usp=sharing](https://drive.google.com/drive/folders/1RPM2PjFMJaSdwDX-cpQ3gsqpTQ8B0fZf?usp=sharing)
you can get code from there.

1. mylayer.tar.gz is the code that can be executed correctly in the ov environment, it will generate the ngraph_custom_layer executable program, and he will generate the ov model model x

[2021-07-23 03:29] vv12kant opened #3146 "cmake bug in subproject core"
**Description**
In subproject core， core/cmake/TritonCoreConfig.cmake.in, line 36, "TritonCore.cmake" is not a CMake Target, should be "TritonCoreTargets.cmake"
**Triton Information**
https://github.com/triton-inference-server/core.git all branch

[2021-07-23 04:39] SraRod opened #3147 ""failed to connect to all addresses" occurs by chance"
**Description**
When loading the same developed triton module (python backend), sometime success, sometime get ''failed to connect to all addresses"

Here is a example to show we load the same model, first time fail, and then second time success.
`DEVELOPED_MODEL`  is our model name.
[code]

We also set python logging in the module, the logger is shown on
[code]
But the first time does not show an

[2021-07-23 18:01] CoderHam commented on #3147
cc @Tabrizian

[2021-07-23 18:31] yidiwang21 opened #3148 "Can we build with Caffe2 without MKL?"
When I build from the source with `-DTRTIS_ENABLE_CAFFE2=ON`, I got the error:
[code]
However, I am on an ARM platform. Here is the system information:
Platform: Drive PX2
OS: Ubuntu 16.04
CUDNN: 7
CUDA: 9.2
Triton version: r20.01
Caffe2 version: 1.0.1 (1.4.0 is used according to the dockerfile, but it cannot be installed on this platform)

[2021-07-23 18:33] CoderHam commented on #3148
Triton no longer supports Caffe2. However I encourage you to patch the release (20.01 is quite old) to disable MKL support in the build and use your custom Caffe2 build

[2021-07-23 18:33] #3148 closed

[2021-07-23 18:36] yidiwang21 commented on #3148
@CoderHam Can you make it more detailed on how to do that?

[2021-07-23 20:50] GuanLuo commented on #3147
Can you try with the latest version of Triton image?

[2021-07-23 22:01] GuanLuo commented on #3146
Thanks for reporting, created PR for the fix

[2021-07-23 23:34] Zhaojp-Frank opened #3150 "Doesn't co-work with MPS?"
**Description**
When MPS is enabled, TRTIS failed to start and hang there

**Triton Information**
2.10.0 built in tritonserver:21.05-py3
T4, NV driver 450.80, Centos8 4.9.151

Are you using the Triton container or did you build it yourself?
using tritonserver:21.05-py3

**To Reproduce**
just run the basic sample as shown in https://github.com/triton-inference-server/server/blob/main/docs/quickstar

[2021-07-26 02:02] Tabrizian commented on #3147
It could be that there are some errors in your model that make it intermittent. As Guan suggested, can you try the latest version of Python backend to see whether the latest version solves your issue?

[2021-07-26 05:50] chiehpower opened #3151 "Can Triton support MIG?"
Dear all,

Can Triton server support MIG? I have tested that I allocate multi complete GPU instance (did not partition), it can work.
However, if I allocate multi mig instances, it cannot work. (It will only allocate one mig)

My GPUs are five A100.

Thank you in advance.

BR,
Chieh

[2021-07-26 10:36] RichiH commented on #3060
Prometheus team member here.

For latencies and such, histograms are recommended. Ideally, you would expose seconds, not us, as we generally try to use SI base units. This makes correlation etc a lot easier. Our values are float anyway, so that shouldn't be an issue.

[2021-07-26 12:14] hongdayu commented on #2532
Are you stuck with model loading?

[2021-07-26 12:21] hongdayu commented on #2439
When I do this, it gets stuck on model loading

[2021-07-26 12:39] hongdayu opened #3152 "got stucked when import torch"
**Description**
python backend, import torch in model.py, after initialize it will got stucked
![图片](https://user-images.githubusercontent.com/32477868/126989986-8cca8eef-0c30-40dd-bdc4-f0da20cb263e.png)

![图片](https://user-images.githubusercontent.com/32477868/126989855-6d9506b6-3859-4d3e-9cd8-fa0dd9baa2e9.png)

**Triton Information**
dockfile
[code]

[2021-07-26 12:52] royinx commented on #3032
According to `When dynamic batching is enabled, you need to add another dimension indicating the size of your batch.`
you mean i hv to add the dimension in `infer()` or `config.pbtxt` ?

[2021-07-26 13:39] Tabrizian commented on #3152
We had a bug in the 21.06 release that Python models didn't work properly when there was an import that could take a long time. We have fixed this issue and the fix is going to be available in the 21.07 release. Can you try building from source and use "r21.07" as the repository tag and let us know whether it fixes your issue or not?
https://github.com/triton-inference-server/server/blob/main/docs

[2021-07-26 14:49] zhaohb commented on #3134
@tanmayv25 did you repeat the problem?

[2021-07-26 16:10] CoderHam commented on #3151
Can you clarify what you mean by it allocates only 1 partition/MIG? Triton does support MIG. You might be setting your instance groups in the config.pbtxt incorrectly.

[2021-07-26 16:31] CoderHam commented on #3150
Thank you for this reproduction @Zhaojp-Frank
While I am not sure we test support for MPS, the information you provided seems to indicate we do not. We will look into the same

[2021-07-26 16:35] CoderHam commented on #3142
cc @tanmayv25

[2021-07-26 18:29] GowthamKudupudi commented on #545
That didn't work for me
[code]

[2021-07-26 18:48] tanmayv25 commented on #3134
Not yet. Have been occupied with some other higher priority tasks. I will try to get on this next week.

[2021-07-26 18:50] #3146 closed

[2021-07-26 18:52] tanmayv25 commented on #3142
There is an open bug in OV backend for models with custom ops. See the discussion [here](https://github.com/triton-inference-server/server/issues/3134).

The OV backend is still in beta quality and does not have sufficient testing.

[2021-07-26 19:11] tanmayv25 commented on #3151
[Source](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/index.html)

Triton being a CUDA application can not span across the MIG partition. Hence, the visibility of Triton is limited to the MIG partition. You can try running a Triton process per MIG to get complete GPU utilization.

[2021-07-26 19:57] tanmayv25 commented on #3113
I agree with these computations.

Thanks for detailed analysis. 38% overhead on worker threads is significant. We (Triton team) will look into the details and possibly try to reduce the overhead.

As of now I don't think the instrumented code is needed for further profiling. We can separately profile the code and check whether our conclusions match. We will get back to you with any updates and que

[2021-07-26 22:17] kommons commented on #2877
@ajaichemmanam Would you please help us reproduce using the latest Triton container and post the logs. We really appreciate your help to track this down.

[2021-07-27 00:56] MrAta opened #3154 "py3-min Dockerfile"
I would like to build an in-house version of the server image from scratch, however, I couldn't find the Docker file for the py3-min image for Ubuntu. I can see the windows version is there. Where can I find the Dockerfile for the Ubuntu py3-min image?

[2021-07-27 01:01] chiehpower commented on #3151
Dear @CoderHam ,
You are right! Thanks for your reminder!
I will try it again after I amend the setting in the `config.pbtxt` file.
Thank you!!

Dear @tanmayv25 ,

Thanks for your information!
Is your meaning one Triton one MIG partition?
Suppose that one A100 (40G) partitions 2 MIG (20G GPU memory per MIG), do you suggest that I launch two Triton services with one MIG respectively rather than one

[2021-07-27 03:27] hongdayu commented on #3152
Thank you for your answer . When was 21.07  released? I have no experience for building from source, I will try it.

[2021-07-27 03:35] tanmayv25 commented on #3151
Yes.. That is what my understanding is.

[2021-07-27 05:49] chiehpower commented on #3151
Dear @tanmayv25 ,

Got it!
I am interested in this way that could you elaborate more detail about it? According to the previous discussion, starting 2 triton servers represents 2 containers. In other words, it will use the two different ports. For example, if I use the http protocol, the default port is 8000. In your concept of starting 2 triton servers, is it possible to manage 2 servers (or conn

[2021-07-27 14:35] Tabrizian commented on #3152
It is released today. Closing this issue, feel free to reopen if the issue persisted.

[2021-07-27 14:35] #3152 closed

[2021-07-27 16:22] NonStatic2014 opened #3155 "Trition local build (branch r21.06) with docker failed"
**Description**
Build triton locally with below command failed.

[code]

**Triton Information**
branch r21.06

Are you using the Triton container or did you build it yourself?
Trying to build the container locally

**To Reproduce**
Steps to reproduce the behavior.
As above.

Describe the models (framework, inputs, outputs), ideally include the model configuration file (if using an ensemble include

[2021-07-27 16:26] CoderHam commented on #3155
@jbkyang-nvi had fixed this recently and will point you to a patch to resolve the issue.

The problem was caused by using the latest dcgm release instead of a fixed release. The latest release no longer requires the patch mentioned before.

[2021-07-27 16:28] CoderHam commented on #3154
We no longer have a permanent Dockerfile.min, you can however use the build.py to create this min container, follow the instructions in docs/build.md

[2021-07-27 16:34] NonStatic2014 opened #3156 "Triton python backend build failed (main branch)"
**Description**
The triton build failed if I try to build without cuda.

[code]

**Triton Information**
What version of Triton are you using?
Main branch

Are you using the Triton container or did you build it yourself?
Try to build by myself

**To Reproduce**
Steps to reproduce the behavior.
As above

Describe the models (framework, inputs, outputs), ideally include the model configuration file (

[2021-07-27 16:35] NonStatic2014 commented on #3156
It seems introduced by https://github.com/triton-inference-server/python_backend/commit/fbbfa6502aa226fb4ea6630673b7e04de376dc02

[2021-07-27 16:38] GuanLuo commented on #3032
If your model config is similar to
[code]
And you are sending a batch 8 request, then you should invoke the InferInput constructor as the following:
[code]

[2021-07-27 17:22] CoderHam commented on #3156
@NonStatic2014  the main branch is always under development and I recommend you try the release branches or build with gpu support enabled.
Thanks for bringing this to our attention.
@Tabrizian can you prioritize a PR for this fix? Looks like the python backend is missing ifdef compile flags for non-gpu build.

[2021-07-27 17:24] NonStatic2014 commented on #3156
I'm trying the r21.06 branch and hit a different failure: https://github.com/triton-inference-server/server/issues/3155.

I thought `main` branch is always in a ship-able situation. Is it not expected?

[2021-07-27 17:27] NonStatic2014 commented on #3156
I don't have NVIDIA GPU on my machine and i'm actually trying to run Triton in CPU-only situation. This is why I try to build by myself.

[2021-07-27 17:28] CoderHam commented on #3156
Generally main branch is shippable and tested regularly but will some dev changes may cause unexpected issues in the build.

[2021-07-27 17:29] CoderHam commented on #3155
@NonStatic2014 you can apply the patch from here: https://github.com/triton-inference-server/server/pull/3140
And should be able to build r21.06 after it.

Feel free to re-open if you face any issues.

[2021-07-27 17:29] #3155 closed

[2021-07-27 17:36] NonStatic2014 commented on #3155
Do we have plan to merge the change to `r21.06`? Otherwise, the `r21.06` is still broken.

[2021-07-27 17:41] CoderHam commented on #3155
Once released, the branch is not changed unless we re-spin the NGC containers as well. This serves to ensure the NGC containers are consistent with the respective release branches. We are aware of the issue and encourage you to move forward to 21.07 since it will be released shortly.

[2021-07-27 17:45] NonStatic2014 commented on #3155
This means if I want to build `r21.06` and repro something locally, e.g. I want to have a debug build to repro and investigate https://github.com/triton-inference-server/server/issues/3119, I will hit this build break and look for the patch to workaround it. Is this pain expected to users? ;-)

[2021-07-27 18:10] holzman opened #3157 "Framework support matrix has wrong version of onnxruntime for 21.06"
The Framework Support Matrix

https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html

lists onnx runtime 1.7.1, but release 21.06 includes 1.8.0 (as of commit 9ec38519206a2fe9311ea798c0b388ba1513856e)

[2021-07-27 18:20] CoderHam commented on #3157
@holzman thanks for catching this. @dzier and @msalehiNV could you help coordinate the fix to the support matrix?

[2021-07-27 23:15] alecgunny opened #3160 "Streaming connections interrupted for extremely long time series"
**Description**
Using streaming inference with Triton tends to lead to broken connections after ~millions of inferences that interrupt the service and aren't easy to reconnect. How many inferences before it happens, and even whether it happens at all, is somewhat inconsistent, though by rough eyeball I see it ~50% of the time. The issues as reported on the client side range, but the most common I'

[2021-07-28 01:19] krishung5 commented on #3033
Hi @luckycallor, the graph was the result of sending requests for 8 hours, and you can see that the memory usage was flat. The graph you shared showed consistent memory usage growth, and that could have been detected even if it was run only for 8 hours. FYI, this is what the graph looks like when memory growth is observed.
[memory_growth_example.txt](https://github.com/triton-inference-server/serv

[2021-07-28 02:40] CPFelix opened #3161 "/opt/tensorrtserver/nvidia_entrypoint.sh: line 92: exec: tritonserver: not found"
**Description**
I had install docker,NVIDIA Container Toolkit,tritonserver:20.03-py3, but when I run "sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/home/chenpengfei/server/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:20.03-py3 tritonserver --model-repository=/models", I got "/opt/tensorrtserver/nvidia_entrypoint.sh: line 92: exec: tritonserver: not foun

[2021-07-28 02:40] CPFelix opened #3162 "/opt/tensorrtserver/nvidia_entrypoint.sh: line 92: exec: tritonserver: not found"
**Description**
I had install docker,NVIDIA Container Toolkit,tritonserver:20.03-py3, but when I run "sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/home/chenpengfei/server/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:20.03-py3 tritonserver --model-repository=/models", I got "/opt/tensorrtserver/nvidia_entrypoint.sh: line 92: exec: tritonserver: not foun

[2021-07-28 02:41] #3162 closed

[2021-07-28 03:46] CPFelix commented on #3161
try trtserver instead of tritonserver
https://github.com/triton-inference-server/server/issues/169#issuecomment-732163452

[2021-07-28 05:18] GuanLuo commented on #3161
Is there a reason that you are not using the latest release container?

[2021-07-28 05:44] CPFelix commented on #3161
@GuanLuo I think so, because my environment is ubuntu18.04, driver440.64,I used tritonserver:20.03 not the lastest version.

[2021-07-28 11:45] turowicz opened #3163 "Missing tritonserver2.12.0-jetpack4.6.tgz"
I don't see it attached to the release files?

[2021-07-28 12:20] turowicz commented on #3163
I saw the note.

[2021-07-28 12:20] #3163 closed

[2021-07-28 16:50] Tabrizian commented on #3156
@NonStatic2014 Sorry for the inconvenience. I have a ticket for this issue and should be able to fix it soon.

[2021-07-28 17:51] jbkyang-nvi commented on #3154
Hi @MrAta please follow instructions https://github.com/triton-inference-server/server/blob/main/docs/compose.md if you want to customize the backends. Since we have not officially released this script yet, you should be able to clone the most recent server and do something like `python3 compose.py --work-dir . --repoagent checksum --enable-gpu ... --container-version 21.07`

[2021-07-28 18:30] CoderHam commented on #3161
@CPFelix closing this issue, re-open if you have other hiccups.

[2021-07-28 18:30] #3161 closed

[2021-07-28 18:31] CoderHam commented on #3157
Fixed

[2021-07-28 18:31] #3157 closed

[2021-07-28 18:34] CoderHam commented on #3160
cc @tanmayv25 have we seen this before? Do we not have coverage for long running sequence streams?

[2021-07-28 18:47] tanmayv25 commented on #3160
@CoderHam  We do not test such long sequence streams.

@alecgunny  We recently added support for gRPC KeepAlive options in the [server](https://github.com/triton-inference-server/server/pull/3089) and [client](https://github.com/triton-inference-server/client/pull/23).
These options might help you for keeping connection alive.
More on this [here](https://github.com/grpc/grpc/blob/master/doc/keepal

[2021-07-28 20:42] alecgunny commented on #3160
@tanmayv25 thanks for the resources. For reference, was Triton using GRPC's defaults before these options were implemented, or was it using custom values?

[2021-07-28 21:53] tanmayv25 commented on #3160
Triton is using GRPC defaults indeed.

[2021-07-28 22:38] MrAta commented on #3154
Thanks @jbkyang-nvi, that's helpful. However, I wanted to use my own base image instead of the py3-min image. While it's not documented in docs/build.md, I could figure out that I can do that using the `--image=base,<image>` flag. Furthermore, it is not well document what exact libs and dependencies are required for such base image.

[2021-07-29 13:34] bcvanmeurs commented on #3074
Hi @Tabrizian any update on this? Can I help in any way?

[2021-07-29 15:10] Tabrizian commented on #3074
@bcvanmeurs I just tried your model again with all the dependencies installed but still it cannot find `dl_detection` module. Are you sure that it is a module of `detectron2`?

[code]

[code]

[2021-07-29 16:36] rkoystart opened #3169 "Build and run Triton direclty in my machine instead of using docker"
Hi, i am new Triton Inference Server. The doubt i have is , i know we can run the Triton inference server with the help of the predefined docker provided which has the required things  installed for the triton inference server ro run/deploy models in gpus.. I want to know how can i build the triton Inference Server which can run direclty in my GPU machine  instead of the it running through the Doc

[2021-07-29 16:42] jbkyang-nvi commented on #3154
@MrAta Thanks for your feedback. Will create a ticket for the team to prioritize. In the meantime, you can grep for `apt-get` and `pip3` for dependencies in `build.py` as indicated in https://github.com/triton-inference-server/server/blob/main/docs/build.md

[2021-07-29 16:42] alecgunny commented on #3160
Got it, trying to understand how the defaults might lead to this behavior, particularly under conditions like those in my repro where data is being sent constantly. Wouldn't the defaults mean that the client never sends a keepalive ping and so should never violate the server's `GRPC_ARG_HTTP2_MAX_PINGS_WITHOUT_DATA` limit?

[2021-07-29 17:22] CoderHam commented on #3169
@rkoystart have you tried to do the same by following the docs in [build.md#building-without-docker](https://github.com/triton-inference-server/server/blob/main/docs/build.md#building-without-docker)?

[2021-07-29 18:02] shaowei-su opened #3170 "Python custom backend failed to start with error "no version information available (required by /bin/bash)""
**Description**
A clear and concise description of what the bug is.

Python custom backend failed to launch if Tensorflow is imported with exception:
[code]

If we look at `/bin/bash` under `ldd`:
[code]
it actually points to native GNU lib directory. However, `tritonserver` appends the conda-pack's lib ahead in the `LD_LIBRARY_PATH` ENV variable that's points to temporary directory for the decomp

[2021-07-29 18:10] #3119 closed

[2021-07-29 18:59] MrAta commented on #3154
@jbkyang-nvi the build.py is building [on the base image](https://github.com/triton-inference-server/server/blob/main/build.py#L531) which itself has some other dependencies installed that are not documented.

Using `ubuntu:20.04` as the base image, so far, I had to install the following packages and counting:

[code]
I wish there was a way to reporduce the -py3-min image.

[2021-07-29 19:37] tanmayv25 commented on #3160
You are right. Did you try collecting grpc trace and debug logs for server? It might give an idea why the connection was interrupted.
Look for GRPC_TRACE and GRPC_VERBOSITY: https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

I know it will be a long log but we are interested at the point connection broke.
Additionally, look at the observation [here](https://github.com/triton-in

[2021-07-29 20:16] elx42 opened #3171 "Model Interpretability"
We are happily hosting our Production models (Bert-based classification models) on Triton. On top of a prediction, we would like to feed back the reasons why a model assigned back a particular class to a data point back to the user. Is it possible to apply Model Interpretability approaches within the Triton framework (like integrated gradients, as e.g. implemented in the captum library for Pytorch

[2021-07-29 21:03] Tabrizian commented on #3170
@shaowei-su Thanks for creating a detailed bug report. I tried your example inside the Triton 21.06 and 21.07 containers and it worked fine. Can you please provide more details on how you are building the custom Triton image? I agree that the modification to the `LD_LIBRARY_PATH` could be problematic. I want to reproduce your environment to make sure that my fix fixes the issue that you are seeing

[2021-07-29 21:33] Bole0331 opened #3172 "Parallel model initialization for python backend"
**Describe the solution you'd like**
Is it possible to support the option of parallel model initialization, especially for python backend? Sequential model initialization cause long waiting time for model deployment/update.

**Additional context**
For Python backend whether it’s thread-safe depends on the customer-provided `model.py`. Do you think it makes sense to add an option to enable parallel

[2021-07-29 22:58] shaowei-su commented on #3170
Thanks for the speedy response. I created this Dockerfile for reproducibility PTAL:

[code]

[2021-07-29 23:33] alecgunny commented on #3160
All good questions. I'll implement some monitors to double check all this and get back to you.

[2021-07-30 00:42] chiehpower commented on #3151
Thanks for your reply!

I will close it because I already got the answer to my question of title.
Thanks.

[2021-07-30 00:42] #3151 closed

[2021-07-30 04:14] jalola commented on #2792
+1

[2021-07-30 06:07] GowthamKudupudi opened #3173 "`Magic tag does not match` even when `model.plan` is generated inside the same container of Triton"
I have built the `tritonserver-r21.05` and generated `plan` file of `yolo4tiny` model on the same container: `Ubuntu-18.04:Cuda-11.0.221:TRT-7.2.0:CUDNN-8.2.2`. When I run `tritonserver`:
[code]
In the `libtkDNN.so` you can find the `nvinfer1::IPluginFactory::IPluginFactory()` defined:
[code]
the symbols defined in the `libkernels.so`:
[code]

[2021-07-30 06:23] rkoystart commented on #3169
Thanks for the docs @CoderHam .
When i run the following command(hope it is right),
[code]
I am gettting this error
[code]
Can i know what went wrong ?

[2021-07-30 06:37] Amir22010 opened #3174 "Trition Inference server docker container get exited during 2nd time inference on CPU"
**Description**
I have two onnx models using trition onnx platform
Trition get automatically exited during 2nd time inferencing using grpcc client, first time running inference is fine but 2nd time it can't handle request on CPU.
runtime - onnxruntime

**Triton Information**
tritonserver:21.06.1-py3

Are you using the Triton container or did you build it yourself?
Trition NGC container - tritonser

[2021-07-30 07:25] ioangatop commented on #3029
Hi all! Do we have any updates on this? The issue still persists on my side :/

[2021-07-30 09:38] lidh15 opened #3175 "CUDA illegal memory error when calling bool() in torch script"
**Description**

CUDA error an illegal memory access was encountered at
 bool(torch.any(encoder_padding_mask))

**Triton Information**

Triton server container sdk image 21.04
Triton server version 2.7.0
Triton client installed via pip wheel
Triton client version 2.11.0

**To Reproduce**

the model is Facebook fairseq model and is transfered into torch script

set instance_group including gpus dif

[2021-07-30 11:17] bcvanmeurs commented on #3074
@Tabrizian my bad, you are completely right.
[dl_detection.zip](https://github.com/triton-inference-server/server/files/6907133/dl_detection.zip)

[2021-07-30 15:01] wphicks opened #3176 "[Docs] Clarify when backends need to release requests"
**Description**
In the [documentation for backend development](https://github.com/triton-inference-server/backend#tritonbackend_request), it says that the backend takes ownership of requests and "must release" each request it receives. If `TRITONBACKEND_ModelInstanceExecute` returns non-null, it appears that the server takes back ownership of the requests and releases them as indicated by the comm

[2021-07-30 15:37] Yonghao-Yu opened #3177 "[INTERNAL] Attempting to access response which is not yet allocated"
**Description**
A clear and concise description of what the bug is.

E0730 14:55:35.346636 167 grpc_server.cc:1613] [INTERNAL] Attempting to access response which is not yet allocated
E0730 14:55:35.347336 167 grpc_server.cc:3175] expected allocator to have created a response object

**Triton Information**
What version of Triton are you using?
2.3.0

Are you using the Triton container or did you b

[2021-07-30 15:53] philschmid opened #3178 "SageMaker HTTPService automatically starts in r21.07/r21.06"
**Description**

Triton is starting SageMake HTTP Service by default.
[code]
even the flag is
https://github.com/triton-inference-server/server/blob/6733c3f35317f74f6b49ea2e8c5a1f29c847e94b/build/CMakeLists.txt#L49

**Triton Information**
What version of Triton are you using?
`nvcr.io/nvidia/tritonserver:21.07-py3`
Are you using the Triton container or did you build it yourself?
Using Triton conta

[2021-07-30 16:21] philschmid commented on #3178
Additionally when using even with `--allow-sagemaker=false`
it seems not to start any more
[code]
but i still get `Error: Address already in use (os error 98)` when trying to run something on port 8080

[2021-07-30 16:45] philschmid commented on #3178
Further investigation on my side:
Tested with `r21.06`

command to run the container:
[code]
SageMaker Service started
[code]

Tested with `r21.07`

command to run the container:
[code]
SageMaker Service started
[code]

[2021-07-30 17:01] CoderHam commented on #3177
@Yonghao-Yu can you share the complete log? It looks like the response object is destroyed before it reaches the InferResponseComplete function.

[2021-07-30 17:05] CoderHam commented on #3178
@philschmid the NGC container has the Sagemaker endpoint enabled by default. You can disable it by using the flag `--allow-sagemaker=false`
@deadeyegoodwin should we change the default value of the cmake flag to match the NGC container ?

[2021-07-30 17:07] CoderHam commented on #3178
Investigating the cause of this issue below

[2021-07-30 17:16] philschmid commented on #3178
Hey @CoderHam,

thank you for the quick response. I thought SageMaker endpoints are disabled by default. Referring to this flag
https://github.com/triton-inference-server/server/blob/6733c3f35317f74f6b49ea2e8c5a1f29c847e94b/build/CMakeLists.txt#L49 and discussed in this PR
https://github.com/triton-inference-server/server/pull/2820#discussion_r630397754

Shouldn`t ` option(TRITON_ENABLE_SAGEMAKER

[2021-07-30 17:46] GuanLuo commented on #3178
The Triton build overrides the default setting in CMakeLists.txt as it has all feature-wise setting enabled. So the release Docker image will have SageMaker enabled and you should use `--allow-sagemaker` flag to disable it at runtime.

Can you confirm that the port is used by Triton even if SageMaker is disabled? I ran 21.07 container with SageMaker disabled and I didn't see port 8080 is used by T

[2021-07-30 17:47] CoderHam commented on #3173
@GowthamKudupudi what version of TRT did you use for your custom build of tritonserver?
Usually when generating models for TRT for a specific Triton release we recomend using the TRT NGC container for the container. Can you try the same using the TRT 21.05 release container?

[2021-07-30 17:51] CoderHam commented on #3175
@lidh15 did you try running the model in torchscript outside Triton? It is possible the model requires the input data on GPU0.

[2021-07-30 18:16] GuanLuo commented on #2443
Triton uses TF's C++ library instead of Python. However, TensorFLow-Text seems to be provided as Python library, that would be a question on the TF framework side that whether TF can be configured to build with TensorFlow-Text, and if not, [custom operation](https://github.com/triton-inference-server/server/blob/main/docs/custom_operations.md#tensorflow) will be the standard way to load custom TF

[2021-07-30 18:29] GuanLuo commented on #3178
However, Triton should not start with SageMaker by default as 8080 is a common port for other uses, we will push a fix to turn off SageMaker by default on running Triton.

[2021-07-30 18:44] devloper13 opened #3179 "No performance gain in models from Tensorflow model zoo"
Please find my experiment below using the performance analyzer.

To start with, I was able to see a significant performance increase for an example image classification model available in this [https://github.com/triton-inference-server/server/tree/main/docs/examples/model_repository](url) But I couldn't replicate this for object detection models from tensorflow model zoo [https://github.com/tenso

[2021-07-30 18:55] devloper13 commented on #2097
Hey @chad-green can you help me out. I'm not able to have my Faster RCNN work. Here is my issue: #3179

[2021-07-30 19:05] Tabrizian commented on #3170
@shaowei-su Thanks for providing the Dockerfile. Can you share the complete model repository that you are using? I tried creating two models using the Dockerfile that you have provided but still I couldn't reproduce the error. Can you provide a zip file of the model repository that you are using as well?

[2021-07-30 20:27] CoderHam commented on #3179
@devloper13 did you enable dynamic batching in the model config for these models?

[2021-07-30 20:29] CoderHam commented on #3174
[code]
Which nvidia driver version do you have on your machine?

[2021-07-30 20:32] devloper13 commented on #3179
Yes. An example of my experiment can be found here: https://forums.developer.nvidia.com/t/performance-issue-with-dynamic-batching-on-triton-inference-server/177203

[2021-07-31 00:12] jbkyang-nvi commented on #3154
@MrAta Can you try https://github.com/triton-inference-server/server/blob/main/docs/build.md#building-without-docker for additional dependencies? Alternatively you can use `apt list --installed` from the existing min container to check for all the dependencies and use those to build your container. We currently do not have a Dockerfile we can publish right now.

[2021-07-31 02:04] zhaohb commented on #3134
@tanmayv25 I have solved the problem. and will submit a patch.

[2021-07-31 02:18] tanmayv25 commented on #3134
A patch will be greatly appreciated! Please send a CLA agreement as specified [here](https://github.com/triton-inference-server/server/blob/main/CONTRIBUTING.md#contributor-license-agreement-cla).

[2021-07-31 02:22] zhaohb commented on #3134
@tanmayv25  I think this bug can be fixed in 2021.4, then I don't have to compile it myself. is it feasible？

[2021-07-31 02:56] zhaohb commented on #3134
I had push my change   [https://github.com/triton-inference-server/openvino_backend/pull/27](https://github.com/triton-inference-server/openvino_backend/pull/27)

[2021-07-31 04:25] Amir22010 commented on #3174
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:32:27_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.2, V10.2.89

(base) C:\Users\khana>nvidia-smi'
'nvidia-smi'' is not recognized as an internal or external command,
operable program or batch file.

+-----------------------------------------------------------------------------+

[2021-07-31 07:34] Yonghao-Yu commented on #3177
When I run “image_client.py” once, the server updates these two log, and there are no other log

[2021-07-31 08:51] GowthamKudupudi commented on #3173
as i mentioned above it is `TRT-7.2.0`

[2021-07-31 13:53] royinx commented on #3032
Thanks @GuanLuo and @Tabrizian. I figured out the problem.
Both .pbtxt , InferInput() and infer() is configuring correctly.

Here is my debug process:
run `tritonserver --model-repository=/models --strict-model-config=false`
give  `unable to autofill for 'model', configuration specified max-batch 64 but TensorRT engine only supports max-batch 1`

So I think it is the root cause of error.
I tested

[2021-07-31 17:34] CoderHam commented on #3173
Can you check what the last number for the version is? 7.2.0.x?

[2021-07-31 18:18] MrAta commented on #3154
Thanks @jbkyang-nvi that would give a ton of packages and wouldn't be much informative. Anyway, after reading all the build files (server and the backends) and CMakeList files, I could find out all the (undocumented) required packages and configs required to use the `ubuntu:20.04` as the base image.

For those who might face the issue in the future, I have created this gist containing the Dockerfi

[2021-08-01 03:41] GowthamKudupudi commented on #3173
on `nvcr.io/nvidia/tensorrt:21.05-py3` in which I've currently generated the `plan` file and built the `tritonserver`:
[code]

[2021-08-02 02:20] lidh15 commented on #3175
yes I tried, everything was fine when I set the model and the input tensor both on GPU 1,
it only happened in triton where we won't determine the device during inference.

[2021-08-02 04:20] lidh15 commented on #3175
And the memory bug disappeared when I use another machine. But I cannot figure out how the differences in the setup caused this. The bug happened where I used docker 20.10.7, nvidia driver 440.118.02, libnvidia-container 1.1.1.1 and nvidia-docker2 2.3.0, nvidia-container-toolkit 1.1.2, nvidia-container-runtime 3.2.0

[2021-08-02 08:43] ernestlwt opened #3183 "Python backend server stuck after initializing"
**Description**
Triton python backend server gets stuck after running the initialize function with no error message

**Triton Information**
nvcr.io/nvidia/tritonserver:21.06-py3

Are you using the Triton container or did you build it yourself?
Build it myself with the dockerfile below
[code]

**To Reproduce**
Details in the readme. Triton related files are all in the triton folder
https://github.c

[2021-08-02 12:15] philschmid commented on #3178
I must have done something wrong. After setting up again and adding `--allow-sagemaker` maybe it was still running or something else. ✅

Could reference the issue when the fix is applied?

[2021-08-02 13:39] Tabrizian commented on #3183
There was a bug in 21.06 in Python backend which caused this issue. Can you try 21.07 version? The issue has been fixed in 21.07.

[2021-08-02 15:45] lidh15 commented on #3175
okay, this is the bug fixed in triton server 2.9 which is corresponding to container sdk image 21.04, my partner falsely told me that triton server 2.7 is binding to container 21.04 and failed my work.

[2021-08-02 15:45] #3175 closed

[2021-08-02 15:47] #3170 closed

[2021-08-02 17:22] CoderHam commented on #3173
@GowthamKudupudi to re-iterate my earlier statement you need to use the exact same TRT version. Your comments explain that you are using 7.2.0.x for the build and 7.2.3.4 for the model generation.

[2021-08-02 17:25] CoderHam commented on #3169
You need to docker login with your ngc credentials to be able to fetch the NGC containers.
 As you can see you are trying to pull nvcr.io/nvidia/tritonserver:21.07-py3-min without docker logging in.

[2021-08-02 17:48] #3154 closed

[2021-08-02 18:24] GowthamKudupudi commented on #3173
@CoderHam no no. I'm saying that recently I've built **both** `model.plan` and `tritonserver` inside `nvcr.io/nvidia/tensorrt:21.05-py3` in which `TRT` version is `7.2.3.4`

[2021-08-02 19:55] tanmayv25 commented on #3179
@devloper13  Can you share complete log of perf analyzer with/without dynamic batching for `EfficientDet-D1`?

Increasing concurrency helps pipelining the requests that can hide network latencies. But their contribution will be much smaller for such time taking models (> 100ms). Using dynamic batching with high request concurrency usually helps improving the performance but it is not guaranteed an

[2021-08-02 21:31] shaowei-su commented on #3170
@Tabrizian Thanks for the quick fix. I tried to rebuild the image against master branch but it seems that cmake is not working when having `-DTRITON_ENABLE_GPU=OFF` flag turned off:
[code]
On the other hand, if the flag is turned on then for CPU only models it complains at run time:
[code]
Is this expected or there is different release branch that I should use instead of `master` branch?

[2021-08-02 21:37] tanmayv25 commented on #3173
@GowthamKudupudi  Does your `plan` file work inside prebuilt tritonserver container?  `nvcr.io/nvidia/tritonserver:21.05-py3`

[2021-08-02 21:59] tanmayv25 commented on #3176
We do have a complete documentation of this behavior [here](https://github.com/triton-inference-server/core/blob/main/include/triton/core/tritonbackend.h#L1122-L1140).

If it looks good, we can include the same in our markdowns or at the least point to the tritonbackend.h file.

[2021-08-02 22:02] tanmayv25 commented on #3106
Closing because of the inactivity. Please re-open if still an issue.

[2021-08-02 22:02] #3106 closed

[2021-08-02 22:13] tanmayv25 commented on #3141
@kpedro88  Thanks for listing all the possible enhancements. I agree we still don't have a really isolated build setup for client repo. We did plan to separate out perf_analyzer into its own repo but I don't believe that will be happening very soon.
Your contribution will be really appreciated. I am marking this as an enhancement but it might take us some time to get to this cleanup.

[2021-08-02 22:26] tanmayv25 commented on #3098
Closing because of the inactivity, Please re-open if still an issue,

[2021-08-02 22:26] #3098 closed

[2021-08-02 22:29] tanmayv25 commented on #3086
Closing the issue because of inactivity. Please re-open if still an issue.

[2021-08-02 22:29] #3086 closed

[2021-08-02 22:31] tanmayv25 commented on #3073
@vBLFTePebWNi6c  Did 21.06 container resolve the issue?

[2021-08-02 22:53] GuanLuo commented on #3032
Strange that TRT backend doesn't verify the max batch size in model config is valid for the model. Do you mind to try with the latest Triton container to see if the issue is fixed? I will create a tracker for it if it is not fixed.

[2021-08-02 23:14] wphicks commented on #3176
Yeah, that looks great! If we could just get a reference or copy of that in the markdown, that would be ideal.

[2021-08-03 00:19] #3176 closed

[2021-08-03 00:37] tanmayv25 commented on #3151
I am not the best person to advice you on how to setup your system as I have limited exposure to MIG. But you can take a look at [load balancing]( https://www.nginx.com/resources/glossary/load-balancing/
).
A system can be designed as a load balancer routing requests to underlying instances of Triton server processes. This way client only has to issue request to load balancer and all the triton se

[2021-08-03 00:41] CoderHam commented on #3029
@ioangatop I have filed a ticket and the Triton team and I will look into root causing this issue.

[2021-08-03 00:57] chiehpower commented on #3151
Hi @tanmayv25 ,

I got it! Thanks for your reply and for sharing the information!
I will take a look and try it.
Thank you!

[2021-08-03 01:28] tanmayv25 commented on #2159
The C-API does not use any networking, The HTTP/gRPC server implementation use C-API to communicate with the Triton core.

We do plan to add the HTTPS support but it may take a while when we get to it. See this for more details: https://github.com/triton-inference-server/server/blob/main/docs/images/arch.jpg

[2021-08-03 01:32] tanmayv25 commented on #2910
Closing as #3039 was merged.

[2021-08-03 01:32] #2910 closed

[2021-08-03 01:58] Tabrizian commented on #3170
`-DTRITON_ENABLE_GPU=OFF` has been fixed on master. Can you try again?

[2021-08-03 04:14] shaowei-su commented on #3170
Using master branch with GPU flag off can build now with command
[code]
but later ran into runtime errors:
[code]
Did I miss anything?

[2021-08-03 04:39] GowthamKudupudi commented on #3173
@tanmayv25 It is **not working**.

[2021-08-03 04:40] Tabrizian commented on #3170
What is the version of the server that you are using? You need to make sure that the compiled version branch for `common`, `backend`, and `core` repos match the version that the server was compiled with. See the step 2 of the link below for more information:

https://github.com/triton-inference-server/python_backend#building-from-source

[2021-08-03 05:42] shaowei-su commented on #3170
Hmm I was using release tag `r21.06` with latest python backend master branch and the build failed with error:
[code]

Switch to release tag `r21.07` fixed the issue. Thanks again for the quick fix @Tabrizian!

[2021-08-03 06:01] Yonghao-Yu commented on #3177
I0803 02:48:42.820678 7237 libtorch_backend.cc:776] The following operation failed in the TorchScript interpreter.
Traceback of TorchScript, serialized code (most recent call last):
  File "code/__torch__/torchvision/models/detection/faster_rcnn.py", line 20, in forward
      _2 = False
    if _2:
      ops.prim.RaiseException("Exception")
[code]

[2021-08-03 07:29] vBLFTePebWNi6c commented on #3073
@tanmayv25 I didn't try 21.06 container. I solved this issue with changing type of shared memory from cuda to system and explicitly loading all my models from largest to smallest before the script. I can assume that problem was in memory allocation for models or shared memory regions because total GPU memory that each model takes when loaded separately is larger than all available GPU memory, but

[2021-08-03 11:45] zhaohb commented on #3134
@tanmayv25 hello, now  I had recompiled openvino_backend, and inference my model, but I found that openvino's throughput is much less and latency is much higher than TensorFlow. the step compile:

- $ mkdir build
- $ cd build
- $cmake - DCMAKE_INSTALL_PREFIX: PATH = ` PWD ` / install - DTRITON_BUILD_OPENVINO_VERSION = 2021.3 - DTRITON_BUILD_CONTAINER_VERSION = 20.16 ..
- make
- make install

Do I

[2021-08-03 11:49] zhaohb commented on #3134
I had compiled TensorFlow backend before, and without changing the code,, but the performance was also significantly reduced, I do not know why.

[2021-08-03 13:30] Tabrizian commented on #3170
Yes, the 21.06 wont work because of some changes to host policy.

[2021-08-03 14:31] Lewiky opened #3187 "Triton on KFServing errors on every request - " Infer failed: input 'features' already exists in request""
**Description**
A clear and concise description of what the bug is.

**Triton Information**
What version of Triton are you using?

Are you using the Triton container or did you build it yourself?

**To Reproduce**
Steps to reproduce the behavior.

Describe the models (framework, inputs, outputs), ideally include the model configuration file (if using an ensemble include the model configuration fil

[2021-08-03 14:31] #3187 closed

[2021-08-03 14:47] Lewiky opened #3188 "Triton on KFServing errors on every request - "Infer failed: input 'features' already exists in request""
**Description**

I'm running Triton on KFServing, and I'm seeing a strange error message on each request.

Debug information logged by Triton:

[code]
This error message is really cryptic to me - I can't find any reference to it anywhere, except the source line that produces it: https://github.com/triton-inference-server/server/blob/dd1083098466c9a0356c6dd54238bf26e8fb948b/src/core/infer_request.c

[2021-08-03 16:24] yuzisun commented on #3188
@deadeyegoodwin Can you help on this issue?

[2021-08-03 16:38] ihcho9088 opened #3189 "python backend complains about modulenotfound"
**Description**
`import librosa` in `model.py` raises `ModuleNotFoundError: No module name
d 'decorator'`

**Triton Information**

nvcr.io/nvidia/tritonserver:21.07-py3

**To Reproduce**
1. Create conda environment
[code]

2. model.py
[code]

3. config.pbtxt
[code]

4. Output
[code]

[2021-08-03 16:58] Tabrizian commented on #3189
@ihcho9088 Did you compile the Python backend stub as well? The version of Python that is used in your conda environment is slightly different than the version used by Python backend. (3.8.10 vs 3.8.11). https://github.com/triton-inference-server/python_backend#1-building-custom-python-backend-stub

[2021-08-03 18:01] tanmayv25 commented on #3188
[code]

Why do you have a `for loop` here? The request json should have a single input tensor with name "features". Because there are multiple occurrence  of this input in a single request Triton complains "input 'features' already exists in request"

[2021-08-03 18:16] tanmayv25 commented on #3134
You can experiment with different `CPU_THREADS_NUM`, `CPU_BIND_THREAD` and `CPU_THROUGHPUT_STREAMS` settings. More details on these parameters [here](https://github.com/triton-inference-server/openvino_backend#parameters) and [here](https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_supported_plugins_CPU.html#supported_configuration_parameters). In our experiments we found the performance

[2021-08-03 18:17] tanmayv25 commented on #3134
May be something changed in the system?

[2021-08-03 18:23] tanmayv25 commented on #3073
Glad it worked for you. If you see similar issues with our recent releases or have general suggestions on how to handle such cases better in triton, feel free to open another GitHub issue.

[2021-08-03 18:23] #3073 closed

[2021-08-03 18:40] tanmayv25 commented on #3173
It is strange.. usually this error is reported only when there is a mismatch in TRT versions of the system building plan files and the one trying to deserialize it.

We do have sufficient testing to show many models run perfectly with the combination. Looks like something wrong with the `yolo4tiny`.  Can you deserialize and run inference on your plan file outside Triton? eg. on `nvcr.io/nvidia/ten

[2021-08-03 18:47] tanmayv25 commented on #3090
Closing the issue because of inactivity and the original problem was resolved, Please open a new issue if still facing any problems.

[2021-08-03 18:47] #3090 closed

[2021-08-03 18:49] tanmayv25 commented on #3080
Closing because of the inactivity. Please feel free to open a new issue if you have any more questions.

[2021-08-03 18:49] #3080 closed

[2021-08-03 18:57] tanmayv25 commented on #3066
perf analyzer should report the detailed breakdown of the latency. Can you run PA with `-f <filename>.csv` and share them for instance counts 1,2 and 3 for any one of the models such as `inception_graphdef`?

[2021-08-03 19:09] jamt9000 opened #3191 "Certain FP16 traced pytorch models with batchnorm no longer work with r21.07"
**Description**

Certain pytorch traced models now give errors like

[code]

In this case with https://ngc.nvidia.com/catalog/models/nvidia:jasper_pyt_torchscript_fp16_amp/version and [fp16/jasper-ts-trace-ensemble/config.pbtxt](https://github.com/NVIDIA/DeepLearningExamples/blob/d788e8d4968e72c722c5148a50a7d4692f6e7bd3/PyTorch/SpeechRecognition/Jasper/triton/model_repo_configs/fp16/jasper-ts-trac

[2021-08-03 19:15] tanmayv25 commented on #2572
Closing the issue. Please check the response on the developer forum.

[2021-08-03 19:15] #2572 closed

[2021-08-04 00:33] ihcho9088 commented on #3189
@Tabrizian
Oh, minor version matters?
I have created stub but it complained as well.

Here is a short version of the full log. It used the environment archive file `test2.tar.gz` and the stub compiled by user.
[code]

Here is steps to produce.
[code]

Here is the full log
[code]

The strange thing is that the same error was raised with python version 3.8.10 without a custom compiled stub.

Here is

[2021-08-04 01:50] ernestlwt commented on #3183
Works fine with 21.07! thanks!

[2021-08-04 01:50] #3183 closed

[2021-08-04 02:01] GowthamKudupudi commented on #3173
@tanmayv25 I too have some other `plan` files working. But the one built using [tkDNN](https://github.com/ceccocats/tkDNN)  library is giving this issue. **Yes I can deserialize and run** inference on this `plan` file outside Triton. I'm generating the `plan` file, building and running the `tritonserver` in the same container: `nvcr.io/nvidia/tensorrt:21.05-py3`.
[code]
but the cuda version is 11.

[2021-08-04 02:08] zhaohb commented on #3134
I see tools/gen_openvino_dockerfile.py, 21.06 is not build with source, 21.07 will build with source.

[2021-08-04 02:08] lzha106 commented on #1870
verified ‘nvcr.io/nvidia/tritonserver:20.10-py3’ works well.

[2021-08-04 02:14] tanmayv25 commented on #3134
Great! Can you open a new issue for perf tuning as your PR fixes the original issue?

 My bad. Thanks for correction.

[2021-08-04 02:20] zhaohb commented on #3134
ok, I will open a new issue. and I will resubmit the PR as soon as possible

so, 21.06 use TBB？if I want get better perf, which I should use?openmp or tbb?

[2021-08-04 02:24] tanmayv25 commented on #3173
Empty directories are fine.

Can you share the steps for generating the failing `plan` file (including libtkDNN.so) and how you are loading it within Triton (any config.pbtxt)? We will take a look into the issue.

[2021-08-04 02:48] tanmayv25 commented on #3134
[This ](https://docs.openvinotoolkit.org/latest/openvino_docs_optimization_guide_dldt_optimization_guide.html#cpu-checklist) is general guidance from openvino team.

We moved from TBB to openMP because we found openMP version to give better perf with Triton. But our experiments have not been very exhaustive.

[2021-08-04 03:24] zhaohb commented on #3134
ok, if I want to use openmp, I should compiler OV with openvino_backend 21.07? but 21.07 has host policy, I do not why add it , We can also set it outside triton, for example in K8s.

[2021-08-04 05:39] rkoystart commented on #3169
Is there any documentaion for creating the ngc credentials @CoderHam

[2021-08-04 05:49] #3178 closed

[2021-08-04 06:10] LLsmile opened #3193 "how can I checkout to r20.12?"
how can I checkout to r20.12?

[2021-08-04 06:16] #3193 closed

[2021-08-04 07:13] zhaohb opened #3194 "openvino_backend has much lower performance than tensorFlow_backend"
**Description**
I have a recommended model, which can be loaded normally using TensorFlow backend, but when using OV loading, it indicates that the operator is not supported, so I implemented the operator that OV does not support and encapsulated the custom operator into a shared library.
now OV can also load the model normally. However, in the performance test, it was found that the performance o

[2021-08-04 07:17] zhaohb commented on #3194
now , ov can not load model with share lib, please refer to this link to recompile ov bakcend. [https://github.com/triton-inference-server/openvino_backend/pull/27](https://github.com/triton-inference-server/openvino_backend/pull/27)

[2021-08-04 08:03] LLsmile opened #3195 "how can I control the cuda memory for models?"
what does gpu-memory-fraction mean? How can I control cuda memory for models? It seems the cuda memory doesn't change after model change.

[2021-08-04 08:19] GowthamKudupudi commented on #3173
I'm using a host with `T4 GPU` and have done `docker run --gpus=1 -v /var/run/docker.sock:/var/run/docker.sock --rm -i -t nvcr.io/nvidia/tensorrt:21.05-py3`.
Now inside the container:
1. Install opencv with ffmpeg and build tkDNN as described at https://github.com/ceccocats/tkDNN#index
2. Run the demo provided by them as described at https://github.com/ceccocats/tkDNN/blob/master/docs/demo.md but

[2021-08-04 11:01] Fatima223-lab commented on #2716
How ??

[2021-08-04 11:13] zhaohb commented on #3134
I had open a new issue for perf tuning [https://github.com/triton-inference-server/server/issues/3194](https://github.com/triton-inference-server/server/issues/3194)

[2021-08-04 12:45] nicklhy opened #3196 "segment fault when running tritonserver which is built from source"
**Description**
I successfully built triton server from source but got segment fault when running it.

[code]

Already tried r21.06 and r21.07, both give the same error.

Just want to know what to do next.

**Triton Information**
r21.07 and r21.06

Are you using the Triton container or did you build it yourself?

Build triton server by my self with the following command:
[code]
Host info:
* Ubuntu

[2021-08-04 12:48] nicklhy commented on #3196
PS. I also tried the cpu mode by removing `--enable-gpu-metrics --enable-gpu`, the problem just disappeared.
Seems the problem is related to gpu/cuda ?

[2021-08-04 14:02] Tabrizian commented on #3189
I was able to reproduce this. Looks like the packages in your home environment are installed outside the conda environment.

I tried `conda install -c conda-forge librosa` and then used `conda-pack` and this issue was resolved.

[2021-08-04 15:36] msjelly opened #3197 "Include triton backend license files in tritonserver container image."
**Is your feature request related to a problem? Please describe.**
We publish docker images based on nvidia's tritonserver images.  As OSS best practice, container images should include the LICENSE files for runtime OSS dependencies.  I could not locate a copy of the LICENSE files for tritonserver backends in the containter image - e.g.
https://raw.githubusercontent.com/triton-inference-server/ten

[2021-08-04 16:42] c-woods-gm opened #3198 "Clarification of error message: Poll failed for model directory 'x': output 'output.0' for ensemble 'x' is not written"
I am getting the error message: "Poll failed for model directory 'x': output 'output.0' for ensemble 'x' is not written", while trying to load an ensemble. Could it be clarified under what conditions this error occurs as I cannot find any documentation describing the error

[2021-08-04 16:52] CoderHam commented on #3177
@Yonghao-Yu Triton should support the basic torchvision ops. The issue is with the torchscript model preparation. As you can see the issue is caused by this set of checks:

raise ValueError("In training mode, targets should be passed")
if self.training:
assert targets is not None

You should try to run the torchscript model in native pytorch to confirm that the issue is not specific to the model i

[2021-08-04 18:42] GuanLuo commented on #3178
@philschmid The fix is merged into main

[2021-08-04 18:55] jbkyang-nvi commented on #3126
@flawaetz it looks like you have found the issue.

[2021-08-04 18:55] #3126 closed

[2021-08-04 21:23] tanmayv25 commented on #3198
There is no model writing to the `output.0` in your ensemble.  Most probably the ensemble chain is broken and data flow is not reaching the `output.0` tensor.

We have a test for this in our CI. Please take a look at an ensemble that can throw this error.  https://github.com/triton-inference-server/server/blob/main/qa/L0_model_config/autofill_noplatform/ensemble/unreachable_output_2/config.pbtxt

[2021-08-04 21:23] #3198 closed

[2021-08-04 21:36] tanmayv25 commented on #3196
Can you share the gdb backtrace?
https://github.com/triton-inference-server/server/blob/main/docs/faq.md#if-the-server-segfaults-how-can-i-debug-it

[2021-08-04 21:39] tanmayv25 commented on #3196
Also, there appears to be discrepancy between the system configuration. Please try to match the libraries with one shown in support matrix for the specific Triton release.
https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html

[2021-08-04 21:44] tanmayv25 commented on #3197
We have an ongoing effort of including licenses for 1st order dependencies in the Triton container image. Opening an issue with team to take your considerations into account.

[2021-08-04 21:46] tanmayv25 commented on #3197
TensorRT backend is currently built-in into tritonserver so you don't see it under `/opt/tritonserver/backends`

[2021-08-04 22:07] tanmayv25 commented on #3195
It is a TensorFlow option exposed by Triton. See here for more details: https://github.com/triton-inference-server/tensorflow_backend#--backend-configtensorflowgpu-memory-fractionfloat

It does nothing but sets the [per_process_gpu_memory_fraction](https://github.com/tensorflow/tensorflow/blob/v2.5.0/tensorflow/core/protobuf/config.proto#L19)  to the specified value and [allow_growth ] to true if

[2021-08-04 22:15] tanmayv25 commented on #3134
Fixed by [#27](https://github.com/triton-inference-server/openvino_backend/pull/27)

[2021-08-04 22:15] #3134 closed

[2021-08-04 22:17] tanmayv25 commented on #3142
@DayDayupupupup  The custom op support in OV backend was recently fixed [#27](https://github.com/triton-inference-server/openvino_backend/pull/27). Can you check whether this fixes your issue?

[2021-08-04 22:41] tanmayv25 commented on #3194
Compute Infer Times:
[code]

The model inference on openVINO is taking too long time compared to TF model. Looks like this has to do with model itself than the Triton. We will still take a look at the performance degradation. May be OV 2021.4 with correct settings might help bridhing the gap.

Just to confirm, did you create the OV IR model (model.xml and model.bin) with the same TF savedmodel in

[2021-08-04 23:45] zhaohb commented on #3194
yes，model.xml model.bin had created from tf savedmodel in my repo

Get Outlook for Android

[2021-08-04 23:46] tanmayv25 commented on #3169
@rkoystart  May be sign up from [here](https://ngc.nvidia.com/signin).

[2021-08-04 23:49] zhaohb commented on #3194
you can test direct, I want to know the result with 2021.4 ,when will do this test？

Get Outlook for Android

[2021-08-05 01:02] ihcho9088 commented on #3189
`conda` does not seem to isolate the environment [completely](https://github.com/conda/conda/issues/394) not like `virtualenv`

The local path of a user is included in `os.sys.path`. `conda` does not install packages if they are already in the local path by `pip install [libraries] --user`

The workaround would be exporting the environment variable `PYTHONNOUSERSITE`

[code]

I guess we should men

[2021-08-05 01:27] LLsmile commented on #3195
@tanmayv25 Thanks for your help. I start the triton server with tensorflow,gpu-memory-fraction=0.1and explicit mode, then run different models (such as resnet, mobilenet and so on) with different input size (such as  480*480, 320*320, even 64*64). The cuda memory never change for so many difference.
Besides, I'm running different models in different versions on the same time, such as ONNX Models a

[2021-08-05 01:40] nicklhy commented on #3196
@tanmayv25 Thanks for your replies. I just tried the gdb debug and the backtrace is as below
[code]

About the version requirements in nvidia support matrix, I found the latest releases 21.04-21.07 require CUDA 11.3 which is too new for our cluster. And that's exactly the reason why I am trying to build triton-server myself. ( We want to try the latest triton-server in our existing cluster.)

[2021-08-05 01:44] tanmayv25 commented on #3195
The frameworks(TF, ONNXRuntime, pyTorch-libtorch) do not expose hooks to exactly control memory usage. Triton will itself go OOM if you exceed GPU memory by keep loading the models.

In our experience with TF we have observed TF does not release the memory it has once allocated. This may be an optimization from their side as TF would not have to re-allocate the memory again for future larger sized

[2021-08-05 01:56] tanmayv25 commented on #3196
@jbkyang-nvi  The segfault appears to be arising from DGCM library. Have you seen this before? Do you have any advice?

[2021-08-05 02:03] tanmayv25 commented on #3194
@zhaohb You can use patch from my PR: https://github.com/triton-inference-server/openvino_backend/pull/25/files

Then follow these steps:

[code]

I believe this should work. Just replace the `backend/openvino` contents with this newly built backend library,

[2021-08-05 02:04] nicklhy commented on #3196
Just solved this problem by upgrading dcgm from 2.0.13 to 2.2.9 !
Is it possible that the old dcgm uses a different protobuf version and give this incompatible error when launching triton-server?

[2021-08-05 02:08] zhaohb commented on #3194
openvino_backend which branch i should use?

[2021-08-05 03:30] tanmayv25 commented on #3196
We were always building Triton with the latest DCGM and recently fixed upon a version: https://github.com/triton-inference-server/server/pull/3140

This should be no longer an issue from next releases. build.py will install the dcgm from the one specified in VERSION_MAP.

[2021-08-05 03:30] #3196 closed

[2021-08-05 08:22] JulyLi2019 opened #3203 "How to build the PyTorch Backend on jetson?"
At present, I have run the official code of Tensorflow Backend example on jetson, and then how to build the PyTorch Backend on jetson?What should i do next?

[2021-08-05 08:27] JulyLi2019 commented on #3203
It is worth noting that the installation of tritonserver on jetson does not use docker.

[2021-08-05 11:51] jplu opened #3204 "Unable to run TensortRT execution accelerator with an ONNX model."
**Description**
Triton raises the following error:
[code]
Nothing more in the logs with `--log-verbose=2`:
[code]

**Triton Information**
I'm using the official `nvcr.io/nvidia/tritonserver:21.07-py3` container.

**To Reproduce**
Here my config file:
[code]

**Expected behavior**
The model runs properly as explained in the [optimization doc](https://github.com/triton-inference-server/server/blob/m

[2021-08-05 13:09] zhaohb commented on #3194
@tanmayv25 bad news, I have compiled ov backend of 2021.4 using openvino_backend 21.07 branch and the compilation steps you mentioned, it successed , and I get ov with openmp, but when I test my model,I found MNIST model that can be loaded normally, but if there is a shared library of custom op, an error is reported when loading. I had add my patch for custom op lib.
I wonder where the problem is.

[2021-08-05 14:39] zhaohb commented on #3194
in my custom op I use InferenceEngine::parallel_for, I do not know whether this has an effect. can you test my model in your ov 2021.4? if you test I can share my custom op code to you, I am eager to know the performance difference between TF and OV in ov 2021.4 with openmp.

[2021-08-05 14:43] #3189 closed

[2021-08-05 15:08] Yonghao-Yu commented on #3177
OK，thank you

[2021-08-05 20:03] tanmayv25 commented on #3204
There is a known issue in [release notes ](https://github.com/triton-inference-server/server/releases/tag/v2.12.0) of 21.07.

The support will be available in 21.08 release.

[2021-08-05 20:03] #3204 closed

[2021-08-05 20:16] tanmayv25 commented on #3203
The Triton Jetson build is not docker based. We don't officially support pytorch backend on jetson but it may be possible by building it from scratch.
@CoderHam  Do you know if they can build pytorch backend on jetson?

[2021-08-05 20:24] CoderHam commented on #3203
@JulyLi2019 you should be able to build the pytorch backend. I do know of some users being able to successfully build the pytorch backend on Jetson.
You will have to disable MKL in the cmake files and follow the build instructions here: https://github.com/triton-inference-server/pytorch_backend#build-the-pytorch-backend
In specific you will follow the non-docker build for pytorch backend.

You can

[2021-08-05 21:40] deadeyegoodwin commented on #3197
The top-level LICENSE file at /opt/tritonserver covers all of the Triton components. There are additional licenses in the individual backends to cover the software used by that backend (for example, the tensorflow_backend directory contains license for the Google TensorFlow framework).

[2021-08-05 21:40] #3197 closed

[2021-08-06 03:58] JulyLi2019 commented on #3203
Now, I used the CMakeLists.txt file you gave to run`cmake -DCMAKE_INSTALL_PREFIX:PATH=`pwd`/install -DTRITON_PYTORCH_INCLUDE_PATHS="<PATH_PREFIX>/torch;<PATH_PREFIX>/torch/torch/csrc/api/include;<PATH_PREFIX>/torchvision" -DTRITON_PYTORCH_LIB_PATHS="<LIB_PATH_PREFIX>" ..`,system hint:`  By not providing "FindPython3.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package confi

[2021-08-06 06:34] CPFelix commented on #3135
Sorry to disturb.I run the triton server with version 20.03, and I load the model from the Minio,too.But when I run:
'
sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 nvcr.io/nvidia/tritonserver:20.03-py3 trtserver --model-repository=s3://models/model_repository
'
It will get stuck at 'Initializing Triton Inference Server' and then output error 'error: creating server: INTERNAL -

[2021-08-06 07:02] zhaohb commented on #3194
@tanmayv25 I find that OV backend does not support the Inference Engine Async API. do we have any plans to support it.

[2021-08-06 07:48] zhaohb commented on #3194
[code]
I add KEY_EXCLUSIVE_ASYNC_REQUESTS, but the performance is lower than before

[2021-08-06 08:00] sapjunior commented on #3045
I also encounter this problem as well when using multiprocess to fire infer request though grpcclient. The result will be non-deterministic for each time even if the inputs are same. However, if I fire inference request in sequential fashions or using thread pool, the result will be correct but inference speed is much slowe.

[2021-08-06 08:31] ihcho9088 opened #3206 "How to send binary data in `perf_analyzer`?"
**Description**
I would like to

**To Reproduce**
Let the model take any binary file such as `wav` and return as it is.

config.pbtxt
[code]

model.py
[code]

client.py
[code]

[code]

I would like to use `perf_analyzer` to stress triton server for single server performance, autoscale, etc. I have read [this](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md#input-d

[2021-08-06 12:20] LMarino1 commented on #3135
Hi @CPFelix,

Some things you may be missing from your docker run command that I use with MinIO:

1. Minio access codes (these are the defaults): `-e AWS_ACCESS_KEY_ID=minioadmin -e AWS_SECRET_ACCESS_KEY=minioadmin -e AWS_DEFAULT_REGION=us-east-1`

2. Your `--model-repository` might also need to be pointed to the address:port that MinIO is running on: `--model-repository=s3://X.X.X.X:9000/models/m

[2021-08-06 14:00] Klomi opened #3207 "Unregistering system shared memory region before async requests complete causes server crash"
**Description**
Unregistering system shared memory region before async requests complete causes server crash.

**Triton Information**
Docker container: `nvcr.io/nvidia/tritonserver:21.07-py3`

**To Reproduce**

1. Register system shared memory region
2. Make an asynchronous inference request
3. Unregister system shared memory region before the request completes
4. Server crashes with exit code 139

[2021-08-06 15:22] Tabrizian commented on #3189
Looks like it is something related to the older versions of `conda`. Inside the Triton 21.07 container I was not able to reproduce the same `os.sys.path`:

[code]

I have not set the `PYTHONNOUSERSITE` env variable.

[2021-08-06 16:01] ihcho9088 commented on #3189
@Tabrizian
You wouldn't find the local path if you haven’t install any packages in local.

Try to install packages, say `torch` with `—user` flag.

[code]

[2021-08-06 18:05] CoderHam commented on #3207
You outputs are contained inside the shared memory region. Unregistering them during the inference will indeed cause a segfault. Adding a check for this is tricky since there is a race condition here. We do check if a region exists when an inference request begins processing.
What if the output region is unregistered during the creation of the response (after the memory address has been passed to

[2021-08-06 18:09] CoderHam commented on #3203
You should upgrade your cmake version to 3.18 instead of downgrading the min version for the backend. We chose to upgrade the min version for a reason.

You will also need to install the necessary dependencies for the pytorch backend including torchvision and python3.

[2021-08-06 18:18] tanmayv25 commented on #3194
It is not in our roadmap yet. But we may add support for it if we find any indication of that providing a performance boost.

[2021-08-06 19:54] tanmayv25 commented on #3206
You have a single element in your INPUT tensor. The content of the binary file INPUT must be a single line file with the following contents:

[code]

Have you tried this combination? Can you confirm this is the exact case?

[2021-08-07 07:52] CPFelix commented on #3135
@LMarino1 Thanks for your reply! I runned as you said:
'
sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 -e AWS_ACCESS_KEY_ID=minioadmin -e AWS_SECRET_ACCESS_KEY=minioadmin -e AWS_DEFAULT_REGION=us-east-1 nvcr.io/nvidia/tritonserver:20.03-py3  trtserver --model-repository=s3://192.168.X.XXX:9000/models/model_repository
'
but still get the error:
'
I0807 07:47:58.811589 1 server.c

[2021-08-07 09:20] #3207 closed

[2021-08-07 10:38] ihcho9088 commented on #3206
@tanmayv25
What do you mean by `<contents of wav file>` in a single line?

Casting `bytes` to `str` like this?
[code]

[2021-08-09 00:30] jwatte commented on #3141
FWIW, I think most of these are _bugs_ not _enhancements_.

If I don't enable/include Python, it's a bug to need or have to build python.
If I don't use HTTP, it's a bug to need or have to link with rapidjson.

For what it's worth, the client build doesn't even work if trying to just build the C API:

    cmake -DCMAKE_INSTALL_PREFIX="$PWD/install" -DTRITON_ENABLE_CC_HTTP=OFF -DTRITON_ENABLE_CC_GR

[2021-08-09 01:42] CPFelix commented on #3135
@LMarino1 Thanks for your reply! I runned as you said:
'
sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 -e AWS_ACCESS_KEY_ID=minioadmin -e AWS_SECRET_ACCESS_KEY=minioadmin -e AWS_DEFAULT_REGION=us-east-1 nvcr.io/nvidia/tritonserver:20.03-py3 trtserver --model-repository=s3://192.168.X.XXX:9000/models/model_repository
'
but still get the error:
'
I0807 07:47:58.811589 1 server.cc

[2021-08-09 02:20] CPFelix opened #3210 "error: creating server: INTERNAL - Could not get MetaData for bucket with name 192.168.x.xxx:9000"
**Description**
I tried to run Triton with model-repository in Minio，and when I runned the commond:
'
sudo docker run -e AWS_ACCESS_KEY_ID=minioadmin -e AWS_SECRET_ACCESS_KEY=minioadmin -e AWS_REGION="us-east-1" -e S3_ENDPOINT=http://192.168.x.xxx:9000 --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 nvcr.io/nvidia/tritonserver:20.03-py3  trtserver --model-repository=s3://192.168.x.xxx:9000/model

[2021-08-09 05:24] CPFelix commented on #3210
It seems caused by Triton20.03，and I update to Triton20.10 solved the problem.

[2021-08-09 05:24] #3210 closed

[2021-08-09 06:28] xuyufeng1995 opened #3211 "Concurrent requests for the same model lead to inconsistent output results"
**Description**
I use Triton to host a TRT models. When using multiple threads to call the same model to perform inference (using c++ API: tritonclient.grpc.InferenceServerClient.infer(...)), the feature extractor returns inconsistent results.

**Triton Information**
docker image: nvcr.io/nvidia/tritonserver:r21.06-py3
tritonclient=r21.06

**To Reproduce**
- 1、load triton with a models
[code]

- 2

[2021-08-09 06:46] #3211 closed

[2021-08-09 07:04] CPFelix opened #3212 "Can I load costum layer or plugin from Minio or S3?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I load the model from Minio, and there is a liblayerplugin.so need to be load. I want to preload the plugin.so from Minio,too.Can I?
Now I preload the  liblayerplugin.so file from local successfully using '-v/home/chen/server/docs/examples/plugins:/plugins --env LD_PRELOAD=/plugins/liblayerplug

[2021-08-09 07:31] JulyLi2019 commented on #3203
Now,I have upgrade my cmake version to 3.21.0,and run the `cmake -DCMAKE_INSTALL_PREFIX:PATH=`pwd`/install -DTRITON_PYTORCH_INCLUDE_PATHS="<PATH_PREFIX>/torch;<PATH_PREFIX>/torch/torch/csrc/api/include;<PATH_PREFIX>/torchvision" -DTRITON_PYTORCH_LIB_PATHS="<LIB_PATH_PREFIX>" ..`
,but it gives the following error
`-- RapidJSON found. Headers: /usr/include
-- RapidJSON found. Headers: /usr/include
-

[2021-08-09 08:04] devloper13 commented on #3179
I didn't quite understand. For a non-dynamic batch model I can't give beyond -b 1, correct?

[2021-08-09 09:06] nicklhy commented on #3183
@Tabrizian Do you mean there is no plan to fix this bug in 21.06 ? The only choice is upgrading to 21.07 ?

[2021-08-09 13:25] Tabrizian commented on #3183
@nicklhy Unfortunately, yes. We don't patch the previous releases when the bug is fixed.

[2021-08-09 13:35] SriHarsha-Paladugula opened #3213 "Error in Build of Triton server using --no-container-build"
**Description**
A clear and concise description of what the bug is.

While I am trying to build the triton server without docker as mentioned in the build.md facing error as mentioned below

Cloning into 'repo-third-party-src'...
fatal: invalid reference: r20.11
CMake Error at repo-third-party-subbuild/repo-third-party-populate-prefix/tmp/repo-third-party-populate-gitclone.cmake:40 (message):
  Fa

[2021-08-09 14:56] Tabrizian commented on #3189
@ihcho9088 Thanks for the reply! I added a note about this in the README.

[2021-08-09 16:05] prateek-ponnuru opened #3215 "Triton Ensemble Model - seems to be executing each model multiple times."
**Description**
I am trying to deploy a triton Ensemble consisting of a pre.py - model - post.py pipeline. I have some debugging statements in the pre and post scripts that should ideally be printed so -

pre-started
pre-ended
post-started
post-ended

However, this is the actual output -

preprocess started
preprocess finished
W0809 15:02:10.547689 7445 pinned_memory_manager.cc:133] failed to allo

[2021-08-09 17:25] CoderHam commented on #3213
@SriHarsha-Paladugula branch tags for releases for the third_party repo were added from 20.12 onwards. Is there a reason you cannot use 20.12?

[2021-08-09 17:27] CoderHam commented on #3203
@JulyLi2019 looks like you are not setting your build directory/paths correctly. Are you running this cmake command inside pytorch_backend/build?

[2021-08-09 18:50] SriHarsha-Paladugula commented on #3213
@CoderHam Thanks for the quick update.
Two main reasons to go with this version
1. I have Nvidia Geforece MX130 Gpu (Maxwell Architecture) on my laptop and none of the dockers were supporting this GPU so checking if non container build may support.
2. I have Ubuntu 18.04, Cuda 11.1 and Tensort 7.2.3 already installed on my system and closest release to these matches with 20.11 hence gone with this

[2021-08-09 20:23] tanmayv25 commented on #3206
The data in `<contents of wav file>` must be in an encoding expected by your model. perf_analyzer directly places the bytes from `<contents of wav file>` as inputs to the model. So, whatever bytes you would want to provide your python model input, you have to include that here.
@Tabrizian  Are there any restrictions to the BYTES encoding for python models?

[2021-08-09 20:38] Tabrizian commented on #3206
No, there are not any restrictions that I am aware of for the BYTES encoding for the Python models. From the error message that you have shared, it looks like each byte of your file is divided into a separate element of the array.

[2021-08-09 20:41] tanmayv25 commented on #3179
You can either perform client-side static batching(the request themselves can have N batches) or server-side dynamic batching (N different batch size 1 requests can be merged to run N batches in a single model execution).

As long as you have `max_batch_size` specified as N in the model config, you may provide upto `-b N` without dynamic batching enabled.

[2021-08-09 22:18] CoderHam commented on #3213
@SriHarsha-Paladugula you should be using the build.py and source code from r20.11 and not master / 21.07

[2021-08-09 22:18] #3177 closed

[2021-08-10 02:44] TANKIANAUN opened #3217 "[StatusCode.INVALID_ARGUMENT] unable to find data for input tensor 'input_tensor'"

[2021-08-10 06:11] nicklhy commented on #3183
Do we have a long-term-support version ? We are considering upgrade triton server from an old version (20.12) to the newest ones for online service deployment. Really need a stable release.

[2021-08-10 07:00] JulyLi2019 commented on #3203
@CoderHam Now,I have ran this cmake command  `cmake -DCMAKE_INSTALL_PREFIX:PATH=`pwd`/install -DTRITON_PYTORCH_INCLUDE_PATHS="<PATH_PREFIX>/torch;<PATH_PREFIX>/torch/torch/csrc/api/include;<PATH_PREFIX>/torchvision" -DTRITON_PYTORCH_LIB_PATHS="<LIB_PATH_PREFIX>" ..`inside pytorch_backend/build,it ran successfully.
But,when I run `make install`,system hit
`fatal error: torch/script.h: No such file

[2021-08-10 07:06] JulyLi2019 commented on #3203
@CoderHam The main problem should be: torch/script.h: No such file or directory.

[2021-08-10 07:23] #3217 closed

[2021-08-10 08:59] FreshZZ opened #3218 "Is dynamic batch trt model file required when using dynamic_batching"
Is dynamic batch  trt model file required when using dynamic_batching?
If I have to convert a trt model with dynamic batch when using dynamic_batching to improve throughput

[2021-08-10 16:40] dzier commented on #3183
Triton uses a continuous deployment strategy with monthly releases, where we address bugs and issues in past versions by applying the fixes to the next version. Every release goes through a QA process to ensure we are releasing a stable version every release. However, bugs to occur and get through as users adopt Triton in new and interesting ways. We understand that some customers cannot always up

[2021-08-10 16:46] moritzhambach opened #3219 "sending an output with wrong datatype (e.g. integers > 256 as datatype uint8) should fail"
**Description**
accidentally declared the wrong datatype (TYPE_UINT8) for integers above 256 as output of the triton server (python backend). Instead of raising an error, it sends the values modulo 256. makes it hard to debug...

**Triton Information**
What version of Triton are you using?
nvcr.io/nvidia/tritonserver:21.06-py3

Are you using the Triton container or did you build it yourself?
new o

[2021-08-10 17:22] Tabrizian commented on #3219
Thanks for reporting this issue. We have a bug already filed to fix this issue in Python backend.

[2021-08-11 02:06] zhaohb commented on #3194
@tanmayv25  _The _ZTIN3tbb4taskE error is mainly due to the parallel_for api I used in the custom operator

[2021-08-11 02:47] gioipv commented on #3189
Hello,
I met this issues. but even when i set: `export PYTHONNOUSERSITE=True' before activate conda env to `conda-pack`. And i run triton docker with command:
`docker run --gpus=1 --shm-size=5G -p8111:8111 -p8222:8222 -p8333:8333 --rm \
-v /home/gioipv/workspaces/ekyc_glasses/triton/model_repo2:/models --name tritonserver nvcr.io/nvidia/tritonserver:20.11-py3 tritonserver --model-repository=/model

[2021-08-11 07:28] gioipv opened #3222 "Triton with python backend: not Using Python execution env *.tar.gz file"
Hello.
I am using triton with python backend.
+ I followed this issues: https://github.com/triton-inference-server/server/issues/3189
+ This is config.pbtxt file
`
backend: "python"
....
parameters: {
  key: "EXECUTION_ENV_PATH",
  value: {string_value: "/home/gioipv/workspaces/ekyc_glasses/triton/model_repo2/model1/test2.tar.gz"}
}
`
+ when i run.
`docker run --gpus=1 --shm-size=5G -p8111:8111 -p

[2021-08-11 08:31] LLsmile commented on #3195
@tanmayv25 I keep tensorflow,gpu-memory-fraction=0.0 and restart the triton server and run models with different input size. But the cuda memory keeps the same regardless of the input size.

[2021-08-11 09:56] maksna opened #3223 "CPU triton server"
**Description**
I use triton server to predict tebsorflow2 albert.
The server is running sucessfully,but i post a grpc request,report a BUG

[StatusCode.INTERNAL] [_Derived_]{{function_node __inference_albert_fine_tune_layer_call_and_return_conditional_losses_9401}} {{function_node __inference_albert_fine_tune_layer_call_and_return_conditional_losses_9401}} The CPU implementation of FusedBatchNorm

[2021-08-11 12:44] ihcho9088 commented on #3222
@gioipv
You should point `EXECUTION_ENV_PATH` out properly.

[code]

because you mounted `/home/gioipv/workspaces/ekyc_glasses/triton/model_repo2` in `/models` in a docker container.

[2021-08-11 14:15] devloper13 commented on #3179
I have some problem executing effdet1 (not dynamic), will -b = 1 and -b=2 with concurrency=1 will do?

Here is the complete report:

**1. Effdet1 (dynamic) - batch 1 - concurrency 1:5 [Avg GPU Util: 40%]**
[code]

**2. Effdet1 (dynamic) - batch 2 - concurrency 1:5 [Avg GPU Util: 40%]**

[code]

[2021-08-11 15:02] Tabrizian commented on #3222
@gioipv Adding to what @ihcho9088 mentioned, looks like you are using an old version of triton that doesn't support Python Execution environments. Please make sure to update Triton to 21.07+ to use this feature.

[2021-08-11 15:02] #3222 closed

[2021-08-11 16:00] sarperkilic opened #3224 "Install Triton Server From Source Code On Jetson Nano"
**Description**
A clear and concise description of what the bug is.

Hello,

I follow the latest release for jetson jetpack 4.6 support (https://github.com/triton-inference-server/server/releases/tag/v2.12.0).

I download the Source code (tar.gz) file and tritonserver2.12.0-jetpack4.6.tgz file.

I understand that, ı have to run build.py script in Source code (tar.gz) file  to compile Triton Server

[2021-08-11 16:40] nischal-sanil opened #3225 "Can we fine tune a model with triton server?"
Hello,

I am working on a project where given the input data, I have to finetune the model during inference.

is it feasible to use triton server for such a scenario?

Thanks in advance.

[2021-08-11 17:27] CoderHam commented on #3224
@sarperkilic as the release notes indicate you do not need to build Triton server /client libraries and can use the same out of the box from the tar file. You must however install the necessary dependencies listed in the release notes.

[2021-08-11 17:27] #3224 closed

[2021-08-11 17:28] CoderHam commented on #3223
@maksna looks like the limitation is the lack of support for a specific op / format by Tensorflow. Can you try to run the same in CPU only Tensorflow? You should see the same error.

[2021-08-11 17:31] CoderHam commented on #3203
You need to link against the pytorch library correctly. Check your paths to ensure "<PATH_PREFIX>/torch is not empty

[2021-08-11 17:53] aramesh7 commented on #2877
Closing due to lack of activity for 14+ days.

[2021-08-11 17:57] aramesh7 commented on #3225
What type of parameters do you need to finetune?

[2021-08-11 19:40] CoderHam commented on #3135
@CPFelix You are using a very old version (over a year old) of Tritonserver that did not support the S3 path with the host : port format. Please retry with a newer version, ideally 21.06/07.

I will re-open if you face any issues.

[2021-08-11 19:41] CoderHam commented on #2848
Fixed by https://github.com/triton-inference-server/client/pull/19

[2021-08-11 19:41] #2848 closed

[2021-08-11 19:43] #2514 closed

[2021-08-11 21:17] tanmayv25 commented on #3179
@devloper13  My suspicions seems to be right.  Look closely at `Inference count` and `Execution count` being reported under `Server`. The average batch size being delivered to the TF model by Triton is `Inference count`/`Execution count`. This means dynamic batching is indeed working as intended.

Now look at the `compute infer`. This represents the average time taken to execute inference inside t

[2021-08-11 21:25] tanmayv25 commented on #3195
We only have limited hooks to control gpu memory usage by the framework (TF in this case). Try executing inference on TensorFlow Session directly outside Triton with these GPU options. If you still see the same behavior then you should file an issue with TensorFlow project.

If you are able to control the memory usage of TF models outside Triton, then file a new issue and we will enhance/fix our T

[2021-08-11 21:25] #3195 closed

[2021-08-11 23:37] aramesh7 commented on #3225
Triton is an inference server only, and does not facilitate backpropagation/training of that kind. You may be able to use Triton as the inference engine part of a larger system to do that. @GuanLuo Is there is anything in Triton that can make @nischal-sanil 's task easier?

[2021-08-11 23:40] aramesh7 commented on #3218
Dynamic batching is a property of the triton inference server, and not any specific model. It can be turned on by modifying the model config file https://github.com/triton-inference-server/server/blob/main/docs/optimization.md#dynamic-batcher.

As long as the model supports batching, it should be possible to use the dynamic batcher to improve your throughput.

[2021-08-12 03:43] gioipv commented on #3222
yep, thank you for you help. @Tabrizian , @ihcho9088
I understand, in docker run command `-v` it mean the mount path. so i changed this path in my config as @ihcho9088
and i used an new version of triton ( it is 21.07), It worked, but it also raise an error, because my Driver Version: 455.23.05 so in Supported matrix, i have to use triton 20.11. I'm thinking of two solutions
+ Update Driver versio

[2021-08-12 03:47] devloper13 commented on #3179
Thanks! Will try this out.

[2021-08-12 03:49] gioipv commented on #3189
@Tabrizian
Thank you for you help.
Yes, i seted before install the packages.
(export PYTHONNOUSERSITE=True).
But I think I see some my problem in https://github.com/triton-inference-server/server/issues/3222

[2021-08-12 14:08] Tabrizian commented on #3222
I think you should update the GPU driver version. The version of the Python backend and the server must match.

[2021-08-12 15:01] c-woods-gm opened #3227 "Load triton_python_backend_stub from S3 model repository"
I am trying to load a python model from a model repository based in an S3 bucket. The triton_python_backend_stub is located in the model directory within the repository. When I try to load the model I am getting the following error:

[code]
It looks as though the triton_python_backend_stub has not got executable permissions after being downloaded from the S3 bucket. Is this a bug or something that

[2021-08-12 15:07] Tabrizian commented on #3225
@nischal-sanil It is possible to use Python backend to implement any custom logic on your model.

 https://github.com/triton-inference-server/python_backend

[2021-08-12 15:20] gioipv commented on #3222
Yep. Thank you so much for helping ^^

[2021-08-12 15:42] nischal-sanil commented on #3225
Thank you @aramesh7 and @Tabrizian , for taking the time to reply.

[2021-08-12 15:42] #3225 closed

[2021-08-12 18:00] tmccrmck opened #3228 "Release Python client on PyPI"
**Move Python tritonclient package to PyPI**
Currently if someone wants to install [Tritonclient from PyPI](https://pypi.org/project/tritonclient/) they encounter an error message telling them to first install `nvidia-pyindex` (which adds an extra index url in pip.conf) and then install tritonclient after it's added. This is a request to move the official package from NVIDIA's private index to PyP

[2021-08-12 18:16] Tabrizian commented on #3227
@c-woods-gm Using [Custom Execution Environments](https://github.com/triton-inference-server/python_backend#using-custom-python-execution-environments) with S3 is not supported yet. We have a ticket to fix this for S3 but we have not been able to get to it yet.

[2021-08-12 20:24] Tabrizian commented on #3156
@NonStatic2014 This has been fixed now. Feel free to re-open if you are still having any issues.

[2021-08-12 20:24] #3156 closed

[2021-08-14 02:42] tanmayv25 commented on #3142
Closing the issue because of inactivity. Please re-open if the issue persists.

[2021-08-14 02:42] #3142 closed

[2021-08-14 22:12] hubertjjj opened #3233 "sorry, my drunk friend made this issue as a joke, pls ignore"
sorry, my drunk friend made this issue as a joke, pls ignore

[2021-08-14 22:27] #3233 closed

[2021-08-15 11:29] mgiessing opened #3234 "tritonserver:<version>py3-min Dockerfile"
Hello,

I'm trying to build the triton inference server on ppc64le architecture, but I'm wondering where I can get the source Dockerfile for the mentioned container?

I was able to recreate the triton infernence server using the nvidia/cuda-ppc64le:11.2.2-devel image as the base, but when starting the container I get the error that `/usr/local/bin/checkSMVER.sh` is not found as well as the command

[2021-08-16 02:59] gioipv commented on #2633
thank @bezero it work for me. I start triton server with not load model to start triton server faster, after that, I load model with command manually

[2021-08-17 02:10] kommons commented on #3160
@alecgunny Were you able to get additional information or was your problem resolved?

[2021-08-17 03:01] CPFelix opened #3237 "FileNotFoundError: [Errno 2] No such file or directory: '/tmp/folder31uWBi/1/model.py'"
**Description**
When I use the Python Backend, becasue there are preprocess.py and postprocess.py, I need to rename the python model name.But after I definit "default_model_filename", I get the error:
"
I0817 02:55:35.150648 1 python.cc:604] TRITONBACKEND_ModelInstanceInitialize: post_detection_0 (CPU device 0)
Traceback (most recent call last):
  File "/opt/tritonserver/backends/python/startup.py

[2021-08-17 03:09] CPFelix commented on #3237
I also try rename "densenet_onnx" model and it can be load successfully.It seems only the python model's name can't modify.

[2021-08-17 14:16] Tabrizian commented on #3237
@CPFelix Thanks for bringing this to our attention. I have filed a bug to fix this.

[2021-08-17 14:49] Tabrizian commented on #3147
Closing this issue. Feel free to re-open if you are facing any further issues.

[2021-08-17 14:49] #3147 closed

[2021-08-17 15:59] Tabrizian commented on #3234
@mgiessing The build process is explained in [build.md](https://github.com/triton-inference-server/server/blob/main/docs/build.md). Let us know if the documentation is not clear and you need additional information.

[2021-08-17 16:20] shmahe opened #3239 "Unable to set input with 0 dimension shape for non-batching model"
I have an ONNX model with the following inputs, where notably two of the inputs are just integers:

![image](https://user-images.githubusercontent.com/84046982/129762507-012d583a-7c21-49f6-9e7b-ebc00bbc8b15.png)

When I generate a config.pbtxt with --strict-model-config=false when I run TRTIS with the 21.07-py3 image, I receive the following error:

`E0816 21:50:03.334282 1 model_repository_manage

[2021-08-17 16:49] deadeyegoodwin commented on #3239
Does your onnx model take scalar inputs for decoder_start_token_id and max_length? Triton does not currently support scalar model inputs. So you likely need to change you model to have shape [1] for those inputs.

[2021-08-17 16:54] mgiessing commented on #3234
Hi @Tabrizian !

Yes, I followed the build along on an x86 system and also had a look into the `build.py` script.
Three images are built in total (tritonserver_builder_image, tritonserver_build and finally tritonserver)

However if I check the "first" image going to be built in the [create_dockerfile_buildbase](https://github.com/triton-inference-server/server/blob/main/build.py#L527) function the

[2021-08-17 17:04] shmahe commented on #3239
Yup, those are scalar inputs, good to know, thanks!

[2021-08-17 17:04] #3239 closed

[2021-08-17 22:48] Tabrizian commented on #3234
@mgiessing Unfortunately, the Dockerfile for the min container is not available. You can try modifying the `entrypoint.sh` to not use the `deviceQuery` and `/usr/local/bin/checkSMVER.sh` to see whether it fixes your issue.

[2021-08-18 09:34] mgiessing commented on #3234
@Tabrizian
I just build `deviceQuery` using the [cuda-samples](https://github.com/NVIDIA/cuda-samples/) repo and got the `checkSMVER.sh` script from the x86 container, but I always face new challenges without this min-Dockerfile when progressing :/

Does this mean the min - Dockerfile/Container image is NVIDIA proprietary or it is - for some reason - just not publicly shared?
If it is not propriet

[2021-08-18 13:35] alecgunny commented on #3160
@kommons sorry I haven't had a chance to pull together the necessary information, I'll make sure to do so in the next week

[2021-08-18 18:04] Tabrizian commented on #3234
Using the min container is not the recommended way for building Triton on unsupported platforms. Please follow the documentation and let us know if it is not clear or needs improvment:

 https://github.com/triton-inference-server/server/blob/main/docs/build.md#building-on-unsupported-platforms

Currently, it is not possible to get the Dockerfile for min container.

[2021-08-18 20:37] mgiessing commented on #3234
Thanks for clarification!

[2021-08-18 20:37] #3234 closed

[2021-08-18 23:04] #3237 closed

[2021-08-19 03:55] gioipv opened #3244 "Dockerfile in building triton"
* Problem
Hello
I am using triton inference server. And when i using docker image 21.07. I have to install a package to fix issues about related to libGL.so.1.
This is link issues: https://github.com/conda-forge/pygridgen-feedstock/issues/10#issuecomment-365914605
I rebuild a triton image with docker. Refer to : https://github.com/triton-inference-server/server/blob/r21.07/docs/build.md#building-w

[2021-08-19 08:49] ioangatop opened #3245 "Accumulate inference time with an ensemble model is way slower than the slowest individual"
Hello! I have a triton bucker where an ensemble model configures the pipeline as follows: `dali` (preprocess) --> `onnx` (model) --> `python` (postprocess). The requests to triton are sent through a fastapi middleware, which acceptes HTTP requests from a source. For example, I simulate user traffic using the tool `locust`. Thus, its `locust` <--> `middleware` <--> `triton`.

As I observe that the

[2021-08-19 13:12] letstryy opened #3246 "Triton Ensemble model: Unable to get multiple output"
Hi,

I was using triton ensemble model with two models: model_1_0 and model_1_0 with same input and want output from each of these models.
I referred to the ensemble model for image classification and segmentation with model configuration mentioned in the architecture: https://github.com/triton-inference-server/server/blob/r21.07/docs/architecture.md

ensemble:
config.pbtxt
name: "ensemble"
platfo

[2021-08-19 14:23] Tabrizian commented on #3244
@gioipv Can you please elaborate on where you see that import error? Do you see this when trying to use the Python client?

[2021-08-19 14:41] Tabrizian commented on #3246
@letstryy The "key" parameter in the output map must exist in the list of outputs in the model config of the model in each stage. The reason that you are seeing this error is because "variable_model" is not in the list of outputs of "model_1_1".

[2021-08-19 14:45] Tabrizian commented on #3245
@ioangatop  Can you share the output of [Perf Analyzer](https://github.com/triton-inference-server/server/blob/r21.07/docs/perf_analyzer.md) for each of the models in the ensemble as well as the Perf Analyzer output for ensemble model? Large queuing time can indicate that there are not enough model instances available to process your request.

[2021-08-19 15:15] letstryy commented on #3246
@Tabrizian Sharing the config.pbtxt for model_1_1
name: "model_1_1"
platform: "onnxruntime_onnx"
backend: "onnxruntime"
max_batch_size: 0
input [
    {
        name: "feature_input"
        data_type: TYPE_FP32
        dims: [1,34]
        }
]
output: [
    {
        name: "variable_model"
        data_type: TYPE_FP32
        dims: [1,1]
        }
]
instance_group: [
    {
        name: "model_1_1

[2021-08-19 16:26] GuanLuo commented on #3245
Ensemble is a description of your pipeline `dali (preprocess) --> onnx (model) --> python (postprocess)`, so you should expect the minimum ensemble request latency is sum of the minimum latencies of each component. When you compare the FPS, you should check if the result aligns with `FPS(ensemble) = 1 / (1 / FPS(pre) + 1 / FPS(model) + 1 / FPS(post))`, the calculation based on this formula gives 5

[2021-08-19 16:33] GuanLuo commented on #3246
The model config only describes the properties of model and it seems like the model itself doesn't have a output called  `variable_model`. Can you double check if  `model_1_1` model generates `variable_model` output? (i.e. use Netron to visualize the ONNX model)

[2021-08-19 16:43] #3246 closed

[2021-08-19 19:47] artificertxj1 opened #3248 "Inconsistent implementation results"
**Description**
I tried to generate voice clips using Nvidia tacotron2 model. The torch script model will generate melspectrum and use a vocoder to generate the voice. The results implemented with triton server is much more worse than the one generated with Pytorch.   Vocoder model is wave-glow and is managed by a triton server. Both clips are generated by the same triton served vocoder model.

[i

[2021-08-19 21:15] nsiddharth commented on #3135
I can confirm that triton does not startup with version `21.06` if config.pbtxt is not provided when using s3. models in use were tenserflow.savedmodel and onnx. This worked as expected when run locally.

[2021-08-19 22:43] erfaneshrati commented on #1507
@deadeyegoodwin Do you have an update on this issue? Thanks.

[2021-08-20 03:18] munhou opened #3251 "Avg request latency to Avg HTTP time up 5000 usec"
**Description**
A clear and concise description of what the bug is.

* I deployed the onnx model of yolov5 in triton and optimized it with tensorrt, and I tested the tensorrt model of yolov5 in other places. Its inference time is close to Avg request latency, but the increased time of Avg HTTP time is a big problem. I want to know how I can optimize this part of the time。

**Triton Information**
W

[2021-08-20 03:47] munhou opened #3252 "I use my yolov5l tensorrt model to deploy on triton, it will instantly fill up the GPU memory"
**Description**
A clear and concise description of what the bug is.
* I use my yolov5l tensorrt model to deploy on triton, it will  fill up the memory at startup, even if I don’t make a request，causing me to be unable to load other models
* When I use the yolov5onnx model with tensorrt optimization in 21.06.1, this problem does not occur
* I deploy the yolov5 tensorrt model on 21.06.1 and it will

[2021-08-20 04:14] Tabrizian commented on #3215
In Python backend it could be that the print statements are not flushed out and are printed once the buffer is full. Can you try again with `print('Your Print statement', flush=True)` to see whether you still the same issue?

[2021-08-20 06:25] azraelkuan opened #3253 "Build python backend error using docker"
**Description**
build python backend from r21.07 failed

**Triton Information**
What version of Triton are you using?
r21.07

Are you using the Triton container or did you build it yourself?
i build the latest python backend using r21.07 docker.

**To Reproduce**
```cmake -DTRITON_ENABLE_GPU=ON -DTRITON_BACKEND_REPO_TAG=r21.07 -DTRITON_COMMON_REPO_TAG=r21.07 -DTRITON_CORE_REPO_TAG=r21.07 -DCMAKE_I

[2021-08-20 06:41] sarperkilic opened #3254 "Tensorflow Segmentation Model Deployment On Triton Inference Server"
**Description**
A clear and concise description of what the bug is.
I have Jetson Nano, Jetpack 4.6 and I build Triton Inference Server from build by using latest release(Release 2.12.0). I was able to successfully serve classification models before.

Now, I am trying to serve the segmentation model I trained using Tensorflow DeepLab.

There is only one model file with .pb extension. Below, you ca

[2021-08-20 07:03] ioangatop commented on #3245
@Tabrizian I tried to use pref analyzer before but I couldn't get around it very easily. I'll try to incorporate it and get back to you! FYI, I tried to increase the number of models instances of each model, but the performance, in the end, was on pair or even worse...

@GuanLuo Makes sense! So that means that is already running as expected 😢?

[2021-08-20 07:09] Ursanon opened #3255 "Kubernetes unable to kill container"
**Description**
Other pod was unable to call inference on triton (`failed to connect to all addresses`).
I tried to scale down replica (count: 0), but then error occurs:

[code]

In infinite terminating pod I can see standard logs indicating success:

[code]

**Triton Information**
`nvcr.io/nvidia/tritonserver:21.03-py3`
`nvcr.io/nvidia/tritonserver@sha256:30130dc9d9b8d40e581891e8581d57410d45e5565

[2021-08-20 08:25] azraelkuan commented on #3253
one more question: how to print log in the backend, it seems print do not work with python backend.

[2021-08-20 08:47] munhou commented on #3252
I think I found the answer, I used the following command when converting the onnx model to tensorrt
[code]
I think the maxShapes is too big. After I changed it to 8x3x1024x1024, the GPU memory dropped significantly.

[2021-08-20 08:47] #3252 closed

[2021-08-20 09:04] mgiessing opened #3256 "Missing package configuration: prometheus-cpp"
Hi, did anyone else tried to build triton based on centos8 and encountered this error when enabling metrics?

[code]

I can see in the logs that prometheus-cpp-v0.7.0 is downloaded and installed, but somehow the linking seem not to work in centos compared to Ubuntu?

[2021-08-20 09:17] munhou commented on #3251
**one more question：**
* ONNX with TensorRT Optimization will Convert to int8？
* Is there a known performance loss for tensorrt？

**I did some tests：**
* I directly deployed the tensorrt model of yolov5 on 21.06.1, and use perf_analyzer tested the performance of fp32, fp16, int8, they are all lower than my expectations, even with the Avg request latency time，because I tested these tensorrt models

[2021-08-20 11:00] gioipv commented on #3253
Hello,
I think python backend is availble on triton docker images ver 21.07. Have you custom python backend for your purpose ?

I have tried building python backend from [source](https://github.com/triton-inference-server/python_backend#building-from-source)
I clone the [repos](https://github.com/triton-inference-server/python_backend#building-from-source) abd I am using conda and activate my envs

[2021-08-20 14:12] Tabrizian commented on #3253
@azraelkuan Do you have `python3-dev` installed on your system? Are you trying the build inside the Triton container?

[2021-08-20 14:17] Tabrizian commented on #3255
cc @rmccorm4

[2021-08-20 14:35] Tabrizian commented on #3254
@sarperkilic I think the tensorflow looks for `saved_model.pb` but it looks like you have `SavedModel.pb` instead.

For information on how to use the Triton clients you can refer to the link below:

https://github.com/triton-inference-server/client/tree/main/src/python/examples

[2021-08-20 14:45] Tabrizian commented on #3251
If the client and the server are running on the same machine, you can try using the shared memory and CUDA memory pools. [HTTP/GRPC compression](https://github.com/triton-inference-server/client#compression) might also help reduce the networking time. (cc @tanmayv25 / @GuanLuo  to correct me if I'm wrong here).

You can find example clients for CUDA memory and system shared memory in the links bel

[2021-08-20 15:59] gioipv commented on #3244
Yup. When I am using triton images version 21.07.
Using python backend, I also build [python backend stub and conda-pack](https://github.com/triton-inference-server/python_backend#using-custom-python-execution-environments) for my conda envs.
In the file `model.py` of my model of [model repository](https://github.com/triton-inference-server/server/blob/r21.07/docs/model_repository.md#python-models

[2021-08-20 16:43] Tabrizian commented on #3244
It looks like it is more a problem with the way conda packages the dependencies. We can't change Triton container to include dependencies for Python packages. I think the only work around for now would be to create another Docker container that contains the dependencies required for your Python environment.

[2021-08-20 17:33] CoderHam commented on #3248
@artificertxj1 have you repeated these experiments in
1. A newer release container i.e. 21.07?
2. Tried to run the torchscript model using the pytorch python API? You mentioned the results were worse in pytorch, in what sense is this true?
3. I don't see the model being turned into eval mode before being jitted. Can you try converting the model to eval mode before jitting to see if that resolves y

[2021-08-20 18:21] deadeyegoodwin commented on #1507
The rate limiter is now integrated into the main branch. We still have some additional testing to perform but it seems likely that as least some of the functionality will be enabled in the 21.09 or 21.10 releases.

[2021-08-20 18:23] tanmayv25 commented on #3251
The compression will definitely help to reduce the network bandwidth but not essentially reduce the latency as the (de)compression will be on the critical path of each request. Shared Memory solution is more promising.

[2021-08-20 19:21] artificertxj1 commented on #3248
I jit the model in eval mode and it works!! I get a result fairly close to the python api result. Can you give me a hint what causes the difference? Wouldn't triton do the inference only and put the model in eval mode automatically?

[2021-08-20 22:01] CoderHam commented on #3248
@artificertxj1 Triton server does set the eval mode during inference. My recommendations are:
1. Try with a newer release as mentioned above
2. Use the same PyTorch to prepare the model as in Triton (in case this is a version specific issue)?
3. Share the model file you used and a minimal repro code to produce the incorrect results in Triton. (Instead of just the wav file).

[2021-08-21 03:13] gioipv commented on #3244
yup,
I think, for now, triton only support with conda .and I also add the line above into creating dockerfile function with `using python backend` in the file `build.py`
anyway, this is simply my opinion. Thanks you for your support.

[2021-08-21 03:17] #3244 closed

[2021-08-21 10:08] CPFelix opened #3258 "the result of ensemble model is wrong and the result of single model is right."
**Description**
I try to ensemble densenet_onnx with a preprocess python model. When I test I found the result of the ensemble model is wrong, but if I put the preprocess operation  in client and run densenet_onnx model only, the classification result is right.

**Triton Information**
21.05

Are you using the Triton container or did you build it yourself?
container.
**To Reproduce**
preprocess pyt

[2021-08-22 01:20] CPFelix commented on #3258
It's the same with #2971,after add "np.ascontiguousarray" the result is correct.
Closed.

[2021-08-22 01:20] #3258 closed

[2021-08-23 04:29] TANKIANAUN opened #3259 "python backend pb_utils.InferenceResponse can adding message argument for the responses output ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-23 07:41] sarperkilic opened #3260 "Client Script Error"
**Description**
A clear and concise description of what the bug is.

Hello,

I successfully deploy the ONNX segmentation model to the server.

When I try to send an image request to the model by using Python image client script, I got an error.

Below, I share the error log.

Traceback (most recent call last):
  File "image_client_seg.py", line 413, in <module>
    outputs=outputs))
  File "/.loca

[2021-08-23 11:04] sarperkilic opened #3261 "Image Segmentation Output"
**Description**
A clear and concise description of what the bug is.

Hello,

I have a trained tensorflow image semantic segmentation model. I have convert this model to ONNX and deployed on the Triton Inference Server.

When I send an image to the served model, the output I get is not correct output form. I want an semantic image as an output.

I need to change the postprocess function but I did n

[2021-08-23 11:17] Levocetirizine opened #3262 "Build modified triton from source in Jetson"
**Is your feature request related to a problem? Please describe.**
I am trying to add some new features to triton server by modifying its source code. I have noticed that there are no guides for building triton in Jetson for now, and it's recommended to use the pre-compiled binary release.

I tried to run build.py on my Jetson Xavier and it failed to compile.

**Describe the solution you'd like**

[2021-08-23 11:43] manish0079 opened #3263 "How to Add Custom Models with different framework in Triton inference server and have to serve the model and utilize the api"
Hiii

I have followed this [https://github.com/triton-inference-server/server/blob/main/docs/quickstart.md#install-triton-docker-image](url) and setup up the basic flow of inference server, I could be able to do for the dense net model and see the inference image, but I have deeplab model custom trained, I want to integrate triton inference for that, Not only deepab, I have many deep learning mode

[2021-08-23 12:58] munhou commented on #3251
* Can you tell me what *response wait* include？
* If I use shared memory optimization, which part of the time can I optimize? My test results show that it can reduce *response wait*
* and I found that after the number of concurrent requests increases, the *response  wait* is closer to *Avg request latency* @Tabrizian

[2021-08-23 13:27] swapkh91 opened #3264 "Sagemaker and KFServing port clash"
I'm tring to deploy KFServing inference using Triton, but it gives the following error
`The server cannot listen to SageMaker requests and HTTP requests at the same port`

KFServing uses port `8080`, same as Sagemaker

I'm using triton image `21.07-py3`

Is there some way to change the port for Sagemaker?

Earlier I was using image `20.10-py3`, so it worked fine. But now I have to use FIL backend

[2021-08-23 13:27] Tabrizian commented on #3259
You can add another OUTPUT to your model with TYPE_BYTES and use that to pass JSON to the client.

Yes, you should use NumPy object dtype for passing string arrays.

[2021-08-23 13:30] Tabrizian commented on #3260
Are the Triton server ports exposed correctly? If you are using the HTTP client the port number is 8000 by default.

[2021-08-23 13:40] Tabrizian commented on #3264
You can start triton with ` --allow-sagemaker false` flag to disable Sagemaker.

[2021-08-23 13:40] #3264 closed

[2021-08-23 13:49] Tabrizian commented on #3262
cc @CoderHam

[2021-08-23 13:57] swapkh91 commented on #3264
@Tabrizian thanks for the reply, its working now.

[2021-08-23 13:58] ioangatop commented on #3245
@Tabrizian here is the output of the pref analyzer of the whole pipeline.
[results.zip](https://github.com/triton-inference-server/server/files/7032490/results.zip)
 In the zip attached, you will find the `csv` files of the other models

[code]

[2021-08-23 14:14] Tabrizian commented on #3263
Triton is able to work with many different frameworks. There is detailed information about this and how you should setup your model repository in the link below:

 https://github.com/triton-inference-server/server#user-documentation

[2021-08-23 14:53] prateek-ponnuru commented on #3215
Thanks for the response @Tabrizian. However, that was not the issue.

[code]

The Tensor 'IMAGE_NAME' was used both as an input and output, which resulted in a loop.

[2021-08-23 14:53] #3215 closed

[2021-08-23 15:06] KeeeeiZ opened #3265 "[PyTorch Backend] Triton server consumes too much GPU memory"
**Description**
I have model trained with pytorch 1.9. When I load the model with `jit.load` locally and use it to compute a bunch of data, the model only consumed about 4Gb of GPU memory, but when I put the model int triton server and send the same data to the server to inference, it consumed more than 15Gb of GPU memory.

**Triton Information**
I use docker image with version 20.10-py3

Are you

[2021-08-23 15:08] mgiessing commented on #3256
If someone else face this problem:
You need to compile & install prometheus manually in the `build.py` to overcome this issue:
For r21.07 it needs prometheus-cpp v0.7.0 (maybe for x86 there is an RPM out there - for Power I haven't found any)

Build instruction from the github page:

[code]

[2021-08-23 15:08] #3256 closed

[2021-08-23 15:26] Tabrizian commented on #3256
Thanks for sharing the solution to this.

[2021-08-23 16:12] xbc922 commented on #1777
I think this is this is a very broad request. Model Encrypted is a big topic!!!

[2021-08-23 16:28] CoderHam commented on #3265
@KeeeeiZ which version of pytorch did you use to run your experiments? Was it the same as in 20.10-py3?
Please refer to the [Framework Support Matrix](https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html#unique_1997996242).

[2021-08-23 16:51] CoderHam commented on #3203
Closing due to inactivity. Re-open if needed.

[2021-08-23 16:51] #3203 closed

[2021-08-23 16:55] CoderHam commented on #3262
@Levocetirizine I would need a little more information on the failure you saw to be able to help you.
What you are suggesting is a ensemble pipeline with custom user logic and for this you would likely need to build a custom backend which will perform the necessary actions.

[2021-08-23 19:19] GuanLuo commented on #3245
@ioangatop My earlier statement is incomplete, it only covers the "single stream" case (request concurrency is 1). In the case that there are multiple concurrent requests (i.e. perf analyzer with request concurrency > 1), the ensemble performance will be bottleneck at the slowest component, which is reflected in your attached perf analyzer result. You can see that the DALI execution is actually th

[2021-08-23 20:33] ioangatop commented on #3245
@GuanLuo Great inside! Actually, I believe that this time I used a DALI pipeline which was compiled on CPU, while the original results operated on GPU. And indeed, there is a huge difference. Moreover, found out that these settings in `dali`, `model` and `postprocess`:
[code]
are actually decreasing the performance!

Here are the pref_analyzer results: [results.zip](https://github.com/triton-infer

[2021-08-23 20:54] ioangatop commented on #3245
And these results are also interesting:

Run: `pref_analyzer -b 16 --concurrency_range`

Result:
[code]

Prometheus dashboard:
<img width="1399" alt="triton" src="https://user-images.githubusercontent.com/41287808/130517989-c1935ef6-62b4-4333-8584-91f2bc80de48.png">

[2021-08-23 21:39] tanmayv25 commented on #3251
The response wait is the time elapsed between sending request on the network to server to reception of a response from server. Hence, it includes:  client-server network delay, server process time and server-client network delay.

You are saving network delay and some portion of server process as the data is already present in the pre-allocated location.

You mean the absolute difference right? As

[2021-08-23 22:14] kommons commented on #3191
Upstream Pytorch issues are now fixed and will be included in our 21.08 release. Please try again with our 12.08 and re-open if you are still seeing failures.

[2021-08-23 22:14] #3191 closed

[2021-08-24 03:19] munhou commented on #3251
This is my mistake，response wait and Avg request latency are not close，don’t focus on it

2 problem
* My understanding is that avg http time = send/recv (including network delay)+response wait time, if the response time you said includes network delay, then what time is send/recv,
* And I think response wait time = avg request latency (server processing time) + XXX, I don’t know what XXX is, and w

[2021-08-24 03:19] azraelkuan commented on #3253
sloved by me. thanks

[2021-08-24 03:19] #3253 closed

[2021-08-24 05:58] KeeeeiZ commented on #3265
The matrix shows 20.10 docker image has a `1.7` version of pytorch while my experiment is run under pytorch 1.9.

[2021-08-24 07:24] manish0079 commented on #3263
Can i get the conversion script for ONNX Format?

[2021-08-24 08:03] dulvqingyunLT opened #3271 "Does TIS supports other devices such as google's TPU?"
**Is your feature request related to a problem? Please describe.**
if we use some other AI accelerators, but not GPUs,  is it possible that we use TIS to do inference serving?

[2021-08-24 08:10] Levocetirizine commented on #3262
@CoderHam  Thank you for your reply, the error occurs when the onnx backend is being built. However I found it's okay, I just ignored the error and used the onnx backend in the official binary release as a workaround.

About the ensemble model, do you suggest that I should write a brand-new backend rather than modifying the current code? I am not sure if it's possible since ensemble model also rel

[2021-08-24 13:06] Tabrizian commented on #3271
It is possible to use Python backend to run on TPUs. https://github.com/triton-inference-server/python_backend

[2021-08-24 17:08] GuanLuo commented on #3263
We don't have the conversion script between different model formats, you should consult with the framework maintainers for conversion guidance. ONNX format is a common format so I think many popular frameworks do support exporting models to ONNX.

And as @Tabrizian mentioned, Triton supports multiple frameworks so if some of your models are already in supported framework, you can use Triton to ser

[2021-08-24 18:53] tanmayv25 commented on #3251
The send/recv is client side timing. There is no way for client to know when the data get's completely delivered to the server..

<client sends data(T1)><data on network(T2)><server receives data(T3)><server process data(T4)><server sends data(T5)><data on network(T6)><client receives data(T7)>

send/recv is `T1 + T7`. The response wait time is `T2 + T3 + T4 + T5 + T6`.

Now, there can be some ove

[2021-08-25 09:14] KeeeeiZ commented on #3265
Plus, the model is trained with pytorch 1.7.

[2021-08-25 09:40] vancuonghoang commented on #3265
I had the same problem when I tried with my tf2 model and consumed ~ 13Gb of GPU memory, so I converted my model and used ONNX backend, after that problem solved (now it just take 1.7 ~2 GB VRAM) .
I think maybe you should try!

[2021-08-25 11:55] gioipv opened #3274 "Performance on triton with python backend"
**Description**
Hello
* I was expecting that **triton** would be better than **torchserve** when I read some documentation. But in the images bellow, i see that: with the same model, the `throughput` of **triton** is lower the throughput of **torchserve**. Despite of I used tensorrt model in triton (the throughput of tensorrt model inference are faster than pytorch model inference)

![Screenshot f

[2021-08-25 13:16] yukselkivanc opened #3275 "Running nvidia inference server without an Nvidia GPU"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to run Triton docker containers that are provided [here](https://ngc.nvidia.com/catalog/containers/nvidia:tritonserver) when you don't have an Nvidia GPU in you
machine.

**Describe the solution you'd like**
Have an option to use Triton server only with CPU, without a need to have an Nvidia GPU.

[2021-08-25 13:37] #3275 closed

[2021-08-25 14:07] Tabrizian commented on #3274
@gioipv Could you please share your `model.py` file. From your overall description, it seems like you are doing it correctly. What inferencing solution does "model inference" column use? Is it using the [PyTorch backend](https://github.com/triton-inference-server/pytorch_backend)?

[2021-08-26 03:14] willamhou opened #3281 "【20210826】 multi model-repository is invalid"
**Description**
A clear and concise description of what the bug is.

When use local disk as a model storage, if we set --model-repository=/models/, we can load and unload the specific model.
But, When we set --model-repository=/models/ -model-repository=/models1/, we can't load any model correctly

**Triton Information**
What version of Triton are you using?
we use nvcr.io/nvidia/tritonserver:21.0

[2021-08-26 09:46] vignif opened #3282 "Triton repository agent checksum - readme broken link"
**Description**
In the [readme](https://github.com/triton-inference-server/checksum_repository_agent) under the section `Using the Checksum Repository Agent` a link is pointing to `https://github.com/triton-inference-server/server/blob/master/src/core/model_config.proto`, which returns a 404 page.

Where is that file stored now?

[2021-08-26 12:45] weiminggao opened #3283 "Build ONNX Runtime Backend image failed"
Build the onnx runtime backend at main branch, the following error occurs:
E: Failed to fetch https://developer.download.nvidia.cn/compute/cuda/repos/ubuntu2004/x86_64/by-hash/SHA256/751939d95516afc289908a19e447f0acc1506367f72ed356431a2b1a469cc8ca  404  Not Found [IP: 180.101.196.129 443]
E: Some index files failed to download. They have been ignored, or old ones used instead.

[2021-08-26 17:34] vdantu opened #3284 "Question regarding string request/response with HTTP frontend and python backend"
I was looking for a sample example of sending across a `curl` (http) request with `STRING` input to a python backend model and getting a `STRING` output back. Is there an end-to-end example of this, including the dummy `model.py`, `config.pbtxt` and sending a `curl` request of type `STRING` and getting a response back of type `STRING`?

[2021-08-27 06:20] sumitbinnani opened #3286 "Batched Prediction for Python backend"
**Is your feature request related to a problem? Please describe.**
I have a python function that can process multiple requests in parallel (i.e. support batched prediction). However, I have to perform inference per request in a for loop leading to massive slowdown.

**Describe the solution you'd like**
Parse inference requests in execute of python backend as a batched numpy array.
e.g. if config h

[2021-08-27 07:33] CPFelix opened #3287 "Triton21.05 has problem when load model from Minio"
**Description**
1.Model without config.pbtxt on Minio can't be load successfully.The same problem with #3135
2.When I config the config.pbtxt for model on Minio,I can load it successfully.But then I find can't infer from client, and error is 'tritonclient.utils.InferenceServerException: [StatusCode.UNAVAILABLE] failed to connect to all addresses'.
I then load model from local, use the same clint w

[2021-08-27 08:55] ToTheMonn opened #3288 "Build error withou docker"
**Description**
Re-run cmake no build system arguments
-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX compiler ABI info
-- Detecting CXX

[2021-08-27 16:42] #3288 closed, assigned to nobody

[2021-08-28 00:06] Hadrien-Cornier opened #3290 "Half Precision TF inference error (DT_HALF and Einsum)"
**Description**
When sending a request to a model.savedmodel tensorflow model loaded in triton, an error occurs related to half-precision

**Triton Information**
What version of Triton are you using? 21.07

Are you using the Triton container or did you build it yourself? docker container : nvcr.io/nvidia/tritonserver:21.07-py3

**To Reproduce**
I ran this command to create the triton server, which

[2021-08-30 01:30] KrisChou commented on #3288
I pulled your official docker image and tried to compile the source code in the created container . But it doesn't work.

[2021-08-30 02:53] CPFelix commented on #2136
@marsmiao So, what's the problem?

[2021-08-30 03:49] CPFelix commented on #2387
@GuanLuo I follow your device and set densenet_onnx config.pbtxt as
"
name: "densenet_onnx"
platform: "onnxruntime_onnx"
max_batch_size : 0
input [
  {
    name: "data_0"
    data_type: TYPE_FP32
    format: FORMAT_NCHW
    dims: [ 1, 3, 224, 224 ]
  }
]
output [
  {
    name: "fc6_1"
    data_type: TYPE_FP32
    dims: [ 1, 1000, 1, 1 ]
    label_filename: "densenet_labels.txt"
  }
]
"
When load t

[2021-08-30 05:58] willamhou commented on #3281
https://drive.google.com/file/d/1G-RaxmohNqkSrwrLSj0_A_xQKziWrcEw/view

[2021-08-30 07:54] #3251 closed

[2021-08-30 07:56] munhou commented on #3251
I can get performance close to perf_analyzer using client code

[2021-08-30 08:55] elmuz opened #3292 "Using Triton as a custom service in GitLab CI"
I think some of you already use Triton as part of your CI. I want to do the same but I am facing some issues to make the process nice and clean. Basically, I do not know how to push models to Triton before the main job is executed. Ideally, models are part of the main repository and pushed to Triton model registry dynamically at every job creation, but this creates a synchronization issue: all ser

[2021-08-30 08:57] aj7tesh commented on #376
is nmt supported now ?

[2021-08-30 14:08] ioangatop commented on #2855
@Tabrizian I have the same issue with `r21.07`

[2021-08-30 14:23] #3274 closed

[2021-08-30 14:38] Tabrizian commented on #3274
@gioipv Thanks for sharing the results.

Triton Python Client may add some latency because of using Python API which could be slower. Also, if you want to try concurrency values higher than 1 it would be harder to create the same scenario using Python client.

[2021-08-30 14:56] Tabrizian commented on #2855
@ioangatop Could you please create a new issue with all the details (model repository, your client code, etc.)? I tried the model in this issue again but this problem didn't exist.

[2021-08-30 16:51] GuanLuo commented on #3288
If you want to build with docker, then you just need to remove `--no-container-build` when you `run build.py`

[2021-08-30 16:53] GuanLuo commented on #2387
@CPFelix Please remove `format: FORMAT_NCHW` from the input field

[2021-08-30 19:58] dyastremsky commented on #3135
Thanks for updating us! Reopening the issue. We will investigate.

[2021-08-30 20:33] dyastremsky commented on #3287
Thanks for reporting. I've filed a bug for #3135.

Can you please provide information for reproducing the behavior for the inference issue? The run command, config.pbxt file, and logs would be helpful. Whatever you can provide.

[2021-08-30 20:46] dyastremsky commented on #3290
Thanks for the detailed report! We will investigate and update you.

[2021-08-30 20:53] dyastremsky commented on #3292
@elmuz Have you considered mounting a Docker volume with the model repository? That seems to achieve the local storage case you outlined without needing to rebuild the container.

[2021-08-30 20:59] dyastremsky commented on #3213
Closed due to inactivity.

[2021-08-30 20:59] #3213 closed

[2021-08-30 21:00] dyastremsky commented on #3218
Closed due to inactivity.

[2021-08-30 21:00] #3218 closed

[2021-08-30 21:00] dyastremsky commented on #3206
Closed due to inactivity.

[2021-08-30 21:02] dyastremsky commented on #3223
Closed due to inactivity. Will reopen if you continue to experience the error.

[2021-08-30 21:02] #3223 closed

[2021-08-30 21:02] dyastremsky commented on #3169
Closed due to inactivity. Please let us know if you need this issue reopened.

[2021-08-30 21:02] #3169 closed

[2021-08-30 21:03] dyastremsky commented on #3066
Closed due to inactivity. Please let us know if you need this issue reopened.

[2021-08-30 21:03] #3066 closed

[2021-08-30 23:09] elmuz commented on #3292
@dyastremsky IIRC GitLab CI yaml definition does not have volume configuration for services. Even if I set `VOLUME` in Triton Dockerfile, how can I access it from the main environment? Can you give me an example?

[2021-08-31 03:54] LightToYang opened #3299 "Periodic dead of server while using python backend"
**Description**

With python backend, the triton inference server sometimes dead, no response and no error return to the client.

Using ctrl+c to stop server, the following codes display :
[code]
CLI is frozen after above codes displayed,
the only way is to restart the container and lauch the server with
`tritonserver --model-repository=/models`,
after that the server works well.

**Triton Informa

[2021-08-31 05:05] aj7tesh opened #3300 "Can NMT models can be deployed with triton inference server ?"
Can NMT models (Transformer large) trained using fairseq (pytorch) be deployed using triton's inference server? if so, how do i go about it and model conversions etc.

[2021-08-31 06:11] welaunchcn opened #3301 "max_batch_size not in op error reported for tensorflow tensorrt model"
**Description**
The model has been deployed onto the server, and the status is showing ready.
When trying to infer with python client, the following error was displayed. Is this related to the removal of max_batch_size from tensorflow 2.5?

tritonclient.utils.InferenceServerException: [StatusCode.INTERNAL] NodeDef mentions attr 'max_batch_size' not in Op<name=TRTEngineOp; signature=in_tensor: -> o

[2021-08-31 08:25] li1191863273 opened #3302 "The current model becomes slow after running another model"
## Description

Scenario: Convert Pytorch to Onnx, and then deploy using Ttiton

mode1：Simple Ner mode。Embedding + CRF
model2：The official demo of Pytorch to Onnx。https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html

**First**

Run mode1

[code]

**Second**

Run model 2 and stop immediately

**Finally**

Run mode1 again

[code]

## Environment

Use CPU

**PackageVersion**

[2021-08-31 09:10] CPFelix commented on #2373
@luvwinnie Can you tell me how to modify the input and output name of the export torchscript model?My input name is "x" default and can't load by Triton.Thanks!

[2021-08-31 09:19] CPFelix commented on #3287
@dyastremsky Thanks for reply!
run command:
"
sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002 -e AWS_ACCESS_KEY_ID=minioadmin -e AWS_SECRET_ACCESS_KEY=88888888 -e AWS_REGION="us-east-1" -v/home/chenpengfei/server-2.10.0/docs/examples/plugins:/plugins --env LD_PRELOAD=/plugins/liblayerplugin.so nvcr.io/nvidia/tritonserver:21.05-py3 tritonserver  --model-repository=s3://xxx.xxx.xxx

[2021-08-31 10:01] sourabh-burnwal opened #3303 "http client for a model with multiple outputs"
Hello,
Working on a model (pytorch converted to onnx) with multiple outputs. I'm providing the config.pbtxt

name: "model_xyz"
platform: "onnxruntime_onnx"
backend: "onnxruntime"
max_batch_size: 0
input [
	{
		name: "input"
		data_type: TYPE_UINT8
		dims: [-1,3,-1,-1]
	}
]
output [
	{
		name: "887"
		data_type: TYPE_FP32
		dims: [1,2,128,128]
	},
	{
		name: "818"
		data_type: TYPE_FP32
		dims: [1,

[2021-08-31 10:38] amromidhat commented on #3029
Hi All, any updates regarding this issue?

[2021-08-31 13:43] simon5u commented on #3066
Hi, i am facing the same issue where the yolo5s is very slow in triton even with multiple instances.
I downloaded the model from this link, https://github.com/ultralytics/yolov5/blob/master/export.py
Then, the model was converted from onnx to model.plan, input size is batchsize,3,640,640.
I am using this docker nvcr.io/nvidia/deepstream:5.1-21.02-triton with a 2080Ti GPU.
If I increased the batch

[2021-08-31 14:43] Tabrizian commented on #3299
@LightToYang Can you please try the 21.08 version to see whether the problem still exists? We have also made some changes to the way Python backend works for 21.09 release. It might have fixed the intermittent issue that you are seeing. Would be great if you have a reproducible/semi-reproducible version of this bug so that we can further investigate.

[2021-08-31 15:44] dyastremsky commented on #3287
My pleasure, and thank you! Filing a bug. We'll investigate.

[2021-08-31 16:42] dyastremsky commented on #3300
Looking at #376, NMT models do not seem to be supported. If you can convert the model to a supported framework on your end, then you could run it.

(Tagging @deadeyegoodwin for visibility.)

[2021-08-31 17:02] GuanLuo commented on #3303
You need to specify each of the requested output in a separate `InferRequestedOutput` object, so something like:
[code]

[2021-08-31 17:18] dyastremsky commented on #3282
Link fixed. Closing out the issue.

[2021-08-31 17:18] #3282 closed

[2021-08-31 17:55] dyastremsky commented on #3301
This looks to be a TensorFlow versioning issue, such as training with a different TensorFlow version than the server is using. The server is currently using [TensorRT 8.0.1.6](https://docs.nvidia.com/deeplearning/triton-inference-server/release-notes/rel_21-08.html#rel_21-08), which appears to be tested with TensorFlow 1.15.5. So the field being removed in TensorFlow 2.5 wouldn't be a factor.

(Ta

[2021-08-31 18:05] dyastremsky commented on #3292
I'm less familiar with GitLab CI specifics, so tagging @dzier who may be able to provide further guidance.

[2021-08-31 18:10] dyastremsky commented on #3302
Have you taken a look at your system metrics? That'd provide additional data for debugging.

For example, unless explicit mode is used, the server loads the models when they are run. So it is possible the additional memory use is a factor.

(Tagging @aramesh7 for visibility.)

[2021-08-31 18:32] welaunchcn commented on #3301
Thanks for the reply. The tensorflow model has been trained and converted with tensorflow trt using tensorflow version 2.5.
Is tensorflow 2.x tensorrt model not supported yet?

[2021-08-31 19:51] dyastremsky commented on #3301
Apologies, I looked through the documentation and it looks like TensorFlow 2.5 should be fine.

I'll file a bug for us to investigate. It's possible it is a deprecated field. Thanks for alerting us!

[2021-09-01 01:12] li1191863273 commented on #3302
My computer configuration is 48 core 64G memory, So system resources will not be limited, And no other programs were running at the time

I did not set the model configuration file, it is automatically generated when Triton loads the Onnx model

[2021-09-01 01:23] evanlouie commented on #2966
Still getting this error on `nvcr.io/nvidia/tritonserver:21.08-py3`, do not get it on `nvcr.io/nvidia/tritonserver:21.03-py3`.

Can confirm that the env vars expected `AZURE_STORAGE_ACCOUNT` and `AZURE_STORAGE_KEY` are set and that those values work properly with `21.03-py3`.

Any idea as to why this is still happening?

[2021-09-01 05:02] DatCanCode opened #3306 "Dynamically switch floating point precision for TensorRT engine"
When using Deepstream, I realize that it allows me to load a FP32 engine with FP16 mode without serializing new engine just by setting Network mode configuration. They also mention in their documentation here: https://docs.nvidia.com/metropolis/deepstream/dev-guide/text/DS_ref_app_deepstream.html

How can I do the same thing in Triton server?

Thank you!

[2021-09-01 05:10] simon5u commented on #3066
Please reopen this issue. Thanks.

[2021-09-01 05:19] aj7tesh commented on #3300
supported framework as in? its pytorch and fairseq wrapper on top of it.

[2021-09-01 05:39] CPFelix opened #3307 "How to rename input name of torchscript model?"
**Is your feature request related to a problem? Please describe.**
I use export.py to export torchscript model of yolov5s,but found its input name is 'x' and output name '435',and it can't be load by Triton that  require "name_index" fromat.

**Describe the solution you'd like**
Triton can allow input name like 'x' for TorchScript model or how can I modify torchscript model input name?

**Describe

[2021-09-01 06:06] manish0079 opened #3308 "Facing issue while using Yolov5s with Trition inference Server"
Hello

 I tried deploying the Yolov5s onnx model and run using image_client.py. Got an error saying the number of output mismatch - meaning I will have to write a script to run the yolov5s model on triton as yolov5s returns bbox, label, and confidence. Can someone guide how to proceed with this?

Thank you

[2021-09-01 06:36] sourabh-burnwal commented on #3303
Thanks for replying.
I did this, and now the outputs finally is a list of inferOutput objects like it's supposed to be. However, I'm still getting None as model output. Sharing the code snippet:

`inputs, outputs = requestGenerator(image_data, input_name, output_name, dtype)
response = triton_client.infer(model_name,
                                inputs,
                                request_i

[2021-09-01 07:48] CPFelix commented on #3308
You should get the model output tensor and postprocess(NMS) to final bbox, label, and confidence result.
You can write postprocess in image_client.py.

[2021-09-01 09:28] SraRod commented on #3147
@Tabrizian  Just update situations.
After then, we update triton to 21.07, and this error not occur again until now. (but 21.07 seems use more computation resources)

[2021-09-01 10:48] sourabh-burnwal commented on #3303
Closing this as this has been solved. Thanks again.

[2021-09-01 10:48] #3303 closed

[2021-09-01 14:41] simon5u commented on #2369
@Tabrizian We faced the same issue when using this docker, nvcr.io/nvidia/deepstream:5.1-21.02-triton. We found that the tritonserver version inside this docker is 2.5.0, the tritonserver version inside nvcr.io/nvidia/tritonserver:21.02-py3 is 2.7.0. Does it mean we cannot use python_backend with ensemble model in nvcr.io/nvidia/deepstream:5.1-21.02-triton?

[2021-09-01 15:04] Tabrizian commented on #2369
You can use ensemble if the input and output of the tensors given to the Python model are in CPU. If either of the input/output tensors are in GPU you need to update the Tritonserver container that you are using.

[2021-09-01 15:15] simon5u commented on #2369
@Tabrizian I noticed that the latest Jetson version is using nvcr.io/nvidia/deepstream-l4t:5.1-21.02-base, from this link https://docs.nvidia.com/metropolis/deepstream/dev-guide/text/DS_docker_containers.html. Does it mean we cannot use the ensemble model in Jetson with a mixture of CPU and GPU tensors?

[2021-09-01 16:38] GuanLuo commented on #3066
@dhirajpatnaik16297 Please provide additional information in respect to @tanmayv25 's earlier comment, and then feel free to reopen the issue:

@simon5u Can you create a separate issue regarding your use case? It is hard to keep track of multiple scenarios in one issue.

[2021-09-01 17:08] dyastremsky commented on #3306
The data type can be specified in the model config. Could you please clarify what you want to do exactly in Triton?

[2021-09-01 17:19] dyastremsky commented on #3307
The current backend logic is dependent on the current format, with the explanation [here.](https://github.com/bytedance/triton-inference-server/blob/master/docs/model_configuration.md)

I'd imagine that the index is important for knowing the order of the inputs. Your best bet is to create a custom backend for your needs or modify the script you are using to follow the expected format. That would b

[2021-09-01 17:23] jbkyang-nvi commented on #3283
@weiminggao we have a temp patch to fix this issue https://github.com/triton-inference-server/server/commit/83ac5b2cea0a457f1d89091ffa73314f7db5899f
Can you try to see if this fixes your problem?

[2021-09-01 17:46] dyastremsky commented on #3300
Understood. @deadeyegoodwin, do you know whether NMT models are now supported?

[2021-09-01 17:48] dyastremsky commented on #3302
@aramesh7, do you happen to know why a model might take longer per inference request after a different model is run?

[2021-09-01 18:10] deadeyegoodwin commented on #3300
Triton supports touchscript models but you must export your pytorch to torchscript... there is a lot of documentation on this. I don't know about fairseq and how that impacts the generation of torchscript.

You can also run your pytorch script as is by capturing all dependencies, etc. with miniconda and the using the Python backend, as described here: https://github.com/triton-inference-server/pyt

[2021-09-01 18:10] #3300 closed

[2021-09-01 20:47] dzier commented on #3292
@elmuz for our internal CI, we have a cluster of Gitlab runner machines that all mount to a shared NSF drive that contains all of our models.  In the gitlab-ci.yml file, we just create a variable that points to the base directory, for example:

[code]

then in for our tests, we create a test template with the `docker run` command that maps in the directory with `-v $DATADIR:/data`. All of our scri

[2021-09-01 22:35] elmuz commented on #3292
@dzier thank you very much for your exhaustive reply. In the meanwhile I was able to come up with a solution that fits our need. I will share here in case anyone else wants to take some ideas from it.

As a data scientist I develop models and I want my code to be decoupled from inference logic. Also I want Triton CI service to be as much vanilla as possible at every CI execution. I am quite agains

[2021-09-01 22:35] #3292 closed

[2021-09-02 05:42] CPFelix commented on #3251
Sorry to interrupt.
I test yolov5s(tensorrt/FP16) model in Triton in two ways:
1.perf_analyzer
"perf_analyzer -m yolov5s-trt -b 1 --shape IMAGE:3,640,640"  and get:
Throughout(fps):**53.4**fps   Avg latency(ms): **18.73**
2.time() in python clinet code
"
            t0 = time.time()

            inputs = [ httpclient.InferInput("data", img.shape, np_to_triton_dtype(img.dtype))]
            inputs[

[2021-09-02 05:48] simon5u opened #3312 "Why the Yolov5s speed is very slow neither using dynamic batch size or multiple instances?"
Hi, i am facing the an issue where the yolo5s is very slow in triton even with multiple instances.
I downloaded the model from this link, https://github.com/ultralytics/yolov5/blob/master/export.py
Then, the model was converted from onnx to model.plan, input size is batchsize,3,640,640.
I am using this docker nvcr.io/nvidia/deepstream:5.1-21.02-triton with a 2080Ti GPU.
If I increased the batch si

[2021-09-02 09:19] LightToYang commented on #3299
@Tabrizian  I will try the 21.08 version. But only when it did not works that I could find out the problem still exists.

The python backend model.py is relatively simple:
[code]

[2021-09-02 09:21] julienschuermans commented on #3045
Thanks for your reply @CoderHam.

The problem is that we're actually using multiple processes (running in different docker containers) to send the requests to the inference engine.
The `multiprocessing` script was just a minimal example of this setup.

Your multi-threaded solution does not apply to our setup unfortunately.

[2021-09-02 22:28] mustafakasap opened #3316 "Allow selected models in the model repository not to be loaded"
**Is your feature request related to a problem? Please describe.**
`Yes. Some models in my model repository runs just on CPU and some others just GPU. If launching the server without GPU support, it fails because backends&models with GPU support fails to load. Would like to be able to exclude some models being loaded in case not launching triton with GPU support.
`
**Describe the solution you'd li

[2021-09-02 23:18] audrey-siqueira opened #3318 "Shape problem when using SavedModel"
**Description**
I am trying to use my SavedModel to make inferences using Triton 20.10.

Knowing that SavedModel doesn't necessarily need a config.pbtxt, I ran it using **--strict-model-config=false**, the model was loaded successfully.

However when I try to make an inference using the image_client.py script (https://github.com/triton-inference-server/client/blob/main/src/python/examples/image_cl

[2021-09-02 23:19] dyastremsky commented on #3316
Have you tried the explicit model control mode? I'm not sure what specifically is bringing your server down _(models that cannot be loaded are typically just unavailable)_, but this mode should accomplish your goals. It allows you to specify when to load/unload models.

Documentation here: https://github.com/triton-inference-server/server/blob/main/docs/model_management.md

[2021-09-02 23:47] mustafakasap commented on #3316
Running the container by pointing to a model repo that has GPU only models will fail:

`docker run --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/full/path/to/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:<xx.yy>-py3 tritonserver --model-repository=/models`

see above command without **--gpus=all** parameter. And put a CPU only model under "/full/path/to/docs/examples/model_repos

[2021-09-02 23:50] dyastremsky commented on #3318
The image client relies on the format attribute to know how to preprocess an image, which is why you got the first error. So you do need to do what you're doing exactly: adding the config.pbtxt file (e.g. taking the auto-generated one and setting the appropriate format).

Your specified dimensions don't match your image ones. If that's the exact error message you're getting, it looks like you spec

[2021-09-02 23:57] dyastremsky commented on #3316
Understood, that makes sense if it tries to access a GPU. Did you try this with --model-control-mode=explicit? This provide you full control over which models are loaded.

(Tagging @CoderHam for visibility.)

[2021-09-03 00:11] mustafakasap commented on #3316
Thanks @dyastremsky sure it works like:

`docker run --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/full/path/to/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:<xx.yy>-py3 tritonserver --model-repository=/models --model-control-mode=explicit --load-model simple --load-model densenet_onnx`

But imagine you have a repo of 20 models in the repo, in a K8s setup, some of the nodes (wit

[2021-09-03 00:14] audrey-siqueira commented on #3318
The model was trained in (256,256,3) , in addition the command --log-verbose=1 also returned me that the correct one would be (256,256.3).

Even though I change the setting to (3,256,3) , matching the image  output, I get the new error:

**UNAVAILABLE: Invalid argument: model 'clasificacion_categorica', tensor 'input_1': the model expects 4 dimensions (shape [-1,256,256,3]) but the model configura

[2021-09-03 00:57] dyastremsky commented on #3316
There should be ways to implement the sort of logic you're describing programmatically (e.g. via a script that you use to start up Triton that scans model names and loads those matching a specific pattern).

However, I understand you're asking about additional failure recovery functionality. I'll defer to @dzier.

[2021-09-03 01:19] dyastremsky commented on #3318
So one set of dimensions results in the model not loading, the other set of dimensions results in the model loading but inference failing? Interesting. Thanks for the additional information.

Tagging @deadeyegoodwin, who might be able to catch what's going on.

[2021-09-03 01:28] audrey-siqueira commented on #3318
You are right, hope  @deadeyegoodwin can help me , I really need to solve this quickly for my job. Thanks

[2021-09-03 01:32] GuanLuo commented on #3318
You said that you use NHWC which looks to be the correct format for your model, while the model config you posted use `FORMAT_NCHW`, can you double check?
[code]

[2021-09-03 02:35] tanmayv25 commented on #3251
Perf analyzer uses the C++ client API to communicate with Triton, whereas your second experiment uses python client API. Some performance difference is indeed expected.

Besides this, perf_analyzer is highly tuned to report stable values. It doesn't simply reports the average of first N requests. Instead, it keeps recording inference statistics for timed windows till the average of the last three

[2021-09-03 02:45] audrey-siqueira commented on #3318
Hi GuanLuo, thank you for your answer, you were right, but even using NHWC , I am getting an error yet :

Traceback (most recent call last):
  File "image_client.py", line 441, in <module>
    outputs=outputs))
  File "/home/audrey_siqueira/anaconda3/lib/python3.6/site-packages/tritonclient/http/__init__.py", line 1255, in infer
    query_params=query_params)
  File "/home/audrey_siqueira/anaconda

[2021-09-03 02:48] tanmayv25 commented on #3312
The attached files show that Server Compute Infer is 32ms for single concurrency. The additional overhead is coming from the network transactions.  You can use the shared memory as described in the ticket linked by @CPFelix  or you may also use the perf analyzer in C API mode. See [here ](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md#benchmarking-triton-directly

[2021-09-03 03:57] discipleofhamilton opened #3320 "Memory leak issue on using load/unload API to dynamic loading TensorRT model"
**Description**
I updated my Triton server version from 21.02 to 21.08 (docker image) to develop a complete service with BLS. But I don't have enough GPU memory to load every models at the initial. I used `load`/`unload` client API which you offered to reach the purpose. Here comes the same problem on version 21.02 and 21.08.
1. `unload` API will not exactly release model memory on all the backend

[2021-09-03 04:27] audrey-siqueira commented on #3260
I am having the same problem, even setting the ports correctly .

Did you find any solution?

[2021-09-03 04:57] tanmayv25 commented on #3316
@mustafakasap  You can try out ` --exit-on-error=false` when launching server.  See here for more details: https://github.com/triton-inference-server/server/blob/main/src/servers/main.cc#L310

[2021-09-03 05:33] royinx commented on #914
is there any update?

Actually what we want is **real time** request queue size for auto scaling.
According to the last reply, average time of requests spend is cumulative , developer cannot obtain the last 15 mins queue size for auto-scaling.  is that the latency is the only way to detect the request loads?

[2021-09-03 08:50] wangyunxiaa opened #3321 "triton_server slower than tensorflow serving and python API"
**Description**
A clear and concise description of what the bug is.
when i do an inference with tf saved model, it's infer time  2~3 times bigger than tensorflow serving and python API
**Triton Information**
What version of Triton are you using?
r21.02 , nvidia-driver:460,  GPU device:A10
Are you using the Triton container or did you build it yourself?
 Triton container
**To Reproduce**
Steps to r

[2021-09-03 09:53] souvik3333 opened #3322 "make: *** No rule to make target 'triton-python-backend-stub'."
I was following the instructions [here](https://github.com/triton-inference-server/python_backend#1-building-custom-python-backend-stub). While executing `make triton-python-backend-stub` it gave the mentioned error (`make: *** No rule to make target 'triton-python-backend-stub'.  Stop.`). Any possible solutions would be much appreciated.

[2021-09-03 13:23] audrey-siqueira commented on #3318
It looks like this person had the same problem: https://github.com/triton-inference-server/server/issues/3260

All my ports have been configured correctly and when I try to make the inference to a model in the example, I successfully get:

python image_client.py -m densenet_onnx -c 1 -s INCEPTION images/1/tsuru.jpg
Request 1, batch size 1
     12.493561 (654) = MINIBUS
PASS

But when I try to use

[2021-09-03 14:35] Tabrizian commented on #3322
Did you run `cmake` before running make? Are you in the `build` folder?

[2021-09-03 15:05] Tabrizian commented on #3260
Looks like your request is timing out. Can you try increasing the timeout for your client? https://github.com/triton-inference-server/client/blob/main/src/python/examples/simple_grpc_infer_client.py#L130

[2021-09-03 15:27] audrey-siqueira commented on #3260
Hi Tabrizian, thank you for your answer.

I am using  image_client.py  and not simple_grpc_infer_client.py , so in image_client.py  there is no line **client_timeout=FLAGS.client_timeout**

My error output is this one, in line 441 of  **image_client.py**:

Traceback (most recent call last):
File "image_client.py", line 441, in
outputs=outputs))
File "/home/audrey_siqueira/anaconda3/lib/python3.6/s

[2021-09-03 15:58] mustafakasap commented on #3316
``

[2021-09-03 15:58] #3316 closed

[2021-09-03 16:33] deadeyegoodwin commented on #914
Many metrics are reported as cumulative values. You can scrap them at some rate (e.g. once per second) and from that you can determine rate of change. I believe prometheus database can even provide that kind of derived value for you.

[2021-09-03 17:06] dyastremsky commented on #3320
Thanks for providing such a detailed report. We'll investigate further.

[2021-09-03 18:02] tanmayv25 commented on #3321
In case of python API, are you using the same TF, CUDA, CUDNN and CUBLAS versions. Can you collect the perf numbers for python API within corresponding tensorflow on ngc `docker pull nvcr.io/nvidia/tensorflow:21.02-tf2-py3`? This will help in isolating the issue with Triton or TF build.

There has been some A10 specific optimization added in later releases of the container. Can you try 21.08 relea

[2021-09-03 18:46] tanmayv25 commented on #3318
Can you try using `-i grpc -u localhost:8001` with image_client.py?
This will use the python grpc client and grpc endpoint to the server.

[2021-09-03 21:50] dyastremsky commented on #3271
Closing due to inactivity.

[2021-09-03 21:50] #3271 closed

[2021-09-03 21:51] dyastremsky commented on #3261
Closing due to inactivity.

[2021-09-03 21:51] #3261 closed

[2021-09-03 21:51] dyastremsky commented on #3248
Closing due to inactivity.

[2021-09-03 21:51] #3248 closed

[2021-09-03 21:52] dyastremsky commented on #3254
Closing due to inactivity.

[2021-09-03 21:52] #3254 closed

[2021-09-03 22:56] dyastremsky commented on #3284
Closing due to inactivity.

[2021-09-03 22:56] #3284 closed

[2021-09-03 22:57] dyastremsky commented on #3265
Closing due to inactivity.

[2021-09-03 22:57] #3265 closed

[2021-09-03 22:58] dyastremsky commented on #3245
Closing due to inactivity.

[2021-09-03 22:58] #3245 closed

[2021-09-03 22:58] dyastremsky commented on #3188
Closing due to inactivity.

[2021-09-03 22:58] #3188 closed

[2021-09-03 22:59] dyastremsky commented on #3081
Closing due to inactivity.

[2021-09-03 22:59] #3081 closed

[2021-09-04 05:34] souvik3333 commented on #3322
Yes, I did and I tried from the build folder. Actually, a quick search of the Makefile with `triton-python-backend-stub` does not result in any match. I was using the `r20.12` branch. There are rules for `triton-python-backend` which creates a `libtriton_python.so` file. Should I use it instead of `triton-python-backend-stub`?

[2021-09-04 06:16] audrey-siqueira commented on #3318
Hi tanmayv25 , thanks for your anwser . Now I changed my Triton container version to 21.08 and also my client container to 21.08 , this way I think I won't have any more dependency errors.

With this new version I dont have problems with the ports anymore, but it returned a new error when I'm making the inference:

**failed sending synchronous infer request: [_Derived_]{{function_node __inference_

[2021-09-04 06:42] simon5u commented on #3312
@tanmayv25 Thanks for the advice. You are right, using shared-memory improved both inference speed and latency significantly.

**root@luke:/sharefolder# perf_analyzer -m yolo5 --concurrency-range 1:4 -b 16 --shared-memory=cuda**
*** Measurement Settings ***
  Batch size: 16
  Using "time_windows" mode for stabilization
  Measurement window: 5000 msec
  Latency limit: 0 msec
  Concurrency limit: 4

[2021-09-04 06:42] #3312 closed

[2021-09-05 09:04] johnlundberg commented on #1705
GPU seems to be used but I still get the warning:
WARNING: The NVIDIA Driver was not detected.  GPU functionality will not be available.

@turowicz did you have to modify nvidia_entrypoint.sh to get it to work correctly, or did it work correctly even with the warning?

[2021-09-05 21:13] audrey-siqueira commented on #3318
Any updates?

[2021-09-06 03:10] audrey-siqueira opened #3325 "TRITON server returning wrong inferences"
**Description**
After a while struggling with the TRITON server to be able to make inferences using my SavedModel (.pb), I finally managed to make the inferences by adding the parameter **--backend-config=tensorflow,version=2** to launch TRITON, maybe just in this  way was possible because my model was created in tensorflow=2.5.

The problem now is that I'm getting inferences with wrong results, I

[2021-09-06 08:04] vignesh34v opened #3326 "Scaling multiple GPUs"
I have a CPU server, connected with 8 GPUs. Tried to deploy my model across all GPUs.
Issue: The server is not scalable for a large number of GPUs.

X - Inference requests/per second on single GPU
On 2 GPU - 1.8 X
      4 GPU - 3.3 X
      8 GPU - 4.5 X

Configuration :
          Intel(R) Xeon(R) Gold 5218R CPU
          8 Quadro RTX 5000

[2021-09-06 11:24] wangyunxiaa commented on #3321
and I have test the inference time on ngc `docker pull nvcr.io/nvidia/tensorflow:21.02-tf2-py3`, the result is 131ms

I have updated the driver on the server to 470, and perf the models with `nvcr.io/nvidia/tritonserver:21.08-py3`
[code]
it is faster than 21.04,  but the result is also slower than tfs and python API, is there any optimize options shoud be added in config.pbtxt?

[2021-09-06 12:14] manish0079 commented on #3263
Hii

I have been able to load the yolov5s model, but I am getting the model output as bytes,Is there any way to convert bytes into tensors or pass the bytes directly?

[2021-09-06 12:18] #3263 closed

[2021-09-06 12:19] manish0079 commented on #3308
Hii

I have been able to load the yolov5s model, but I am getting the model output as bytes,Is there any way to convert bytes into tensors or pass the bytes directly?

[2021-09-06 12:22] manish0079 commented on #3308
This is the config file I have used, is there any changes or modification I have to edit?

[code]

[2021-09-06 12:23] DatCanCode commented on #3306
Assumed that I have an engine file build with FP32 option, in deepstream I can load that file as such F16 by setting the network-mode. I want to do the same thing in Triton, load the FP32 model in FP16 mode. It's about the weight of the model, not about the type of data input to that model.

[2021-09-06 12:36] turowicz commented on #1705
I am not using Windows since Nvidia do not support the Docker Desktop WSL 2 backend.

[2021-09-06 12:36] turowicz commented on #1705
See https://github.com/NVIDIA/nvidia-docker/issues/1384

[2021-09-07 02:08] #3097 closed

[2021-09-07 02:09] Tabrizian commented on #3227
1.

[2021-09-07 02:09] #3227 closed

[2021-09-07 06:43] wangwang110 opened #3327 "is the dynamic batcher setting sucess?"
I use the electra onnx model to get sentence representation.  This is the  config.pbtxt

[code]

[2021-09-07 07:08] sourabh-burnwal opened #3328 "How to pass different input sizes to different models in an ensemble?"
I have two models say Model A, and Model B. I'm sharing the config files below.
[code]

[code]

I want to ensemble these two in such a way, I provide one input, and both the models can use this. Is there any workaround for this? How can I pass an input which is accepted by both models?

[2021-09-07 15:29] niqbal996 commented on #3308
Hi @manish0079,
To work with a YOLO model, you will have to change your image client given in the examples here [grpc_image_client.py](https://github.com/triton-inference-server/client/blob/main/src/python/examples/grpc_image_client.py). The returned bytes data will be in floats here (TYPE_FP32) which is 4 bytes for per float and you can use that information to decode your byte into tensors, for e

[2021-09-07 16:42] Tabrizian commented on #3074
@bcvanmeurs Sorry for getting back to you late. The link to the model has expired. Can you please provide an up-to-date link to the '/models/mag/1/random_model.pth' again? Thanks

[2021-09-07 16:43] dyastremsky commented on #3306
@CoderHam Do you know if Triton can do this? My assumption is that Triton reads the model as is (perhaps unless a custom backend is created to do otherwise), but wanted to confirm with you.

[2021-09-07 16:44] dyastremsky commented on #3318
Thank you for the update! Will close this issue.

[2021-09-07 16:44] #3318 closed

[2021-09-07 23:17] dzier commented on #3325
Can you please attach a detailed Triton log and include the command used to launch Triton.

[2021-09-07 23:19] dzier commented on #3326
Can you provide the server config, models, and repo commands?

[2021-09-07 23:27] dzier commented on #3328
What is the dimension and shape of your single input? You may need a third model that can take in the single input convert to the correct outputs for these two models, then you can have the third model feed the input of both Model_A and Model_B.

[2021-09-07 23:35] dzier commented on #3327
Can you provide the version of Triton you are using and any repo commands?

[2021-09-08 00:22] tanmayv25 commented on #3321
For latency comparison we are only interested in the average time taken to execute the inference with a single inflight request at a time.

In case of Triton you have specified `max_queue_delay_microseconds: 100000`, which is going to add 100ms to each request as the server will wait for 100ms in order to form a larger batch. As you report the TF inference outside triton took 131ms to execute, in

[2021-09-08 00:27] tanmayv25 commented on #3321
Can you share Triton's numbers with `dynamic batching disabled`, `instance count of 1` and single request concurrency in perf_analyzer?
Do you see similar perf difference in other models?

[2021-09-08 02:03] wangwang110 commented on #3327
I use the 21.03 version,  command is :

`sudo docker run --runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=1 --rm -p 8000:8000 -p 8001:8001 -p 8002:8002 -v /home/model_repository:/models nvcr.io/nvidia/tritonserver:21.02-py3 tritonserver --model-repository=/models --log-verbose 1`

[2021-09-08 05:09] tanmayv25 commented on #3327
Are you creating sufficient concurrent requests to the server using jmeter? If the intervals between requests is greater than 1000us then there will not be any batching.
If you have sufficient request concurrency, then try increasing the `max_queue_delay_microseconds` parameter.

[2021-09-08 05:22] sourabh-burnwal commented on #3328
Thanks for replying. Added another python backend model for preprocessing of the input. I have another error now. In my model.py of that newly added model, I've imported tritonclient python library. But, the triton server can't be started since it doesn't have this library installed. So, how can I do install a couple of new pip modules in the triton server?

[2021-09-08 07:21] sourabh-burnwal commented on #3328
Thanks for replying. I have added another model for preprocessing of the input before feeding to that model.

[2021-09-08 07:21] #3328 closed

[2021-09-08 07:31] wangwang110 commented on #3327
maybe you are correct.   I set jmeter with 500 threads and ramp-up time 1s and change the max_queue_delay_microseconds  to 100000 (100ms).  then I  find server logs like this

[code]

it  can process 7 requests at the same time.

[2021-09-08 07:44] sourabh-burnwal opened #3332 "AttributeError: module 'triton_python_backend_utils' has no attribute 'InferenceRequest'"
I want to use a python backend model in the Triton server. My model.py looks something like this (can't provide the whole code due to confidentiality)
[code]

I copied the triton_python_backend_utils.py file from [here](https://github.com/triton-inference-server/python_backend/blob/main/src/resources/triton_python_backend_utils.py) into the model directory inside version dir. When I run the Triton

[2021-09-08 07:54] sourabh-burnwal opened #3333 "Defining multiple key-value pairs in ensemble model config.pbtxt"
I have an onnx model and a post-process python model. The output of the onnx model has 9 different tensors. I want my python model to take these tensors as inputs and post-process them. I wrote an ensemble model config for this, which looks like this:
[code]

The config.pbtxt of postprocess model looks like this:
[code]

I'm getting this error when I run the Triton server:
[code]

So, what will be

[2021-09-08 08:55] guyqaz opened #3334 "Triton server is slower than pytorch model"
**Description**
I have converted model with Torchscript format
I call Triton server using Grpc client. The Model has been synthesized successfully.
But the speed of the model in Triton server is very slow, when it only synthesizes 1 short sentence with 4 words, with Pytorch model it takes less than 0.1 seconds, however with Triton server, the calculation time is about 1.5 seconds.

**Triton Inform

[2021-09-08 09:25] sunhailin-Leo commented on #2706
@CoderHam
* I met this problem again in GRPC. I was using Triton 21.03 NGC container

[2021-09-08 11:14] bcvanmeurs commented on #3074
Hi @Tabrizian please find a new upload here: https://shukmagpilotmodelshare.blob.core.windows.net/model/random_model.pth

[2021-09-08 14:43] perldeniel opened #3335 "How can I improve the inference speed?"
**Description**
I am using a pre-trained model from [InsightFace](https://github.com/deepinsight/insightface/tree/master/python-package) and managed to get it up and running with Triton server.

If my understanding on Triton is correct, Triton utilises multiple instance groups and batching to high concurrent inference possible. If the pre-trained model is trained with batch size of 1, does it mean

[2021-09-08 14:52] Tabrizian commented on #3332
You shouldn't copy the `triton_python_backend_utils.py` file. It is automatically available in every Python model served by Triton.

[2021-09-08 14:53] Tabrizian commented on #3322
That documentation does not apply to 20.12 branch. You need to update to 21.07+ version to use the Python execution environments.

[2021-09-08 16:53] dzier commented on #3334
Are you sure we are seeing an apples to apples comparison. It sounds like you are comparing a Pytorch model converted to Torchscript running on Triton with an unconverted Pytorch model running on Pytorch. Have you tried running on the Pytorch model on the Pytorch backend directly? Does the converted Torchscript model have the same performance as the Pytorch model outside of Triton?

There have als

[2021-09-08 16:59] dzier commented on #3335
Based on the config file, your max_batch_size is 0. This means that your model doesn't support batching, at least not in the first dimension, which is the only kind of batching that Triton understands.  So dynamic batching cannot be used with this model.

However, you can still use multiple model instances to get some improved performance: https://github.com/triton-inference-server/server/blob/mai

[2021-09-08 17:01] GuanLuo commented on #3333
For protobuf's map field, if you have multiple entries, you must specify each entry separately (see [example](https://github.com/triton-inference-server/server/blob/main/qa/ensemble_models/batch_to_nobatch_float32_float32_float32/config.pbtxt#L60-L75))

[2021-09-08 17:01] #3333 closed

[2021-09-08 17:03] dzier commented on #3327
Looks like this issue has been resolved. Please re-open if you have more questions.

[2021-09-08 17:03] #3327 closed

[2021-09-08 17:45] Tabrizian commented on #3074
There was a but in 21.06 which has been fixed in 21.07+ versions of Triton I was able to run your model with 21.07 and perf analyzer didn't return any error. However, I encountered another problem in 21.06 which has been fixed in 21.07+.

[code]

[code]

Can you try Triton 21.07+ to see whether you still see this issue? Thanks

[2021-09-08 18:37] sourabh-burnwal commented on #3332
Thanks a lot. I was confused and made the mistake of using that file exclusively.

[2021-09-08 18:37] #3332 closed

[2021-09-08 18:40] sourabh-burnwal opened #3336 "How to provide dynamic input size in ensemble model"
I am using a model with varying output sizes (shape is constant). For eg., the output size in the config is (1,2,32,32), but the numbers at the third and fourth indices are dynamic and can change. For this, I declared max_batch_size: 0 and it just used to give a warning but didn't throw any error. But now, when I'm using that model in an ensemble model, and it starts throwing errors now. For refer

[2021-09-08 18:58] sourabh-burnwal commented on #3336
Closing as changing the dynamic values to -1 solved this error.

[2021-09-08 18:58] #3336 closed

[2021-09-08 19:31] Tabrizian commented on #3219
I looked into this. Python backend relies on NumPy for CPU tensors. It looks like this is a NumPy problem more than Python backend. Also, Python backend will not check the datatypes and shapes for output tensors because of possible performance degradation.

[code]

[2021-09-08 19:31] #3219 closed

[2021-09-08 19:53] sourabh-burnwal opened #3337 "inference failed: in ensemble unexpected deadlock"
I have an ensemble model. When I run the respective client, I get this as output =>
[code]

I'm sharing the config.pbtxt file of that ensemble model
[code]

What is this error? How to solve this?
Thanks !!

[2021-09-08 20:11] dzier commented on #968
Closing due to lack of activity.

[2021-09-08 20:11] #968 closed

[2021-09-08 20:12] dzier commented on #1272
Closing due to lack of activity.

[2021-09-08 20:12] #1272 closed

[2021-09-08 20:16] dzier commented on #1522
Closing due to lack of activity. Please re-open if issue persists on most recent release.

[2021-09-08 20:16] #1522 closed

[2021-09-08 20:20] dzier commented on #1625
Please check out Model Navigator: https://github.com/triton-inference-server/model_navigator. It is a new tool that helps facilitate model conversions.

[2021-09-08 20:20] #1625 closed

[2021-09-08 20:23] dzier commented on #1660
More recent versions of Triton can support variable length tensors. Please see https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#inputs-and-outputs for more information.

[2021-09-08 20:23] #1660 closed

[2021-09-08 20:30] #3160 closed

[2021-09-08 20:47] dzier commented on #3301
How did you generate the TFTRT model and did you use the appropriate 21.08 tools? You would need to generate the TFTRT model using the 21.08 Tensorflow container on NGC.

[2021-09-08 20:47] shaowei-su opened #3340 "Tensorflow backend support for parallelism"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
By default, TF Serving allows runtime options for both `inter_op_parallelism_threads` and `intra_op_parallelism_threads` and serving performance varies a lot based on the parallelism setups.

Correct me if I'm wrong that those settings are

[2021-09-08 20:57] GuanLuo commented on #3337
Does your `mask_detect_postprocess` model always produce both `MASK` and `NO_MASK`?

[2021-09-08 23:05] audrey-siqueira commented on #3325
Hi @dzier , as my data is confidential, I'm going to use here a respective classification model (CNN) between cats and dogs which is resulting in the same problem.

**The command to launch TRITON:** sudo docker run --gpus=1 --rm -p8000:8000 -p8001:8001 -p8002:8002
 -v/home/audrey_siqueira/linux/models:/models  nvcr.io/nvidia/tritonserver :21.08-py3 tritonserver
--model-repository=/models
 --backen

[2021-09-09 03:52] JadenLy opened #3343 "Pass different input size in a batch"
For image classification, I want to build an ensemble module. I have a preprocessing script, which I will make it a `TritonPythonModel`, and a classification model. And I want to send raw images with different sizes in a batch to the ensemble module, where the preprocessing module resizes and transforms each image before sending to the model. e.g. I have two images, one with 100x80 and the other i

[2021-09-09 04:14] perldeniel commented on #3335
@dzier Thanks for your explanation. It's much clearer now. I will close this issue.

[2021-09-09 04:14] #3335 closed

[2021-09-09 06:02] sourabh-burnwal commented on #3337
Yes. It always does.

[2021-09-09 08:40] sourabh-burnwal commented on #3337
Closing this issue. I was producing more responses than the requests. But the documentation of the ensemble model states, both should be the same. I clubbed them both, changed the config.pbtxt files and it's working now.

[2021-09-09 08:40] #3337 closed

[2021-09-09 09:18] BorisPolonsky opened #3344 "An option to automatically re-assign device for CPU only ops in tensorflow SavedModel"
**Is your feature request related to a problem? Please describe.**

I have lots of classification model in `tensorflow SavedModel` format that runs perfectly on GPU version of `tensorflow/serving`. Some of the them fails to run on triton model server if I define label look up op in its graph. I assume that `tensorflow/serving` automatically move these ops to CPU devices. I would like to expect an

[2021-09-09 18:15] dzier commented on #3322
Closing ticket for now. Please try building with 21.07 or later. Feel free to re-open issue if you have more questions.

[2021-09-09 18:15] #3322 closed

[2021-09-09 18:19] dzier commented on #2443
Closing issue due to lack of activity.

[2021-09-09 18:19] #2443 closed

[2021-09-09 18:20] deadeyegoodwin commented on #3325
What is the content of CNN_labels.txt?
What if you run with "-c 2"
You can see that you are getting different probability values...
Are you sure that INCEPTION is the correct scaling for your model? Does it match what you used during training?

[2021-09-09 18:25] dzier commented on #2773
It looks like you are building from source. Can you try building the custom ops library from the NGC tensorflow container as a described in https://github.com/triton-inference-server/server/blob/master/docs/custom_operations.md?

[2021-09-09 18:30] dzier commented on #2678
Closing due to lack of activity.

[2021-09-09 18:30] #2678 closed

[2021-09-09 18:44] jeisinge commented on #2443
Why? This is still a feature request.

On Thu, Sep 9, 2021, 2:19 PM David Zier ***@***.***> wrote:

[2021-09-09 18:52] CoderHam commented on #2706
@sunhailin-Leo can you share the server logs for the above error? Can you also confirm that the docker was run with necessary access to the GPU?

[2021-09-09 18:54] CoderHam commented on #3306
@DatCanCode you will likely need to prepare the FP16 model yourself and pass it to Triton. @tanmayv25 is there a setting where a TRT FP32 model can be run in FP16? If so we should add support for such a mode in the TRT backend + allow specification of it in our model config.

[2021-09-09 18:57] CoderHam commented on #3307
@CPFelix The names of the inputs/outputs in the TorchScript model are inconsequential. If you follow the naming convention @dyastremsky pointed to you can load any model where the inputs are `name__index` without worrying what the respective name for that input is.

This is done because TorchScript does not always capture the names (and dtypes) of the i/o as model metadata.

[2021-09-09 18:57] #3307 closed

[2021-09-09 19:01] dzier commented on #3343
It sounds like what you want is a variable size input. This can be specified by using `-1` in the dimensions. For example,

[code]

See https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#inputs-and-outputs for more information on variable dimensions.

[2021-09-09 19:01] #3343 closed

[2021-09-09 19:02] CoderHam commented on #3262
For the onnxruntime backend build, we use a docker based approach on x86 but for jetson you must build the onnxruntime library on Jetson yourself and  point to the path of the library using the respective args from build.py
[code]

[2021-09-09 19:06] CoderHam commented on #3262
PS: refer to onnxruntime docs for instructions to build on jetson. One useful resource would be https://onnxruntime.ai/docs/how-to/build/inferencing.html#native-compiling-on-linux-arm-device

[2021-09-09 19:14] CoderHam commented on #2836
@koval not sure why you believe the PyTorch version is 1.9.0. the [Framework Support Matrix](https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html) clearly mentions 1.10.0a0+ecc3718
for the PyTorch version in 21.07.

That being said, we will look into the perf issue you described here. Since we confirmed the issue is seen in the PyTorch container as well, I am confident the iss

[2021-09-09 19:18] dzier commented on #3340
I believe you can control the number of inter and intra parallel threads in the parameters section described in the tensorflow_backend.  https://github.com/triton-inference-server/tensorflow_backend#parameters

[2021-09-09 19:18] #3340 closed

[2021-09-09 19:39] tanmayv25 commented on #3306
I am not aware of setting such mode on engine (https://github.com/NVIDIA/TensorRT/blob/master/include/NvInferRuntime.h). AFAIK we need to provide the layer precision at the time of building the engine. If DS is exposing on-the-fly quantization then we can also explore the possibility in triton. I will mark this ticket as an enhancement and create a ticket with our engineering team.

[2021-09-09 19:41] koval commented on #2836
@CoderHam  The way I understood Framework Support Matrix is rows are container images (Triton Inference Server in our case) and columns - container image versions (21.07 in our case). The cell at the intersection of our row and column contains:

[code]

[2021-09-09 21:13] audrey-siqueira commented on #3325
Hi, thanks for the reply.

Which alternatives exist beside INCEPTION? Maybe that would be the problem, I just know the INCEPTION command in TRITON.

I didn't train the model, a person at work just sent me the .pb model

If I change it to -c 2 , what happens is that the first probability is  always 1 and all others to are 0.

Which commands could I use besides INCEPTION?

[2021-09-09 21:59] Tabrizian commented on #3074
Or if you can share the curl command that you used which resulted in segfault would be useful for the repro as well.

[2021-09-10 00:19] ankur-sarda opened #3347 "Is it possible to use tensorflow with GPU on custom python backend?"
**Is your feature request related to a problem? Please describe.**
We have tried to use tensorflow with CPU on custom python backend. But it is not clear if it possible to use it with GPU.
Also, Custom python backend was introduced in version 21.06 of triton and is built against CUDA 11.3, whereas latest tensorflow supports up to CUDA 11.2. I have tried to run tensorflow 2.6 with CUDA 11.4 and it

[2021-09-10 00:20] tanmayv25 commented on #3045
@julienschuermans  Thanks for sharing the model plan files. Can you also share scripts to generate those plan files? The plan files are built specific to the TRT and GPU version. These model generation script will help me in trying to narrow down the issue.

[2021-09-10 00:39] ankur-sarda commented on #3344
+1 I can confirm this behavior is on 21.09 and not on 21.08.

[2021-09-10 02:50] rexlow opened #3348 "PyTorch execute failure: isTensor(); Expected Tensor but got GenericList"
**Description**
I've built a custom Yolov5 model and traced it via a [export script](https://github.com/ultralytics/yolov5/blob/master/export.py) from UltraLytics. Testing it via their [inference script](https://github.com/ultralytics/yolov5/blob/master/detect.py) and my Python native code works. Now I attempt to deploy it with Triton.

While deploying it Triton did not throw any error, it is when

[2021-09-10 03:55] maximveksler opened #3349 "Model Load Lifecycle"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I wonder why loading a model takes considerable amout of time, hopefully some documentation could be added that would help understand what's happening when model load is initiatied up until it becomes "available" for serving.

**Describe alternatives you've considered**
Compare when happens

[2021-09-10 04:24] BorisPolonsky commented on #3344
I tested on `nvcr.io/nvidia/tritonserver:21.08-py3`. I'll try the newer image later.

[2021-09-10 14:21] lhy2749 opened #3350 "about config.pbtxt"
the inputs of my model are [batch, seq_len, dim] , [batch, ] and [1], how should I write the config.pbtxt?

[2021-09-10 15:47] mdable2 opened #3353 "Connection reset by peer"
**Description**
It seems randomly I get this connection reset by peer error: "[[1;31mERROR[0;39m] [33mevhtp.c:3101     [39m[94mODDITY, resuming when not paused?!?[39m :: [35m(errno: Connection reset by peer)[39m"

**Triton Information**
21.03

Are you using the Triton container or did you build it yourself?
Triton container

**To Reproduce**
This happens on all my models randomly, it is a