[2022-04-19 09:49] TimovNiedek commented on #4219
@CoderHam thank you for your reply.

Indeed, we see that the throughput increases with async requests, but not to the level that we expect. Our assumption was that by increasing the number of concurrent requests, we would mitigate the majority of the gRPC latency and reach the model bottleneck, but it looks like there is some throughput limit that we hit which is not caused by the model. I have tr

[2022-04-19 10:14] Revist commented on #4165
[code]
docker run --rm -p8000:8000 -p8001:8001 -p8002:8002 -e AWS_ACCESS_KEY_ID=xxxxx -e AWS_SECRET_ACCESS_KEY=yyyyy nvcr.io/nvidia/tritonserver:22.03-py3 tritonserver --model-repository=s3://https://s3.eu-de.cloud-object-storage.appdomain.cloud:443/triton-models-directory```

[2022-04-19 10:39] MistSun-Chen opened #4250 "Can you tell me the meaning of overhead in perf_analyzer report"
I tried to use the onnx version of resnet50 to test the impact of batch.
Here is the result
set batch = 128 and instance= 1 In GTX 1080 Ti
[code]
Obviously, the most time-consuming part is overhead！
Can you tell me the composition of overhead and its relationship with batch inference？

[2022-04-19 15:08] Tabrizian commented on #4234
I tried loading an ONNX model and a Python model. The ONNX model takes roughly one second to load while the Python model takes 0.5 second. The load time of Python models depends on the imports in your Python script and the time it takes to return from the initialize function. If you have many imports, your Python model will take longer to be imported.

[code]

[2022-04-19 15:32] Tabrizian commented on #4183
@tanmayv25 It has not been prioritized yet. There is a ticket for it in the backlog.

[2022-04-19 15:41] Tabrizian commented on #4247
Have you tried increasing the `max_queue_delay_microseconds` parameter described here? https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#delayed-batching

If you want to use dynamic batching you need to make sure that the `max_batch_size` field of your model configuration is larger than 1. Also, you need to turn on the dynamic batching setting of the model. Yo

[2022-04-19 16:03] CoderHam commented on #4203
@greenberd09 I have marked this as an enhancement for now but we have not prioritized this and there is no timeline/commitment on the support.

[2022-04-19 16:20] Tabrizian commented on #4249
I think this is mainly a question for the Tensorflow and ONNX teams.

There is not any released version of Triton that uses TF 1.10 (See[ DL Framework support matrix](https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html) for the TF version used by prior Triton releases). Your best bet would be following the build instructions described here: https://github.com/triton-inference

[2022-04-19 16:20] #4249 closed

[2022-04-19 18:22] dyastremsky commented on #4245
I've filed this issue in our documentation to investigate further. Right now, my understanding is that you want an end-to-end example of how to deploy Triton to serve a PyTorch model that isn't as end-to-end as the NVIDIA [end-to-end deep learning examples linked in the README](https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/LanguageModeling), only covering the Triton steps. But

[2022-04-19 19:34] naor2013 commented on #4215
@Tabrizian I don't store them, the only thing I store is the model object in the initialize function.

[2022-04-20 01:38] kelisiya commented on #4247
I will try to use batcher_test to test my model  , and I make sure use max_batch_size and turn on the dynamic batching settin

[2022-04-20 06:37] liu1032015185 opened #4254 "How to test triton-inference-server with jmeter"
Hi,all
I want to test HTTP server with jmeter. I know ip and port is ip:8000.
But if the model input is 24x24，model-name is yolov5. How should I write the message body data of the post request ？

Thanks!

[2022-04-20 06:39] rupeshpoojary97 opened #4255 "How to run inference for T5 tensorrt model deployed on nvidia triton?"
I have deployed T5 tensorrt model on nvidia triton server and below is the config.pbtxt file, but facing problem while inferencing the model using triton client.

As per the config.pbtxt file there should be 4 inputs to the tensorrt model along with the decoder ids.
I know what to pass through input_ids and attention_mask but not sure what to pass through decoder_ids and decoder_attention mask.

[

[2022-04-20 08:29] murphypei commented on #2130
@Tabrizian
I got same error message for 20.09, because of the driver environment of machine, I must use the 20.09 version, could you tell me how to change the limit? Thanks for your any reply.

[2022-04-20 08:53] farzanehnakhaee70 commented on #4234
Thanks @Tabrizian for your investigation.
I also  faced another issue. As @CoderHam mentioned, I tried to convert the model to torch script. However, loading the torch script model also still take quite a lot of time (8 seconds). However, the onnx model takes 1 second to be loaded. Is there any reason that why loading the pytorch trace model take that much time?

[2022-04-20 09:00] greenberd09 commented on #4203
@CoderHam @GuanLuo thanks, i got all answers i need
than i'll close this issue

[2022-04-20 09:00] #4203 closed, assigned to nobody

[2022-04-20 09:23] sourabh-burnwal commented on #4248
Thanks for replying @Tabrizian
I would like to explain my issue a bit. My client wants an on-prem local deployment on his computer. I don't want my ML learning models to be accessible to him. In Triton's deployment, the models are generally kept in a directory, which can be easily copied and reused somewhere else without my knowledge. Is there any standardized way to solve this? If I have hosted t

[2022-04-20 12:37] ZJU-lishuang commented on #4248
@Tabrizian I have a similar problem.
In the [Repository Agent](https://github.com/triton-inference-server/server/blob/main/docs/repository_agents.md#repository-agent), It was introduced as 'You can introduce your own code to perform authentication, decryption, conversion, or similar operations when a model is loaded.'
But the example '[checksum_repository_agent](https://github.com/triton-inference

[2022-04-20 12:41] ZJU-lishuang commented on #4248
I think [model repository agents](https://github.com/triton-inference-server/server/blob/main/docs/repository_agents.md) that Experienced people don't need it, and inexperienced people don't know how to use it

[2022-04-20 13:08] ZJU-lishuang commented on #4248
In the [checksum_repository_agent GitHub repo](https://github.com/triton-inference-server/checksum_repository_agent), the model can be loaded successful after remove ModelRepositoryAgents section in config.
What I expect is :
if the MD5 is wrong, the model loading will fail.
if there isn't a [ModelRepositoryAgents section](https://github.com/triton-inference-server/common/blob/main/protobuf/model_

[2022-04-20 13:44] Tabrizian commented on #4215
Can you open a new issue with the reproducing instructions so that we can look into this?

[2022-04-21 07:59] #4255 closed

[2022-04-21 12:03] nimeidi opened #4260 "inference failed: ensemble unexpected deadlock"
I have an ensemble model, it works well but sometimes inference failed and reported like this:

in ensemble 'ensemble_qvd', unexpected deadlock, at least one output is not set while no more ensemble steps can be made

What is this error? How to solve this?
Thanks !!

[2022-04-21 12:13] nimeidi commented on #4260
config.pbtxt like this
`name: "ensemble_qvd"
platform: "ensemble"
max_batch_size: 8
input [
  {
    name: "INPUT"
    data_type: TYPE_STRING
    dims: [ 1 ]
  }
]
output [
  {
    name: "OUTPUT"
    data_type: TYPE_FP32
    dims: [ 8 ]
  }
]
ensemble_scheduling {
  step [
    {
      model_name: "preprocess"
      model_version: -1
      input_map {
        key: "INPUT"
        value: "INPUT"

[2022-04-21 17:05] khazamaa opened #4261 "Cannot import tritonclient.grpc after using conda pack"
I am having a conda environment having tritonclient grpc installed using pip.
when I used conda pack to create .tar,gz of the environment for custom python backend i get the error
```  UNAVAILABLE: Internal: ModuleNotFoundError: No module named 'tritonclient'  ```
Can someone help me to get this issue resolved ?

[2022-04-21 17:54] dav-ell commented on #3710
Fyi that in future versions of the Triton container (https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tritonserver/tags), the trtexec location is in `/usr/src/tensorrt/bin/trtexec`. I'm using 21.05-py3.

[2022-04-21 18:09] Tabrizian commented on #2130
20.09 is very old. We no longer use GRPC in Python backend. Can you upgrade to a more recent version to see whether you are still facing this issue?

[2022-04-21 20:52] jbkyang-nvi commented on #4223
@damonmaria sorry for the delay in response. I was meaning to ask: where do you are reading:

we have multithreaded instances of `InferenceServerClient` and they don't need to be `close()``'ed manually

[2022-04-21 22:39] dyastremsky commented on #4250
Thanks for your question! Overhead is the time spent in the endpoint that can't be correctly captured in the send/receive time with the way the GRPC and HTTP libraries are structured. These values are quite high, but they should be independent of Triton.

You can also run perf_analyzer through CAPI to avoid the HTTP/GRPC overhead via the instructions here: https://github.com/triton-inference-serve

[2022-04-21 22:52] Tabrizian commented on #4261
Are you using the tritonclient inside your python model that is using the conda environment or in another script?

[2022-04-21 23:57] Tabrizian commented on #4260
@GuanLuo Do you happen to know why this might happen?

[2022-04-22 00:05] GuanLuo commented on #4260
The error will be reported if one of the composing models doesn't generate the output tensors promised. Can you check if the composing models do returns all the outputs listed?

[2022-04-22 00:55] damonmaria commented on #4223
@jbkyang-nvi

The `InferenceServerClient` (**http version only**) uses [gevent](http://www.gevent.org/). My understanding, and experience with using it is that everything in a 'greenlet' has to happen on a single thread. Calling the client from different threads fails.

As above. During initialization we create an `InferenceServerClient`, get the model config from the Trtiton server and perform a

[2022-04-22 02:43] charlesmelby opened #4262 "openvino 2022.01 support"

[2022-04-22 06:38] nimeidi commented on #4260
when it inference successfully, the composing models do returns all the outputs listed, but when failed, it returns nothing.Is there some configs to help deal this problem?

[2022-04-22 07:40] edwardnguyen1705 commented on #4142
Hi @tanmayv25 ,

I am implementing a similar architecture to @omrifried . In the client end, we load 5 videos/streams in 5 processes/threads, then frames are sent concurrently from 5 processes/threads to the triton server.
What is the best approach for this use case?

[2022-04-22 08:48] jayvdb opened #4263 "compose.py failure: module 'build' has no attribute 'get_container_versions'"
**Description**

[code]

`get_container_versions` was removed in de061a4 (PR #4174) , but it is still used by `compose.py` on branch `main`, c.f. https://github.com/triton-inference-server/server/blob/db3ca6a/compose.py#L162

**To Reproduce**
Run `python3 compose.py --dry-run` without any other arguments.

**Expected behavior**
No exceptions for use without any args.  If this mode is no longer sup

[2022-04-22 09:04] jayvdb commented on #4263
ping @deadeyegoodwin

[2022-04-22 09:10] hexisyztem opened #4264 "Load model parallelly"
Current situation: During the initialization phase, models are loaded in parallel - `ModelInstanceState()` function, which makes initialization phase slowly and resources are not used efficiently.

Suggested solution: During the initialization phase, load models in parallel.

[2022-04-22 12:15] xiaoxiaoshu111 opened #4265 "tritonclient.utils.InferenceServerException: [StatusCode.UNAVAILABLE] unavailable"
**Description**

All previous requests can return normally, suddenly such an error （tritonclient.utils.InferenceServerException: [StatusCode.UNAVAILABLE] unavailable）was reported, and then docker memory  keeps rising until OOM。

**Triton Information**
What version of Triton are you using?
20.11

Are you using the Triton container or did you build it yourself?
Triton container

**To Reproduce**
Ste

[2022-04-22 14:56] Tabrizian commented on #4263
@jbkyang-nvi Can you please take a look at this issue?

[2022-04-22 15:07] Tabrizian commented on #4248
@sourabh-burnwal I think you can encrypt the model and store the encrypted models in the model repository and use the model repository agent to decrypt the model when the model is being loaded. However, I think you still need to store the decrypted model on the filesystem so this might be an issue for your scenario (@GuanLuo can correct me here).

@ZJU-lishuang This test might also be helpful to d

[2022-04-22 15:13] Tabrizian commented on #4250
We have filed an internal ticket to improve the Perf Analyzer docs to explain `overhead`.

[2022-04-22 15:14] Tabrizian commented on #4262
cc @tanmayv25

[2022-04-22 15:28] micuentadecasa opened #4266 "Example in Python to create a pipeline with Gst-nvinferserver"
**Is your feature request related to a problem? Please describe.**
The problem is that I haven't found any example of using Gst-nvinferserver in Python

**Describe the solution you'd like**
I would like to be able to add/remove pipelines in Python with GST, these pipelines can be a source RTSP that is sent for processing to the Triton Server and the output sent to a RTSP sink

**Describe alternati

[2022-04-22 15:55] Tabrizian commented on #4264
Thanks for your feature request. We do have an internal ticket related to this but currently there is no plans to fix this.

cc @GuanLuo @msalehiNV

[2022-04-22 15:58] Tabrizian commented on #4139
Closing due to in-activity.

[2022-04-22 15:58] #4139 closed

[2022-04-22 15:58] Tabrizian commented on #4089
Closing due to in-activity.

[2022-04-22 15:58] #4089 closed

[2022-04-22 15:59] Tabrizian commented on #4026
Closing the issue due to in-activity.

[2022-04-22 15:59] #4026 closed

[2022-04-22 16:00] Tabrizian commented on #4008
Closing due to in-activity.

[2022-04-22 16:00] #4008 closed

[2022-04-22 16:07] Tabrizian commented on #4247
Closing this issue.

[2022-04-22 16:07] #4247 closed

[2022-04-22 16:29] deadeyegoodwin commented on #4263
This should be fixed by #4276, you can try the edit locally to get unblocked.

[2022-04-22 16:41] rmccorm4 commented on #4265
Hi @xiaoxiaoshu111 ,

In case there is a memory leak or similar that's already been fixed. can you try to reproduce on the latest (22.03) version of Triton?

[2022-04-22 16:47] rmccorm4 commented on #4266
Hi @micuentadecasa ,

Have you asked on the Deepstream forum: https://forums.developer.nvidia.com/c/accelerated-computing/intelligent-video-analytics/deepstream-sdk/15?

[2022-04-22 17:10] GuanLuo commented on #4260
Does "inference fail" refers to the ensemble inference fails? Do you know when does the inference fail? i.e. does it always fails on a specific input or it fails intermittently even the input is unchanged. If the former, you can send the request to each of the composing model to simulate the ensemble pipeline and identify which model is not producing output.

Triton expects the (composing) model t

[2022-04-22 17:50] tanmayv25 commented on #4262
@charlesmelby ORT 1.11.0 supports openvino 2022.01. However, we are still using ORT 1.10.0 in our containers.
Even though we don't support OV 2022.01, you may still be able to build openVINO backend with OV 2022.01 using our build.py.

Read here for more information and caveats: https://github.com/triton-inference-server/server/blob/main/build.py#L50-L100

You can try something like:
[code]
You wo

[2022-04-22 18:27] orkenstein opened #4269 "PyTorch inference returns incorrect values"
**Description**
I've trained a BERT-based model for NER related tasks and deployed k8s server.
But the predictions I get using directly loaded jit model is different from the values returned by the server.

**Directly** loaded model prediction:
[code]

Triton **inference** same model:
[code]

Compare the results:
[code]

**Triton Information**
Triton Server Version 2.20.0

Are you using the Triton

[2022-04-22 18:28] timdesmetML6 opened #4270 "Optimal Jetpack 4.x build"
**Is your feature request related to a problem? Please describe.**
I've been unable to get the functionalities I want from triton on Jetson devices so far. The supplied packages/images always seem to lack some functionality. I presume a custom build would be the answer, but the documentation for Jetson devices isn't complete.

**Describe the solution you'd like**
I want the following features on m

[2022-04-22 21:28] #4263 closed

[2022-04-23 12:46] charlesmelby commented on #4262
@tanmayv25
Thanks for the info! I'll give that a try and see how it goes.

[2022-04-23 14:25] FrancescoSaverioZuppichini commented on #4245
More or less, IMHO (and with all due respect) the documentation is so fragmented and with missing parts that is virtually impossible to create something end to end.

A good rule of thumb to evaluate the quality of the doc is to try to act as a new user and write down how much it takes to get the information required to build a complete product and not just download a who knows if update example. W

[2022-04-23 15:39] MistSun-Chen commented on #4250
Below are my tests using the onnx version of the resnet50 model.
In 1 gpu 1080Ti instance = 1,request concurrency = 2, batch in [2,4,8,16,32,64,128,256]

batch | overhead(ms) | queue(ms) | compute_input(ms) | compute_infer(ms) | compute_output(ms) | avg_infer_latency(ms) | throughput(req/second) | mem(MiB)
-- | -- | -- | -- | -- | -- | -- | -- | --
2 | 5.073 | 7.195 | 0.146 | 4.9 | 0.004 | 17.318

[2022-04-23 17:45] farzanehnakhaee70 opened #4271 "Dali backend support feature to handle init function"
**Is your feature request related to a problem? Please describe.**
Currently dali_backend just works with post and preprocessing for the functions which do not requires initialization. What if  when the init part takes longer time? Is there any solution for this?

[2022-04-24 06:12] hannan72 opened #4272 "tritonserver: error while loading shared libraries: /usr/lib/x86_64-linux-gnu/libnvidia-ml.so.1: file too short"
**Description**
I'm going to deploy my model on Kubernetes pod which it is designed to run the model on CPU (no gpu is assigned). However, I get this error while
[code]
In this error it needs some gpu-related libraries. However, I didn't assign any gpu and don't want to run the model on GPU.
What is the solution to solve this issue?

**Triton Information**
triton version: 21.03

Are you using the

[2022-04-24 06:42] nimeidi commented on #4260
it fails intermittently even the input is unchanged. Maybe the same input will be successful next time.

[2022-04-24 07:08] zijin520 opened #4273 "【question】cross compile for riscv64"
Got the "protoc-3.8.0.0: Exec format error" error when  executing cross compile for RISV64 in ubuntu20.04. I tried many methods bu cannot fix it. Could you please help to fix it. Thanks.
'''
[ 97%] Building C object CMakeFiles/grpc++.dir/third_party/upb/upb/msg.c.o
[ 97%] Building C object CMakeFiles/grpc++.dir/third_party/upb/upb/port.c.o
[ 98%] Building C object CMakeFiles/grpc++.dir/third_party

[2022-04-24 09:42] xiaoxiaoshu111 commented on #4265
Thanks for replying! ! !
I  reproduce on the latest (22.03) version of Triton，but I got a new error message：
![image](https://user-images.githubusercontent.com/29574038/164969966-637073c0-ac3b-4644-9a10-d77e97d87ba8.png)

I think it might because that I set the inference shape to batch+[3,-1,-1].
But when I use Triton 20.11，there was no error message 。So I want to konw if triton 22.03 don't suppor

[2022-04-24 12:22] micuentadecasa commented on #4266
Hi @rmccorm4 ,

I think this is just what I was looking for, from this example I can start.

Regards.

[2022-04-24 12:22] #4266 closed

[2022-04-24 14:13] eanmikale opened #4274 "Proper Densenet_onnx Classification Input File Format Error"
**Description**
A clear and concise description of what the bug is.

We are attempting to use curl for inference.

Describe the models (framework, inputs, outputs), ideally include the model configuration file (if using an ensemble include the model configuration file for that as well).

Here is the curl command:

curl -v -X POST https://infinite8institute-ne0kw2501y9ifdei.socketxp.com/v2/models/d

[2022-04-25 03:28] zhaotyer opened #4275 "Abnormal gpu memory usage"
**Description**
A clear and concise description of what the bug is.

The same model has significantly higher gpu memory usage in the r21.06 image than in the r22.03 image

**Triton Information**
What version of Triton are you using?
r21.06
r22.03

Are you using the Triton container or did you build it yourself?
Triton container

**To Reproduce**
Steps to reproduce the behavior.

docker run -it --s

[2022-04-25 08:18] MhdKAT commented on #2526
- Has anyone encounterd this error when running a simple pytorch model on Triton Inference Server on Jetson nano ?
- I am trying ti run a simple Vgg model on Jetson nano, I transformed the model into Torchscript using jit.trace but when trying to infer with Triton server I get this error :
InferenceServerException: [StatusCode.INTERNAL] PyTorch execute failure: forward() Expected a value of type '

[2022-04-25 09:45] ReSin-Yan opened #4276 "nvidia-triton flower demo performace"
Hi everyone
But I meat some question about triton-inference-server
Hope someone can help me

I follow this docs to create my trition and have GUI demo(flower demo)
https://developer.nvidia.com/blog/deploying-nvidia-triton-at-scale-with-mig-and-kubernetes/
I think i am success to create the service.
But when I use GUI.
The throughout is very very low!!!!
My card have two
RTX 8000 with 40 throughput

[2022-04-25 11:43] youxingtian opened #4277 "I want to load from a serialized model_config message with the Triton Server API."
**Description**
A clear and concise description of what the bug is.
I want to load model from a serialized model_config message with the Triton Server API.  I want to know how to pass parameters with the ```POST v2/repository/models/${MODEL_NAME}/load``` API to load model
my config.pbtxt
[code]

**Triton Information**
What version of Triton are you using?
My Triton image```nvcr.io/nvidia/tritonser

[2022-04-25 14:21] Tabrizian commented on #4269
@CoderHam Can you please take a look at this issue?

[2022-04-25 14:24] orkenstein commented on #4269
@Tabrizian case closed. My bad.
I just mix up the inputs order for BERT models.

Should be:
[code]
Instead of:
[code]

[2022-04-25 14:24] #4269 closed

[2022-04-25 16:18] goofy-z opened #4278 "model inference of yolov5 torchscript format runs slow"
**Description**
i use triton to infer yolov5 torchscript format model, it's almost run 10 sec, i used gpu  NVIDIA GeForce RTX 3080
server run command:
`
docker run --gpus=1 --rm -p31222:8000 -p31223:8002  -v /nfs/dap/data/demo/predict/fff08cf4-b4ec-4e62-8152-728c029e2520:/models 10.70.12.9/daocloud/triton:1.0  tritonserver --model-repository=/models --trace-file=/models/trace.json --trace-rate=1 -

[2022-04-25 16:54] rmccorm4 commented on #3429
Closing due to inactivity. Please re-open if you can easily reproduce with similar commands as above on the latest Triton version, I was unable to reproduce.

[2022-04-25 16:54] rmccorm4 commented on #3997
Closing due to inactivity. Please re-open if you're able to reproduce with other steps like above.

[2022-04-25 16:54] #3997 closed

[2022-04-25 17:04] dyastremsky commented on #4250
Thanks for being so detailed. For your first three questions, I'm pretty sure the statistics are per request. Your times get more efficient per request because you're sending batches. Each request needs to wait longer because they're waiting to be batched, and it's possible processing a batch takes longer. Your 512 throughput is 512 requests per second (see the header).

As for your fourth questio

[2022-04-25 17:25] InfiniteLife commented on #4278
Its probably warm up time, torchscript models can take 5-20 seconds on first 2 runs in my experience.

[2022-04-25 18:19] CoderHam commented on #4278
@goofy-z can turn off optimized execution using `DISABLE_OPTIMIZED_EXECUTION` as described [here](https://github.com/triton-inference-server/pytorch_backend#parameters) and confirm it resolves your issue?

Is this behavior not something you see with TorchScript _outside Triton_?

[2022-04-25 18:24] dyastremsky commented on #4245
Thank you for your feedback, Francesco. Closing this ticket out, as this feedback has been logged into our ongoing documentation work.

[2022-04-25 18:24] #4245 closed

[2022-04-25 18:58] CoderHam commented on #4270
- @timdesmetML6 CUDA shared memory is not possible on JetPack at the moment since it uses an iGPU.
- Cloud storage support has not yet been tested officially on Jetson. Can you tell us about your use case to help prioritize this?
- Can you clarify what you mean by specific backends?
- We have noted the request for Dockerization of our Jetson build but I do not have a timeline for the same.
- Post

[2022-04-25 19:32] timdesmetML6 commented on #4270
@CoderHam Thanks for the clear reply!

**CUDA shared memory is not possible on JetPack at the moment since it uses an iGPU**
That makes sense, for now we are able to get the performance we're looking for using the HTTP and GRPC approaches. It would be nice if we could avoid the networking overhead. But it's not a blocker.

**Cloud storage support has not yet been tested officially on Jetson. Can y

[2022-04-25 23:08] masguit42 commented on #1796
@GuanLuo what's the correct way to create such file?
I'm stucked.

[2022-04-25 23:25] tanmayv25 commented on #4142
A single instance count means that server can only put a single request in execution at a time. 2 instances means that it can only place 2 inference in at a time.
Assuming a single instance with 0.5sec as execution time on a pytorch model:
A latency of 20sec means the current request had to wait for almost 40 requests to get its turn into execution. We could have advised using multiple instance co

[2022-04-26 00:31] GuanLuo commented on #1796
@masguit42 What is the error message that you received? And do you mind to create a separate issue for your questions?

[2022-04-26 00:45] zijin520 commented on #4273
Does the compile system supporting cross compile?

[2022-04-26 01:01] #4250 closed

[2022-04-26 02:50] naor2013 opened #4284 "Custom Metrics per server"
In the documentation for the new Custom Metrics features, it seems that you can only register new metrics in backends the user creates or edits himself.
It would be really helpful if it will be possible to register generic custom metrics to the triton server rather than to a specific backend which will be available for all models in that instance of triton server, regardless of backend type.

[2022-04-26 02:56] goofy-z commented on #4278
thanks for your reply , after the warm up process, what's the average cost for one sample input?

[2022-04-26 03:07] goofy-z commented on #4278
@CoderHam  thansk for you reply
since  i use this parameter, its has a improve of inference, but it still cost 5 sec
i collect two trace log,
<img width="499" alt="image" src="https://user-images.githubusercontent.com/38034027/165211340-7a0baa22-5b8f-4ca7-ac1b-f1f1cdffe37a.png">
as you see  from COMPUTE_END  to REQUEST_END , it's cost 5 sec ，i dont't know bettewn COMPUTE_END and  REQUEST_END, what

[2022-04-26 04:39] CoderHam commented on #4244
Refer to the docs [here](https://github.com/triton-inference-server/server/blob/r22.04/docs/protocol/extension_binary_data.md) for the binary extension. Looks like you are missing the Inference-Header-Content-Length field.

[code]

[2022-04-26 07:09] eanmikale commented on #4244
I CHANGED THE INPUT FILE AS SUCH BELOW: 

POST /v2/models/densenet_onnx/infer HTTP/1.1

Host: https://infinite8institute-ne0kw2501y9ifdei.socketxp.com

Authorization: Bearer `key'

Content-Type: multipart/form-data

Inference-Header-Content-Length: 1124

Content-Length: 1124

{

  "id" : "densenet_onnx",

  "inputs" : [

    {

      "name" : "input0",

      "shape" : [ 2, 2 ],

      "datatype"

[2022-04-26 07:22] masguit42 opened #4285 "Use custom integer data for warmup"
I've made warmup block in `config.pbtxt`:
[code]
what's the correct way to create such file for `data_size` variable?
I'm stucked.

I've tried this way:

[code]

[2022-04-26 08:06] InfiniteLife opened #4286 "How to connect Triton client library to my C++ client project?"
I've installed Triton client using this:
`
$ pip install tritonclient[all]`

Does it install C++ client binaries or I need to build them from the sources?

And how to connect it to my project? is there anything available like Cmake package search:
`find_package(Triton REQUIRED)`

System is Ubuntu 20.04.

[2022-04-26 08:33] masguit42 commented on #1796
@GuanLuo
done:
https://github.com/triton-inference-server/server/issues/4285

[2022-04-26 09:54] zidsi opened #4287 "Docker A2 GPU support"
**Is your feature request related to a problem? Please describe.**
Docker (latest?) Release 20.03 (build 11042949) does not support A2.

**Describe the solution you'd like**
I'd like A2 GPU to be supported in docker release ;)

**Additional context**
Docker started with textbook
[code]
**WARNING: Detected NVIDIA NVIDIA A2 GPU, which is not yet supported in this version of the container**
and (it m

[2022-04-26 10:50] timdesmetML6 commented on #4270
@CoderHam I've double-checked the usage of the  `nvcr.io/nvidia/tritonserver:22.02-py3` container, but it seems to have some trouble with GPU support.

What's the recommended way of deploying new models to (say a fleet of) devices?

[2022-04-26 11:50] sourabh-burnwal commented on #4248
@Tabrizian thanks. Yes, I was thinking of doing the same. Can you share any recommended encryption for onnx, python and torchscript models?

[2022-04-26 12:36] lamoglia opened #4288 "Triton inference server container freezes on startup"
**Description**
I'm trying to run triton inference server `nvcr.io/nvidia/tritonserver:21.07-py3` and it freezes my VM (I can't even stop the container using `docker stop/rm`) after showing this output:

[code]

**Triton Information**
What version of Triton are you using?
nvcr.io/nvidia/tritonserver:21.07-py3

Are you using the Triton container or did you build it yourself?
Triton container

**To

[2022-04-26 19:56] #4286 closed

[2022-04-26 20:41] nrepesh opened #4293 "ONNX with TensorRT Optimization (ORT-TRT) Warmup"
I have an onnx model that I converted using the symbolic_shape_infer.py script in the documentation [here](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/symbolic_shape_infer.py) from the TensorRT documentation [here](https://onnxruntime.ai/docs/execution-providers/TensorRT-ExecutionProvider.html).

I then added the code below to the config file to use the onnx with

[2022-04-26 21:19] CoderHam commented on #4278
@goofy-z That would be dependent on the model.

Can you confirm this performance is seen outside Triton i.e. in Native PyTorch.

You can also run the [perf_analyzer](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md) tool.

[2022-04-26 23:18] dyastremsky commented on #4287
Would you be able to try running 22.03? That would be the latest release.

20.03 is actually two years old (from March 2020), and your A2 GPU is newer.

[2022-04-27 07:28] zidsi commented on #4287
TLDR; It works with 22.03, thank you.

How embarrassing and yet wonderful. Did pull 22.03 and than run "typo" 20.03. Again and again.

[2022-04-27 07:28] #4287 closed

[2022-04-27 08:13] liu1032015185 opened #4297 "Questions about performance test results"
Hi,
I have some question about Performance Analyzer,
1、Does the number of **concurrency**  refer to the number of threads?
2、Why doesn't the throughput increase any more， The delay doesn't exceed one second immediately until I increase the concurrency to several times？Shouldn't it be blocked there. The delay is more than one second right away？
3、what's Performance Analyzer's input?
4、There are mul

[2022-04-27 16:37] MhdKAT opened #4298 "Running inference with Pytorch backend on Jetson nano"
**Description**
A clear and concise description of what the bug is.
I am trying to run a simple inference using pytorch backend on Jetson nano. My triton installation works for all the other backends.
Except for pytorch which keeps on throwing the same error.

**Triton Information**
What version of Triton are you using?
2.19.0 for Jetson

Are you using the Triton container or did you build it your

[2022-04-27 20:37] yuanyao-nv commented on #3978
I created a model with `l2_normalize()` and it seems to run correctly with triton.

Here are my steps:

Create TF model:
[code]

Convert TF model to ONNX:
`$ pip install -U tf2onnx`
`$ python3 -m tf2onnx.convert --saved-model L2NormalizeModel/ --output L2NormalizeModel.onnx --opset 11`

Create TRT engine:
`$ trtexec --onnx=L2NormalizeModel.onnx --saveEngine=model.plan --minShapes=input_1:1x128 --m

[2022-04-27 21:34] GuanLuo commented on #4059
Sorry for the late reply. I misunderstood your earlier comment on trace by time, and now it makes sense to me after reading through your clarification. Reiterating the request to make sure my understanding is correct: "In addition to the frequency setting, when determining if the request should be traced, the time lapse since the last traced request should also be considered, and the request will

[2022-04-27 22:20] GuanLuo commented on #4219
Note that that is the average latency collected on the server side, so the infer / sec calculated by it is with the assumption that there is 0 network overhead. However, as you mentioned, there is a significant network overhead and this is likely to be out of Triton's control, i.e. Triton appears to be idle because the requests are not arriving fast enough.

It will be helpful to know what is the

[2022-04-27 22:36] gcarr1020 commented on #2944
Both links to the `CMakeLists.txt` are dead. Could you provide updated links and line numbers please?

[2022-04-28 02:22] ZJU-lishuang commented on #4248
@Tabrizian I have run my model for checksum.
But when I delete the [ModelRepositoryAgents section](https://github.com/triton-inference-server/common/blob/main/protobuf/model_config.proto) in the config.txt, the model still load Successfully.
What should I do to make the model loading failed when I delete the [ModelRepositoryAgents section](https://github.com/triton-inference-server/common/blob/mai

[2022-04-28 03:18] murphypei commented on #2130
ok, thanks for your reply.

[2022-04-28 04:36] kimdwkimdw commented on #3978
@yuanyao-nv

https://gist.github.com/kimdwkimdw/28fb456d15f1f21111345ea57771179a

Here are example.

1. Generate saved_model first. [generate_saved_model.py](https://gist.github.com/kimdwkimdw/28fb456d15f1f21111345ea57771179a#file-generate_saved_model-py)
2. Convert it to "ort(onnx) model"
3. Convert it to TensortRT plan with `trtexec` with fp16
[code]
4. Run `tritonserver` in NGC 22.01 ( nvcr.io/

[2022-04-28 04:51] kimdwkimdw commented on #3978
@yuanyao-nv @dyastremsky
22.03 have a problem too.

[2022-04-28 07:45] bro-adm commented on #4059
Terrific !!!

To sum up:
- log by time lapses
- index file rule
- epoch timestamps in the logs (instead of monotonic - as a cli command)

Thanks

[2022-04-28 07:57] huangrunqian opened #4299 "Run tritonserver on Windows10 but it exited without any error"
I tried to run a tritonserver on my PC with my backend and models, and I got a problem that the tritonserver.exe exited without any error and I don't know why.

tritonserver version: r22.02
command: `tritonserver.exe --backend-directory backends --model-repository models/my_models --log-info true --log-warning true --log-error true --log-verbose 1 --exit-timeout-secs 10`
directories:
  models/

[2022-04-28 10:45] #4298 closed

[2022-04-28 11:07] hitcxz commented on #3980
I have the same issue with m1, how to deal with it?

[2022-04-28 11:35] TaylorHere commented on #3877
I meet this issue when deploying tritonserver in kubernetes with A100 Card
containerd://1.5.4
Driver Version: 470.82.01
CUDA Version: 11.6
nvcr tag: 22.03-py3

I was use tensorRT to build a model.plan, then run it with tritonserver,  with the same nvcr container version tag but it says:

[code]

but I finally figure it out.

it can work with
[code]
can't work with
[code]
I have no idea why this ha

[2022-04-28 12:42] InfiniteLife opened #4300 "Torchscript model loading throws error UNAVAILABLE: INTERNAL: An Input of type 'Tensor?' was detected in the model"
I have converted Torchscript model:

[code]
Which has single input and 3 outputs.
When loading model Triton gives error:

`UNAVAILABLE: Internal: An input of type 'Tensor?' was detected in the model. Only a single input of type Dict(str, Tensor) or input(s) of type Tensor are supported.`

what does it mean?

[2022-04-28 17:42] klappec-bsci opened #4302 ""no module named tensorflow" when running Triton server w/ python backend"
Triton 22.03-py3
also triton 22.03-tf2-py3

have a model file that tries to "import tensorflow" at the top.
Importing torch doesn't work either.

I find this strange as there is an example file with 'import torch' at the top for python backend examples.

I am clearly doing something wrong but I cannot figure out what.

My configuration file is setup with backend:"python"

The docker run command is

[2022-04-28 18:31] SaratM34 opened #4303 "[Question] explicit model control mode - load models in parallel"
**Description**
Hi, I am using explicit model control mode to load the python models explicitly using the `v2/repository/models/<model_name>/load` endpoint. I want to send multiple load model requests asynchronously at once to Triton but Triton seems to load each model sequentially. Is there a way for Triton to load the models in parallel when multiple load requests are sent?

**Triton Information

[2022-04-28 18:55] jbkyang-nvi commented on #3980
Currently, Triton does not officially support M1 builds.
@fabiofumarola can you share your `compose.py` command so future users can try it?

[2022-04-28 19:38] Tabrizian commented on #4302
Tensorflow and Pytorch packages are not installed by default in the Triton container. The dependencies for the examples are included in the documentation of Python backend: https://github.com/triton-inference-server/python_backend#addsubnet-in-pytorch.

[2022-04-28 19:39] #4302 closed

[2022-04-28 19:59] klappec-bsci commented on #4302
Thank you so much Tabrizian , I got it figured out now!

[2022-04-28 20:18] CoderHam commented on #4270
@timdesmetML6  The NGC containers are **not** designed to be use for Jetpack.

Refer to the [jetson.md](https://github.com/triton-inference-server/server/blob/r22.03/docs/jetson.md) docs (or the docs for the release you are using).

[2022-04-29 01:15] hitcxz commented on #3980
Could you please send me the link of the built image too?

[2022-04-29 07:25] yaoyunda opened #4306 "Triton Server build failed because DCGM 2.2.9 public key is not available"
**Description**
A clear and concise description of what the bug is.
The triton server build is previously successful, it starts to fail about a day ago.
Here is part of log:
Hit:2 https://apt.kitware.com/ubuntu focal InRelease
Err:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
  The following signatures couldn't be verified because the public key is not ava

[2022-04-29 09:33] prz30 opened #4308 "how can i use custom tensorrt backends"
Hi everyone
I have a question.How can i use a custom tensorrt backends in triton server? The version of my trition docker is 21.08, and i noticed that there is no backend for tensorrt in docker.Unfortunately, I need to add some functionality to the tensorrt source code, so I need to customize a new tensrort backend. But i have no idea to use thi snew tensrort backend. Can someone give me some advi

[2022-04-29 15:07] rgov opened #4310 "image_client.py example is broken for multiple classification outputs"
I am running Triton via the NGC container version 22.04 (which I take to be 2.21.0) and the Python `tritonclient` module version 2.21.0 on Python 3.9.12. I am using the `densenet_onnx` example model from the 2.20.0 tag of this repository.

When I run the command in the Quick Start tutorial, I get an error:

[code]

This is affected by the `-c 3` argument; if I pass `-c 1` then the error goes away.

[2022-04-29 16:28] CoderHam commented on #4306
cc @jbkyang-nvi

[2022-04-29 18:25] #4300 closed

[2022-04-30 01:21] FreshZZ opened #4319 "how multiple instances on the same device can be concurrent"
After reading the code, I was confused about how multiple instances on the same device can be concurrent

Multiple instances on the same device share a TritonBackendThread object,
in src/backends/backend/triton_model_instance.cc
<img width="658" alt="图片" src="https://user-images.githubusercontent.com/17643609/166084995-4f1b09d7-1b48-457c-8b52-84c2e96940b9.png">

model_instances_ save all instances

[2022-04-30 07:14] timdesmetML6 commented on #4270
@CoderHam Thanks for the clarification!

To be clear, we are using the tar file and have deployed triton in a custom container on the Jetson without any issues. What we are missing in that approach is the cloud storage support. The release page (same for v2.21.0) mentions:
```GPU metrics, GCS storage, S3 storage and Azure storage are not supported.```

So we are looking for the recommended way of

[2022-05-02 15:27] joihn opened #4321 "[Question] Semantic Segmentation : Add an argmax layer"
I have a **semantic segmentation** model, outputing **confidence score** for **each class**.
Is there a way to add an (efficient GPU powered ) **argmax layer** to the model using Triton ?

Apparently there support for classification argmaxing [extension_classification](https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_classification.md)  but not for segmentation

[2022-05-02 16:18] dfisk commented on #4199
The error was 'backend: "python" ' in the ensemble config.pbtxt; this was not not caught by the server startup validation checks, is an error in configuration, and resulted in the SEGV.  Thanks!

[2022-05-02 16:18] #4199 closed

[2022-05-02 16:27] Tabrizian commented on #3807
This has been fixed in the 22.04 release.

[2022-05-02 19:37] tanmayv25 commented on #4183
@yaoyunda I don't see any new issues being posted by you for past few weeks. Does that mean you were able to get minimum CI test coverage for your use case?

[2022-05-02 20:08] yaoyunda commented on #4183
@tanmayv25 , thanks for keeping on this subject, I would like to know what are needed from existing L0_xxx tests for a health tritonserver build with only onnx backend. could you provide me a initial subset?

[2022-05-02 20:11] yaoyunda commented on #4306
@CoderHam and @jbkyang-nvi , is  anyone looking this issue? and is there any quick fix? it is really a blocking issue.

[2022-05-02 20:13] Tabrizian commented on #4306
The issue has been fixed and merged to main. https://github.com/triton-inference-server/server/commit/270b9db032c96631c60957083766f4746c5d240b

[2022-05-02 22:25] cnegron-nv commented on #4153
@yaoyunda 323.1 is now released and this issue should be solved, please report back if you still encounter problems.

[2022-05-03 08:19] joihn commented on #4321
One naive workaround would be to create a very small "argmaxer" model in ONNX and then create a model with both model, but not sure how the performance would be affected, will test.

[2022-05-03 10:25] InfiniteLife commented on #2641
I'm having same issue doing inference with gRPC protocol:

`failed sending synchronous infer request: pinned buffer: failed to perform CUDA copy: invalid argument`

But contrary to the person above moving all tensors to the CPU I leave them on the GPU in forward function.

On my last attempt I left print function in forward:

[code]

and it prints GPU id:

[code]
But for some reason `.shape` retur

[2022-05-03 17:00] Hadrien-Cornier commented on #4306
This fix does not work for me.
I still get
[code]

Here is what I did :
[code]

[code]

System info :
MacBook with a Chip Apple M1 Max

[2022-05-03 17:04] Hadrien-Cornier commented on #4306
I also tried replacing this line in the Dockerfile.compose that compose.py creates :
[code]

with this line :
[code]

in order to match the newest instructions from [https://developer.nvidia.com/dcgm#Downloads](https://developer.nvidia.com/dcgm#Downloads),

but this also results in the error :

[code]

[2022-05-03 19:18] jbkyang-nvi commented on #4306
Since DCGM is Nvidia specific, I'm not sure if any GPU metrics can be found for you.
 You can try removing the ` --enable-gpu-metrics` to disable DCGM installation.

By the way, Triton does not support M1 builds. However I think some people have managed to do CPU only builds though: https://github.com/triton-inference-server/server/issues/3980

[2022-05-03 19:24] jbkyang-nvi commented on #4306
@yaoyunda

I think the DCGM fix @Tabrizian  mentioned should fix your problem, if the VM has access to Nvidia GPUs.

[2022-05-03 21:18] rmccorm4 commented on #4284
Hi @naor2013 ,

You should be able to create a custom application using the Triton C API to track/register your own custom metrics server-wide rather than specific to a backend.

See the documentation here: https://github.com/triton-inference-server/server/blob/main/docs/inference_protocols.md#in-process-triton-server-api and the simple.cc example: https://github.com/triton-inference-server/server

[2022-05-03 22:07] rmccorm4 commented on #4321
Hi @joihn ,

I believe the classification extension may do what you're looking for if you add the `{ "classification": 1 }` parameter to the config for the output corresponding to confidence scores (assuming it is a separate output). If it's not a separate output, then I think you would need to separately postprocess the results, or modify your model to postprocess similarly or separate the output

[2022-05-03 22:08] rmccorm4 commented on #4319
CC @tanmayv25

[2022-05-03 22:36] rmccorm4 commented on #4310
Hi @rgov ,

The C++ image_client example (the one mentioned in the quickstart) should work, just tested it:
[code]

Looks like there's a bug in the `image_client.py` though. The issue is that the `densenet_onnx` model has a fixed batch size, so specifying a batch size on the CLI doesn't make sense and the shapes being compared get mixed up. If you try the `inception_graphdef` model instead, the py

[2022-05-04 00:58] yaoyunda commented on #4306
@jbkyang-nvi , Thanks.
I replaced public key in the files using DCGM fix @Tabrizian mentioned, it works now.

[2022-05-04 01:29] rmccorm4 commented on #4308
Hi @prz30 ,

You'll want to modify the source code in a local fork of https://github.com/triton-inference-server/tensorrt_backend.

Then to build triton with your custom changes, you'll want to read the build documentation here to get familiar: https://github.com/triton-inference-server/server/blob/main/docs/build.md

[2022-05-04 09:56] rpytel1 opened #4328 "Support for dynamic shapes with TFTRT model"
**Description**
I optimize the model with TFTRT and then try to check its performance with ``perf_analyzer``. Analysis fails with error:
[code]

TFTRT optimized script:
[code]
**Caveats**
1. I use model with RaggedTensor input so the input to the model is tuple: ``(ragged_tensor.values, ragged_tensor.row_splits)``.
2. I use dynamic shapes for optimization to limit TRT engines num.

The unoptimized

[2022-05-04 09:59] Ki6an opened #4329 "fp16 onnx model does not load on triton server"
**Description**
hey, I exported the T5 model from `PyTorch` to `onnx` and then converted it to `fp16` (mixed precision). when I run the fp16 model without the triton server on `onnxruntime (v1.11.0)` it works fine but, it fails to load on the triton server. and throws the following error.
[code]

the normal onnx model loads properly (and runs without any issue) but the errors occur when loading th

[2022-05-04 10:29] whateverforever opened #4330 "Model warmup fails, yet load is reported successful"
**Description**
When loading a model that has warmup configured, but the warmup fails (e.g. because not enough GPU memory is left), the loading is still reported as successful to the client.

**Triton Information**
21.09

**Are you using the Triton container or did you build it yourself?**
Container

**To Reproduce**
Configure a model with warmup, reserve enough GPU mem (via `cudaMalloc` for examp

[2022-05-04 12:39] huangyz0918 opened #4331 "Python backend stuck at TRITONBACKEND_ModelInstanceInitialize"
**Description**
I wanna start the python backend following the example. But the container stucks at

[code]
My machine dose not have GPU. The confg

[code]
**Triton Information**
nvcr.io/nvidia/tritonserver:22.04-pyt-python-py3

**Are you using the Triton container or did you build it yourself?**
docker container

[2022-05-04 12:46] huangyz0918 commented on #4331
I found the reason, when you start the docker container, you need to use `--shm-size=1g --ulimit memlock=-1` to increase the cpu resources that can be used by docker. The container supposed to throw the error rather than stuck at some logs.

[2022-05-04 14:17] farzanehnakhaee70 commented on #4234
@Tabrizian
In your investigation, you said that you test it on python model. Did you mean pytorch model?

[2022-05-04 14:38] alexraymond opened #4332 "Third party won't build with clang 13+"
**Description**
Clang 13+ implemented the warning `-Wunused-but-set-variable`, which is (perhaps erroneously) raised at:

[code]

Since the [CMakeLists.txt](https://github.com/triton-inference-server/client/blob/main/src/c%2B%2B/library/CMakeLists.txt#L168) does not consider this new warning in their exceptions, `-Werror` makes the build fail.

Is there any way we could pass on -DCMAKE_CXX_FLAGS t

[2022-05-04 15:48] andremoeller opened #4333 "Build failure when building PyTorch CPU tritonserver container: /usr/bin/ld: cannot find -ltorch"
**Description**

I'm building a cpu-only PyTorch container with the following command, which results in a build failure:

[code]

The build fails with this error:
[code]

**Triton Information**

What version of Triton are you using?

I'm building version `r22.02`, so I've checked out branch r22.02. I'm on commit `5a903ec9a79915797fbb2cac67976c0a8b917387`.

I'm using Ubuntu 20.04.

Are you using th

[2022-05-04 16:34] CoderHam commented on #4333
@andremoeller did you see an error logged saying that the pytorch container docker pull failed? The error log from the build looks incomplete.

[2022-05-04 17:55] #4310 closed

[2022-05-04 17:55] rmccorm4 commented on #4310
Hi @rgov , this should be fixed on `main` branch now as of PR above. Thanks for reporting.

[2022-05-04 18:36] rmccorm4 commented on #4332
@GuanLuo @CoderHam is there anything in our third_party repo [CMakeLists.txt](https://github.com/triton-inference-server/third_party/blob/main/CMakeLists.txt) we could add to `grpc-repo` to handle this flag based on clang version for any dependent repos that build third_party (or support optional user-defined CLI flags as suggested)?

Seems like there are quite a few places across repos supporting

[2022-05-04 18:38] rmccorm4 commented on #4331
@Tabrizian do you know why the pinned memory manager is emitting a CUDA-related error here? Seems misleading.

[2022-05-04 18:45] rmccorm4 commented on #4331
@huangyz0918 is this the full log/output? Can you share the full exact `docker run ...` command and the full `tritonserver --model-repository ...` command you ran to reproduce the issue?

CC @Tabrizian

[2022-05-04 19:17] future-xy opened #4335 "Docs link error"
The link in https://github.com/triton-inference-server/server/blob/main/docs/model_repository.md to Auto-Generated Model Configuration section doesn't work because this section is actually in another doc but the current link points to the local address:
https://github.com/triton-inference-server/server/blob/cfe3b657d7c3852ded8eb22d41bfdcc6348b4279/docs/model_repository.md?plain=1#L76-L80

[2022-05-04 19:36] rmccorm4 commented on #4330
Hi @whateverforever ,

Thanks for filing this issue. I was able to reproduce something similar even in the latest `22.04` container and will file a ticket for the team to take a look at this when prioritized.

---

## Repro

Latest 22.04-py3 container
[code]

I used our example `inception_graphdef` model with the following config to repro:
[code]

`tritonserver --model-repository models` output sn

[2022-05-04 19:47] rmccorm4 commented on #4335
Hi @future-xy ,

Thanks for reporting this. I'll submit a PR to fix the link.

[2022-05-04 19:53] rmccorm4 commented on #4329
Hi @Ki6an,

Per the support matrix for 22.04: https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html#framework-matrix-2022, I believe it comes with onnxruntime v1.10.0.

Are you able to run the model with `onnxruntime v1.10.0` successfully (without triton) as well?

[2022-05-04 19:54] #4335 closed

[2022-05-04 19:57] rmccorm4 commented on #4328
Hi @rpytel1 ,

I noticed `Graphdef` mentioned in the error output. Can you share your model's `config.pbtxt` for triton to load it?

Can you also share the full `tritonserver ...` command and `perf_analyzer ...` commands you're using to reproduce the issue?

[2022-05-04 20:29] whateverforever commented on #4330
fantastic, thanks for your quick reply!

[2022-05-05 03:23] Ki6an commented on #4329
hi, @rmccorm4 thanks for the quick response. I noticed that some of the fp16 features were not included in `onnxruntime v1.10.0`, and `nvcr.io/nvidia/tritonserver:22.04-py3` is the latest triton server container image we can get.
so I built a custom triton server from the source following [this guide ](https://github.com/triton-inference-server/server/blob/main/docs/build.md) with `onnxruntime 1.1

[2022-05-05 03:37] prz30 commented on #4308
Well, I would like to ask, is there a way to modify the code of the tensorrt part in the existing trition docker? If so, where is the code for the tsendorrt part?
ps: My docker is 21.08.

[2022-05-05 03:37] prz30 commented on #4308
Well, I would like to ask, is there a way to modify the code of the tensorrt part in the existing trition docker? If so, where is the code for the tsendorrt part?
ps: My docker is 21.08.
thanks

[2022-05-05 07:00] szalpal commented on #4332
Hi,

I briefly explained here: https://github.com/triton-inference-server/dali_backend/pull/115#issuecomment-1118231264 why I believe turning `-Werror` on by default is rather bad practice. I'd suggest turning it off by default and manually turning it on in places that shall have it, e.g. CI builds etc...

[2022-05-05 08:34] janjagusch opened #4340 "Python backend stub compilation fails because of TRITONSERVER_TYPE_BF16"
**Description**

This question refers to the [python_backend repository](https://github.com/triton-inference-server/python_backend), but as there is no issue tracker in there, I'm going to open it here instead.

I'm trying to create a custom Python backend stub, as described [here](https://github.com/triton-inference-server/python_backend#1-building-custom-python-backend-stub), using  `nvcr.io/nvi

[2022-05-05 08:50] JindrichD commented on #4332
hi, so the place where the compilation fails - i.e. benchmark/src/complexity.cc:85 seems to belong to https://github.com/google/benchmark - so not sure if you can change that, however in latest version usage of -Werror is conditioned (https://github.com/google/benchmark/blob/main/CMakeLists.txt#L185) so could be probably disabled if you could use the latest version. i have not investigated it any

[2022-05-05 09:41] qbh1002 opened #4341 "Can ensemble model support to handle multiple inference requests simultaneously?"
Ensemble model seems not support to process multiple inference requests simultaneously. When I configured instance_group in ensemble model config, the triton server started failed, and the log showed instance group should not be specified for ensemble 'ensemble xxx'.

[2022-05-05 09:44] qbh1002 commented on #4341
Ensemble model seems not support to process multiple inference requests. When I configured instance_group in ensemble model config, the triton server starts failed, and the log shows instance group should not be specified for ensemble 'ensemble xxx'.

[2022-05-05 17:20] tanmayv25 commented on #4183
A quick search of onnx in the qa directory would show what all tests are supported by the backend. Some of the important tests that you must run are:

- L0_batch_input
- L0_batcher - along with shared memory and cuda shared memory versions.
- L0_compute_capabiltiy
- L0_custom_ops
- L0_dyna_implicit_state
- L0_dyna_sequence_batcher
- L0_implicit_state
- L0_inffer
- L0_inffer_reshape
- L0_inffer_var

[2022-05-05 18:06] rmccorm4 commented on #4329
Hi @Ki6an,

The main errors here are that:
1. Only CPU tensors are supported by the cache currently, so you if you force CPU execution with the [instance_group](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#cpu-model-instance) field in your model config, you may see more success here. It would look something like this in your `config.pbtxt` file in the sim

[2022-05-05 18:42] tanmayv25 commented on #4319
@FreshZZ  Thanks for asking this question. The backend thread sharing is only implemented in case of using GPU instance and with device_blocking execution policy enabled by the backend. See this line: https://github.com/triton-inference-server/core/blob/main/src/backend_model_instance.cc#L314-321
If device_blocking is set false then each TritonModelInstance will create its own `triton_backend_thre

[2022-05-05 21:17] rmccorm4 commented on #4340
Hi @janjagusch ,

Can you try adding the following cmake build args to your command to set the [dependent repos](https://github.com/triton-inference-server/python_backend/blob/main/CMakeLists.txt) to r22.04 branch as well?
[code]

[2022-05-06 00:00] blackhathedgehog commented on #3980
i would also appreciate a link to the cpu-only M1 build

[2022-05-06 01:48] lhy2749 commented on #4206
@BenoitWang 你好，我并没有尝试numa优化。我发现triton的CPU使用率浮动在一个区间，上下限并不大还是可以接受

[2022-05-06 03:13] huangyz0918 commented on #4331
The original docker script, I ran this on an AWS EC2 instance only contains CPUs.

[code]

After chaning to this, the server works,

[code]

[2022-05-06 07:30] janjagusch commented on #4340
Thanks, @rmccorm4, this indeed solves the issues. Should we add the changes to the documentation [here](https://github.com/triton-inference-server/python_backend#1-building-custom-python-backend-stub)?

Also, I'm still facing problems when trying to run the Python backend stub inside my Triton server, but I'll open a separate issue for that.

[2022-05-06 10:49] NotAnyMike opened #4344 "Is there any scheduling strategy that drops old requests?"
I was wondering if there is an option in triton to make the scheduling drop requests that are older than a threshold? If not, is there any way of implementing this or a custom scheduling strategy?

[2022-05-06 11:03] JanJaguschQC opened #4345 "Loading ONNX model fails because of insufficient CUDA driver version"
**Description**

I'm trying to load the [densenet_onnx](https://github.com/triton-inference-server/server/tree/main/docs/examples/model_repository/densenet_onnx) example into Trition v22.04.

Upon startup, I get the following error message:

[code]

I don't want to run my model on the GPU and hence believe that I don't need CUDA drivers in the first place. Is it possible to use an ONNX runtime ver

[2022-05-06 11:06] janjagusch opened #4346 "Loading ONNX model fails because of insufficient CUDA driver version"
**Description**

I'm trying to load the [densenet_onnx](https://github.com/triton-inference-server/server/tree/main/docs/examples/model_repository/densenet_onnx) example into Trition v22.04.

Upon startup, I get the following error message:

[code]

I don't want to run my model on the GPU and hence believe that I don't need CUDA drivers in the first place. Is it possible to use an ONNX runtime ver

[2022-05-06 15:02] fabiofumarola commented on #3980
Yes sorry for the delay. Here you have the release I've built https://hub.docker.com/repository/docker/prometeiads/tritonserver
I'll update it with the latest version

[2022-05-06 17:35] #4340 closed

[2022-05-06 17:39] rmccorm4 commented on #4346
Hi @janjagusch ,

Can you try to force CPU as described [here](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#cpu-model-instance) by adding something like the following to your densenet_onnx `config.pbtxt`:
[code]

[2022-05-06 18:32] tanmayv25 commented on #4346
@janjagusch This is a known issue. We will have the fix soon.

CC: @nv-kmcgill53

[2022-05-06 18:49] rmccorm4 commented on #4319
Closing per Tanmay's response, please feel free to re-open if this didn't answer your question.

[2022-05-06 18:49] #4319 closed

[2022-05-06 19:06] rmccorm4 commented on #4344
Hi @NotAnyMike , this would be the interface to base a custom scheduler off of: https://github.com/triton-inference-server/core/blob/main/src/scheduler.h

As for existing options, I believe you may be able to use the `ModelQueuePolicy` described here: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#queue-policy

CC @tanmayv25 @GuanLuo do you know if we have

[2022-05-06 21:24] GuanLuo commented on #4331
@Tabrizian I thought Python backend would return error if there is no enough shared memory available for initialization?

[2022-05-06 21:33] Tabrizian commented on #4331
I tried a small example locally and it did return an error if there wasn't enough shared memory. @rmccorm4 Could you please file a ticket for this issue so that I can take a closer look? Thanks.

[2022-05-06 22:18] rmccorm4 commented on #4331
@Tabrizian filed DLIS-3765

[2022-05-06 22:45] jbkyang-nvi commented on #4306
@Hadrien-Cornier can you remove the metrics/gpu related flags in your build script?

[2022-05-06 23:50] rmccorm4 commented on #4341
Hi @qbh1002 ,

I just added a note on this to our docs here: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#ensemble-model-instance-groups

Let me know if this answers your question.

[2022-05-07 01:27] omrifried commented on #4142
@tanmayv25 I will try to use the inference_statistic on the next call. I am currently working on developing a different model that does not utilize the list of tensors input, and instead uses a batch. With this, I am planning on converting the model to TensorRT due to the known issues with Torchscript which I think may be the root issue.

I will circle back here accordingly.

[2022-05-07 03:26] qbh1002 commented on #4341
Hi @rmccorm4 ,

I specified instance_group in every model config file, and it worked for me. Thank you very much.

[2022-05-07 03:52] #4341 closed

[2022-05-07 06:20] lhy2749 commented on #4272
You can try to install it.
https://github.com/triton-inference-server/server/issues/2910

[2022-05-07 09:40] FreshZZ commented on #4319
@tanmayv25 Thank you so much

[2022-05-08 20:32] klappec-bsci opened #4350 "Poor Performance on Triton vs inferencing w/o triton"
**Description**
Using a B7 Efficientnet model, converted to TensorRT halfprecision. Running the RT engine without anything, 1 image takes ~20ms, 8 images takes ~160ms

When loaded via Triton, same model, 1 image takes ~50ms. 8 images takes  330ms.
I am sending results to and from the same physical machine. I understand there's some overhead from HTTP and stuff but this seems excessive?

My inferen

[2022-05-09 09:10] rpytel1 commented on #4328
Hi @rmccorm4,
Sorry for late response.
My config.pbtxt:
[code]
Both optimized and unoptimized models use the very same ``config.pbtxt`` (different directory organization, but same content).

### Perf analyzer
Within docker image ``nvcr.io/nvidia/tritonserver:21.12-py3`` I use C API tritonserver via ``perf_analyzer``:
[code]

[2022-05-09 11:29] issamemari commented on #4277
You should first convert your serialized model_config message to json:

[code]

Then you should stringify the JSON to skip the double quotes. You can use a tool like [json-stringify-text](https://onlinetexttools.com/json-stringify-text).

[code]

Now you can pass this configuration in the request body:

[code]

It's not well-documented. I had to figure this out the hard way. I hope this help!

[2022-05-09 15:47] issamemariold opened #4351 "Multiple configuration files for the same model"
**Is your feature request related to a problem? Please describe.**

I would like to deploy the same model with different configurations. In my production environment I have different kinds of machines with different number of GPU devices, therefore, I would like to be able to configure instance_group differently for the same model depending on machine type.

For example:
* On a machine with 4-GPUs

[2022-05-09 16:03] issamemari opened #4352 "Accept JSON files as configuration files"
**Is your feature request related to a problem? Please describe.**

Model configuration files in my environment are generated dynamically using Ansible as they contain some variables that depend on the target host machine.

An Ansible playbook generates the configuration for a model and sends a request to Triton's HTTP endpoint `v2/repository/models/${MODEL_NAME}/load` to update the configuration

[2022-05-09 16:29] nv-kmcgill53 commented on #4352
Thank you for your request, we have added this to our roadmap. At this time there is no timeline on the release of this feature.

[2022-05-09 16:29] #4352 closed

[2022-05-09 16:36] InfiniteLife opened #4353 "A few questions on C++ API"
I have a couple of questions, hope someone will help:

1. After making a call to
[code]
I can call `input_ptr->reset()` immediately, not waiting for function callback?

2. Doing multiple calls to  `AsyncInfer` or` Infer` in multiple threads I can pass the same instance of  `const std::vector<const InferRequestedOutput*>& outputs` as its only used to describe outputs and does not affect memory allo

[2022-05-09 19:22] nv-kmcgill53 commented on #4350
Hi @klappec-bsci, thank you for reporting this. We will investigate this further.

[2022-05-09 20:05] tanmayv25 commented on #4353
1. Yes if you are using gRPC client library. No if you are using HTTP client. The restriction on HTTP is documented [here](https://github.com/triton-inference-server/client/blob/main/src/c%2B%2B/library/http_client.h#L485-L488).
In case of gRPC, all the information from the InferInput is already extracted into a gRPC request protobuf message when returning from AsyncInfer.

2. Typically you can us

[2022-05-09 20:28] andremoeller commented on #4333
@CoderHam

Thanks for the response (and apologies about the late reply!)
This is the extended error message: it looks like the pull succeeded, and that torchvision and torch were copied from the pytorch container:

[code]

[2022-05-09 20:38] rmccorm4 commented on #4351
Hi @issamemari ,

I understand the ask here is more generic, but in the meantime in case your ask is specific to only GPU device management, you could make use of either `--gpus` flag to `docker run` or `CUDA_VISIBLE_DEVICES` env var when starting the container on each machine to isolate the GPUs this way, and keep the config file simple to use all "available" gpus. Hope this helps.

[2022-05-09 20:57] nv-kmcgill53 commented on #4350
Also, you may be interested to know about Triton's [metrics](https://github.com/triton-inference-server/server/blob/main/docs/metrics.md) endpoint to view the compute times of the inferences. In your example you would want to inspect the `compute_infer` time and compare this to your original benchmarks.

[2022-05-09 21:36] issamemari commented on #4351
Hi @rmccorm4! Thank you for your response.

In my case I have many models to load in Triton and I would like to configure them to run on different GPUs.

For example:
* Model 1 runs on GPUs 0 and 1
* Model 2 runs on GPUs 2 and 3

My understanding is that `--gpus` or `CUDA_VISIBLE_DEVICES` limit the visible GPUs for all models so this doesn't work for my use case.

[2022-05-09 21:47] rmccorm4 commented on #4351
Ah I see, limiting per-model for multiple models on the same tritonserver process wouldn't work well with this approach. It would likely require more configuration and coordination on your end to manage multiple tritonserver containers (and port bindings) per machine than it would to simply duplicate model directories with slightly different configs as you suggested (and would like to avoid). Than

[2022-05-09 23:46] nv-kmcgill53 commented on #4350
Hi @klappec-bsci, After looking into this we would like some more information regarding your benchmarks.
- You mention you are running the TRT engine without anything and comparing the performance metrics against the HTTP endpoint of Triton. The only way to compare the Triton against the TRT Engine is to use the [CAPI](https://github.com/triton-inference-server/server/blob/main/docs/inference_prot

[2022-05-10 01:45] GuanLuo commented on #4352
It appears that you are generating the model config in your application, I wonder what is the difficulty of generating it as protobuf string v.s. as JSON string? Our test [here](https://github.com/triton-inference-server/server/blob/main/qa/L0_lifecycle/lifecycle_test.py#L2197-L2199) generate the protobuf string directly and thus don't need to consider the conversion from JSON to protobuf

[2022-05-10 04:01] #4062 closed

[2022-05-10 08:22] JavanehBahrami opened #4361 "Why triton serving shared memory failed with running multiple workers in uvicorn in order to send multiple request concurrently to the models?"
Hi all,
**Description**
I run a model in triton serving with shared memory and it works correctly.
In order to simulate backend structure to requests to my models, I wrote a Fast API for my model and run it with gunicorn with 6 workers. Then I wrote anthor Fast API to route locust requests to my first Fast Fast API as below image(a pseudo code is witten). my second Fast API runs with uvicorn. but

[2022-05-10 09:49] InfiniteLife commented on #4353
Thank you! That answers it.

[2022-05-10 09:49] #4353 closed

[2022-05-10 16:00] flawaetz opened #4362 ""inference failed: response output count mismatch" from gRPC client after enabling response cache"
**Description**
After enabling response cache a known good configuration generates "inference failed: response output count mismatch" errors during inferencing.

**Triton Information**
What version of Triton are you using?
2.21.0

Are you using the Triton container or did you build it yourself?
Using a docker image based on `nvcr.io/nvidia/tritonserver:22.04-py3` with unused backends removed.  Doc

[2022-05-10 16:35] nv-kmcgill53 commented on #4361
Hi @JavanehBahrami, from the code you have provided it appears you might be unregistering all shared memory regions rather than the current one inside your for-loop: `triton_client.unregister_system_shared_memory()` and `triton_client.unregister_cuda_shared_memory()`. You can read more about how the unregister shared memory api works [here](https://github.com/triton-inference-server/server/blob/ma

[2022-05-10 17:30] JavanehBahrami commented on #4361
Hi @nv-kmcgill53,  I changed my code as below, now I added 2 more custom functions named  `_set_shared_memory` and `_unset_shared_memory`.
The 1st function feeds the same input_simple and output_simple paths to all model instance (the code is in below):
[code]
in the end of my client code I have another custom function named `_unset_shared_memory` which is called at the end of all process:
[code]

[2022-05-10 18:50] klappec-bsci opened #4363 "Triton Batch size feature requests"
**Is your feature request related to a problem? Please describe.**

I want to send batches of say, 500 images in a single HTTP request, even when the model only supports a batch size of say, 16. Why can't Triton simply break these up for me? Instead I have to create a new model, preprocess.py, that handles this work.

I'd also like the ability to send batches of differing sizes. For my usecase, yo

[2022-05-10 20:09] ia-davidpichler commented on #4219
This sounds very similar to what I raised in https://github.com/triton-inference-server/server/issues/3817

[2022-05-10 23:38] tanmayv25 commented on #4344
Yes. We have tests on feature being requested here: https://github.com/triton-inference-server/server/blob/main/qa/L0_model_queue/model_queue_test.py

And here: https://github.com/triton-inference-server/server/blob/main/qa/L0_model_queue/test.sh

@NotAnyMike However, once the request is scheduled, Triton can no longer reject the request and would rely on backend to do the right thing.

[2022-05-11 00:36] klappec-bsci commented on #4350
Using the perf analyzer, the time spent inferencing seems close. And I am on a slower gpu. It's around 20ms per inference. I think this seems correct. I'm still disappointed by how much overhead and latency there is shifting data between models and in making and receiving requests.

Any tips on reducing that?

[2022-05-11 04:12] austinmw opened #4365 "[Question] Plugins from MMDeploy"
Hi, I built an `end2end.engine` file with a docker image based on this Dockerfile: [MMDeploy GPU Dockerfile](https://github.com/open-mmlab/mmdeploy/blob/master/docker/GPU/Dockerfile).

I tried to load the Triton docker image that matches the TensorRT base used in the above image: `nvcr.io/nvidia/tritonserver:21.04-py3`

However I received the error:

I assume that the TensorRT version used in the

[2022-05-11 06:18] dumbPy opened #4366 "[Feature Request] Add load_model api to BLS triton_python_backend_utils"
**Is your feature request related to a problem? Please describe.**
loading ensemble model takes care of loading the constituent models.
Business Logic Scripting is a good flexible alternative to implementing ensemble models, but the caveat is that we need the load the constituent models separately.
Since kserve doesn't support ensemble models (mainly due to model placement issue #4118 ) it would b

[2022-05-11 09:11] tomas-gajarsky commented on #2222
"Starting from 21.11 release, Triton supports [AWS Inferentia](https://aws.amazon.com/machine-learning/inferentia/) and the [Neuron Runtime](https://awsdocs-neuron.readthedocs-hosted.com/en/latest/neuron-intro/get-started.html)." - from [a guideline in the python_backend repo](https://github.com/triton-inference-server/python_backend/tree/main/inferentia).

[AWS Inferentia](https://aws.amazon.com/

[2022-05-11 13:02] leshanbog opened #4367 "Parallel model loading on multiple GPUs on startup"
I have one model per GPU (no tensor or pipeline parallelism) and multiple GPUs. When starting tritonserver, the models are loaded sequentially: first model on the first GPU, only after it is done with first, tritonserver begins to allocate on the second GPU, ...

_Is there a way to load them in parallel?_
It would substantially speed up the server startup time.

[2022-05-11 13:54] issamemari commented on #4051
Was this bug fixed eventually?

[2022-05-11 14:00] mdable2 commented on #4293
Any updates on this? Any guidance is greatly appreciated!!!

[2022-05-11 16:52] nv-kmcgill53 commented on #4367
Hi @leshanbog,

For clarity, does this mean you have multiple GPUs available on the machine and there is one model on each GPU? If so, can you please re-order the model's device settings to start on different GPUs to confirm your observation? Thank you.

[2022-05-11 16:57] nv-kmcgill53 commented on #4366
@CoderHam @Tabrizian Is this something we would like to put on our roadmap?

[2022-05-11 17:16] nv-kmcgill53 commented on #4350
As using the C API and shared memory are not an option for you, I would suggest batching requests from the client side so that you have a single constant overhead for the 8 images you wish to process.

[2022-05-11 17:17] nv-kmcgill53 commented on #4363
Hi @klappec-bsci, thank you for your request. We will file a ticket for it.

[2022-05-11 17:19] klappec-bsci commented on #4363
**Thank you so much. Are there any current solutions to this I missed?**  If someone wants to send 500 images to a model that accepts batch size 8, they really do have to break their requests up?

and they really do have to send in 500 verification checksums, in this use case?

[2022-05-11 17:22] leshanbog commented on #4367
Hi @nv-kmcgill53,

Yes, exactly.

Reordering affects the order with which models are loaded on each GPU, but it is still done sequentially. I make reordering by changing the order in instance_group option in config.pbtxt. E.g.

[code]

By the way, at the beginning tritonserver allocates ~ 400 MB on each GPU in parallel, but the rest ~ 13 GB are loaded sequentially.

[2022-05-11 17:22] tanmayv25 commented on #4350
Did you try using [binary data extension](https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_binary_data.md) in your client?
Without this individual bytes get encoded into json. You can use our C++ HTTP client library.

[2022-05-11 17:54] CoderHam commented on #4366
This looks like a useful enhancement. @Tabrizian can you file a ticket for this so we can help decide a priority for this?

[2022-05-11 18:57] CoderHam commented on #4367
This is a common ask I have seen from multiple users. @nv-kmcgill53 can you file a ticket for this so the team an evaluate the same? marking as an enhancement for now

[2022-05-11 23:33] nv-kmcgill53 commented on #4367
Ticket created

[2022-05-11 23:44] nv-kmcgill53 commented on #4363
Yes, Triton has features such as [BLS](https://github.com/triton-inference-server/python_backend#business-logic-scripting) and [Decoupled Mode](https://github.com/triton-inference-server/python_backend#decoupled-mode-beta) to help the user with this limitation.

[2022-05-11 23:49] #4346 closed

[2022-05-11 23:50] nv-kmcgill53 commented on #4346
This fix will be in the 22.05 release.

[2022-05-12 00:34] rmccorm4 commented on #4308
Hi @prz30 , the backends are loaded as a shared library in Triton, so you won't be able to edit the source code of it directly. You should be able to find the TensorRT backend in the container at a path like `/opt/tritonserver/backends/tensorrt` or similar. However, if you want to customize it you'll need to build your own version of the backend pointing at the correct repo versions (like r22.08 i

[2022-05-12 00:40] nv-kmcgill53 commented on #4306
This fix will be available in 22.05

[2022-05-12 00:43] nv-kmcgill53 commented on #4367
#4303

[2022-05-12 00:51] nv-kmcgill53 commented on #4288
Hi @lamoglia, can you please provide the full command line for both `docker run ... ` command and the full `tritonserver --model-repository .`.. command you ran to reproduce the issue? Also, is this the full output, if not then please provide that as well.

[2022-05-12 00:57] nv-kmcgill53 commented on #4278
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-12 00:57] #4278 closed

[2022-05-12 01:03] nv-kmcgill53 commented on #4276
Hi @ReSin-Yan, if your model is working correctly and you are looking to tune performance, please look at the [Performance Analyzer](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md) and the [Model Analyzer](https://github.com/triton-inference-server/model_analyzer) to get the most out of Triton.

[2022-05-12 08:37] joihn commented on #4321
Modifying the ONNX model to add an argmax is confirmed to be faster than a model ensemble, thanks for your help

[2022-05-12 08:37] #4321 closed

[2022-05-12 12:38] antonlukyanov opened #4371 "Triton Server build with Docker fails"
**Description**
Trying to build Triton Inference Server with Docker. Build fails with message: "make install failed". Build logs are attached: [build_log.txt](https://github.com/triton-inference-server/server/files/8679051/build_log.txt)

**Triton Information**
Building on branch r22.04 (commit `c049b389b411707de035a31e341ecdfbf532cbe2`).

**To Reproduce**
Using the following script to build Trito

[2022-05-12 15:07] nrepesh opened #4372 "Possible GPU memory leak in Triton. Not draining."
**Description**
We start the triton model server which loads in our models with warmups. It takes around 20958MiB / 81920MiB when the triton model server is stable, healthy and ready to take requests. As we keep the model server functional and it takes requests, it fills up the memory usage on the gpu after a day and it fills 80342MiB / 81920MiB of the gpu memory. We then start to get errors like:

[2022-05-12 15:34] mc-nv commented on #4371
Hi @antonlukyanov ,

This is know issue for `r22.04` and would be fixed in future releases.

Please make sure that you made appropriate changes for all given files.

Below quote from [Release 2.21.0 corresponding to NGC container 22.04](https://github.com/triton-inference-server/server/releases/edit/v2.21.0) release page is refer customers to [commit](https://github.com/triton-inference-server/ser

[2022-05-12 17:41] nv-kmcgill53 commented on #4372
Hi @nrepesh, can you please provide the exact command line for `docker run ...` and `tritonserver ...`.

[2022-05-12 18:55] antonlukyanov commented on #4371
Hi @mc-nv! Thanks for the info and quick response.

[2022-05-12 19:24] nrepesh commented on #4372
Sure! We use docker-compose for our container orchestration (sudo docker-compose up):

services:
  model-server:
    image: $OUR_IMG_PATH
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: ['gpu']
              device_ids: ['2','3']
    restart: "always"
    logging: *default-logging

COPY /models /models
EXPOSE 8000
EXPOS

[2022-05-12 20:36] CoderHam commented on #4333
@andremoeller support for CPU only PyTorch was added in r22.04. The specific issue here is caused by a bug when using the GPU enabled PyTorch NGC container to build the CPU PyTorch backend in CPU only container.

The fix came from https://github.com/triton-inference-server/pytorch_backend/commit/1c4db7023e669e6b2ba021b97ffd777687dd4b7f and https://github.com/triton-inference-server/server/commit/8

[2022-05-12 20:36] #4333 closed

[2022-05-12 23:45] austinmw commented on #4365
It turns out that I needed `libmmdeploy_tensorrt_ops.so`. Is there any way to just include this in my docker image without needing to modify my run command with `LD_PRELOAD`?

[2022-05-13 00:15] austinmw opened #4373 "[Question] Setting dynamic batching with warmup"
Hi, I'm trying to deploy an MMDetection yolox-s model which I converted to an `end2end.engine` file using [MMDeploy](https://github.com/open-mmlab/mmdeploy). I added the `libmmdeploy_tensorrt_ops.so` that was used to generate my engine file into my Triton docker image and use `LD_PRELOAD`.

I attempted to set my `config.pbtxt` like this:

[code]

However this gives me warmup errors:

[code]

Can a

[2022-05-13 00:20] nv-kmcgill53 commented on #4372
Are you able to isolate the causing backed or does this only occur when they are all used together?

[2022-05-13 01:09] nv-kmcgill53 commented on #4373
Hi @austinmw Can you please provide the full command you are using to run tritonserver? This might be a case where you are using the `--strict-model-config=false`  command line parameter and the autocomplete feature is being opinionated about the dimensions of your input.  If this is the case, you can try changing this parameter to `--strict-model-config=true`.

To better view what model configura

[2022-05-13 01:12] nv-kmcgill53 commented on #4365
@CoderHam Do you know if including this shared library in the docker image is possible?

[2022-05-13 02:14] austinmw commented on #4373
@nv-kmcgill53 Sure,

`LD_PRELOAD=libmmdeploy_tensorrt_ops.so tritonserver --allow-sagemaker=true --allow-grpc=false --allow-http=false --allow-metrics=false --model-control-mode=explicit $SAGEMAKER_ARGS`

And in this case `SAGEMAKER_ARGS` is an empty string

[2022-05-13 02:22] austinmw commented on #4365
@nv-kmcgill53 Or if there's a way to create a Dockerfile that adds the shared library on top of the base Triton image but doesn't additionally require using `LD_PRELOAD` before `tritonserver` calls that would also be convenient

[2022-05-13 08:26] BrandonBocheng commented on #4371
Hello, I just simulate the Triton building process by following the url:https://github.com/triton-inference-server/server/blob/main/docs/build.md#building-triton-with-docker

But when I run the build.py using the default argument, there is an error shown in my terminal which is attached as picture. Can anyone give me the hints to solve it? Thanks a lot.
![Screenshot from 2022-05-13 16-26-03](https

[2022-05-13 08:44] janjagusch opened #4374 "Using custom Python backend stub causes Operation not permitted error"
**Description**

I'm trying to build a custom Python backend stub, according to the documentation I found [here](https://github.com/triton-inference-server/python_backend#1-building-custom-python-backend-stub).

When using the Python backend stub in a Triton server, I get the following error during startup:

[code]

The server afterward freezes and you can't ping it.

**Triton Information**

I'm u

[2022-05-13 09:10] antonlukyanov commented on #4371
Hi @BrandonBocheng, you need to install docker package for Python before running the script:
[code]

[2022-05-13 11:55] Datasciensyash opened #4375 "[Question] Incorrect generation of model configuration for ONNX model"
**Description**

I think triton generates incorrect config for inputs and outputs for the ONNX model.

**Triton Information**
Using container from https://github.com/NVIDIA/DeepLearningExamples/tree/3e8897f7855ff475d69699e66c8f668f6191dfa4/PyTorch/SpeechSynthesis/FastPitch/triton

**To Reproduce**
Export model to ONNX and use this command:

[code]

[code]

**Expected behavior**
Correct inputs and

[2022-05-13 14:14] Tabrizian commented on #4366
Filed a ticket for this issue.

[2022-05-13 16:08] nv-kmcgill53 commented on #4375
Hi @Datasciensyash, this question is better asked over on the [Model Navigator Board](https://github.com/triton-inference-server/model_navigator/issues). Thank you.

[2022-05-13 16:08] #4375 closed

[2022-05-13 16:34] nv-kmcgill53 commented on #4373
Thank you for providing the verbose output.

From the errors you are receiving, it appears that your model doesn't support batching and the TensorRT backend is complaining about this. To confirm this, you can try to load the model outside of triton with native TensorRT and expect the same results when sending in a batch size greater than 1. In this case, if you want batching support you may need t

[2022-05-13 16:37] nrepesh commented on #4372
This seems to occur when we use them all together. Would you suggest us to isolate the backends and possibly recreate the issue to identify if it's the isolated backends causing the problem?

[2022-05-13 16:40] nv-kmcgill53 commented on #4372
If possible, this would help us out a lot to narrow down the scope of investigation.

[2022-05-13 16:40] janjagusch commented on #4374
Thanks for getting back to me so quickly, @Tabrizian. Hope this output helps you, if you need anything else, please let me know:

[code]

[2022-05-13 16:45] riyaj8888 opened #4376 "docker run not working"
when i am trying to run this command

$ docker run   --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/full/path/to/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:<xx.yy>-py3 tritonserver --model-repository=/models

i am getting following error
"I0513 16:41:33.294949 1 server.cc:247] No server context available. Exiting immediately.
error: creating server: Internal - failed to stat f

[2022-05-13 17:01] #4371 closed

[2022-05-13 17:19] riyaj8888 commented on #2877
docker run  --rm --shm-size=1g --ulimit memlock=-1 --ulimit stack=67108864 -p8000:8000 -p8001:8001 -p8002:8002 -v/path/to/model_repository:/models nvcr.io/nvidia/tritonserver:22.04-py3 tritonserver --model-repository=/models

=============================
== Triton Inference Server ==
=============================

NVIDIA Release 22.04 (build 36821869)
Triton Server Version 2.21.0

Copyright (c) 2

[2022-05-13 17:25] riyaj8888 commented on #2323
=============================
== Triton Inference Server ==
=============================

NVIDIA Release 22.04 (build 36821869)
Triton Server Version 2.21.0

Copyright (c) 2018-2022, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

Various files include modifications (c) NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

This container image and its contents are governed by the NVIDIA

[2022-05-13 17:26] nv-kmcgill53 commented on #4376
Hi @riyaj8888, can you please re-ask your question using our [issue template](https://github.com/triton-inference-server/server/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)? This will help us attend to your issue. Thanks!

[2022-05-13 17:41] tanmayv25 commented on #4373
@austinmw  In order for a model to support dynamic batching, the batch dimension(index 0) should be [dynamic](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#dynamic-shapes).
Not only that but your optimization profiles in the plan file should cover the whole range from [1, max_batch_size] for batch size.

As @nv-kmcgill53  pointed out your TRT engine appears to not have f

[2022-05-13 18:07] austinmw commented on #4373
Ah okay thanks for your response!
I used [this config file](https://github.com/open-mmlab/mmdeploy/blob/master/configs/mmdet/detection/detection_tensorrt-fp16_static-800x1344.py) from the MMDeploy framework for an MMDetection YOLOX model. I thought the "static" and "dynamic" terminology referred to the height and width dimensions, but I guess as you say it refers to the batch dimension as well.

F

[2022-05-13 18:54] tanmayv25 commented on #4373
I am not familiar with mmdeploy. But the error message suggests that the shapes[kMin,kOPT, kMAX] were fed incorrectly to TensorRT. If not using dynamic shapes the constraint is: kMin == kOPT == kMAX
If using dynamic shapes  constraint is: kMin <= kOPT <= kMAX

Closing the issue for now as I believe your question has been answered w.r.t. Triton.
Please create another issue if you have any other que

[2022-05-13 18:54] #4373 closed

[2022-05-13 19:22] #4118 closed

[2022-05-13 20:55] tanmayv25 commented on #4183
I am going to close the issue as the original ask looks like to be answered. Please open new issues if you have any other problems/questions.

[2022-05-13 20:55] #4183 closed

[2022-05-13 21:38] nv-kmcgill53 commented on #3973
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-13 21:38] #3973 closed

[2022-05-13 21:38] nv-kmcgill53 commented on #3936
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-13 21:38] #3936 closed

[2022-05-13 21:40] nv-kmcgill53 commented on #4196
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-13 21:40] #4196 closed

[2022-05-13 21:42] nv-kmcgill53 commented on #4212
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-13 21:42] #4212 closed

[2022-05-13 21:47] nv-kmcgill53 commented on #4254
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-13 21:51] nv-kmcgill53 commented on #4261
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-13 22:58] #4254 closed

[2022-05-13 23:01] #4261 closed

[2022-05-14 06:40] riyaj8888 commented on #4376
Description A clear and concise description of what the bug is.

## Triton Information What version of Triton are you using? --> 22.04/20.06

### Are you using the Triton container or did you build it yourself? --> using triton container

### Expected behavior A clear and concise description of what you expected to happen.--> wanted to use triton server client for response.

![smi](https://user-im

[2022-05-14 06:41] riyaj8888 commented on #4376
docker run --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/full/path/to/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:<xx.yy>-py3 tritonserver --model-repository=/models

i am getting following error for cpu

"I0513 16:41:33.294949 1 server.cc:247] No server context available. Exiting immediately.
error: creating server: Internal - failed to stat file C:/Program Files/Git/models"

[2022-05-14 06:48] riyaj8888 commented on #4376
`=============================
== Triton Inference Server ==
=============================

NVIDIA Release 22.04 (build 36821869)
Triton Server Version 2.21.0

Copyright (c) 2018-2022, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

Various files include modifications (c) NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

This container image and its contents are governed by the NVIDI

[2022-05-14 16:13] austinmw commented on #4373
@tanmayv25 Hi, when using dynamic shapes and `dynamic_batching` should my input dim for image batches be `[3, -1, -1]` which gets translated to `[-1, 3, -1, -1]`?

[2022-05-15 01:07] tanmayv25 commented on #4373
The model is not supporting the shape [1,3,608,608]. Please use `polygraphy inspect` to check the binding dimensions supported in your model plan file.

You can also utilize auto-complete feature of Triton by not providing the model `config.pbtxt` at all and run tritonserver with `--strict-model-config=false --log-verbose=1` to see what dimensions are supported in TRT engine..

[2022-05-15 06:27] austinmw commented on #4373
@tanmayv25 Thanks for your help. I tried running without a config file and added `--strict-model-config=false`. Here's the autogenerated config:

[code]
However I actually still get a similar error:

[2022-05-16 11:22] shoval-a opened #4378 "perf_analyzer socket closed error"
**Description**
I'm using perf_analyzer in order to measure the throughput of my model (TensorRT platform).
In addition, I'm using **Nginx** as a proxy to all pods which are running Triton.

![nginx-triton](https://user-images.githubusercontent.com/75360180/168579955-abbe52fb-f830-4be6-a22e-b412fa90ead5.jpg)

Therefore my perf_analyzer command looks like this:
[code]

and the output is:
[code]

**

[2022-05-16 11:27] danielwonght opened #4379 "Response cache is not working well"
**Description**
A clear and concise description of what the bug is.
I turned on the response cache by setting the config as _response_cache {enable: True}_. When the request input is repeatedly the same, everything goes alright and the Inference/second can reach 25000++ while the concurrency is set to 3 (by using **Performance Analyze**).[1] But, when the input is randomly generated for each input

[2022-05-16 12:56] antonlukyanov commented on #4371
@mc-nv Still Triton debug build fails with an error:

[code]

Release build succeeds.
Building debug version it with the following script:

[code]

[2022-05-16 17:13] ddukek22 opened #4380 "GPG Keys Expired For Apt Packages"
**Description**
We observed this error due to the gpg keys that are baked into the base image here https://github.com/triton-inference-server/server/blob/v2.17.0/Dockerfile.sdk#L79-L95 becoming stale. I noticed that the image hasn't been rebuilt and made available in NGC since December.

Do you currently have a lifecycle over which these images are supported with security patches etc?

[code]

**T

[2022-05-16 17:21] rmccorm4 commented on #4379
Hi @danielwonght ,

Thanks for reporting this. I haven't had a chance to fix this yet, but I am aware of an issue where we are [attempting to insert](https://github.com/triton-inference-server/core/blob/db2ae826116aac376467eb86f352dcdf95c08622/src/dynamic_batch_scheduler.cc#L613-L624) (and failing + logging) into the cache even if we know we couldn't hash the inputs (i.e. GPU tensors). I will foll

[2022-05-16 19:02] mc-nv commented on #4371
The issue here is that the `--cmake-dir` flag is used to point to the directory which doesn't contain `CMakeLists.txt` file for Triton server [[build.py#L1602](https://github.com/triton-inference-server/server/blob/r22.04/build.py#L1602)].

Please adjust the `--cmake-dir=<repo-folder-path>/build` flag reference.

[2022-05-16 19:16] ddukek22 commented on #4380
Great thanks for the reply @rmccorm4 . In my case for triton version 2.17 as described in this issue adding

[code]

To the top of my Dockerfile when I am using the triton image as a base image solves the problem.

[2022-05-16 19:16] #4380 closed

[2022-05-16 19:28] tanmayv25 commented on #4373
From the auto-generated config it looks like the model supports : `[1, 3, -1, -1]`
However, it fails to set the dimension to `[1, 3, 608, 608]`. The most likely explanation to this would be that 608 goes beyond the range of `<kMIN - kMAX>` in `dims[2]` and `dims[3]`.

[2022-05-16 19:34] rmccorm4 commented on #4372
Hi @nrepesh,

Re: Tensorflow backend, it is a known limitation that TensorFlow does not release any memory it allocates until the backend is completely unloaded. There is a FAQ on TF backend specifically here: https://github.com/triton-inference-server/tensorflow_backend#how-does-the-tensorflow-backend-manage-gpu-memory

And in general, the backend won't be unloaded until the triton process exits:

[2022-05-16 21:34] krishung5 commented on #4238
Hi @yaoyunda , sorry for the late response. For L0_model_config test, in some cases we intendedly make the server failed to test if the error messages are returned properly. For example, one of the error you mentioned above `Poll failed for model directory 'invalid_platform': unexpected platform type 'tensorflo' for invalid_platform` If you take a look at the log, you will see:
`Test on special_ca

[2022-05-16 21:36] krishung5 commented on #4243
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-16 21:36] #4243 closed

[2022-05-17 00:14] austinmw commented on #4373
Hmmmm, yeah, when I provided no config.pbtxt at all it complained that `platform` was an empty string, so I just provided a very short config with no input or output definitions and `"platform": "tensorrt_plan"`  while setting `—strict-model-config=false`.

When alternatively experimenting with `true` Instead, I attempted multiple input shapes including the max shape specified in my tensorrt confi

[2022-05-17 06:59] BrandonBocheng commented on #4371
Hi, @antonlukyanov

Hi, @antonlukyanov , thanks for ur reply. This problem has been solved but there is another problem appear. I have already cd to the server/ folder and run **./build.py --cmake-dir ./ --build-dir ./build**, another problem appear which is shown in the attachment. BTW, I have already installed the gnutls-bin and close the sslVerify for this repo. Wish to get the reply, thx
![Scr

[2022-05-17 08:47] antonlukyanov commented on #4371
@mc-nv Thanks a lot for the hint! It worked.

[2022-05-17 08:48] antonlukyanov commented on #4371
@BrandonBocheng It looks like that the problem is in installation of git in your system. I think you should check it and manually try to clone the repo which is cloned with error.

[2022-05-17 11:05] farzanehnakhaee70 commented on #4234
Thanks @Tabrizian for your comment and sorry for the late response.
Inside your script with python backend, you DL model was from which framework?

[2022-05-17 11:13] InfiniteLife opened #4384 "Request specifies invalid shape for input 'images' for yolov5x6_tensorrt. Error details: model expected the shape of dimension 0 to be between 1 and 1 but received 32"
I think my issue is related to this: https://github.com/triton-inference-server/server/issues/3032

[code]

returns error:
`request specifies invalid shape for input 'images' for yolov5x6_tensorrt. Error details: model expected the shape of dimension 0 to be between 1 and 1 but received 32`

`Input` was created with shape `32x3x768x1280`

Here is input config:
[code]
Model was successfully loaded

[2022-05-17 12:27] LucQueen opened #4385 "pytorch_backend build fail"
I am new bees to learn triton server，and want to compile pytorch_backend in host system, I dont know what to set DTRITON_PYTORCH_INCLUDE_PATHS and DTRITON_PYTORCH_LIB_PATHS, and below is official tutorial, can someone explain what  to set about DTRITON_PYTORCH_INCLUDE_PATHS and DTRITON_PYTORCH_LIB_PATHS, thanks very much

"Copy over the LibTorch and Torchvision headers and libraries from the [PyTo

[2022-05-17 12:29] ccnankai opened #4386 "Why is an extra 1 added to the first element of the result of model simple_squence?"
Hi,
I followed the quick start tutorial, ran simple_http_sequence_stream_infer_client.py and got the result as follows:
1. I don't understand why an extra 1 is added to the result in the first row, shouldn't it be [0, 100, 20]?Why insert an element at the head of the array？

values=[11,7,5,3,2,0,1]
inputs :    https://github.com/triton-inference-server/client/blob/9668a9fc1bd7e2fe84b2fe77dd3211756

[2022-05-17 13:54] Abdellah-Laassairi opened #4387 "Tritonbackend multiple instances of the same model run sequentially instead of in parallel on the same device with asyncrhonous requests."
## Description
We'd like to implement Ensemble modeling to run inference with the following workflow :

![Untitled Diagram-Page-8](https://user-images.githubusercontent.com/56895902/168826731-69d418e5-c1eb-4ada-99db-aebf1c5c7eac.jpg)
We managed to run both "construction" and "civil" model in parallel. However we've noticed that each model instance only took about 1GB of GPU Memory. Which is why we

[2022-05-17 14:28] janjagusch commented on #4374
@Tabrizian, sorry to nag you with this, but is there any more information I could provide to help resolve this issue?

[2022-05-17 14:34] Tabrizian commented on #4374
Since you are running on MacOS, it could be the mac os security settings preventing the execution:

https://stackoverflow.com/questions/58482352/operation-not-permitted-from-docker-container-logged-as-root

[2022-05-17 14:52] ccnankai opened #4388 "What was the reason for designing Implicit State Management"
Why does triton need to use  Implicit State Management, does Implicit State just store states in triton? no other difference ？

[2022-05-17 15:13] joihn opened #4389 "[Question] perf_analyzer, "Server Compute Input" meaning"
I'm using the perf_analyzer [tool ](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md), which output (among other things) a column `Server Compute Input`

What is it exactly ? Why does the input needs to be "computed" ? is it simply the transfer from CPU memory to GPU ?

[2022-05-17 15:55] issamemari opened #4390 "Internal: An input of type 'str' was detected in the model. Only a single input of type Dict(str, Tensor) or input(s) of type Tensor are supported."
**Description**
When trying to load my Triton model, I get an error saying that an input of type `str` was detected in the model. The same model loads fine on previous versions of Triton (21.02-py3 and 21.03-py3) so I suspect this is a bug with the newer versions.

**Triton Information**
nvcr.io/nvidia/tritonserver:22.03-py3

**Are you using the Triton container or did you build it yourself?**
Usi

[2022-05-17 16:21] riyaj8888 opened #4391 "python backend example for BERT like architecture"
can you provide pre-processing and post-processing logic for BERT like model in python backend examples.
because examples you provided [https://github.com/triton-inference-server/python_backend/tree/main/examples](url) here are not useful at all.

i want the input to be text input and output should be returned from model.plan (tensorrt model) .

where and what changes should be done to achieve thi

[2022-05-17 17:44] krishung5 commented on #4389
Hi @joihn, transferring tensors to GPU is part of `Server Compute Input` duration but not necessarily all of it. `Server Compute Input` is a cumulative duration for preparing input tensor data as required. Please refer to this [doc](https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_statistics.md#statistics-response-json-object) to see statistics extension for Trit

[2022-05-17 17:45] CoderHam commented on #4390
@issamemari can you share your modified model's forward function? The error you are seeing should occur when the input type is not a Tensor or Dictionary.  However the [PyTorch MTCNN](https://github.com/timesler/facenet-pytorch/blob/master/models/mtcnn.py) model appears to take a single input as a Tensor.

What version of PyTorch did you use to prepare the model?

[2022-05-17 18:02] krishung5 commented on #4385
Hi @LucQueen, `-DTRITON_PYTORCH_INCLUDE_PATHS` is the path to the directory where LibTorch and Torchvision headers files are put, and ` -DTRITON_PYTORCH_LIB_PATHS` is the path to the directory where LibTorch and Torchvision libraries are put. Please refer to this section of [build.py](https://github.com/triton-inference-server/server/blob/main/build.py#L602-L614) to see how those flags are set.

[2022-05-17 18:06] krishung5 commented on #4037
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-17 18:06] #4037 closed

[2022-05-17 18:06] krishung5 commented on #4021
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-17 18:32] krishung5 commented on #3979
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this.

[2022-05-17 18:32] #3979 closed

[2022-05-17 18:32] joihn commented on #4389
thanks

[2022-05-17 18:32] #4389 closed

[2022-05-17 20:32] sourabh-burnwal opened #4394 "Triton Crashes with onnxruntime error"
I have an ensemble of 10 models in my model repository. The models are a mixture of python, torchscript, dali, and onnx backends. I am using triton in RTX 3050, with 8gb VRAM, 16gb of RAM, and i7 11th gen processor. When the server is up and I try to get the inferences using a client script, the server crashes on the first hit. This has happened in many other scenarios as well. The conclusion I ca

[2022-05-17 23:16] GuanLuo commented on #4330
Will be fixed by https://github.com/triton-inference-server/core/pull/77

[2022-05-18 07:03] miseon119 opened #4396 "Run dynamic shapes engine in Triton Server"
Hi Nvidia,
I have some questions about **dynamic shapes engine** and triton server **dynamic batching feature**.

My first question is: Does dynamic batching(one of Triton server features) rule work when I use dynamic shapes engine?

My second question is: Does dynamic batching work when I use dynamic batch onnx file(e.g. input=[-1, 3, 416.416])?

What I did:

First, I generated dynamic shapes eng

[2022-05-18 07:30] janjagusch commented on #4374
Thanks, @Tabrizian, I think we're getting very close here.

I still get the same error locally on my MacBook even after having given Docker full disk access and restarting the machine:

![image](https://user-images.githubusercontent.com/25852654/168982024-c67a8a5b-1b05-4a2d-bbb5-409c0c98ccd9.png)

However, running the same code on a cloud instance running Ubuntu seems to work (albeit it produces a

[2022-05-18 08:04] InfiniteLife commented on #4384
If I run server configuration with `--strict-model-config=false` parameter, I get error:
`UNAVAILABLE: Internal: autofill failed for model 'yolov5x6_tensorrt': configuration specified max-batch 128 but TensorRT engine only supports max-batch 1`
so I guess it's the same issue I linked above - Triton Server wont check if tensorrt model actually supports batching if `max_batch_size > 0`

[2022-05-18 08:05] LucQueen commented on #4385
Thanks very much, but how can I get LibTorch and Torchvision? pip install torch and pip install torchvision? and then find in the path, for example, /opt/conda/envs/py37/lib/python3.7/site-packages/torch ? I try this, but I can not find.

[2022-05-18 08:07] #4273 closed

[2022-05-18 08:16] zijin520 opened #4397 "[question] about the GPU metrics"
I find the gpu metrics(such as gpu_utilization_) push_back  just exists in the function "InitializeNvmlMetrics", but this function is called only once in "EnableGPUMetrics". Does this mean that GPU_Metrics just shows the initial GPU metrics value, and no update later.
If there exists update steps, could you please point us the exact location? Thanks

[2022-05-18 08:31] janjagusch opened #4398 "Using custom Python backend stub causes no such file or directory error"
**Description**

Following up on #4374, I ran the same code on a Linux instance.

Checking on the Python stub, I get the following output:

[code]

However, running the Triton server shows the following error before the server starts freezing:

[code]

**Triton Information**

I'm using Triton 22.04.

**To Reproduce**

As before, the reproducible example can be found [here](https://github.com/janja

[2022-05-18 08:47] janjagusch commented on #4398
Okay, the error is caused because the shared libraries under `/opt/conda` don't exist inside the Triton container. I believe this happens because I render the Python stub in a separate container, instead of doing so on the host machine.

I'll check whether this error disappears when rendering stubs on the host machine instead. If so, I'd be curious to know how to make the Triton container independ

[2022-05-18 08:52] issamemari commented on #4390
Hi @CoderHam, thanks for your quick response. Here's the full model file [mtcnn.py](https://gist.github.com/issamemari/ca194fc6744365bc2bea231cd717ddde) and here's the script I used to export to TorchScript [export.py](https://gist.github.com/issamemari/73fb32fd9629285b270b5742c1cf6166)

[2022-05-18 12:51] LucQueen opened #4399 "pytorch_backend build fail"
cmake -DTRITON_PYTORCH_DOCKER_IMAGE=nvcr.io/nvidia/pytorch:22.04-py3 -DCMAKE_INSTALL_PREFIX:PATH=~/server/pytorch_backend/install ..

the output is this

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile f

[2022-05-18 12:53] Revist opened #4400 "Dynamically passing model parameters in inference request"
**Is your feature request related to a problem? Please describe.**
I have a model which has some internal parameters for inference e.g. crop size - the model takes crops of image, inferences on them and assembles final inference output.

**Describe the solution you'd like**
I would like to dynamically pass a parameter crop size during the inference request.

I use dynamic batching with ragged inpu

[2022-05-18 14:52] nrepesh commented on #4372
Thank you for your reply. We have two models with TF backends. We will convert them to onnx backends and do an isolation onnx test. Do you suppose that if we have all models in the onnx backend we might not have the memory leak issue?

[2022-05-18 18:15] krishung5 commented on #4378
Hi @shoval-a,thank you for filing this issue. Could you provide more information regarding how you are exporting gRPC endpoint via nginx? Meanwhile, we have filed a ticket to investigate further.

[2022-05-18 19:29] krishung5 commented on #4387
Hi @Abdellah-Laassairi, I think you need to specify `instance_group` field in each composing model to make it support parallel execution individually. Please refer to the [Ensemble Model Instance Groups](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#ensemble-model-instance-groups) section.

[2022-05-18 21:39] krishung5 commented on #4394
Hi @sourabh-burnwal, regarding the error message, I think you need to adjust the size of the shared memory using `--shm-size` flag to make sure that it is large enough for your use case. For your second question, I think you can try to monitor system usage when running Triton with those models to get a better sense of configuring hardware specs. Using [Metrics](https://github.com/triton-inference-

[2022-05-18 22:07] tanmayv25 commented on #4373
This means we would need to look at the shape somehow in the model.

You can try using --plugins, e.g:
`polygraphy inspect model my_model.engine --plugins /path/to/plugins.so`

[2022-05-18 22:32] krishung5 commented on #4397
Hi @zijin520, we start a separate thread for polling metrics at specified interval and poll the metrics in function `PollDcgmMetrics()` (e.g. gpu_utilization_ is updated [here](https://github.com/triton-inference-server/core/blob/main/src/metrics.cc#L489)). The function `InitializeNvmlMetrics` you mentioned is outdated. Please refer to [metrics.cc](https://github.com/triton-inference-server/core/b

[2022-05-18 23:28] miseon119 commented on #4396
I got issue when I use 21.10 release tensorrt  docker, I solve this issue after using 22.04.

[2022-05-18 23:28] #4396 closed

[2022-05-18 23:34] eanmikale opened #4402 "L0_https Client Example Hangs"
**Description**
The test script hangs with onnx and tensorflow backends.
**Triton Information**

Jetpack 4.6 version.

Are you using the Triton container or did you build it yourself?

Source

**To Reproduce**
Steps to reproduce the behavior.

 v5.7                                                                  server.log
| server_extensions                | classification sequence model_reposit

[2022-05-18 23:42] rparvizian-rbx opened #4404 "Option to return non binary data from when sending raw binary request"
**Is your feature request related to a problem? Please describe.**
I'd like the ability to be able to receive the output as non binary data when sending a [raw binary request](https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_binary_data.md#raw-binary-request)
Currently it also sends output as binary.

**Describe the solution you'd like**
The ability to send "bina

[2022-05-18 23:47] krishung5 commented on #4400
@tanmayv25 @GuanLuo Is this some feature we would like to add in the future?

[2022-05-19 00:03] GuanLuo commented on #2607
Sorry for taking too long to get back to you. I have tried to reproduce the issue on the latest Triton and the ensemble reloading works fine. Can you try with the latest release to verify if the issue has been resolved? If not, it would be great if you can share a more detailed repro steps.

What I have done:
[code]

[2022-05-19 05:51] farzanehnakhaee70 commented on #4234
Hi all,
@CoderHam As what you recommended for using torch script instead of using python backend, unfortunately the loading time of the model is the same as the pytorch model with python backend. Do you have any idea what is happening?

[2022-05-19 06:21] krishung5 commented on #4385
If you are building with custom PyTorch, I would recommend copying all the header files and libraries from the NGC container to your directories. Please refer to this [section ](https://github.com/triton-inference-server/pytorch_backend#build-the-pytorch-backend-with-custom-pytorch) for more detailed steps about building the PyTorch backend.

[2022-05-19 08:06] xyangk opened #4405 "Shape does not match with data while using kserve http protocol BYTES data type"
**Description**
As describe at [kserve_api](https://github.com/kserve/kserve/blob/master/docs/predict-api/v2/required_api.md#tensor-data), 2-dimensional matrix cat be natural format or one-dimensional, that works fine while datatype is INT32，but It's different while datatype is BYTES. My triton model support batching, If I want to send data like 'a' and 'b' with shape [2,1], `['a', 'b']`  and  `[[

[2022-05-19 08:10] Abdellah-Laassairi commented on #4387
Hello! We did specify the `instance_group` field for each composing model however that didn't change anything. In the example I've provided I've only loaded one model and changing the `instance_group` count of that model didn't change latency nor throughput.

[2022-05-19 08:53] shoval-a commented on #4378
my `nginx` Ingress yaml file:

[code]

`perf_analyzer` communicate with `nginx` via `gRPC` and `nginx` should load balance its requests into the relevant pods via `gRPC` as well.

[2022-05-19 10:44] bchinnari opened #4406 "Parse error at offset 0: The document is empty."
I am using triton server, I want to send input and get output using http client.
I am using docker for server (nvcr.io/nvidia/tritonserver:22.04-py3) and I installed triton client using pip.
I have an onnx model at (/n/w1-bchinnari/onnxruntime_expts/models) and I am mounting it when I am running the docker using -v
I want to run the model on CPU only. Following is the logs when I run the docker
[c

[2022-05-19 12:47] janjagusch commented on #4398
You're absolutely right. Thanks, I must have read that differently when going through the documentation!

[2022-05-19 12:47] #4398 closed

[2022-05-19 12:52] alxmamaev commented on #4380
Il already tied many times. But this patch is not working.

How I can fix it?
[code]

My error:
[code]

[2022-05-19 13:02] alxmamaev opened #4407 "Cannot build triton docker container due GPG keys rotation"
Im trying to build container based on official NGC Triton container. I already tried a patch:

[code]

But I till getting error.
[code]

[2022-05-19 17:46] krishung5 commented on #4406
Hi @bchinnari, could you run the server with `--log-verbose=1` flag to be more verbose? Looks like the model is not loaded correctly. If models are loaded, the log should look like:
[code]

[2022-05-19 17:55] bchinnari commented on #4406
I have a model (citrinet-1024-8x-stride-gamma-025.onnx) in this dir  `/n/w1-bchinnari/onnxruntime_expts/models`
I am mounting this dir using -v and this is the command I am running
[code]

[code]

[2022-05-19 18:10] krishung5 commented on #4386
Hi @ccnankai, sorry for the late response. For the first question, it is the design of the [sequence model](https://github.com/triton-inference-server/server/blob/main/src/test/sequence/src/sequence.cc) we are using for this example. You can refer to the description [here](https://github.com/triton-inference-server/server/blob/main/src/test/sequence/src/sequence.cc#L36-L57) to see the more details

[2022-05-19 18:16] bchinnari commented on #4406
In the client code , I first tried like this
[code]
The log from the server is as follows
[code]

I thought it is not able to find the model. Hence I appended "/model/" to the path in client code like this
[code]

Now the server log is as follows
[code]

[2022-05-19 18:19] #4330 closed

[2022-05-19 18:19] krishung5 commented on #4391
Hi @riyaj8888, the pre-processing and post-processing logic should be able to be implemented using [ensemble models](https://github.com/triton-inference-server/server/blob/main/docs/architecture.md#ensemble-models). We also have an [pre-processing example](https://github.com/triton-inference-server/python_backend/blob/main/examples/preprocessing/README.md) using python backend. This should be a go

[2022-05-19 18:20] rtalaricw opened #4408 "GPT NeoX 20B"
Can a converter for GPT NeoX 20B be written to convert from PyTorch to Triton format?

[2022-05-19 20:38] InfiniteLife opened #4411 "Segmentation fault, Core dumped during inference tensorrt model"
Im running inference on tensorrt model which accepts as inputs 32x3x768x1280(fixed batched dimension), making calls to `Infer` in C++ API in multiple threads. Triton Server runs on 2 3090 RTX.
Here is model input config:
[code]

Here is inference code:

[code]
When single thread uses this function, I havent noticed errors. But when multiple threads, oftentimes(not always, sometimes everything is f

[2022-05-19 20:50] rmccorm4 commented on #4379
Hi @danielwonght,

The issue I mentioned where we attempt to insert into the cache even if we couldn't hash the request (request too large, input data in GPU memory, etc.) should be fixed by the PR above.

However, after reading your issue again I'm not so sure if it will actually resolve your performance degradation. The issue I described related to GPU tensors would be if the input data is comin

[2022-05-19 21:11] InfiniteLife commented on #4411
Caught error in gdb debugger:

[code]

[2022-05-19 21:15] krishung5 commented on #4408
@CoderHam Are you familiar enough with this to provide an answer?

[2022-05-19 21:24] krishung5 commented on #4407
Hi @alxmamaev, could you also try installing the new cuda-keyring package described in this [post ](https://developer.nvidia.com/blog/updating-the-cuda-linux-gpg-repository-key/ ) instead of manually installing the new signing key?

[2022-05-19 22:17] CoderHam commented on #4399
@LucQueen which branches / repo tags are you using for your source code. For r22.04 you should be using the. Refer to the docs here: https://github.com/triton-inference-server/pytorch_backend#build-the-pytorch-backend
`-DTRITON_BACKEND_REPO_TAG=r22.04 -DTRITON_CORE_REPO_TAG=r22.04 -DTRITON_COMMON_REPO_TAG=r22.04`

Additionally you should be using the r22.04 branch of the pytorch_backend for you so

[2022-05-20 00:17] krishung5 commented on #4411
Hi @InfiniteLife, could you provide the full log from Triton server with the `log-verbose=1` flag? This would help us narrow down the cause for the issue.

[2022-05-20 00:20] krishung5 commented on #4404
cc @tanmayv25

[2022-05-20 00:40] krishung5 commented on #4406
Thanks for providing the log. After running the server, could you try to use `curl localhost:8000/v2/models/{model_name}/config` to confirm that the model is loaded correctly? If the model is loaded, it should return the configuration of the model. If not, you should see some message like
`{"error":"Request for unknown model: 'model_name' is not found"}`

Based on the log here
[code]
It looks like

[2022-05-20 00:52] CoderHam commented on #4402
Which version of Triton are you using for your build? The L0_https needs to be patched with the --backend-directory arg to launch on Jetson correctly. Refer to the Jetson usage guide: [jetson.md](https://github.com/triton-inference-server/server/blob/main/docs/jetson.md)

[2022-05-20 03:32] GuanLuo commented on #4411
Note that `Infer()` API is not thread-safe, for multi-thread usage, you can create multiple GRPC clients and assign each of them to different thread.

[2022-05-20 03:41] GuanLuo commented on #4406
And can you share the directory structure in `/n/w1-bchinnari/onnxruntime_expts/models`, Triton only detects a model if it is in the [expected layout ](https://github.com/triton-inference-server/server/blob/main/docs/model_repository.md#repository-layout)

[2022-05-20 04:12] Jackiexiao commented on #3960
@narolski hi, could you share your docker image or code to build the CPU-only image?

[2022-05-20 07:24] ccnankai commented on #4388
Thank you very much.

[2022-05-20 07:24] #4388 closed

[2022-05-20 07:25] ccnankai commented on #4386
Understood，Thank you very much.

[2022-05-20 07:25] #4386 closed

[2022-05-20 08:39] Abdellah-Laassairi commented on #4387
Any updates?

[2022-05-20 08:48] kimdwkimdw opened #4412 "Cannot warmup with python backend with batch_size"
**Description**

For example config in below.

[code]

Input's first dim is different with output's first dim.
However I tried to warmup multiple times with batch_size.
There is no way to duplicate warmup request.

Error messages

[code]

**Triton Information**

22.01 ~ 22.04

**To Reproduce**

Load model with warmup. `max_batch_size` in model, `batch_size` in model_warmup

**Expected behavior**

[2022-05-20 09:21] Rusteam opened #4414 "[mlflow-plugin] create a separate repository for mlflow-triton-plugin"
**Is your feature request related to a problem? Please describe.**
I'm using mlflow-triton-plugin next to triton-inference-server in order to automatically deploy models.
However, keeping track of upstream changes becomes a hassle as it is a folder in the main repo.
Sometimes I want to make my own changes and be able to push my changes upstream.

**Describe the solution you'd like**
A separate git

[2022-05-20 10:11] murphypei opened #4415 "how to deploy stateful model without implicit state management"
For some reasons of driver, I must use the **triton20.09** which dose't seem to support **Implicit State Management** feature:
[code]
Can you guys give me any advice? Any suggestions are very welcome, thanks.

[2022-05-20 14:21] eanmikale commented on #4402
Thanks, I'm using the Jetpack 4.6 Version. Here is the patched command inside the test.sh file.

SERVER_ARGS="--repoagent-directory=/home/xxxxxxxxxxxxx/Downloads/qa/checksum_repository_agent/ --model-repository=/home/xxxxxxxxxxxxxx/server/docs/examples/model_repository/ --backend-directory=/home/xxxxxxxxxxxxxxxx/Downloads/backends/ --backend-config=onnxruntime,enable-global-threadpool=0 --backend-

[2022-05-20 14:38] mmischitelli opened #4416 "Allow loading/unloading of specific version for a given model"
**Is your feature request related to a problem? Please describe.**
I find the model control mode "explicit" to be very interesting. Although, for my usecase, it pretty much useless as we have few models consisting of tens or even hundred of versions. Each model is basically updated weekly and previous versions must be kept available.

**Describe the solution you'd like**
A new overload to the Load

[2022-05-20 17:10] krishung5 commented on #4412
Hi @kimdwkimdw, based on the error messages you provided, it looks like the batch_size for warmup is larger than the max_batch_size being set for the model. Could you try with a different batch_size which doesn't exceed max_batch_size?

@tanmayv25 Could you confirm this?

[2022-05-20 17:46] krishung5 commented on #4387
Hi, could you monitor the GPU utilization while running both cases to see if the GPU is already fully utilized with the first instance?

[2022-05-20 18:57] #2759 closed

[2022-05-20 19:09] rmccorm4 commented on #4036
Hi @wurthel, I recently exposed generic ChannelArgs params to the GRPC client library so advanced users can pass any channel arg that they would like: https://github.com/triton-inference-server/client/pull/104.

See this new `channel_args` param in the python client library for your use case: https://github.com/triton-inference-server/client/blob/c6296f2b853517ecfc949edc6e0bb7a85ea1d22c/src/python

[2022-05-20 19:09] #4036 closed

[2022-05-20 20:04] hirenp4 commented on #3805
Wanted to check if issue is still happening ? Was there any retry during authentication failure?
Possible to add debug  around the failure and see if the connection is leaving their network and reaching NGC

[2022-05-20 20:59] krishung5 commented on #4414
cc @GuanLuo

[2022-05-20 21:04] bryanmcgrane commented on #3805
Yes the issue is still happening. I had it happen this week.

[2022-05-20 21:49] krishung5 commented on #4405
Hi @xyangk, thanks for reporting this. Multi-dimensional match data true shape should be supported. I'll file a ticket to fix this.

[2022-05-20 22:09] hirenp4 commented on #3805
Introduce this command for your build process. This might help us to troubleshot

Pls turn on debug and collect detailed logs, Would help to have timestamp in log messages if possible

curl 'https://api.ipify.org?format=json'

for i in {1..10}; do echo -n `date` " "; curl -w "dns_resolution: %{time_namelookup}, tcp_established: %{time_connect}, ssl_handshake_done: %{time_appconnect}, TTFB: %{time_

[2022-05-20 23:00] eanmikale commented on #4402
Now, getting a no module named tritonclient.http error.  See here:

 File "/home/xxxxxxxxxxxxx/Downloads/python/simple_http_infer_client.py", line 33, in <module>
    import tritonclient.http as httpclient
ImportError: No module named tritonclient.http
test.sh: line 107: /home/infiniteaiengine/Downloads/bin/simple_http_infer_client: cannot execute binary file: Exec format error
Traceback (most rec

[2022-05-21 00:33] eanmikale commented on #4402
If I enter the import tritonclient.http as httpclient command in the Python3 interpreter, it imports successfully, however, when the actual code runs, it does not take, even after updating the cache??? Any assistance is appreciated.

[2022-05-21 00:40] tanmayv25 commented on #4400
Your exact ask is difficult to implement within Triton core but we do have something similar for supporting [shape tensors](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#exe_shape_tensors) in TensorRT, which is similar to your `crop_size`. Generally, Triton core avoids reading a tensor data to make batching decisions.
This is how it currently works:
1. As soon as a reque

[2022-05-21 00:57] tanmayv25 commented on #4412
@kimdwkimdw  Take a look [here](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#inputs-and-outputs) on how to specify input/output config for a batching model.
We need to skip the batch dimension in i/o config for batching models.

Second, to specify a batching model, the max_batch_size in config.pbtxt should be set > 0. However, you set max_batch_size=0 and

[2022-05-21 01:01] tanmayv25 commented on #4404
@rparvizian-rbx Can you describe why you would need this feature? You can parse the output from the binary data right?

[2022-05-21 02:31] kimdwkimdw commented on #4412
## How to send [256,581,2] x 256 requests?

@tanmayv25

https://github.com/triton-inference-server/common/blob/main/protobuf/model_config.proto#L1657-L1660

really weird part is request is not with [256, 581, 2].
This will generate small batchsize request [1, 581, 2] with 256 times.

[code]

## Different size of shape in first dim between input and output of python backend.

In my case, I wrote th

[2022-05-21 13:24] khazamaa commented on #3525
hello all,
can anyone help me in setting up promethues in a single node system.

[2022-05-22 09:20] InfiniteLife commented on #4411
Everything is ok there, when error is thrown outputs is like this:

[code]
It times when error isnt thrown, and if I create client with `verbose = true`, it writes this kind of output which I find unclear:
[code]

and these zeros output will go for hundreds of lines, repeating at each infer call.

Thank you, I missed this part. That probably is the reason, I will try to create different client for

[2022-05-22 21:51] Abdellah-Laassairi commented on #4387
Hello! GPU utilization was at 2.4GB while running case 1 (1 model instance) and at 3.3GB in case 2 (2 model instances), the available memory for a g4dn instance is about 16GB, so it's far from being fully utilized.

[2022-05-23 09:46] inakivelasco commented on #2025
Do you still have the script to convert a Detectron2 model to TorchScript?

[2022-05-23 11:18] InfiniteLife commented on #4411
Yes, using separate clients for multiple threads solved the problem.

[2022-05-23 11:18] #4411 closed

[2022-05-23 13:10] riyaj8888 commented on #906
how to specify dynamic batching inside ensemble scheduling

[2022-05-23 15:03] JesseEisen opened #4421 "config.pbtxt format in Python Protobuf text_format"
**Question**

I just try the use below Python code to generate a config.pbtxt file's content

[code]

But the  **repeated**  message field like `input` and `output` are not show in the format like json list.

[code]

These format content can parsed by text_format, but the format looks weird. So i am confused, Is there any suggestions or tools to generate the configuration like the example model re

[2022-05-23 16:38] dyastremsky commented on #3525
Hi Khazamaa, if you have a specific question related to setup, please open a new issue with your detailed question. There is some information located [in the metrics documentation](https://github.com/triton-inference-server/server/blob/main/docs/metrics.md) and you may be able to find external documentation written by Triton's users to help get you started. This issue is related to connecting to G

[2022-05-23 16:45] ankur-sarda opened #4422 "Reduce load/unload model time"
**Is your feature request related to a problem? Please describe.**
Reloading a model takes 5-10 seconds depending on the number of libraries that needs to be dynamically linked. This is primarily because triton spawns a new process on model reload. However, we would like a feature which can reduce this time further down. This feature can be useful, when we need to change model parameters and not t

[2022-05-23 16:59] nv-kmcgill53 commented on #4422
Hi @ankur-sarda, could you please describe your use case further please? Are you wishing to only update model weights, or are you attempting to replace an entire model? In addition, which backends are you currently using to server your model? This will help us understand your ask, thank you.

[2022-05-23 17:22] GuanLuo commented on #4387
The GPU utilization refers to whether the GPU is computing at full capacity, if you use `nvidia-smi` to monitor GPU status, you will notice that GPU utilization is a different field (the 2% one below) from the GPU memory usage
[code]

[2022-05-23 17:50] nv-kmcgill53 commented on #4421
Hi @JesseEisen, config.pbtxt is a protobuf text file which has different syntax than json. [Here is an example](https://github.com/triton-inference-server/server/blob/main/qa/L0_model_config/autofill_noplatform_success/tensorflow_savedmodel/empty_config/expected) of a configuration file which has multiple inputs and outputs. You can see the `input` and `output` fields are repeated as expected.

A

[2022-05-23 18:04] ankur-sarda commented on #4422
Hi @nv-kmcgill53
We have generic model architecture but are may be trained on different customer datasets. We would like to update just the model weights.
Backends - Tensorflow and generic python backend.

[2022-05-23 21:14] dyastremsky commented on #4415
Triton 20.09 is over a year and a half old, quite likely before implicit state management was added. If so, you'll need a more recent version of Triton to use this feature.

[2022-05-23 21:27] dyastremsky commented on #4416
I've filed a ticket for this feature request.

I don't know your specific use case, but you may also be able to use model names in the meantime (e.g. model100_2022_05_23 or whatever makes sense for you). Another option is leveraging the [specific version policy](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#version-policy). We've added this to our queue to

[2022-05-23 21:35] dyastremsky commented on #4274
The error is saying that the JSON file is invalid, and it looks to be happening outside of Triton. Is the header (POST...) part of your JSON file? That wouldn't pass JSON parsing, since it wouldn't be valid.

[2022-05-23 21:39] dyastremsky commented on #4275
Thank you for providing detailed reproduction steps. Version 21.06 is from almost a year ago. We've made many changes since then to improve the server further, and they likely cumulatively resulted in the decline in memory usage. As an example, some backends now allow weight sharing.

We recommend you use the latest versions of Triton, if possible. It wouldn't be the best use of our time to look a

[2022-05-23 21:39] #4275 closed

[2022-05-23 21:40] dyastremsky commented on #4284
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-23 21:40] #4284 closed

[2022-05-23 21:42] dyastremsky commented on #4329
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-23 21:42] #4329 closed

[2022-05-23 21:47] dyastremsky commented on #4277
Thank you for this great question and explanation. We appreciate the feedback on documentation.

Closing since the question has been resolved.

(CC @GuanLuo for visibility)

[2022-05-23 21:47] #4277 closed

[2022-05-23 22:12] dyastremsky commented on #4188
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-23 22:12] #4188 closed

[2022-05-23 22:13] tanmayv25 commented on #4412
This might be a problem in other backends(TF, pyTorch, TensorRT etc.) where the backend itself tries to scatter the output tensors into individual responses. But for python backend, I think your BLS would be creating responses for each request I guess.
Actually, it looks like you are not interested in Triton's Dynamic Batcher. So, you want a single inference request and not a batch of 256 inferenc

[2022-05-23 22:15] dyastremsky commented on #4225
To do so, you can run Triton with an empty model folder. Use nvidia-smi or top, depending which performance metrics you'd like to get.

[2022-05-23 22:36] nv-kmcgill53 commented on #4299
Hi @huangrunqian, from the look of your output, it appears as though you are providing your own custom backend. Is your backend making use of the `TRITONBACKEND_ModelInitialize` api and doing any logging? Also, is there any more information from stdout, which you may have missed? Thanks.

[2022-05-23 22:43] SkalskiP commented on #2025
@inakivelasco it was not my script it was actually part of Detectron2 repository, but I guess they decided to move it, as the link is no longer valid. Did you tried this one: https://github.com/facebookresearch/detectron2/blob/main/tools/deploy/export_model.py ?

[2022-05-24 00:11] eanmikale commented on #4274
This is the main error:     import tritonclient.http as httpclient

ImportError: No module named tritonclient.http

However, I can import using the Python3 interpreter. 

Maybe, we can solve this first and then look at the JSON upload? 

---- On Mon, 23 May 2022 16:36:06 -0500 dyastremsky ***@***.***> wrote ----

The error is saying that the JSON file is invalid, and it looks to be happening outsi

[2022-05-24 00:33] dyastremsky commented on #4274
That import looks fine. We use the same line in a lot of the tests in the QA folder.

Maybe there's a path error or an error with how it's run (e.g. Python vs Python3). I can only help with bugs or questions relating to Triton, so if you run into those, let me know.

[2022-05-24 01:04] JesseEisen commented on #4421
Hi, thank you for reply.

I just saw the example you provided,it's in the same format as what i saved. That means the protobuffer's `text_format` generates those format as default. My confusion is the format provided in this repo： `docs/examples` is more pretty than generated😅.

And you say can load the model in server side and use `config` api to fetch the config generated by triton. So is there

[2022-05-24 03:25] eanmikale commented on #4274
Sorry, I needed to add the Python backend. This fixed the error. 

However, I am getting hung again on the following output: 

++ curl -s -w '%{http_code}' localhost:8000/v2/health/ready

I cannot find here this code is coming from in the source code. Any assistance is greatly appreciated. 

---- On Mon, 23 May 2022 19:33:55 -0500 dyastremsky ***@***.***> wrote ----

That import looks fine. We use

[2022-05-24 03:54] dyastremsky commented on #4274
I'm not understanding the question. If it's where that's used, there's a bit of documentation for its utility in the quick start guide [here]: (https://github.com/triton-inference-server/server/blob/main/docs/quickstart.md). That command is to test the health of the server.

The documentation would be your greatest resource. It sounds like this ticket no longer relates to the original issue. If so

[2022-05-24 05:17] eanmikale commented on #4274
You can close this ticket number. I am now familiar with the correct formatting. Thank you.

---- On Mon, 23 May 2022 22:54:16 -0500 dyastremsky ***@***.***> wrote ----

I'm not understanding the question. If it's where that's used, there's a bit of documentation for its utility in the quick start guide [here]: (https://github.com/triton-inference-server/server/blob/main/docs/quickstart.md). That

[2022-05-24 08:34] Abdellah-Laassairi commented on #4387
Hello, thanks for your answer, here's the output for both cases :

instance count = 1
[code]
instance count = 2
[code]

[2022-05-24 09:25] marchaarsma commented on #4387
It looks like your model is so complex (or GPU has little compute resources) that one model already fully loads the compute resources of your GPU. On a bigger GPU with enough compute resources two (or more) models could run in parallel, but in your case the models have to be executed sequentially. Note that next to nvidia-smi you can use the nvidia nsight-systems tool (nsys) to get fine-grain info

[2022-05-24 09:40] Abdellah-Laassairi commented on #4387
Hello! I was already using nsys to trace cuda and cudnn. The output in the timeline when instance count = 1 is as I expect it to be. However It's a bit difficult to get a good understanding on how the two instances of the same model behave in nsys since both of them are executed on the same thread. In the mean time I'd try to use a simpler model to verify if the GPU compute resources is the bottle

[2022-05-24 09:41] marchaarsma opened #4425 "Triton docker client image does not have cmake installed (/usr/bin/cmake)"
**Description**
Triton docker client image used to have cmake installed (/usr/bin/cmake)

**Triton Information**
22.04-py3-sdk does not have cmake installed
22.02-py3-sdk does have cmake installed

I am using a stock docker image from nvidia e.g. nvcr.io/nvidia/tritonserver:22.02-py3-sdk

**To Reproduce**
run docker interactively and type cmake

[2022-05-24 10:21] mmischitelli commented on #4416
Thanks!

Unfortunately we cannot "flatten" the model/version hierarchy as we have some strict requirements that would make things way too complicated. For instance, we plot the inference results on a chart: if the function's name is the same we can esily do comparisons, as the version is just a parameter.

The specific version policy instead is kinda "static". Our solution provides users with the

[2022-05-24 13:08] bhupendrasalesken commented on #2090
I getting the same logs, though inference is running and running correct but as it is using CPU , it's very slow.

`I0524 13:06:57.818420 1 libtorch.cc:1087] model multiqa_pr, instance multiqa_pr_0_1, executing 1 requests
I0524 13:06:57.818433 1 libtorch.cc:504] TRITONBACKEND_ModelExecute: Running multiqa_pr_0_1 with 1 requests
I0524 13:06:58.631790 1 infer_response.cc:165] add response output: ou

[2022-05-24 14:08] Lingkar commented on #4416
@mmischitelli combining the specific version policy with the control mode POLL is quite fast in updating the available models, right?

@dyastremsky My specific use-case will be controlling the model versioning through the API within the KServe modelmesh environment. I will have to find out if either workaround will work. Where can I keep an eye on the progress of the feature request ticket? Would

[2022-05-24 14:15] dyastremsky commented on #4274
Wonderful, any time. 👍

[2022-05-24 14:15] #4274 closed

[2022-05-24 14:21] dyastremsky commented on #4416
@Lingkar The ticket was filed internally. There is no timeline yet for this feature request. Your best bet is to keep an eye on this GitHub issue, as I'm leaving it open as we look into this feature request.

[2022-05-24 15:34] Tabrizian commented on #4412
This will generate small batchsize request [1, 581, 2] with 256 times.

Python backend doesn't batch multiple requests to the same request. If Triton's dynamic batcher, batches multiple requests, the length of the `requests` list will reflect the size of the batch created by Triton. Having said that, there is a ticket for this enhancement: https://github.com/triton-inference-server/server/issues/3

[2022-05-24 15:46] nv-kmcgill53 commented on #4421
You are probably interested in our [client repository](https://github.com/triton-inference-server/client#client-library-apis) which has a couple of different pre-built clients which you can use to interact with Triton. [Here is a python example](https://github.com/triton-inference-server/client/blob/main/src/python/examples/simple_http_model_control.py) where we load and unload models, but there a

[2022-05-24 15:54] kimdwkimdw commented on #4412
I had misunderstood about python backend. Thanks for giving an example.
However, there is still no way to do `warmup 2 times`.

With `max_batch_size = 0` , I cannot specify `batch_size: 2` on model_warmup.
Or, I thought that `inputs` can accept multiple inputs like below, but it's not.

[code]

[2022-05-24 17:37] tanmayv25 commented on #4285
`serialize_byte_tensor` is a utility for TYPE_STRING tensors.
From what I am looking at:

[code]
It appears the audio_size should be a binary file with size of 4 bytes representing a INT32. See here for more information: https://github.com/triton-inference-server/common/blob/main/protobuf/model_config.proto#L1637-L1643

[2022-05-24 17:43] dyastremsky commented on #3804
Due to inactivity, I'll close this ticket. The tickets that mention this one should have related feature requests.

Please re-open the issue if you would like to follow up with this issue.

[2022-05-24 17:43] #3804 closed

[2022-05-24 20:32] dyastremsky commented on #3978
Thank you for the update. @yuanyao-nv is investigating.

(@cnegron-nv, I'm leaving this ticket open for now. Feel free to update me or the ticket if it should be closed, since the issue is happening within TensorRT and there's an open TensorRT GitHub issue for it.)

[2022-05-24 22:18] rmccorm4 commented on #4133
Hi @omrifried ,

Can you share a simple model that can reproduce the issue? It will help with looking into the root cause.

[2022-05-25 00:36] JesseEisen commented on #4421
Thanks， i will checkout the client repo's examples.

[2022-05-25 00:36] #4421 closed

[2022-05-25 08:45] inakivelasco commented on #2025
Got it thanks

[2022-05-25 10:06] bhupendrasalesken opened #4429 "Triton inference is slow then normal pytorch model on GPU http_server.cc:1226] HTTP: unable to provide 'OUTPUT__0' in GPU, will use CPU"
**Description**
triton inference is slow, though the model is loaded on GPU still the inference time is very slow

**Triton Information**
21.05

Are you using the Triton container or did you build it yourself?
Trion container

I am  getting these logs , though inference is running and running correct but as it is using CPU , it's very slow.

[code]

can you please let me know if something is wrong

[2022-05-25 10:07] bhupendrasalesken opened #4430 "Triton inference is slow then normal pytorch model on GPU, http_server.cc:1226] HTTP: unable to provide 'OUTPUT__0' in GPU, will use CPU"
**Description**
triton inference is slow, though the model is loaded on GPU still the inference time is very slow

**Triton Information**
21.05

Are you using the Triton container or did you build it yourself?
Trion container

I am  getting these logs , though the inference is running and running correctly but as it is using CPU, it's very slow.

[code]

can you please let me know if something is

[2022-05-25 10:14] bhupendrasalesken commented on #4430
I found the solution as well

eariler I was using :
[code]

but when I use
[code]

It's finished under  244ms. Though not sure why :-| ?

[2022-05-25 14:47] mmischitelli commented on #4416
yes, it's just the time needed to load any new version that is added to the local repo. Usually it's quite fast.

[2022-05-25 15:02] #4425 closed

[2022-05-25 15:33] #4429 closed

[2022-05-25 17:37] dyastremsky commented on #2871
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-25 17:37] #2871 closed

[2022-05-25 19:03] msardonini commented on #3429
I also have encountered this issue running the latest version of tritonserver `nvcr.io/nvidia/tritonserver:22.04-py3` and the tritonclient [2.21.0](https://pypi.org/project/tritonclient/#history) (installed from pip).

I've found that the issue only appears when the tritonclient is attempting to register memory from a process with PID == 1.

@rmccorm4 Try reproducing the issue using 'exec' in your

[2022-05-25 19:29] rmccorm4 commented on #3429
Hi @msardonini ,

Can you elaborate or share an example I can copy/paste? I tried yours in (1) below but it failed.

1. Running your command as-is:
[code]
2. Running `exec` in bash shell (non-interactive):
[code]
3. Running with `exec` interactively:
[code]
4. Using `docker exec`:
[code]

[2022-05-25 19:44] msardonini commented on #3429
@rmccorm4 thanks for your quick reply!

The point was to run the simple_grpc_cudashm_client.py script in a process where PID == 1, so we can also do that by removing the `bash -c`

Can you try this command instead?

`docker run --gpus all --network host nvcr.io/nvidia/tritonserver:22.03-py3-sdk python3 /workspace/install/python/simple_grpc_cudashm_client.py`

Apologies the first example didn't wor

[2022-05-25 21:15] rmccorm4 commented on #3429
Hi @msardonini ,

That still works for me:
[code]

I also tried checking some PIDs for sanity:
[code]
Output:
[code]

[2022-05-25 21:30] msardonini commented on #3429
@rmccorm4 Bummer, that change made it fail for me, though my setup is slightly different. The only thing preventing me from replicating your setup exactly is the "simple" model. Is there somewhere I can download this? Then I could try and replicate the problem using these commands exactly.

[2022-05-25 21:37] rmccorm4 commented on #3429
@msardonini sure, the you can find the [simple](https://github.com/triton-inference-server/server/tree/main/docs/examples/model_repository/simple) model in our example model repository. You can just clone the server repo and remove the rest of the directories other than `simple` in `server/docs/examples/model_repoistory` for the sake of this test.

Note if you don't do that, the `inception_graphde

[2022-05-26 00:38] bdnorman opened #4432 "Internal: An input of type 'Tensor[]' was detected in the model. Only a single input of type Dict(str, Tensor) or input(s) of type Tensor are supported."
**Description**
When trying to load my pytorch Triton model I am receiving `Internal: An input of type 'Tensor[]' was detected in the model. Only a single input of type Dict(str, Tensor) or input(s) of type Tensor are supported.`.

**Triton Information**
nvcr.io/nvidia/tritonserver:22.04-py3

Are you using the Triton container or did you build it yourself?
Using triton container

**To Reproduce**

[2022-05-26 05:30] bhupendrasalesken commented on #4430
it wasn't the warmup time , I tried it for a few times the time was still the same.

[2022-05-26 05:30] #4430 closed

[2022-05-26 10:06] LucQueen opened #4433 "run ci test fail"
I run test.sh in /server/qa/L0_backend_python/, and I meet this error. how can i fix it? thanks.

======================================================================
ERROR: test_init_args (__main__.PythonTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "./python_test.py", line 49, in setUp
    self._shm_leak_detector = shm_ut

[2022-05-26 10:48] bartengine27 opened #4434 "WSL2 CUDA SHM support"
Dear,

  Is CUDA shared memory supported on WSL2?

  Starting the Triton Server r22.04 docker and executing the simple_grpc_cudashm_client results in:
`
0 + 1 = 0
0 + 1 = 0
error: incorrect sum
`

The output of simple_grpc_infer_client looks correct:
`
0 + 1 = 1
0 - 1 = -1
1 + 1 = 2
1 - 1 = 0
2 + 1 = 3
...
`

Thanks,
Bart

[2022-05-26 10:56] Jackiexiao commented on #3941
but in this example, execution count 21 is bigger than request cout: 17, and why inference cout is different from request cout.

[2022-05-26 11:50] Jackiexiao commented on #2156
so which frameworks share the weights across model?

[2022-05-26 16:31] nv-kmcgill53 commented on #4433
Hi @LucQueen, would you please provide more information about your issue following our [bug report template](https://github.com/triton-inference-server/server/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)? This will help us in assisting you. Namely, the Triton information and the steps to reproduce will be helpful.

[2022-05-26 17:13] dyastremsky commented on #4432
The error is correct. Lists of tensors are not supported as inputs currently ([that model's documentation](https://pytorch.org/vision/0.8/_modules/torchvision/models/detection/faster_rcnn.html) confirms that the input is a list of tensors as well).

If you'd like, I can file a feature request.

[2022-05-26 17:19] dyastremsky commented on #4434
Can you please fill out the bug template with full reproduction instructions (including details about which system you're running this on)? That'll provide more insight.

If there was an error using shared memory or similar, Triton would typically have thrown an error. We can take a look at the Triton side of things.

[2022-05-26 18:23] bdnorman commented on #4432
@dyastremsky a new feature would be great!

Also for anyone who comes across this before this a new feature, a hack around this that seems to work to avoid listed tensors:
[code]

[2022-05-26 18:52] dyastremsky commented on #4432
Happy you found a workaround, thanks for sharing it! I've filed a ticket to look into adding this feature.

[2022-05-26 23:17] austinmw commented on #4373
@tanmayv25 Hi, thanks for the plugin help! Just to summarize,

Here's my conversion config file:

[code]

Here's my resulting polygraphy output:

[code]

And here's my Triton config file:

[code]

Yet I still end up with following error:

[code]

[2022-05-27 09:06] bartengine27 opened #4436 "WSL2 CUDA SHM support"
**Description**
Starting the Triton Server r22.04 docker and executing the simple_grpc_cudashm_client results in:

`
0 + 1 = 0
0 + 1 = 0
error: incorrect sum
`

The output of simple_grpc_infer_client looks correct:

`
0 + 1 = 1
0 - 1 = -1
1 + 1 = 2
1 - 1 = 0
2 + 1 = 3 ...
`

**Triton Information**
r22.04

Are you using the Triton container or did you build it yourself?

container

**To Reproduce**

[2022-05-27 09:07] bartengine27 commented on #4434
Hi @dyastremsky

  Thanks for the feedback!

  Bug template was filled out https://github.com/triton-inference-server/server/issues/4436.

Thanks,
Bart

[2022-05-27 15:34] FrancescoSaverioZuppichini commented on #4245
Thank you a lot @dyastremsky

[2022-05-27 16:22] austinmw commented on #4373
It turned out to be a Myelin graph cudnn compatibility error that I was not able to see until testing with `trtexec` inference.

[2022-05-27 17:30] dyastremsky commented on #4434
Thanks, Bart! Closing out this ticket since that one has been filed.

[2022-05-27 17:30] #4434 closed

[2022-05-27 19:46] dyastremsky commented on #4350
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-27 19:46] #4350 closed

[2022-05-27 19:46] dyastremsky commented on #4308
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-27 19:46] #4308 closed

[2022-05-27 19:47] dyastremsky commented on #4306
22.05 was just released! https://github.com/triton-inference-server/server/releases/tag/v2.22.0

Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-27 19:47] #4306 closed

[2022-05-27 19:47] dyastremsky commented on #4276
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-27 19:47] #4276 closed

[2022-05-27 19:49] dyastremsky commented on #4344
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-27 19:49] #4344 closed

[2022-05-27 19:49] dyastremsky commented on #4288
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-05-27 19:49] #4288 closed

[2022-05-28 03:55] mikelam92 commented on #4331
We encounter the same issue, it stuck at loading model without returning an error. How can we properly diagnose? Thanks

[2022-05-28 18:09] austinmw commented on #2377
@Burachonok Hi, do you know if it's possible to use TYPE_FP16 as input?

[2022-05-28 18:19] austinmw opened #4443 "[Question] Reducing payload size"
Hi, I'm using Triton on SageMaker, and I have a payload size limit of 5MiB. This prevents me from sending high-res individual images, or large batches of medium size images.

I'd like to understand if there's a more optimized way to form my payload to reduce it's size. Maybe I could use jpeg compression or change my model somehow to support TYPE_FP16 input type? The fact that I'm just sending the

[2022-05-29 09:23] gandharv-kapoor commented on #4331
@Tabrizian seeing the same issue and unable to find any specific issue even from verbose logs. Even tried @huangyz0918 workaround but that didnt help either. Can you suggest a solution or possible workaround? This is blocking us from making any progress.
[code]

Pod.Yaml

[code]

[2022-05-30 02:31] Jackiexiao commented on #2156
to enable model weight sharing in pytorch backend, change pbtxt setting which mentioned [here](https://github.com/triton-inference-server/pytorch_backend/blob/df900ce3d3c03e7f34ce1e9518c09cc2bad520a5/README.md?plain=1#L167)

[2022-05-30 03:33] Jackiexiao commented on #2433
update link: https://github.com/triton-inference-server/client#client-api-for-stateful-models

[2022-05-30 03:35] Jackiexiao commented on #2433
update link: https://github.com/triton-inference-server/client#client-api-for-stateful-models

[2022-05-30 07:44] Phelan164 commented on #2025
@SkalskiP @inakivelasco did you try the export_model.py?
I tried with keypoints model but I got an issue when running on Triton server.
I tried with pytorch code and it works well
[code]
but when running on Triton server it have wrong dimensions.
`RuntimeError: Expected 4-dimensional input for 4-dimensional weight [64, 3, 7, 7], but got 5-dimensional input of size [1, 1, 3, 829, 1000] instead`

Do

[2022-05-30 07:58] inakivelasco opened #4444 "Download nvcr.io/nvidia/tritonserver:22.04-py3 file"
### How to download nvcr.io/nvidia/tritonserver:22.04-py3?

I know it is such a basic question but does anyone know how to download the **nvcr.io/nvidia/tritonserver:22.04-py3** file to start working with the triton server?

Thanks

[2022-05-30 08:59] SkalskiP commented on #2025
Sorry, @Phelan164. I don't have any experience with keypoint on Tritton :/

[2022-05-30 09:17] Phelan164 commented on #2025
@inakivelasco

how do you make this file? you create the file manually (I wonder about the input/output name)

[2022-05-30 09:46] wanduoz opened #4445 "model expected the shape of dimension 0 to be between 1 and 1 but received 32"
I want to use dynamic batching in triton plan model. I use pytorch hub resnet50 pretrained model and convert to onnx.
![image](https://user-images.githubusercontent.com/33130310/170957960-a0a1ec7c-40fc-48e1-aad2-08491275e968.png)

Model input and output information
![image](https://user-images.githubusercontent.com/33130310/170958432-2a3ae61e-17ee-4c2e-a64c-4ae6753c42bb.png)

Then I use trtexec to

[2022-05-30 10:12] #4444 closed

[2022-05-30 12:02] danielwonght commented on #4379
Hi @rmccorm4 ,

The issue I raised above might not be solved by this PR. I think the caching function is working in this case, as I mentioned

The input must be cached in some way. I think your saying is correct:

 However, when the input was constantly changing, the performance was degraded in comparison with the performance where I turned off the _Reponse Cache_.

By the way, I set --response-ca

[2022-05-30 14:39] Tabrizian commented on #4436
CUDA Shared memory is not supported on Windows yet.

[2022-05-30 14:39] #4436 closed

[2022-05-30 14:44] Tabrizian commented on #3941
You should compare the Server Request count with server execution count. As shown in the report that you've shared, server execution count is equal to the server request count. The client request count can be lower than the server request count since some requests might be ignored if they are not received within the expected timeframe. The inference count is the batch size of your request multipli

[2022-05-30 15:07] Tabrizian commented on #4445
The issue is coming from the model itself. I think in your scenario you don't need to use explicit batch and should build the model with implicit batch. (cc @tanmayv25 to correct me if I'm wrong here).

[2022-05-30 16:41] inakivelasco commented on #2025
You can create it manually, but don't know how. Maybe anyone with experience on this aspect know.

[2022-05-30 17:17] bartengine27 commented on #4436
Hi @Tabrizian

  Thanks for the feedback!

  Not supported as in an WSL2 limitation or a Triton limitation?

Thanks,
Bart

[2022-05-30 17:55] MrA2k2 opened #4447 "Issue with running .trt model"
Hi,
I am trying to deploy a custom model of Siamese NN on tritonserver (basically resnet50 + custom layer on top) in .trt format. However, I get the following output, which doesn't provide info of what the error is
[code]
Executing the same command in docker container with interactive mode produces the same traceback with the exception of adding
[code]
Any advice on fixing this issue would be grea

[2022-05-30 18:22] austinmw commented on #4443
After reading more docs, I think I need to use Triton ensemble with DALI preprocessing.

[2022-05-30 21:13] Tabrizian commented on #4447
@MrA2k2 Are you able to execute inference on your TRT model outside Triton?

[2022-05-30 21:15] Tabrizian commented on #4433
You need to compile the `triton_shm_monitor` and place the produced artifact in the qa/common/shm_util.py. You can look at the QA container to see how you can build the triton_shm_monitor: https://github.com/triton-inference-server/server/blob/27018e614614cb9720e34aec8d5bdafdcdc4857f/Dockerfile.QA#L180-L186

[2022-05-30 22:47] brightsparc commented on #4082
Hi @CoderHam thanks for getting support for `TYPE_STRING` into PyTorch with the new [PR](https://github.com/triton-inference-server/pytorch_backend/pull/60).  You can also update your [model_configuration](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#inputs-and-outputs) docs to reflect this type supported in PyTorch now (with the caveat )

Just wondering

[2022-05-31 02:15] haritsahm opened #4448 "Tritonclient cushm on multi-gpu server"
I have used tritonclient with grpc+cushm for a single gpu server, now i'm planning to scale the server with multiple gpus. When creating the [create_shared_memory_region](https://github.com/triton-inference-server/client/blob/efd1cbe0cca60e750aed395c78b3ee5c90139add/src/python/library/tritonclient/utils/cuda_shared_memory/__init__.py#L97), I have to set the `device_id`. If I have multiple system r

[2022-05-31 03:27] wanduoz commented on #4445
Thanks for replying. I try the belowing command
[code]

Then I use the same client code, but still get dimension error
[code]

(By the way, I don't know how cc someone. Do you mean @ someone?)

---

There are still questions bothering me.

1. When I use onnx or torchScript model in triton, Can I just set **optimization tensorrt** and the triton will conver model into tensorrt plan file(the 2nd que

[2022-05-31 07:29] zbh0323 commented on #4225
I tried what you said and got the following result。
<img width="548" alt="image" src="https://user-images.githubusercontent.com/41530068/171116865-73bff24f-094c-460c-8801-f0c8bf882423.png">

[2022-05-31 09:56] InfiniteLife opened #4449 "Torchscript backend error in multi-gpu environment,"
On system with 2 GPUs model runs fine whenever Triton places execution on GPU 0, but fails with this error if execution is placed on GPU 1:

[code]

Is this somehow related to model conversion? We used scripting to convert this model.

[2022-05-31 11:01] joihn opened #4450 "Build simple.cc"
I'm trying to use the C api.
`simple.cc` is the provided example
https://github.com/triton-inference-server/server/blob/main/src/simple.cc

I can't find the compiled version in the provided docker images ()
I tried to build myself using docker
` ./build.py  --backend=onnxruntime --enable-gpu`

But once again compiled `simple` isn't there.
(I guess the most likely place would be in `/opt/tritonserv

[2022-05-31 11:56] Jackiexiao commented on #3941
I am still confused, if some requests might be ignored, doesn't it means server get less request?

[2022-05-31 13:48] joihn commented on #2944
despite building triton myelf (with docker), the `simple` binary can't be found anywhere.
Any idea ?

[2022-05-31 15:42] joihn commented on #4450
solved, I had to modify `build.py` , l.1456 with
[code]
and to add ` libtritonserver.so` to the path via:
`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/tritonserver/lib`

[2022-05-31 15:42] #4450 closed

[2022-05-31 16:34] hyperfraise opened #4451 "Torchscript backend **MUCH** slower only with FP16"
**Description**
I'm converting a pytorch model to torchscript with or without fp16 precision, and I get much slower triton inference when using FP16, even though a torchscript benchmark shows it to be about the same speed. I've used the perf analyzer and I found out that the step taking much time is "compute output", which is very weird, isn't it ?

**Triton Information**
I'm using 21.12, 22.05 co

[2022-05-31 16:47] dyastremsky commented on #4225
Thank you for trying it and sharing the memory usage results. I'll close this ticket. Please reopen it if you would like to follow up on anything.

[2022-05-31 16:47] #4225 closed

[2022-05-31 17:07] Phelan164 opened #4452 "Question: support complex model out data struct (List[Dict[str, Tensor]])?"
**Is your feature request related to a problem? Please describe.**

I am trying to make model keypoints detection from Detectron2 running on the Triton server.
The issue is: output of model is quite complex `List[Dict[str, Tensor]]`

Does the Triton inference server support that?
If yes, any example to make config.pbtxt for this case?

[2022-05-31 17:54] #4051 closed

[2022-05-31 17:54] GuanLuo commented on #2607
Closing due to inactivity, if the issue is not resolved in newer release, please provide additional information requested in previous comment and re-open.

[2022-05-31 17:54] #2607 closed

[2022-05-31 17:57] Phelan164 commented on #4452
@dyastremsky

it is pytorch backend (platform: "pytorch_libtorch")

[2022-05-31 19:00] dyastremsky commented on #4452
The PyTorch backend supports having up to one input that is a dictionary of tensors, see here: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#special-conventions-for-pytorch-backend

You'll need to update the output of the model itself unless you write a custom backend. The workaround offered here would be a good starting point for converting a list to indi

[2022-05-31 19:00] #4452 closed

[2022-05-31 19:44] eanmikale commented on #4402
I have been able to solve this issue. I had to combine the server script and the client script, creating a new script, in order to get it to run, due to the openssl settings. It was arduous. it seems there were steps in the openssl certificate creation for the client, that was contained in the server. You can close the ticket. 

Regards, 

EM

---- On Thu, 19 May 2022 19:52:29 -0500 Hemant Jain **

[2022-05-31 23:06] GuanLuo commented on #4402
Glad to know that you have resolved the issue, do you mind to share how to resolve the SSL issue if it is okay for you, so that other may check it out if they encounter similar issue?

Closing the ticket as the issue has been resolved

[2022-05-31 23:06] #4402 closed

[2022-06-01 01:42] omri-cavnue commented on #4133
Hi @rmccorm4, I believe the issue is with the model architecture. For this test, I used the [Resnet50 FasterRCNN](https://pytorch.org/vision/stable/generated/torchvision.models.detection.fasterrcnn_resnet50_fpn.html) from PyTorch and converted it to a torchscript model.

This model takes in a list of tensors instead of a batch of tensors and I do not believe dynamic batching can be done due to thi

[2022-06-01 01:44] omrifried commented on #4133
Hi @rmccorm4, I believe the issue is with the model architecture. For this test, I used the [Resnet50 FasterRCNN](https://pytorch.org/vision/stable/generated/torchvision.models.detection.fasterrcnn_resnet50_fpn.html) from PyTorch and converted it to a torchscript model.

This model takes in a list of tensors instead of a batch of tensors and I do not believe dynamic batching can be done due to thi

[2022-06-01 01:58] rmccorm4 commented on #4133
Hi @omrifried ,

Thanks for the reference. Do you mind sharing

1. a script I can run as-is to generate the torchscript model (or share the model itself)?
2. the corresponding Triton config.pbtxt to serve the model

This would help greatly to save time to look into this, thanks.

[2022-06-01 02:26] nxty2011 commented on #4361
There is an problem in creating the shared memory via shm.create_shared_memory_region(<shm_name>, <shm_key>, <byte_size>). Because <shm_key> is the unified id of the created-shared-memory-regions, here you use the same identifier, namely "input_simple" in your code. Try Use "uuid" package to generate uuid to identify created-shared-memory-regions, and reference them by these identifiers.

[2022-06-01 06:54] NonStatic2014 opened #4453 ""POST v2/repository/models/${MODEL_NAME}/load" failed on 22.05 but works fine on 21.08"
**Description**
I used triton to create a service locally with command below:

[code]

Both 22.05 and 21.08 can load the model.

Then i try to unload the model "fashion" with

[code]

Both 22.05 and 21.08 can unload the model. Using `curl -X POST http://127.0.0.1:8000/v2/repository/index -v` verified.

Then try to load the fashion mode back with below json. It works fine on 21.08 but failed on 22.

[2022-06-01 08:07] Jackiexiao commented on #4362
I also have this error while using r22.05 with python backend decoupled model (one request, multi response), if I turn on response_cache, `error: response output count mismatch`, I will try to reproduce this problem on a simple case later

[2022-06-01 09:24] NotAnyMike commented on #968
Has something changed lately on this topic? I have faced this issue several times and is actually stopping us from fully moving to triton

[2022-06-01 11:15] haritsahm opened #4454 "Unable to use S3 model storage"
I've read all the other issues about this but I still can't use the s3 model. I have tried triton 21.10, 22.03 and 22.05 but still have the same problem. Note: some_bucket_name contain the model repository in s3

### Error response
[code]

### docker-compose
[code]

[2022-06-01 12:58] fifofonix commented on #3671
@MatthieuTPHR you can certainly overwhelm the model server in which case it will indicate it is unavailable for new requests so this is expected.  You can dynamically alter the depth of your consumer queue in response to server errors like this so that you feed the model server at an optimal rate and maximize throughput.

We do use this strategy in production and it is very stable.  For 98% of the

[2022-06-01 20:32] #4415 closed

[2022-06-01 20:47] GuanLuo commented on #4454
Have you tried different variants of specifying S3 repository as described [here](https://github.com/triton-inference-server/server/blob/main/docs/model_repository.md#s3)? I wonder if the S3 bucket is accessible from within the container.

[2022-06-01 23:09] GuanLuo commented on #4451
Interesting, Torch backend itself read the outputs from the framework in the same way regardless of the output data type, I wonder if you observe the same performance impact when running both models natively in PyTorch. You can also use [nsight system](https://developer.nvidia.com/nsight-systems) to profile the time spent in detail.

[2022-06-01 23:17] tanmayv25 commented on #4412
That is by design. For `max_batch_size = 0` you cannot have batch_size anything other than 1. Even during inference Triton core will ensure that the backends are delivered exactly one request at a time.
See here for more documentation: https://github.com/triton-inference-server/common/blob/main/protobuf/model_config.proto#L1653-L1660

[2022-06-01 23:24] tanmayv25 commented on #4412
model_warmup is a repeated field. If you want to run multiple requests in warmup, just replicate them in your model config.

https://github.com/triton-inference-server/common/blob/main/protobuf/model_config.proto#L1927-L1935

@GuanLuo  Will it make sense to add a repeat_count field in model_warmup? The sample will be repeated for that many times before going to the next execution.
I believe the @k

[2022-06-01 23:24] GuanLuo commented on #968
@NotAnyMike with decoupled API, your model can send 0 response which then ensemble will not invoke the next model as there is no tensor to be passed to the model. If above doesn't fit your use case, please create a separate issue and follow the template to provide more context, so we can track the issue better.

[2022-06-01 23:30] NonStatic2014 commented on #4453
Would you mind update below documents to mention which triton version or triton image version we should use?
* https://github.com/triton-inference-server/server/blob/main/docs/model_management.md
* https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_model_repository.md

I'm also looking for a real sample like what I mentioned the issue in the second link above. That

[2022-06-01 23:31] GuanLuo commented on #4447
It seems like you encountered the segfault when loading the model, can you build and run the debug version ([build instruction](https://github.com/triton-inference-server/server/blob/main/docs/build.md#building-with-debug-symbols)) in gdb to see when does the segfault happen?

You also mentioned that the model has "custom layer",  if that is a custom TRT plugin, can you take a look at this [doc](h

[2022-06-01 23:42] GuanLuo commented on #4448
You will need to set the device ID, in multi-GPU environment, it is used to identify which physical device the CUDA shared memory region is located in.

What is the reason that you don't / can't set the device ID? To use CUDA shared memory, I believe the client should know the characteristic of the shared memory which includes the device ID.

[2022-06-02 00:03] tanmayv25 commented on #4373
@austinmw  I am little curious. Can you describe the issue? Is there a known issue that you are hitting with Myelin graph?

[2022-06-02 00:17] GuanLuo commented on #4445
Can you examine your TRT model as described [here](https://www.ccoderun.ca/programming/doxygen/tensorrt/md_TensorRT_tools_Polygraphy_examples_cli_inspect_02_inspecting_a_tensorrt_engine_README.html) and see if it has the correct profiles (for dynamic shape)?

Some backends does support online conversion (i.e. ORT backend has TRT execution accelarator, also see [here](https://github.com/triton-infe

[2022-06-02 00:21] tanmayv25 commented on #4445
@wanduoz  As Iman pointed, the issue is coming from the model. The generated model does not appear to be dynamic.

Can you share the following output for the model.plan that you generated using trtexec?
[code]

You can use tensorrt optimization in onnx and torchscript model. But the models will still run via ORT and PyTorch backend respectively. The TRT optimization will acccelerate the inference

[2022-06-02 00:22] GuanLuo commented on #4443
The payload size depends on the input tensor that the model is expecting, so yes you may create an ensemble so that you can send compressed input to workaround the payload size limit and then perform the preprocess within Triton to restore the input tensor. Another way is to send the request in smaller batch size.

[2022-06-02 01:15] NonStatic2014 commented on #4453
The `test coverage` is using triton sdk. Do we have any sample using REST API directly?

[2022-06-02 01:50] haritsahm commented on #4454
I don't use local/private hosted s3. Yes I can access aws s3 using `aws cli` from the container and run `aws s3 ls` to display the data inside my s3

[2022-06-02 01:56] haritsahm commented on #4448
Ah I see, so I have to manually set the device Id. I set the `device_id` to 0 by default, but when I have multiple gpus then I have to set each client to the appropriate device id. I hope that it could automatically set the device id when I wanted to scale or replicate my app to use tritonclient/tritonserver without setting the device id.

[2022-06-02 15:33] austinmw commented on #4373
I think the MMDeploy docker container I build had some version mismatch, but didn't fail to build. I don't think I have the previous dockerfile anymore to check the exact error, but when running trtexec inference I was able to see the error in detail which I couldn't see with Triton logging.

[2022-06-02 15:33] #4443 closed

[2022-06-02 17:39] lross68 opened #4456 "Cannot load model from GCS when LD_PRELOAD env var is set"
**Description**
I am trying to deploy the [universal sentence encoder](https://tfhub.dev/google/universal-sentence-encoder-multilingual/3) using the method described in [this issue comment](https://github.com/triton-inference-server/server/issues/3604#issuecomment-982125998), which requires the `LD_PRELOAD` trick. When the environment variable `LD_PRELOAD` is set, triton fails to load the model fr

[2022-06-02 18:37] GuanLuo commented on #4453
Not yet, but the [comment ](https://github.com/triton-inference-server/server/issues/4453#issuecomment-1144095626)I mentioned earlier should help with the issue that you are facing. Can you verify it?

[2022-06-02 18:52] bryanmcgrane commented on #3805
Just to follow up. I have resolved the issue for my team. We now back up Triton in our own private container registry. When we build, we pull from our registry.

[2022-06-02 19:18] NavKumarGit opened #4457 "Conversion of Pbutils Output Tensor to Numpy Array with or without dl pack"
**Description**
No direct way to convert the Pbutils Output Tensor to Numpy which is not on CPU. Using torch dl_pack adds 890MB in the GPU as python backend stub process

**Triton Information**
What version of Triton are you using?
22.04

Are you using the Triton container or did you build it yourself?
Triton Container with custom python code functions and installation of torch in it.
**To Reprodu

[2022-06-02 19:28] dyastremsky commented on #3805
Thank you for the update, Bryan! Appreciate that you were able to find a workaround.

I'll leave this ticket open to work on until Hiren closes it, as this NGC issue is still impacting users.

[2022-06-03 10:33] wanduoz commented on #4445
@tanmayv25 @GuanLuo Thank you for your replies. I follow your instructions and make several experiments. ( I use another model so the shape changes).

1. use `polygraphy inspect model model.plan` to check the model structure. I guess -1 represent dynamic batch here and this is what I want. Then I use use triton to test.
![image](https://user-images.githubusercontent.com/33130310/171833672-99b0edea

[2022-06-03 13:21] hyperfraise commented on #4451
In python torchscript the FP16 model is about the same speed. Same for pytorch and torchscript.

[2022-06-03 14:35] Tabrizian commented on #4457
You can use any framework that supports DLPack to convert the GPU tensors. CuPy uses much less memory compared to PyTorch when initializing GPU tensors which may resolve your problem. Having said that, there is a feature request to add support for copying GPU tensors to CPU in Python backend.

[2022-06-03 14:59] InfiniteLife opened #4460 "InferRequestedOutput throws memory error during object destruction"
I have model with 2 inputs and 7 outputs, which works fine in Python client(it returns results).

When I use C++ client, 7th output gives an error. Only 7th one, if I request first 6 outputs and omit 7th, everything is fine.

Here is problem output:

[code]

After program is done and class destructor containing `yaw` and `yaw_ptr` is called, program aborts with error:

[code]

Model is Torchscript

[2022-06-03 18:05] tanmayv25 commented on #4445
This is not how it works. Please read [here ](https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#dynamic-batcher)for more information about Triton's dynamic batching. Triton only grows the batch and not breaks it into smaller batches. The client must make sure the batch size of their request is less than or equal to the max_batch_size supported by the model. Ot

[2022-06-03 21:57] xiaoyu-work opened #4467 "Build from source failed"
**Description**
Hi, I got build failed when building from source. This is the command I'm using to build:
[code]
I don't want to use Triton server base image, so I used my own base image that includes cuda 11.6, cudnn and TensorRT, and other dependencies from Dockerfile.basebuild. I just tried to add only onnxruntime as backend, but it failed. I didn't see any clear error message why it failed fro

[2022-06-04 04:09] wanduoz commented on #4445
@tanmayv25 You can ignore this two results. I have 4 models, torchScript, onnx, openvino and tensorrt. I just test the time interval before and after calling `triton_client.infer()`. Openvino and tensorrt cost less time than torhcScript which is reasonable. But the result of `perf_analyzer` seems abnormal and that is what i confuse about.

[2022-06-04 08:24] #4460 closed

[2022-06-05 03:34] MHS-Gautam commented on #4286
Hi @InfiniteLife , were you able to figure out the CmakeLists setup to run the Triton client library for your project? I am facing a similar issue. After providing the required paths for CMAKE_PREFIX_PATH, I was able to get the find_package(TritonClient) working but when I try to link grpcclient and httpclient I get linker error stating cannot find library? Also, when I provide absolute path to th

[2022-06-05 12:41] #4448 closed

[2022-06-06 03:45] ziyuanjiang opened #4470 "Can ragged input used together with stateful model?"
I have a PyTorch stateful model which I successfully used in the triton server with sequence_batching direct scheduling strategy.
In order to futher optimize the throughput, I want to use ragged batching.
After modification of my model to handle ragged input, I noticed that the PyTorch backend does not generate the configured batch_inputs and crushes when encountering a nullptr for that batch inpu

[2022-06-06 12:15] ziyuanjiang commented on #4470
According to this issue. https://github.com/triton-inference-server/server/issues/2158
It seems that it is the PyTorch backend who does not support ragged input.
Is the ragged input mainly implemented by individual backends?
If so, is it feasible for me to customize an backend specific for my model and add support ragged input?

[2022-06-06 12:40] Valterrsj opened #4471 "Run and query a finetuned T5 model in Triton Inference Server"
Hi guys! I have two questions, can you help me?

1) It is possible to use triton inference server for a finetuned T5 model with vocabulary with different size from the original (eg MODEL_VOC_SIZE = 32100). Do you have any guide or repository with example?

2) How do I send query to triton server with a T5 model? Do you have any guide or repository with example?

[2022-06-06 12:49] remib-proovstation commented on #4179
Following exchange with the nvidia team, the issue was solved by disabling IOMMU on the machine. Thanks for the support :

[2022-06-06 12:49] #4179 closed

[2022-06-06 15:41] Phelan164 commented on #3980
@fabiofumarola could you share `compose.py` to build on M1 also?

[2022-06-06 16:43] flawaetz commented on #4362
Just an update that I've tried to reproduce this issue using `perf_analyzer` with no success.  I've also tried capturing and pickling the queries that generate `response output count mismatch` to create a reproducible example but they don't seem to trigger the error when re-submitted to triton.  Could be I'm doing something wrong or the error is tripped by a particular query pattern or threshold.

[2022-06-06 17:40] msardonini commented on #3429
Hi @rmccorm4

I've been able to reproduce this issue using the 'simple' model, running the docker image `nvcr.io/nvidia/tritonserver:22.04-py3`. It happens when I run both the server and client in non-interactive mode.

To reproduce, cd to `server/docs/examples/model_repository`

### Start the triton-server
[code]

### Start the triton-client test
[code]
This fails with the error message:
[code]

[2022-06-06 20:07] #4471 closed

[2022-06-06 22:55] matthewkotila commented on #3941
Perf Analyzer is split into two parts that run concurrently. There is one part that sends requests to the server. And there is another part that observes and measures the requests being sent/received back from the server, to calculate performance metrics. In this situation, when a request is "ignored", it means that the second "part" of Perf Analyzer mentioned earlier is not observing a request se

[2022-06-06 23:21] GuanLuo commented on #4454
@haritsahm I am able to reproduce your issue and I am able to connect to the S3 bucket after adding proper `AWS_DEFAULT_REGION` to the `environment` field. Can you give this a try to see if it resolves the issue?

[2022-06-06 23:45] GuanLuo commented on #4467
It seems like the build log that you attached contains the actual error message, you can run `build.py` with `-j 1` which disable parallelism so that the build with stop once it encounters the error.

[2022-06-07 00:18] NonStatic2014 commented on #4453
Thank you @GuanLuo ! Update the config can make it through in the latest image.

Moving forward, can we add something like "new from 22.01" in the first line of the doc?

![image](https://user-images.githubusercontent.com/9442504/172269919-4bcc1470-0f86-4681-a3fa-c991239317d9.png)

[2022-06-07 02:02] Jackiexiao commented on #3941
thx

[2022-06-07 02:13] rmccorm4 commented on #4362
@Jackiexiao thank you for pointing this out, I have filed a separate ticket on this to look into decoupled model interaction with the response cache. Currently the cache assumes a 1:1 request<->response relationship, so the decoupled scenario (1->many) would likely not work as expected. If you are able to create a repro with a simple example, that would be great!

[2022-06-07 02:14] rmccorm4 commented on #4362
@flawaetz How are you sending requests to Triton when you can reproduce? Did you write a custom client? If so, can you share a simple client example that reproduces it?

[2022-06-07 02:49] haritsahm commented on #4454
Still no luck with adding `AWS_DEFAULT_REGION`. Tested with `21.10` and  `22.04`

## Command
[code]

## Env-file
[code]

## Output
[code]

[2022-06-07 03:27] k0286 opened #4477 "Server stuck for a while when declaring gpu tensor of torch or cupy in python backend in first time of inference"
**Description**
I'm trying the dlpack functions of `pb_utils.Tensor`, and I write a simple python backend to test it.
I declare a **gpu** tensor of torch, and call `pb_utils.Tensor.from_dlpack()` to import the torch tensor.
And I run the server and call the api by the client, the log shows that server will stuck at the line that declaring the gpu tensor.

**Triton Information**
- version: `22.05-p

[2022-06-07 04:27] Jackiexiao commented on #4362
@rmccorm4 I reproduce bug with this simple example: https://github.com/Jackiexiao/triton-decoupled-cache

[2022-06-07 04:43] haritsahm commented on #4454
Quick update, I manage to solve this by setting the `AWS_DEFAULT_REGION` according to the bucket aws region. I thought the default region was the same as aws default `us-west-2` atau `us-east-2`

Using the command
[code]

I tried using the docker compose but there are errors I'm trying to solve
[code]
[code]

[2022-06-07 07:57] niqbal996 opened #4478 "C-API onnx runtime error 2: not enough space: expected 3145728, got 786432"
**Description**
I am working on Triton C-API application in combination with ROS1 to do inference with a YOLOv5 custom model on ROS image topics. I have a working implementation of the same model with gRPC mode so the model and the config are correct. When I send the normalized image to the triton, it gives me the following error: In my opinion, the size of the image is correct and how it should b

[2022-06-07 08:17] santapo opened #4479 "Failed to register CUDA shared memory region 'fc6_1'"
**Description**
When running `perf_analyzer` with `shared-memory=cuda` for the `densenet_onnx` from docs example, I've met this error
[code]

**Triton Information**
I used Triton Server dockerfile: `nvcr.io/nvidia/tritonserver:20.05-py3` and `tritonclient==2.22.0`  from pip

**To Reproduce**
1. Run Triton Server with example model repository that contains `densenet_onnx`
[code]
- DenseNet Onnx con

[2022-06-07 08:49] LucQueen opened #4480 "run ci test fail"
when I run qa test follow with https://github.com/triton-inference-server/server/blob/main/docs/test.md

docker run --gpus=all -it --rm -v/tmp:/data/inferenceserver tritonserver_qa
cd /opt/tritonserver/qa/L0_libtorch_nvfuser
bash -x ./test.sh 22.04

and I got the error about can not find

cp: cannot stat '/data/inferenceserver/22.04/libtorch_model_store/resnet50_libtorch': No such file or director

[2022-06-07 08:57] yuxianmin opened #4481 "how to debug the model file when use python backend"
I want to debug whether the code logic in model.py is correct, and I need to output some variables in it, which cannot be displayed on the console after printing. Is there any way to debug? thanks

[2022-06-07 10:42] shrillr opened #4482 "Python backend with additional OS libraries"
**Description**
I have an ensemble model consisting of a pre-processing stage over a python backend and a PyTorch model. The pre-processing model's python backend involves processing some audio data with **librosa, which in turn requires an OS library (libsndfile).**

Deploying the inference server at the moment predictably complains that the module cannot find the OS library when attempted to be

[2022-06-07 12:53] Kokkini opened #4483 "Compute infer time increases linearly with batch size even with batching"
**Description**
Request latency and compute infer time of out-of-the-box inception_graphdef running on triton server increases linearly with batch size. With batching, the compute infer time is supposed to stay close to constant with different batch sizes instead of increasing linearly. Enabling/disabling dynamic batching doesn't change the behavior.

**Triton Information**
What version of Triton

[2022-06-07 16:59] hyperfraise commented on #3418
This "workaround" slashes the performance. I feel like this should be reopened.

[2022-06-07 18:34] tanmayv25 commented on #4483
Is this statement accurate? Doesn't it depend upon the model architecture? GPU and various different factors? I believe we must expect larger compute infer times for larger batch size as the model has to process more data. I would assume the increase to be not in the same order as the there would be more data-level parallelism available to the model.

Looking at your numbers:
[code]

`L2 < 2 x L1`

[2022-06-07 18:34] #4483 closed

[2022-06-07 18:41] dyastremsky commented on #4480
We'll likely need to update that documentation. Some tests require internal models that we have not made public, and I believe resnet50_libtorch is one such model. As a result, the QA can be helpful in validating your builds, but not all of the tests can be run by users.

[2022-06-07 18:41] #4480 closed

[2022-06-07 21:05] powderluv opened #4485 "SHARK Backend integration"
[SHARK](https://github.com/nod-ai/SHARK) is a high performance codegen compiler and runtime built on MLIR, IREE and custom RL based tuning infrastructure. [Here](https://nod.ai/shark-the-fastest-runtime/) are some results of using SHARK for the same model across PyTorch, Onnx, TF/XLA and SHARK.

We have an Triton Inference Server integration of SHARK that runs on CPU and CUDA devices here: https:/

[2022-06-07 21:17] tanmayv25 commented on #4485
@msalehiNV @dzier for visibility.

[2022-06-07 22:11] tanmayv25 commented on #4479
Unfortunately complete error message is not being reported. With [this](https://github.com/triton-inference-server/server/pull/4417) fix we should now report the complete error message. This will include the reason for failure. We have the feature being successfully tested in our CI [here](https://github.com/triton-inference-server/server/blob/main/qa/L0_perf_analyzer/test.sh#L205), so most likely

[2022-06-07 23:18] tanmayv25 commented on #4478
@niqbal996 It's great that you have the gRPC version running. The fact that grpc endpoint itself uses Triton C-API to issue inference to the model means that you can fix your implementation to run properly.

I think you need to change `size_t input_size = input_data.size();` to something like this `size_t input_size = 4* input_data.size();`

Each floating point element takes 4 bytes of memory. `TR

[2022-06-08 00:14] GuanLuo commented on #4454
Glad to know that you are able to resolve the issue. Closing the issue.

[2022-06-08 00:14] #4454 closed

[2022-06-08 00:48] Kokkini commented on #4483
@tanmayv25 Thank you for your quick reply. I agree that the time should be longer for larger batch sizes. However, in my case, it increases almost exactly linearly with batch size as you can see in the image below. Double batch size means double compute infer time.

<img width="999" alt="Screen Shot 2022-06-08 at 7 24 28 AM" src="https://user-images.githubusercontent.com/22306485/172505737-3dc88d0

[2022-06-08 00:51] tanmayv25 commented on #4456
From the issue it looks like they were able to properly serve the model on Triton via local storage. They see issue only when they try to use models from gcp.
The error indicates that there was an issue in getting the metadata from the GCP. The issue disappears when not using LD_PRELOAD for the custom ops and the server is able to receive the metadata successfully. Of course the inference fails as

[2022-06-08 02:02] yuxianmin commented on #4481
oh, this solves it,  thanks!

[2022-06-08 02:02] #4481 closed

[2022-06-08 02:25] k0286 commented on #4477
Thanks for your reply. However, it's not only `torch` but also `cupy` has same situation.
And is there any workaround for this situation?
Because I want to copy the data of `pb_utils.Tensor` from gpu to cpu, and the suggestted way by the instructions is to use `from_dlpack` function in `torch` or `cupy`.

[2022-06-08 04:45] Abdob commented on #2606
@vilmara  I see the deepstream/triton pipeline ran with the yolov4 model, did it produce correct outputs in the output video? I'm getting rectangles in random places in the video where it was running correctly without triton

[2022-06-08 06:55] Jackiexiao commented on #4481
FYI: If you want to print japanese/chinese character, you should set  `export PYTHONIOENCODING=UTF-8 `

[2022-06-08 07:39] wanduoz opened #4486 "openvino backend 2022"
I build triton server with docker. The version of tritonserver is 2.20.0. I want to add ov2022 backend into tritonserver so that I can use models converted by ov2022 runtime. I find ov2021 backend at /opt/tritonserver/backends directory.
![image](https://user-images.githubusercontent.com/33130310/172558141-1ca50954-577a-4535-9def-c5eb791f5b65.png)

Can I add ov2022 backend and how? I find an issue

[2022-06-08 07:42] yangyangyang0110 opened #4487 "Is there a good solution for video streaming? For example, RTSP and RTMP"
Hello,

For video streaming, how should this c/s architecture program transmit data, and where should the decoder be placed?

@tanmayv25

[2022-06-08 07:50] Pelps12 opened #4488 "Tensorflow and NVIDIA Triton Setup Issue"
I'm trying to deploy a Tensorflow SavedModel with Triton but even though all the logs seem to be fine, it times out.

Input Command:
[code]
Result:

[code]

System Configuration
GPU: NVIDIA RTX 2070 Max-Q
Driver Version: 516.01
CUDA Version: 11.7
Nvidia Container Toolkit: 22.05
Environment: WSL 2 Ubuntu 20.04

[2022-06-08 08:27] niqbal996 commented on #4478
Hi @tanmayv25,
Your fix is right on point. The ```input_data.size()``` gives me the number of entries and not the byte size of the array. Works like a charm. Thank you.

[2022-06-08 08:27] #4478 closed

[2022-06-08 10:31] chenle-tv commented on #4449
Hi @InfiniteLife , I got the same error, so I shouldn't place the model and tensor to "cuda" before converting the model to Script? How did you convert it? Looking forward to your reply, thanks!

[2022-06-08 11:08] NLCharles opened #4489 "[Solved] Bug: socket.timeout: timed out. Server failed to respond to requests"
Hello,
I have been experimenting on triton inference server. I found the server sometime failed to respond to requests. The client keeps raising ```socket.timeout: timed out error``` even if I try to catch the InferenceServerException and resend the request for up to 10 times.
What can I do to fix this?
[code]

[2022-06-08 11:59] sandeepy1 opened #4490 "How to delete a backend?"
I am working on a deepstream code that uses triton. Execution works fine on all pipelines exept the one I am working on, at this line:
`
2022-06-08 17:23:43.239624: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0
`
I think deleting the tensorflow backend will help (I am doing this because, I have tried everything else and have z

[2022-06-08 13:03] InfiniteLife opened #4491 "Triton server stops while making Async request from multiple threads"
Whenever I make inference request from 2 threads with `AsyncInfer`, after like 16-20 requests I get error from client:

[code]

and Triton server is also closes:

[code]

It works fine if I make inference request from one thread.
Model that is supposed to make inference is torchscript with `max_batch_size 128`, placed on 2 GPUs.

[2022-06-08 14:06] TheConstant3 opened #4492 "Throughput and concurrency values"
My perfomance analyzer result is: throughput 100 infer/sec (concurrency value is 100).
If the number of clients is 100, then the server will process at a rate of 100 or 10000 (100*100) requests per second?

[2022-06-08 14:36] Tabrizian commented on #4482
I believe conda should already take care of that automatically. You shouldn't need to link against the library manually. Are you installing the package with conda or pip? You may also need to set PYTHONNOUSERSITE=1 too to make sure the environment is isolated from the system env and all the dependencies are installed.

[2022-06-08 15:19] #4492 closed

[2022-06-08 15:22] #4490 closed

[2022-06-08 18:39] tanmayv25 commented on #4486
@wanduoz  looks like you already have encountered my response from
https://github.com/triton-inference-server/server/issues/4262.

 You can definitely build your own openvino backend with 2022 version using cmake. Use [TRITON_BUILD_OPENVINO_COMMIT_SHA](https://github.com/triton-inference-server/openvino_backend/blob/main/CMakeLists.txt#L48)  to provide the commit sha of ov2022.

  We don't support

[2022-06-08 18:57] tanmayv25 commented on #4487
[Nvidia DeepStream](https://docs.nvidia.com/metropolis/deepstream/dev-guide/text/DS_Quickstart.html#deepstream-triton-inference-server-usage-guidelines) is indeed our recommendation for video streaming workloads. Let us know if you have any question.