[2022-03-08 00:59] GuanLuo commented on #4013
To run the client example you must make sure the depending libraries are installed, please refer to the Dockerfile mentioned [here](https://github.com/triton-inference-server/client/tree/r22.02#windows) for the dependencies.

[2022-03-08 00:59] #4013 closed

[2022-03-08 01:07] GuanLuo commented on #4011
@askhade seems like ORT 1.10 has support for OpenVINO 2021.4.x, should the version [here](https://github.com/triton-inference-server/server/blob/main/build.py#L92) be updated?

[2022-03-08 01:15] GuanLuo commented on #4010
The segfault seems to be coming from Torch library, do you still encounter segfault with a different framework? If not, then the issue may not be within Triton.

[2022-03-08 01:24] CoderHam commented on #4011
I am doing the same here: https://github.com/triton-inference-server/server/pull/3977

[2022-03-08 01:28] CoderHam commented on #4010
@jackzhou121 was the segfault during inference? If so you should attempt to run the model outside Triton using PyTorch (C API) directly to confirm the issue is not specific to pytorch and lies in Triton.

[2022-03-08 05:14] LLsmile opened #4018 "ONNX configuration example"
Is there any onnx configuration examples for detection  model?

[2022-03-08 05:14] jackzhou121 commented on #4010
static std::shared_ptr<TRITONSERVER_Server> g_server;

if "g_server" is static wether gloable or local in my function, i have call TRITONSERVER_ServerDelete(g_server) before my program exited.

if "g_server" become  local and no static, the program can existed successful.

[2022-03-08 05:14] jackzhou121 commented on #4010
static std::shared_ptr<TRITONSERVER_Server> g_server;

if "g_server" is static wether gloable or local in my function, i have call TRITONSERVER_ServerDelete(g_server) before my program exited.

if "g_server" become local and no static, the program can existed successful.

[2022-03-08 05:23] jackzhou121 commented on #4010
when the program existed, i guss some resouce has double freed, the last free operation ocurred when the tritonserver has release all resouces

[2022-03-08 05:42] abdul756 opened #4019 "Inference time with triton server is more than the inference time without triton"
[code]
The method set_data_from_numpy is taking 300ms and this function is increasing inference time to 1sec.
The inference time with normal inference script is taking about 500-600ms.

Is there any way to reduce inference time with triton server ? Please help

[2022-03-08 07:55] xiaoFine commented on #3980
Same issues. try the command below if you just want to run the demo , which works for me

[code]

you can write input `--load-model` to load more specific models

[2022-03-08 08:23] fabiofumarola commented on #3980
Hi @jbkyang-nvi I'll share all the repository so that you can take a look. Anyway I've solved by building a docker image using the [compose.py](https://github.com/triton-inference-server/server/blob/main/compose.py) on my mac with m1 and specifying the in the build `--platform=linux/amd64`

[2022-03-08 09:11] #4018 closed

[2022-03-08 10:35] DeriZSY opened #4020 "Dynamically load multiple instances for the same model"
When using explicit mode for model control, seems like the number of instances created for a model is decided at loaded.
And we would need to unload the existing model, modify the config, and reload it if we need to adjust the number of instances loaded.

Can such operation be implemented easier, for example, we can load an instance of a model while another instance of the same model is already lo

[2022-03-08 11:48] jspabloq opened #4021 "ONNX CPU slower performance with a series of classification requests vs single one"
**Description**
Slower performance with a series of classification requests vs a single one

**Triton Information**
nvcr.io/nvidia/tritonserver     22.02-py3 + torch and transformers

**To Reproduce**
I created a custom pipeline from the Hugging Face ZeroShotClassificationPipeline. I am rewriting the _forward method where the inference takes place and calling the ONNX model served by Triton. If ca

[2022-03-08 17:23] SaratM34 opened #4022 "Triton Python backend not able to use conda env built on different OS"
**Description**
Hi Team,

i found an issue where I wasn't able to use conda environment built on macos with Triton. but it is working when the same conda environment is built on ubuntu. I found a caveat on conda pack page that says ```The OS where the environment was built must match the OS of the target. This means that environments built on Windows can’t be relocated to Linux.``` . Just wanted t

[2022-03-08 17:35] Tabrizian commented on #4022
the limitation mentioned in the conda pack website holds for the Python execution environments too. We have a similar note about this in the python backend docs: https://github.com/triton-inference-server/python_backend#using-custom-python-execution-environments (the note number 4).

[2022-03-08 20:24] ssrothman opened #4023 "Graceful handing of oom errors"
**Is your feature request related to a problem? Please describe.**
If a Triton server is fulfilling inference requests from several threads or several processes, this can sometimes overwhelm the available gpu memory. The current behavior when this happens is that the server prints an oom error and crashes. Eg:

`2022-03-08 19:50:57.703709351 [E:onnxruntime:, sequential_executor.cc:339 Execute] Non

[2022-03-09 00:40] cnegron-nv commented on #3978
@kimdwkimdw The bug referenced is about an ONNX model, not sure how it relates.

[2022-03-09 00:48] cnegron-nv commented on #3997
@TannedCung How are you determining that the memory is not being release?

[2022-03-09 01:05] rmccorm4 commented on #4023
Thanks for submitting this issue @ssrothman .

@GuanLuo @tanmayv25 any thoughts on this? Do we generally know available memory (whether GPU or CPU) in advance when requesting an allocation to handle this?

[2022-03-09 01:15] TannedCung commented on #3997
@cnegron-nv  I used `docker stats` to observe the tritonserver docker.

[2022-03-09 02:33] #4022 closed

[2022-03-09 02:37] rmccorm4 commented on #4021
Thanks for raising this issue @jspabloq.

Just to see if I understand your issue (perhaps pipelines aside) are you saying that you're seeing inference via a Triton request to an ONNX model served by Triton is ~2x faster than the time it takes to perform inference directly via python's `onnxruntime` directly?

CC @Tabrizian

[2022-03-09 07:51] WadoodAbdul opened #4026 "Ensemble model using BLS: stub unhealthy"
**Description**
I am trying to run tokenizer+encoder for a model in triton. This is implemented using triton BLS and adding in the encoder inference call in model.py. However, this is the error message upon inferencing the ensemble model through triton python client,
`Stub process is unhealthy and it will be restarted.`

**Triton Information**
22.01

Command to run docker triton:
[code]

**To Repr

[2022-03-09 08:32] MAhaitao999 opened #4027 "How to build server source code in a container?"
Hi all:
    I want to add some features (like model encrypt, decrypt...) in the server source code. If I build with docker, it is very very slow. So  Can I docker run a container, and only build the server source code in the container?

[2022-03-09 10:08] thuyngch opened #4028 "Can we load TensorRT model within the self.initialize method of the TritonPythonModel?"
Following this example, I create a TritonPythonModel: https://github.com/triton-inference-server/python_backend/blob/main/examples/pytorch/model.py#L50

But I want to load a TensorRT model within the self.initialize method.
Is it possible?

Thanks,
Thuy

[2022-03-09 14:07] Tabrizian commented on #4026
Thanks for filing the detailed issue. This looks like a bug. I have filed a ticket to look into this. Can you share your ONNX model too so that we can reproduce this issue?

[2022-03-09 14:31] Tabrizian commented on #4028
Are you talking about loading a TRT engine using the Python API in python backend? If yes, that is possible.

[2022-03-09 16:24] ssrothman commented on #4023
Hi, I switched to a more recent server version (I went from server_version=2.11.0 to server_version=2.15.0) and the exact behavior I want seems to have already been implemented: the oom errors are being caught by the server and thrown back at the client. If you confirm that I'm understanding this more recent functionality we can probably close this issue. Sorry about that!

[2022-03-09 18:44] tanmayv25 commented on #4023
@ssrothman  I believe this issue was fixed by this PR: https://github.com/triton-inference-server/onnxruntime_backend/pull/71

[2022-03-09 18:47] #4023 closed

[2022-03-09 19:17] letmerecall opened #4030 "Permission denied message"
**Description**
If we build an image using `nvcr.io/nvidia/tritonserver:22.02-py3` as the base image, we get a 'permission denied' message when trying to run anything with a non-privileged user.

<img width="903" alt="Screenshot 2022-03-09 at 11 56 24 PM" src="https://user-images.githubusercontent.com/19938474/157514270-63323a5d-4bee-4b7c-bb0a-a8d19c50e78d.png">

After digging a bit, the root caus

[2022-03-09 20:03] efog commented on #2291
The issue still occurs when the EC2 instance running underneath the ECS Task instance uses metadata service v2 (IMDSv2). Thus far, the only workaround is to revert to the v1 metadata service.

Setup:
Amazon ECS.
Task definition using Triton Inference server 21.03.
EC2 instance.

[2022-03-09 20:14] CoderHam commented on #2291
@TomasGajarsky we have noted your request to this enchancement.

@efog Can you try with a recent version of Triton Inference Server? 21.03 is nearly a year old. We [updated the version of aws-sdk-cpp](https://github.com/triton-inference-server/third_party/pull/6) used in Triton 8 months ago.

If you see the issue with the new Triton release as well please open a new ticket for the same with necess

[2022-03-09 20:18] GuanLuo commented on #4020
Currently this kind of scaling needs to be done in the way you mentioned, however, you don't need to explicitly unload the model first, instead, you just modify the model config and the load operation will reload the model appropriately. In this way, there will not be downtime of the model as the previous created instances will only be replaced when the new instances are fully loaded.

And with th

[2022-03-09 20:18] #4020 closed

[2022-03-09 22:11] CoderHam commented on #3923
@yaoyunda can you try using the --tmp-dir arg and building with https://github.com/triton-inference-server/server/pull/4029

I have removed the hardcoded /tmp directory usage.

[2022-03-10 00:07] rmccorm4 commented on #4030
Hi @letmerecall, we have recently updated the entrypoint scripts used in the Triton containers: https://github.com/triton-inference-server/server/pull/3983

I believe the next release 22.03 will contain these changes and may solve this issue you're seeing, as checking for `libcuda.so` looks to be done via `ldconfig` and `LD_LIBRARY_PATH` now in the new entrypoint scripts. I don't believe this requ

[2022-03-10 00:28] thuyngch commented on #4028
@Tabrizian Yes, it is exactly what I need.
Could you please give me a link to instruction or example?
Thanks!

[2022-03-10 00:37] rmccorm4 commented on #4019
Hi @abdul756, thanks for raising this question.

By "normal inference script", do you mean using a DL Framework directly (ex: Tensorflow) and not using any model serving via Triton?

CC @Tabrizian - any python backend performance tips that could help here?

[2022-03-10 00:41] rmccorm4 commented on #4017
Hi @wangchengdng, thanks for raising this issue.

Do you have a simple/minimal model that you can share for us to reproduce the issue? (the original model before conversion to TensorRT and the conversion steps you took to generate the TensorRT engine)

@tanmayv25 @GuanLuo any experience working with TRT engines making use of CUDA graphs?

[2022-03-10 00:50] rmccorm4 commented on #4015
Hi @sourabh-burnwal, we do not have any explicit support for Docker Swarm currently so I may not be of much help.

After a [quick search](https://stackoverflow.com/questions/53222530/getting-detected-task-failure-for-some-images-while-creating-docker-service) of your issue, it may be that the service container you're starting is not doing anything (simply printing the text banner above and exiting

[2022-03-10 00:56] rmccorm4 commented on #4027
Hi @MAhaitao999 ,

Our officially supported path is to make use of `build.py` as described in [docs/build.md](https://github.com/triton-inference-server/server/blob/main/docs/build.md), so we encourage you to do so.

You can use can use `build.py` with `--no-container-build` flag and it will build by just invoking cmake. It is your responsibility to make sure the host system or docker container ha

[2022-03-10 02:09] abdul756 commented on #4019
Hi @rmccorm4 , Yes right , By  normal inference script I mean using Tensorflow directly annot using any model serving via Triton. Please help to resolve the issue

[2022-03-10 03:18] ZhuYuJin opened #4035 "Possible to write dirty data in deprecated share memory in python backend?"
**Description**
Once achieved  a request batch, the python backend [maps a list of Request struct, called `requests_shm`, to the share memory first](https://github.com/triton-inference-server/python_backend/blob/main/src/python.cc#L725).
Then, the python backend [maps each request data to the share memory in consecutive order](https://github.com/triton-inference-server/python_backend/blob/main/src

[2022-03-10 03:23] ZhuYuJin commented on #4035
@Tabrizian Could you answer my confusion?

[2022-03-10 03:58] kimdwkimdw commented on #3978
When I convert `tf.math.l2_normalize` with fp32, triton inference works well.

But, I thought that this issue is related with fp16.
With fp16, trt(TensorRT) model without triton inference works well.
However, I tried this model with triton inference and TensorRT backend, it's result is  exploding.

[2022-03-10 04:53] #4011 closed

[2022-03-10 04:56] CoderHam commented on #3965
Closing due to inactivity

[2022-03-10 04:56] #3965 closed

[2022-03-10 04:57] #3952 closed

[2022-03-10 06:35] sourabh-burnwal commented on #4015
@rmccorm4 Thanks for replying. It was my bad, I forgot to add that. Now it's converging.
I have another doubt though. Since I am running a number of models, which requires me to pass --shm-size atleast 5G. How to pass shm size in docker swarm? I have followed this: https://gist.github.com/tomlankhorst/33da3c4b9edbde5c83fc1244f010815c to use gpu. But it doesn't seem to be working.
Could you help me

[2022-03-10 07:38] wurthel opened #4036 "Expose gRPC channel options"
Hello!

I see, you had thoughts about exposing gRPC options in `InferenceServerClient`:
https://github.com/triton-inference-server/client/blob/main/src/python/library/tritonclient/grpc/__init__.py#L213

Do you have any updates on it? Plans to start exposing them?

**Why it's worth exposing (my personal use case)**
We use gRPC protocol to communicate with Triton. We have more than 1 replica of Trit

[2022-03-10 07:59] DeriZSY commented on #4020
Thanks for the reply, my problem is solved! @GuanLuo

[2022-03-10 08:53] expresschen opened #4037 "when i increase the number of instance_group,the latency is not decrease. i use tensorrt platform"
**Description**
A clear and concise description of what the bug is.

**Triton Information**
tritonserver:21.12

Are you using the Triton container or did you build it yourself?

**To Reproduce**
Steps to reproduce the behavior.

Describe the models (framework, inputs, outputs), ideally include the model configuration file (if using an ensemble include the model configuration file for that as well)

[2022-03-10 13:40] ZJU-lishuang opened #4038 "How to set dynamic batching for tensorrt model?"
the tensorrt model has set max_batch_size big than 1.
[code]
Also enable dynamic batching config.pbtxt.
Meet following error.
`Error details: model expected the shape of dimension 0 to be between 1 and 1 but received 39`

Should I set [dynamic shapes](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#work_dynamic_shapes) in tensorrt like following?
[code]

[2022-03-10 13:56] Tabrizian commented on #4035
Just trying to understand your question, are you saying that if the shared memory is grown because we do not use the new mapped address the previous address is not mapped anymore and might cause issues? We do not unmap the old mapping when the region is grown, and as a result both the new mapped address and the old mapped address is valid. The old maps are kept in a vector: https://github.com/trit

[2022-03-10 14:18] ZhuYuJin commented on #4035
However, we may modify both the new mapped address and the old mapped address if the region is grown. Our data may be separated in several mapped addresses. How can we find the mapped address that has our desired data?

[2022-03-10 14:21] Tabrizian commented on #4019
I think this is not an apples-to-apples comparison. When using tensorflow directly, it doesn't need to transfer the data across the network and hence in doesn't include the network overhead. You could use `perf_analyzer` compute time (https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md#understanding-the-output) for a closer comparison with running directly in tensorfl

[2022-03-10 14:23] Tabrizian commented on #4035
Both of the mapped address spaces point to the same underlying shared memory region, so the new map always contains the old map data plus the grown region and because of this we don't need to track where the data is stored.

[2022-03-10 14:27] ZhuYuJin commented on #4035
So, we try to increase the size of the original shared memory region from the same address. If the operation is failed, python backend will simply throw exception?

[2022-03-10 14:29] Tabrizian commented on #4028
The guide below might be helpful: https://docs.nvidia.com/deeplearning/tensorrt/quick-start-guide/index.html

(@rmccorm4 feel free to share additional resources)

[2022-03-10 14:53] Tabrizian commented on #4035
It doesn't try to to increase the size of the original region from the same address. Python backend only uses a single shared memory region for each model instance. If it needs to increase the region size, it will just increase the size of the underlying shared memory region file. Because the mapping of the shared memory region file might not be valid anymore to cover the increased size, we create

[2022-03-10 14:56] ZhuYuJin commented on #4035
Got it. Thanks for your patience.

[2022-03-10 17:02] sourabh-burnwal commented on #4015
UPDATE: I added `--mount type=tmpfs,target=/dev/shm` in the command, and it executed perfectly. Thanks again for you help.
Closing the issue.

[2022-03-10 17:02] #4015 closed

[2022-03-10 18:33] #3802 closed

[2022-03-10 19:42] rmccorm4 commented on #4017
Model received - ticket 3530 / bug 3561162

[2022-03-10 19:43] WadoodAbdul commented on #4026
You can download the model from this [link](https://drive.google.com/file/d/1lgzMpXjjtdXSgfcLr-JT8a_yWh5N0peS/view?usp=sharing)
In case you want to see the conversion [script](https://colab.research.google.com/drive/13inuj9l7OSp9gwUtSucIl47xyXHSXnTx?usp=sharing)

Please let me know if you need further details. Thanks.

[2022-03-10 20:09] rmccorm4 commented on #4036
Hi @wurthel, thanks for submitting this request.

@tanmayv25 thoughts on exposing `grpc.lb_policy_name` specifically or more options generally?

[2022-03-10 20:14] rmccorm4 commented on #4037
Hi @expresschen,

1. Please fill in more information in the bug template such as the types of models/inputs/outputs/config/etc.

2. Also, please include more information about:
- hardware configuration - # CPUs, # GPUs, etc.
- number of concurrent requests being sent, etc.
- how did you test? perf_analyzer, custom client, etc.

Simply increasing the number of instances may not help throughput/late

[2022-03-10 21:32] tanmayv25 commented on #4036
I think we can expose channel_opt in the API for advanced users. The options provided in the dictionary can supercede other options in the API signature.

The idea of not exposing dict was to have some kind of feature documentation in our library.

[2022-03-10 22:13] CoderHam commented on #3141
@jwatte The reason you see this issue is because you are running make -j4 without specifying the targets. Can you try `make -j4 cc-clients` ? Refer to our [Dockerfile.sdk](https://github.com/triton-inference-server/server/blob/main/Dockerfile.sdk).

[2022-03-10 22:36] rmccorm4 commented on #4038
Hi @ZJU-lishuang , yes the `builder.max_batch_size` you referenced from the TensorRT API is from the older "implicit" batch style. I believe implicit batch should still work as long as you don't specify the `NetworkDefinitionCreationFlag.EXPLICIT_BATCH` flag when building your TRT engine.

However, "explicit" batch is preferred with optimization profiles for dynamic shape dimensions as you mention

[2022-03-10 22:55] rmccorm4 commented on #4030
Closing this for now. Please reopen or reference if still an issue in 22.03

[2022-03-10 22:55] #4030 closed

[2022-03-10 23:20] rmccorm4 commented on #3935
Closing since no response in > 2 weeks.

[2022-03-10 23:20] #3935 closed

[2022-03-10 23:22] rmccorm4 commented on #3908
Any updates here @tanmayv25 @jbkyang-nvi ?

[2022-03-10 23:23] rmccorm4 commented on #3897
Closing since no response in > 2 weeks.

[2022-03-10 23:23] #3897 closed

[2022-03-10 23:24] rmccorm4 commented on #3895
Closing since no response in > 2 weeks.

[2022-03-10 23:24] #3895 closed

[2022-03-10 23:27] rmccorm4 commented on #3738
Closing since no response in > 2 weeks.

[2022-03-10 23:27] #3738 closed

[2022-03-10 23:28] rmccorm4 commented on #3940
Docs have been updated in this PR: https://github.com/triton-inference-server/tensorflow_backend/pull/47. Closing

[2022-03-10 23:28] #3940 closed

[2022-03-10 23:37] rmccorm4 commented on #3418
Closing since workaround was found. Feel free to check if the issue still persists in the latest version of Triton and raise or reopen this issue.

[2022-03-10 23:37] #3418 closed

[2022-03-10 23:40] rmccorm4 commented on #3563
Hi @mshmnv,

Can you reproduce this in the latest Triton version 22.02 ?

[2022-03-11 00:49] thuyngch commented on #4028
I got it, thank you so much!

[2022-03-11 00:49] #4028 closed

[2022-03-11 01:24] #4038 closed

[2022-03-11 02:03] jbkyang-nvi commented on #3908
@lpfhs I think you can try to revert this commit https://github.com/triton-inference-server/client/commit/dea25eaac410553646562fa41c2432ea2961b617 if you need. This is the major C API changes if you feel adventurous. If not, I've created a ticket so we can fix this issue in another release

[2022-03-11 02:18] SimZhou opened #4042 "tensorflow_text support for Triton"
**Description**
**A clear and concise description of what the bug is.**
Triton 21.10 does not support `RegexSplitWithOffsets` op. Similar to https://github.com/tensorflow/text/issues/200 or https://github.com/tensorflow/serving/issues/1490

**Triton Information**
**What version of Triton are you using?**
I am using triton version: 21.10-py3

**Are you using the Triton container or did you build it

[2022-03-11 02:33] SimZhou commented on #4042
btw, I am transfering tf-serving to triton and the model works fine on Tensorflow Serving 2.7.0

[2022-03-11 03:01] SimZhou commented on #4042
duplicate of https://github.com/triton-inference-server/server/issues/2443

[2022-03-11 06:39] expresschen commented on #4037
hardware configuration: cpu:8,GPU:p100
docker command: docker run --gpus all --rm --shm-size=2g --ipc=host --ulimit memlock=-1 --ulimit stack=67108864 -p8000:8000 -p8001:8001 -p8002:8002 -v/home/fenbi/paragraphRecognition:/models nvcr.io/nvidia/tritonserver:21.12-py3 tritonserver --model-repository=/models --strict-model-config=false --grpc-infer-allocation-pool-size=16 --log-verbose 1
test：perf_a

[2022-03-11 10:39] SimZhou commented on #4042
Tried triton version 22.02-py3: issue remains.
Tried triton version 21.08 (which the version of tensorflow is the same as where I trained my model, 2.5.0, indicated by https://github.com/triton-inference-server/server/issues/3604#issuecomment-982125998 [support matrix](https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html)): Still testing.

[2022-03-11 14:00] alexraymond commented on #4002
Hi there,

Here are the steps I took, from a clean clone of the client repo:
[code]

Here is a complete log.
[client-build-log.txt](https://github.com/triton-inference-server/server/files/8232464/client-build-log.txt)

[2022-03-11 14:02] alexraymond commented on #4003
I ran a clean build with even fewer options than you had and it took 1h20min before failing at the issue described at #4002.

Here is the build log.
[client-build-log.txt](https://github.com/triton-inference-server/server/files/8232482/client-build-log.txt)

[2022-03-11 16:30] MAhaitao999 opened #4043 "Python Backend can not be loaded!!"
Hi all:
I built the triton server docker image using the offical build.py like the following cmd:
`#!/bin/bash

python3 ./build.py --cmake-dir=./build --build-dir=/mnt/disk/tmp/citritonbuild --enable-logging --enable-stats --enable-tracing --enable-metrics --enable-gpu-metrics --enable-gpu --filesystem=gcs --endpoint=http --endpoint=grpc --repo-tag=common:r21.07 --repo-tag=core:r21.07 --repo-tag=b

[2022-03-11 16:32] MAhaitao999 commented on #4027
Ok，thank u@rmccorm4, follow you `--no-container-build` guide, I have build it successful!

[2022-03-11 16:32] #4027 closed

[2022-03-11 16:59] Tabrizian commented on #4043
Looks like there are some unexpected characters in the `triton_python_backend_utils`. Are you building this on a different platform? The stackoverflow question below might be related: https://stackoverflow.com/questions/31233777/python-source-code-string-cannot-contain-null-bytes

[2022-03-11 17:23] xliado opened #4044 "Question on Concurrent Execution on the same GPU device"
**Description**
Hi team, we are trying to run multiple instances of the same model on the same GPU device. But it seems that the requests are executed in a sequential manner inside the same Triton server. However if we deploy the model across multiple Triton server, we found that the requests were executed in parallel. Could you pls take a look at our settings and I just want to make sure that we

[2022-03-11 17:46] jishminor opened #4045 "Auto-Setting upstream container version in build.py for no container build"
**Description**
When running a no container build using build.py, upstream image is not set resulting in failed docker image pulls for the desired backends.

**Triton Information**
r22.02

Are you using the Triton container or did you build it yourself?
Building myself using no container build

**To Reproduce**
Steps to reproduce the behavior.
Running on an x86 ubuntu 20.04 machine. Command being

[2022-03-11 18:52] jbkyang-nvi commented on #4002
@alexraymond can you instead do `make cc-clients python-clients java-clients` instead of just running make?

[2022-03-11 20:24] m-borkowski opened #4046 "Triton server crashed unexpectedly during loading TensorRT models"
Hello, I am using a Kubernetes setup for the Triton server and S3 as my model repo.
When I try to load TensorRT models, the server crashes unexpectedly. After a few attempts to restart it runs into `crashloopbackoff.
I tried to debug it myself, but I can't see from the logs if it's a Triton server configuration error or a model error.

**Last logs before crash**
[code]

**Example of model's config

[2022-03-11 22:20] GuanLuo commented on #4044
ORT backend and TRT backend should not have the issue as in Torch backend, can you share the whole model config (and repro steps) so we can have a closer look?

Also when you deploy the model across multiple Triton servers, do the servers share the same GPU like multi-instance-single-server case does?

[2022-03-11 22:35] GuanLuo commented on #4010
Do you mean in this case you will need to call `TRITONSERVER_ServerDelete` explicitly to exit normally? I would avoid using `static` keyword because Triton internally creates other static objects and this may cause unintended destruction orders which may be the cause of the segfault. So I think maintaining server object locally will solve the issue.

[2022-03-11 22:41] MAhaitao999 commented on #4043
I build it in Ubuntu18.04.

[2022-03-12 23:33] shoval-a commented on #4046
Can't see from your logs an indicative error message.
try to set `--log-verbose=1` to see more logs.

[2022-03-13 08:37] phanxuanphucnd opened #4048 "Onnx batchsize greater than 1"
Hello there, converted a ir50 model .pt to onnx with dummy_input=(1, 3, 112, 112) model was generated successfully.
[code]
When config.pbtxt with max_batch_size = 0 -> OK

[code]

When max_batch_size=8: ->  Poll failed for model directory 'ir50_onnx': model input has different size for dims and reshape for ir50_onnx

[code]

how to setup to max_batch_size=8 ? please helpme. thanks all

[2022-03-13 13:42] dumbPy opened #4049 "label_filename by axis support in classification extension"
**Is your feature request related to a problem? Please describe.**
For models like object detections, there might be more than one classification operation required. eg, for a coco object detection model, it might output 3 bounding boxes where each bounding box has 80 probabilities corresponding to each of [80 labels](https://github.com/amikelive/coco-labels/blob/master/coco-labels-2014_2017.txt).

[2022-03-13 13:45] leemengwei opened #4050 "Failed with Jetson NX using tensorrt model and docker from nvcr.io/nvidia/tritonserver:22.02-py3"
root@4d79eebce660:/opt/tritonserver# ./bin/tritonserver --model-repository=/models/ --strict-model-config=false  --backend-directory=./backends/
WARNING: [Torch-TensorRT] - Unable to read CUDA capable devices. Return status: 999
I0313 13:39:09.358429 60 libtorch.cc:1306] TRITONBACKEND_Initialize: pytorch
I0313 13:39:09.358685 60 libtorch.cc:1316] Triton TRITONBACKEND API version: 1.8
I0313 13:39:0

[2022-03-13 18:32] jspabloq commented on #4021
No, I meant the ONNX model with Triton Server is ~2x faster than the HF default PyTorch implementation. You can test it with the following code:
[code]
[code]
[code]
As you can see even with this unfair comparison between Triton and PyTorch (because of the Triton http request) it is still way faster. This is the reason I was expecting a similar speed up for the whole pipeline, as the code is the s

[2022-03-14 03:00] zbh0323 opened #4051 "[Question]Can TRITON POLL MODE hot-update the ensemble model?"
In POLL MODE, when I updated the subfolder corresponding to ensemble, the following error was reported:
<img width="957" alt="image" src="https://user-images.githubusercontent.com/41530068/158097243-369dee67-2e67-4b75-9414-ef0dfac325b3.png">

Another scenario, in POLL MODE, when I update the corresponding subfolder of a submodel in the orchestration model, the following error is reported:
<img wid

[2022-03-14 07:58] luvwinnie commented on #1777
Currently I'm back and try to implement the decryption feature for triton inference server.
From my understanding, the latest triton inference server can use a repository_agents to load a model and perform a check_sum check for example this [check_sum repository](https://github.com/triton-inference-server/checksum_repository_agent). However, I don't know which part should I implements the decrypti

[2022-03-14 08:06] sarperkilic opened #4052 "TorchScript model inference grid sampler error"
**Description**

Hello,

I am trying to deploy my torchscript model (with .pt extension) to Triton Server. I can deploy the model but when I try to send an inference request to the model I got following error:

[code]

I am also sharing my client script below:
[code]

I am using Triton docker container and OS is Ubuntu 18.04, x86-64.

What should I change in client script?

**Triton Information**

[2022-03-14 09:50] MrRace opened #4053 "【Question】how to set the ensemble_scheduling when do inference of multiple models at the same time"
Follow the guide in https://github.com/triton-inference-server/server/blob/main/docs/architecture.md#ensemble-models, I set my config below:
[code]
When do testing, It seems do inference of `model_1` and then do inference of `model_1`, not the same time . Maybe as the ensemble_scheduling is `step`. How to set the config when to do inference of `model_0` and `model_1` at the same time?
I have not f

[2022-03-14 13:11] rsandler00 commented on #2461
We also have this issue. Any updates?

[2022-03-14 13:24] rsandler00 commented on #2461
@deadeyegoodwin can you please clarify exactly what you mean here? Where does the `[-1, 1]` go in the config.pb file? Can you post a full example? Thanks!

[2022-03-14 13:25] Tabrizian commented on #4043
Did you try the solution in the stackoverflow link?

[2022-03-14 13:53] berengerlaurent commented on #3997
@TannedCung we are maybe facing a similar issue, we are using 21.10 right now our instance is using 64GB, previously with the same models and version 20.10 memory usage was never exceeding 25G.

[2022-03-14 17:38] Tabrizian commented on #4026
Thanks for providing the models. Will update you as soon as more info is available.

[2022-03-14 19:17] CoderHam commented on #3923
@yaoyunda reminder to use the linked PR to confirm it unblocks you from your build.

[2022-03-14 20:11] CoderHam commented on #3923
Closed with https://github.com/triton-inference-server/server/pull/4029

[2022-03-14 20:31] tanmayv25 commented on #2461
Triton does not support the models with scalar inputs. Triton layer relies on the shape to allocate appropriate buffer sizes. Our autofiller should emit more explicit error with this change: https://github.com/triton-inference-server/tensorflow_backend/commit/d04f535a61bb792fc7cf366b6e70635a853f403a

The solutions being proposed above are:
1. If it is possible then feed the input as a constant. It

[2022-03-14 22:04] GuanLuo commented on #4037
What is the max batch size you set in the model config? Perhaps the concurrency is not large enough and can be handled with 1 instance, thus the other 9 instances are not in used. And you should capture the GPU utilization while you are sending the requests so we know if the GPU is fully utilization with the current load / settings

[2022-03-14 22:30] dzier commented on #4052
What is your model config file?

[2022-03-14 22:35] dzier commented on #4046
Can you provide the steps and models for us to reproduce the error.

[2022-03-14 22:35] #4046 closed

[2022-03-14 22:35] dzier commented on #4045
This appears to be an oversight. Filing an internal bug.

[2022-03-14 22:43] CoderHam commented on #4052
@sarperkilic how was the torchscript model produced? The error indicates the model may have been traced / scripted on cpu instead of gpu.

[2022-03-14 22:45] cnegron-nv commented on #3978
@kimdwkimdw Can you run the model with trtexec and see if it runs correctly in this case?

[2022-03-14 22:53] cnegron-nv commented on #3997
@TannedCung if you try to execute something else after Triton is work is stopped, are you getting a failure?

[2022-03-14 23:01] CoderHam commented on #4050
@leemengwei there appears to be an error with the cuda environment. Which version of Triton are you using? Is it built by yourself or are you using the published tar release for jetson?

[2022-03-14 23:03] CoderHam commented on #4050
Please note that the Triton docker you pulled is likely for ARM SBSA. For jetson a triton docker is not supported and the way to use Triton on Jetson is using the tar file that is available in the release notes.

[2022-03-14 23:38] jbkyang-nvi commented on #4002
Hi @alexraymond can you try ^^ again. Also the README states:
[code]
It is the way to build Triton client.

[2022-03-14 23:45] GuanLuo commented on #1777
With the repo agent design, the decrypted model will need to be stored in a file system so your statement is correct that the repo agent should place the files to a directory with proper permission.

The customization you mentioned is feasible but that can't be done with current repo agent API, repo agent doesn't commute with the backends so you need to modify the backend code (`TRITONBACKEND_Mode

[2022-03-15 00:37] luvwinnie commented on #1777
@GuanLuo I'm planning to use docker to deploy the customized triton inference server which the server that I don't own the root permission, I think the person who has a root permission can use the docker command to copy the temporary models?
That's why i think there is a difficulty if I don't load the model straight forward to memory.

[2022-03-15 00:37] GuanLuo commented on #4051
I think this is similar to #2607, it is being tracked but we haven't have a chance to look into it.

[2022-03-15 01:15] CoderHam commented on #4050
Yes, Triton has supported Jetson for a while. However it is supported not as a container but via a tar file. Release refer to the [release page](https://github.com/triton-inference-server/server/releases/tag/v2.19.0) and [docs/jetson.md](https://github.com/triton-inference-server/server/blob/r22.02/docs/jetson.md).

SBSA: Server Based System Architecture. Jetson devices have a different compute st

[2022-03-15 01:33] dyastremsky commented on #4048
Take a look at the documentation for Reshape here: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#reshape

You'll notice that the batch size acts as an extra dimension when max_batch_size > 0. So your input dimensions are [batch_size, 3, 112, 112]. I don't believe you need the Reshape, since that's what your model is expecting. Reshape would try to turn eac

[2022-03-15 02:45] MrRace opened #4057 "Build openvino backend fail in container"
**Description**
I try to build openvino backend in my container which have installed triton、tensorrt 、tensorrt backend、onnxruntime backend and so on, I follow the guides in https://github.com/triton-inference-server/openvino_backend
However it fails and comes some errror:
[code]

**Triton Information**
The version of Triton is from branch r21.10, and I build it myself

[2022-03-15 02:51] dyastremsky commented on #4057
The error states that Docker is not found. If you're building in a Docker container, you need to have Docker accessible in it. There are resources available online for how to run Docker in Docker. One way is to run Docker with the default Unix socket docker.sock as a volume.

For example, when running your Docker container, include "-v /var/run/docker.sock:/var/run/docker.sock".

[2022-03-15 03:08] leemengwei commented on #4050
Problem solved. Very simple and compacted routine:

Step1, pull a docker from NGC:
docker pull nvcr.io/nvidia/tritonserver:22.02-py3

Step2, start this docker by:
docker run -it --gpus=all --rm --entrypoint /bin/bash -v/home/nvidia/user/triton_models/:/models/ triton219:v1

Step3, run server by:
./bin/tritonserver --model-repository=/models/ --strict-model-config=false --backend-directory=./backen

[2022-03-15 03:18] SimZhou commented on #4021
I don't get it.
1. Triton is faster than native pytorch inference, isn't that what you want?
2. In your code, it seems your `triton_inf` test script is not making use of your pre-defined tokenizer backend on triton server? it still calls the `tokenizer` function to do the tokenization. So what is the purpuse of writing that BLS?

[2022-03-15 04:16] kimdwkimdw commented on #3978
I've tested and checked my `model.plan` runs correctly with Python API (https://gist.github.com/kimdwkimdw/2188b4b9ff9f9bf2f7e8dbd999769796) (https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#python_topics)

This `model.plan` file doesn't run correctly in triton inference.

[2022-03-15 04:45] JaykingLJK opened #4058 "Server unloads models automatically after starting"
The triton server unloaded all my models automatically after I started triton inference server in container.
Normal condition after starting the server:
![image](https://user-images.githubusercontent.com/45059360/158307404-dcd6944f-222f-4b96-b472-d8da1ca03b0c.png)
What I experieced:
![image](https://user-images.githubusercontent.com/45059360/158307442-04e5c6bf-19d4-4902-8c0e-dfc6cfcfd02f.png)

I d

[2022-03-15 04:55] CoderHam commented on #4050
Interesting. The cuda and frameworks in the Triton container for ARM is built for Cuda 11.0. It is curious that it worked out of the box on a Cuda 10.2 machine.

@leemengwei thank you for brining this to our attention.

[2022-03-15 05:08] #4058 closed

[2022-03-15 06:16] sarperkilic commented on #4052
name: "simple-pytorch-model"
platform: "pytorch_libtorch"
max_batch_size: 32
input [
{
name: "input__0"
data_type: TYPE_FP32
dims: [ 3, 224, 224 ]
}
]
output {
name: "output__0"
data_type: TYPE_FP32
dims: [ -1,-1,-1 ]
}

[2022-03-15 06:18] sarperkilic commented on #4052
I have trained the model on the AWS EC2 service. During the training, I was using GPU.

And I produced the .pt extension torchscript model on the AWS service, too. I am not sure which hardware (CPU or GPU) is used for producing.

What is the correct way to produce torchscript model? I can re-produce the model on my laptop again.

Thanks

[2022-03-15 08:14] MAhaitao999 commented on #4043
Yes，I tried it, but it does not work.

[2022-03-15 08:19] expresschen commented on #4037
max batch size:10
How do I get  the GPU utilization？

[2022-03-15 09:44] youxingtian opened #4083 "RuntimeError: CUDA error: CUBLAS_STATUS_NOT_INITIALIZED when calling `cublasCreate(handle)`"
I use this command
```model-analyzer profile --model-repository /models/ --profile-models pytorch_bert --override-output-model-repository```
the error:
[code]

[2022-03-15 10:45] bro-adm commented on #3847
@Tabrizian
Hey, just to sum up

All you need to do is to run export LD_LIBRARY_PATH=/path/to/libpython/directory inside the container.

![image](https://user-images.githubusercontent.com/88341155/158355959-f404e0da-c9a6-484a-b90b-ca1202e283bc.png)

As said above, other than the stub that we set inside the /backends/python dir, the  libpython3.7m.so.1.0 is required as well.
So after creating the st

[2022-03-15 10:45] #3847 closed

[2022-03-15 11:10] zbh0323 commented on #4051
Do you have any plans to fix this problem? Or is there a relatively good scheme for hot update of ensemble model?

[2022-03-15 13:42] MrRace commented on #4057
@dyastremsky Thanks a lot for your prompt reply~And it can work when running my Docker container with  `-v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker`. By the way, if i want to  build openvino backend from  my  Dockerfile, How should I do to append  both  parameters `-v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker` in my Dockerfile

[2022-03-15 14:30] Tabrizian commented on #4043
Strange.. From the error it looks like there are some unexpected characters in the `triton_python_backend_utils`. Can you share the output of the command below:

[code]

[2022-03-15 14:51] alexraymond commented on #4002
You are right. _This is the way._
I was able to adapt my setup to run with `make cc-clients` as part of the build. I can close this issue now.

[2022-03-15 16:40] dyastremsky commented on #4057
Any time, glad it worked for you! For Docker questions, please check out [Docker's documentation](https://docs.docker.com/) or check with their support team.

[2022-03-15 16:40] #4057 closed

[2022-03-15 16:40] #4048 closed

[2022-03-15 21:41] bro-adm opened #4059 "Understanding Trace File"
Hey,

###### Basic Info
We are trying to create a production ready triton container and get its request logs. For that we found the trace triton configurations that give us exactly what we want.
We are trying to achieve metrics info about each request sent to the server.
The reason we are not using the prometheus & /metrics route will be written by my co-worker in the next comment in this Issue (q

[2022-03-15 23:58] dyastremsky commented on #3986
PR was merged. Closing this issue.

[2022-03-15 23:58] #3986 closed

[2022-03-15 23:59] dyastremsky commented on #3987
PR was merged. Closing this issue.

[2022-03-15 23:59] #3987 closed

[2022-03-16 00:08] dzier commented on #4053
Since there is no dependency between the models, it should launch both models. @MrRace, can you provide steps to reproduce the error?

[2022-03-16 00:53] #3852 closed

[2022-03-16 00:54] rmccorm4 commented on #4059
Hi @bro-adm, I'll try to answer the questions in a few comments to keep it easier to read.

**1. Trace Rate**

Setting `--trace-rate=1` should trace for every request as you describe.

CC @GuanLuo @tanmayv25 in case you are aware of any issues with doing this.

[2022-03-16 00:55] rmccorm4 commented on #4059
**2. Trace/log frequency**

Yes the `--log-frequency` setting was introduced recently in 22.02 as you point out: https://github.com/triton-inference-server/server/pull/3849. The behavior you see in earlier versions where the trace was only logged when the server exits is expected, and is now the default behavior when `--log-frequency=0` unless you set this to a different value. Here is the help ou

[2022-03-16 00:55] rmccorm4 commented on #4059
**3. Pytorch versions**

@CoderHam any thoughts on this?

[2022-03-16 00:58] rmccorm4 commented on #4059
**4. Trace JSON Output structure**

If I understand the question correctly, we document something like this:
[code]

but the user is seeing it broken out pairwise like this:
[code]

@GuanLuo @tanmayv25 any thoughts on this? We may want to update the docs if we changed the structure intentionally.

[2022-03-16 01:07] TannedCung commented on #3997
@cnegron-nv Triton only stops because of OOM, so if it stopped, the response shows "UNAVAILABLE". Nothing looks wrong while working

[2022-03-16 08:05] bro-adm commented on #4059
@rmccorm4

The thing is, we would think that maybe the Trace feature could come in handy as a separate image in itself that acts as a proxy container (sidecar container) or just another deployment that can receive all the request that the server gets (with the hep of API Gateways) when run on k8s (while still having the possibility to have this in the tritonserver image for those that run the serv

[2022-03-16 14:49] Miro001 opened #4061 "Error and server shutdown on http request."
**Description**
Server is launched without errors and is serving model with custom ops from tensorflow-text. (looks like it)
We are importing custom op from tensorflow-text, specifically the one that is causing errors is:

Http fails to respond

`curl -v localhost:8000/v2/health/ready`

[code]
and server shutdown with an error:

[code]
This does not happen without importing this specific custom op

[2022-03-16 15:57] chajath opened #4062 "Please add option to specify `grpc.default_authority` when creating python InferenceServerClient"
**Is your feature request related to a problem? Please describe.**
Sometimes `:authority` pseudo header is used to route gRPC calls. Once it's set when creating channel, it's tricky to override in each calls.

**Describe the solution you'd like**
An additional parameter to specify `grpc.default_authority` channel option when creating InferenceServerClient

**Describe alternatives you've considered

[2022-03-16 21:28] GuanLuo commented on #4049
I think the feature request in this issue is similar to the one in #3644, we do have a ticket to track that issue and it would be good to know if that may fit your need.

[2022-03-16 23:01] dzier commented on #4049
I have added this issue to our internal ticket as a second source.

[2022-03-17 03:45] wanghaohw opened #4064 "MOT model deploy question"
When I deploy a MOT model，I use stateful models feature and python backend.I send 85 frames(a 3s video) to the backend one by one, and then I can get the correct response.But when I send about 2000 frames(a 1.5min video),I  get the error ```1 sequence_batch_scheduler.cc:438] sequence 1 for model 'mot_tback' has a conflict. The previous sequence did not end before this sequence start. Previous sequ

[2022-03-17 05:32] laochonlam commented on #3717
Hi @handoku , may I know how do you build `simple.cc`? Thanks!

[2022-03-17 06:02] WadoodAbdul commented on #4026
Hello, @Tabrizian any updates on this issue?

Also, could you please share any resources/suggestions for inferencing encoder-decoder models in Triton?

Thanks

[2022-03-17 06:06] handoku commented on #3717
Generally, simple server willl be built alongside tritonserver binary.

If you want to build simple.cc only, just include relevant header files, compile it and link `libtritonserver.so`. The [CMakeLists.txt](https://github.com/triton-inference-server/server/blob/main/src/servers/CMakeLists.txt) can be helpful.

And I suggest you using tritonserver NGC container to avoid dependency problems.

[2022-03-17 06:09] laochonlam commented on #3717
Thank you @handoku so much for your speedy reply. That is super helpful!

[2022-03-17 07:34] mikhovr opened #4065 "Model Configuration is wrongly restrictive"
**Description**
When I'm trying to serve ONNX model, saved with the following configuration of `dynamic_axes`:

[code]

with the following config:

[code]

TIS doesn't load this model with error:
[code]

Isn't tensor shape `[-1,-1,25]` in configuration compatible with `[-1,256,25]` from ONNX signature?

**Triton Information**
Container `nvcr.io/nvidia/tritonserver:21.06-py3`

[2022-03-17 07:50] leemengwei commented on #4050
Sorry, for previous misleading. Must be too many host machines and dockers, got them muddled up....
nvcr.io/nvidia/tritonserver:22.02-py3 won't work,
Instead, use this Dockerfile:

[code]

Build by：
docker build  -t triton217ml:v1 .

And run it by:
docker run -it --gpus=all --rm -v/home/nvidia/lmw/triton_models/:/models/ triton217ml:v1 --model-repository=/models/ --strict-model-config=false --back

[2022-03-17 07:54] wanghaohw commented on #4065
There is only on dimension is dynamic```"logits":{0: "batch_size"},```，you can set ```"logits":{0: "batch_size",1: "para"},``` and have a try.

[2022-03-17 08:37] mikhovr commented on #4065
Yes, it's working with `"logits":{0: "batch_size", 1: "sequence"}`.
Also, it's working with
[code]
in Model Configuration.

The problem is that some of the production models are saved with the only `"logits":{0: "batch_size"}` and TIS config for them is generated from the template, thus making impossible using one config for the two types of models.

[2022-03-17 08:53] KarelvdVrie opened #4066 "Perf_Analyzer requires libcudart"
**Description**
I would like to use the `perf_analyzer` with the client from the pip package in a CPU-only client.
I install the Python library in a standalone Docker image. This enables me to run the client on CPU-only systems while communicating with a GPU instance of the TRITON server. While trying to use the analyzer in this image the following error occurs: `perf_analyzer: error while loading

[2022-03-17 09:02] MAhaitao999 opened #4067 "build the server in a container"
Hi all:
I docker run a container with the following command:
`docker run --gpus all -it --network=host \
           --privileged --shm-size=32g \
           -v /var/run/docker.sock:/var/run/docker.sock \
           --name=trtis_dms_workflow nvcr.io/nvidia/tritonserver:21.07-py3 bash`

in the container, I build the server with:
`./build.py --cmake-dir=/workspace/server/build --build-dir=/tmp/citrit

[2022-03-17 09:06] MAhaitao999 commented on #4067
![image](https://user-images.githubusercontent.com/8710394/158775154-cc691c35-5755-4033-861c-0067f1a39f67.png)

[2022-03-17 09:06] MAhaitao999 commented on #4067
I am very sure my model det is ok!

[2022-03-17 09:08] MAhaitao999 commented on #4043
I know the reason. Because the encryption software in my computer encrypts the python file. Thank you!

[2022-03-17 09:08] #4043 closed

[2022-03-17 11:59] arnabdas opened #4068 "Perf_Analyzer always throwing 'std::length_error'"
**Description**
We are trying `perf_analyzer` to profile our custom model for TTS with Triton. We are trying with various combinations of the options like the following.

[code]
But every time we got the following error:

[code]

What are we doing wrong in invoking the command.

**Triton Information**
We are currently using `v2.8.0`.

Are you using the Triton container or did you build it yourself

[2022-03-17 13:23] Tabrizian commented on #4066
It is not required to have a GPU but perf analyzer expects the CUDA libraries to be present even in the CPU only mode. If you don't want to install the CUDA libraries, you would need to compile the perf analyzer by yourself and set the `-DTRITON_ENABLE_GPU=OFF` in [this section](https://github.com/triton-inference-server/client#build-using-cmake).

[2022-03-17 13:31] Tabrizian commented on #4064
This indicates that the your client has not properly ended the previous sequence. You need to make sure that each sequence is ended properly before the new sequence is started. Are you executing the clients in parallel? If so, each client must use a different sequence ID to make sure it is not interfering with the sequence from other client. There is complete documentation about this in the link b

[2022-03-17 13:40] #4066 closed

[2022-03-17 15:47] dzier commented on #4067
How are you launching Triton in the container? That error means it could not find the model directory `det`. I noticed that you virtual link or mount to an local drive in the docker run command.

[2022-03-17 15:52] dzier commented on #4065
That is by design, Triton expects a model config for each type of model, so if you have two different types, you will need two different model configs.

[2022-03-17 15:55] dzier commented on #4062
We are currently implementing support to expose custom GRPC channel settings. I will reference this issue in that ticket to see if the engineers can expose `:authority` as part of that effort.

[2022-03-17 15:58] #4065 closed

[2022-03-17 20:40] dyastremsky commented on #4068
Could you provide a backtrace and reproduction instructions? Does the model load/infer normally when loaded onto Triton? If so, it may be an issue with the input data. The -z flag to send all zeros for the model often helps; otherwise, you may need to provide mock data.

This seems to be a model-specific issue, not an error originating from perf_analyzer or Triton. I don't know if it's relevant to

[2022-03-18 01:35] arnabdas commented on #4068
We are able to get audio output using python `tritonclient.grpc` [client](https://pypi.org/project/tritonclient/). However we are facing issues with the `perf_analyzer`.

Also how to provide mock input for TTS perf analysis.

[2022-03-18 01:44] dyastremsky commented on #4068
For providing mock input, please take a look here: https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md#input-data

[2022-03-18 02:14] MAhaitao999 commented on #4067
`/tmp/citritonbuild/opt/tritonserver/bin/tritonserver --model-repository=/models`
![image](https://user-images.githubusercontent.com/8710394/158924417-7c80e013-3015-46d2-b9a5-daeec23997f6.png)

[2022-03-18 02:42] wanghaohw commented on #4064
@Tabrizian Thank you for your advice, I have solved my problem.

[2022-03-18 03:14] rmccorm4 commented on #4036
Hi @wurthel, we have a ticket now to track this enhancement request, thanks for filing this.

[2022-03-18 08:33] Massendefekt opened #4072 "Support connection strings for Azure-backed modelrepo"
**Is your feature request related to a problem? Please describe.**

Currently, connections to model repositories backed by azure storage can only be authenticated via environment variables. This is suboptimal in cases where triton is embedded in another application or model repositories are changed dynamically (both is the case in my application).

**Describe the solution you'd like**
Add support

[2022-03-18 18:43] jbkyang-nvi commented on #4068
Also would be helpful if you could provide a backtrace of the dump!

[2022-03-18 19:40] dyastremsky commented on #4072
Thank you for submitting this feature request and offering to contribute it. We've created an internal ticket to track it and will get back to you soon.

[2022-03-19 00:43] krishung5 commented on #3593
Hi @philnguyenresson, do you have a TRT model that you can share for us to reproduce the issue?

[2022-03-19 21:48] dominusLabs opened #4078 "POSTing Base64 image to Triton running YOLOV4/TensorRT model"
Hello!

I'm still getting used to Triton and figuring it out, since I only heard about Triton ~3 days ago. We're looking to use it to deploy our YoloV4 model, optimized with TensorRT using Triton.

Currently, we're running a very basic Flask server. We use a NodeJS script to send an image as base64 and POST it to our Flask API. The API then takes the base64 data and saves it to a file, which is th

[2022-03-20 05:21] dominusLabs opened #4079 "Triton Inference Server taking adding 3 seconds to get YOLOv4 Inference"
Hello,

Just recently setup Triton to work with our YoloV4/TensorRT model. However, I noticed that inference is taking a long time, ~3 seconds. This didn't seem right, so I fetched the verbose logs and got this back

[code]

So it seems that the actual inference only takes ~10-15 milliseconds, which seems normal. However, before  that, the logs show

[code]

I tried to search in the docs, on Googl

[2022-03-20 18:46] sandeepy1 opened #4081 "object class 'GstNvInferServer' has no property named 'input-tensor-meta'"
I am trying to run faster rcnn from [here](https://github.com/NVIDIA-AI-IOT/deepstream_triton_model_deploy/tree/master/faster_rcnn_inception_v2)

But getting this error:
[code]

[2022-03-20 22:00] dominusLabs commented on #4079
The error seemed to come from our client script. We rewrote it and inference times normalized.

[2022-03-21 05:54] brightsparc opened #4082 "feat: Add `TYPE_STRING` support to PyTorch backend"
**Is your feature request related to a problem? Please describe.**
Triton Model configuration [datatypes](https://github.com/triton-inference-server/server/blob/r22.02/docs/model_configuration.md#datatypes) for PyTorch do not yet support `TYPE_STRING`, we would like this support to enable end-to-end model low-latency inference in ludwig.ai

**Describe the solution you'd like*
We have a torchscript

[2022-03-21 08:15] Miro001 commented on #4061
Thanks for the response.

- Does this library depend on RE2 as well?
 Yes. It depends on RE2 as well.

- If so, can you check if it is built with the same version of RE2 in the docker container?
I was not able to find the exact build environment of this official pip package. I dont think it is available. However i tried to compile it myself  with official nvidia image (`nvcr.io/nvidia/tensorflow:2

[2022-03-21 09:54] bro-adm commented on #4059
Ok, we have decided to try and migrate our models to a compatible backends version accessible in this newer triton versions.

We are having use cases when we set the log-frequency to 1000, but then we have a slower inference hour and we would like to have a log-frequency by time parameter as well. That being said, triton should be  configurable by both log frequencies at the same time -> --log-fre

[2022-03-21 19:10] dyastremsky commented on #4081
That error is not from Triton. It looks to be an error from the Gst-nvinferserver plugin. Opening an issue in the source repo you linked or perhaps DeepStream is your best bet.

[2022-03-21 19:10] #4081 closed

[2022-03-21 19:16] dominusLabs commented on #4078
Closing as the tensorflow-js library seems to be able to do what we need it to. Will open again in case that doesn't work out.

[2022-03-21 21:03] dominusLabs opened #4085 "YoloV4 Inference with Triton produces different output than with TensorRT"
**Description**
We're using Triton to run a YOLOV4 TensorRT model. However, the inference output from Triton doesn't seem to match the format detailed by the extension_classification documentation. Additionally the inference output, the confidence percentage being returned by Trition is different than when we run the TensorRT engine directly.

**Triton Information**
What version of Triton are you

[2022-03-21 22:00] #4078 closed

[2022-03-22 05:19] BorisPolonsky commented on #3781
I compared both the optimized & unoptimized version of model using `/v1/models/<model_name>/metadata` api from  `tensorflow/serving:2.8.0-gpu`. Here's what I got.
Original model
[code]
TRT Optimized model
[code]
There's a `"__saved_model_init_op"` with output type `"dtype": "DT_INVALID"`. I don't know if this is causing the problem.

[2022-03-22 05:39] dominusLabs commented on #4085
I realized an image might be helpful regarding the output format, so here it is.

We've managed to figure a way around this by just working with the raw output from the inference (removing the labels.txt, and not passing in class_clout to the inferenceRequestOutput. However, we're still interested as to why this might have occurred for future reference

[2022-03-22 08:33] ChenCheng368 opened #4087 "Device memory is insufficient for Jetson example"
Hi,
I am trying out Jetson example concurrency_and_dynamic_batching with Jetson Nano (4Gb RAM). When converting model .etlt file to tensorRT,  with $bash convert_peoplenet.sh to run tao-converter, Nano reports insufficient device memory and skips all tactics:

*******************************************************************************
[INFO] [MemUsageChange] Init cuBLAS/cuBLASLt: CPU +158, GPU

[2022-03-22 14:00] naor2013 opened #4088 "Request to cherry-pick fixes in tensorrt-backend for 22.03"
If it's not too late, can you cherry pick the fixes in tensorrt-backend to 22.03?
Specifically the one that is important to me is https://github.com/triton-inference-server/tensorrt_backend/pull/26

I tried to build the tensorrt-backend by myself and while it seems that Triton found that backend and didn't fail to load it, the bug still remained so I probably did something wrong.
So it would be gr

[2022-03-22 14:24] rmkraus opened #4089 "Input to the script for publishing models to mlflow is overly particular with inputs"
**Description**
When using the `publish_model_to_mlflow.py` script, if the value given for the `--model_directory` argument has a trailing `/`, the script will bomb in interesting ways.

**Triton Information**
What version of Triton are you using? 2.19.0

Are you using the Triton container or did you build it yourself? container

**To Reproduce**
[code]

This gives the following error:

[code]

Th

[2022-03-22 21:09] deadeyegoodwin commented on #4088
22.03 release is already past code freeze so no additional changes will be added. The TensorRT backend fixes will be in 22.04.

[2022-03-22 21:09] #4088 closed

[2022-03-22 21:13] deadeyegoodwin commented on #4085
Looks like label_filename is disappearing from your config for some reason. Are there any warnings or errors in the console log? Can you share the entire console log with --log-verbose=1.

[2022-03-22 21:18] deadeyegoodwin commented on #3781
Does the model run correctly outside of triton? For example, does it run correctly with trtexec?

[2022-03-22 21:24] deadeyegoodwin commented on #4083
@youxingtian Are you able to run this model outside of triton and model analyzer? You may need to send real inputs to the model for it to operate correctly: https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md#real-input-data

[2022-03-22 21:28] deadeyegoodwin commented on #4059
In recent triton versions there is a trace API that you can use to change the trace parameters: https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_trace.md

[2022-03-22 21:30] deadeyegoodwin commented on #4061
You will need to ask Tensorflow: https://github.com/tensorflow/tensorflow

[2022-03-22 21:30] #4061 closed

[2022-03-22 21:35] deadeyegoodwin commented on #4072
@CoderHam  I think this is a feature we may be generally interested in. Can we support a contribution?

[2022-03-22 21:48] deadeyegoodwin commented on #4067
Are you running build.py from the 21,07 branch of the "server" repo? Can you post the entire console log.

[2022-03-23 00:47] GuanLuo commented on #4059
The trace logging is event based so it is hard to write to file periodically. However, the collected traces will be written to file in the case of updating trace setting, so you can utilize the trace API mentioned above to trigger the write on demand.

[2022-03-23 02:52] dominusLabs commented on #4079
Reopening the issue since the issue is occurring again, this time with the perf_client as well

![Screenshot_from_2022-03-22_21-51-02](https://user-images.githubusercontent.com/46234492/159614462-0499efd2-a6d2-48f0-9866-c3dbcb40cd02.png)

[2022-03-23 02:57] dominusLabs commented on #4079
Here is a full verbose log from the run (with only 1 inference, as I believe adding any more would simply be unnessesary)

[code]

[2022-03-23 03:20] spxcds opened #4094 "Some confusions about MessageQueue in python backend."
**Description**

In python backend, there's a class named MessageQueue. When I performing a push operation, [(*index_)++](https://github.com/triton-inference-server/python_backend/blob/main/src/message_queue.cc#L120), and [(*index_)--](https://github.com/triton-inference-server/python_backend/blob/main/src/message_queue.cc#L148) will be executed when there is a pop operation.

Therefore I consider

[2022-03-23 05:13] dominusLabs commented on #4085
Sure, there is the output

[code]

[2022-03-23 07:00] ChenCheng368 commented on #4087
cc @CoderHam
cc @deadeyegoodwin

[2022-03-23 09:16] ChenCheng368 commented on #4087
I found out the solution. Instead of running convert_peoplenet.sh, manually run ./tao-converter with smaller batch-size augments -b and -m.
The original settings of batch-size is 16 and max batch is 64. After config them to smaller size I am able to convert the model successfully.

[2022-03-23 09:16] #4087 closed

[2022-03-23 13:26] AlbertZheng commented on #3652
@tanmayv25 One more question: if a idle timeout triggered a sequence in stale status, will the tritonserver automatically send a END flag to the corresponding backend? if not, how can the backend know when it will need to release its session resource for this idle sequence? As you know, if the user CTRL+C or kills the client, the tritonserver & the backend will never receive END flag from client a

[2022-03-23 13:36] Tabrizian commented on #4094
You're correct. This is a message stack. Having said that, it has been converted to a message queue in an upcoming PR. https://github.com/triton-inference-server/python_backend/pull/128

Can you elaborate on this? I don't think there is a case where the messages will not be visited.

[2022-03-23 13:46] Tabrizian commented on #4026
Sorry for delay in getting back to you. I tried to reproduce this issue, however, it seems like one piece of the puzzle is still missing:

[code]

When I run the Python model, I receive the error below:

[code]

Can you share the content of mbart_tokenizer_encoder file? Alternatively, it would be great if you can share your model repository and client file and lead to this error. Thanks.

[2022-03-23 15:08] PauloFavero opened #4095 "Is it possible to make gRPC to use a unix socket instead of TCP in Triton Server?"
We have a streaming service that uses gRPC with Unix sockets.
The gRPC performs way better with Unix socks in comparison with a TCP port. I saw that you can only change the port in the triton server for the gRPC connection.

An option to change the gRPC connection protocol could be viable in the future as a new feature? Is there a way to do that with the current implementation?

Thanks

[2022-03-23 17:00] eanmikale opened #4096 "Client Hung"
When running the client the following line gets hung... Hardware Jetson Nano Jetpack 4.6 256GB Micro-SD WIFI

./image_client -m densenet_onnx -c 3 -s INCEPTION /path/to/image

The server shot is below...

![Servershot1](https://user-images.githubusercontent.com/25436318/159754630-f2ac02d7-a3d6-4e12-ab09-c8b6fe25b2be.png)

Any assistance is appreciated.

[2022-03-23 17:47] CoderHam commented on #4096
@eanmikale can you use the --log-verbose=1 argument while running the server?

This will allow you to see the server logs and confirm that the server received the request.

Which version of the Triton Jetson tar are you using for your experiments?

[2022-03-23 18:38] CoderHam commented on #3866
@SimonLliu I am unable to reproduce this error.

[2022-03-23 18:42] tanmayv25 commented on #3652
@AlbertZheng  Triton does not send a request with END flag upon idle timeout. The solution can be to have your own reaping thread in the backend that releases the resources for sequences that have timed out. The backend would not see the requests for these sequence.

[2022-03-23 19:34] dominusLabs commented on #4079
We can the client and the inference server on the same machine and inference was returned in ~50ms, which was the expected behaviour. However, running the same client script on a different machine still results in a 3 second delay in inference. We are not using the shared memory command when launching the inference server or in the client and everything is done over GRPC.

[2022-03-23 22:12] dominusLabs commented on #4079
Following up on the network latency theory from above ^ we tested on 3 different systems, all running Ubuntu 20.04.

The Triton Inference server is located on a GCloud VM that is running on a Tesla T4. It is located in us-west1-b. All tests were ran using the same server instance/container and the same client script/image.

We tested on the same VM that was running the Triton Inference Server, and

[2022-03-23 23:42] mprithiv opened #4101 "Failed to load model - Unknown Builtin Op Torch Sparse"
**Description**
Failed to load a GNN model
failed to load 'gat' version 1: Internal: failed to load model 'gat':
Unknown builtin op: torch_sparse::ptr2ind.
Could not find any similar ops to torch_sparse::ptr2ind. This op may not exist or may not be currently supported in TorchScript.
**Triton Information**
What version of Triton are you using?
22.02-py3
Are you using the Triton container or did yo

[2022-03-24 01:47] spxcds commented on #4094
I read other codes in python backend, `MessageQueue` works fine in actually.

Thanks for your patience.

[2022-03-24 01:47] #4094 closed

[2022-03-24 02:40] dominusLabs commented on #4079
We switched to using the HTTP client, since we're more familiar with HTTP than GRPC. We also started using `deflate` compression. With these changes, we managed to reduce the time by ~50%, so the inference is taking ~1500ms from a computer in Texas to the VM hosting Triton in us-west1-b. However, this is a long shot from the ~50ms inference roundtrip being offered by a VM in the same region.

We a

[2022-03-24 03:01] dominusLabs commented on #4079
Here is a more simplified output of a request lifetime
[code]
00000 02:47:30.059975 1 Triton Client actually sending now
====================== SERVER =========================
I0324 02:47:30.555256 1 http_server.cc:2976] HTTP request: 2 /v2/models/yolov4-standalone/infer
I0324 02:47:30.555315 1 model_repository_manager.cc:590] GetModel() 'yolov4-standalone' version -1```

Part #2
[code]
I0324 02:

[2022-03-24 06:05] chiehpower opened #4102 "Deploy Triton server with MinIO as Model Store"
**Description**
Hi all,
I was trying to deploy the Tirton server with MinIO as a model store.
I have referred to this article; however, this way is to deploy on AWS S3.

My Triton server and MinIO are all deployed on localhost. (In my personal desktop)

I already uploaded the model to MinIO. (The model was downloaded from [here](https://github.com/triton-inference-server/server/blob/main/docs/exam

[2022-03-24 07:09] eanmikale commented on #4096
I tried with the flag you provided, and the C++ version of the image_client still hung. I tried the python version and got the following:

python3 image_client.py -m inception-graphdef -s INCEPTION /home/infinit8enano2/server/docs/images/mug.jpg
Traceback (most recent call last):
  File "image_client.py", line 327, in <module>
    model_name=FLAGS.model_name, model_version=FLAGS.model_version)
  F

[2022-03-24 07:32] bezero commented on #4102
If you run trion server docker with `--network host` you will be able to use localhost to refer to your local minio installation.
An even better solution would be if you use docker-compose to start both of your services in the same network.

[code]

[2022-03-24 08:15] chiehpower commented on #4102
Hi @bezero ,

Thank you for your reply!
I appreciate your sample file!

My problem seems not because of the container network issue. (so change to host network not helping)
Indeed, I wrote it in the docker-compose file as well. (For the reason of easier reproducing, I did not write the way of docker-compose in the beginning.)

However, I saw your location which was still using s3:// and the variab

[2022-03-24 08:35] AlbertZheng commented on #3652
@tanmayv25 Thanks for reply. Since the sequence_batch_scheduler has implemented the detection of idle timeout, is it possible to add an enhancement design and mechanism  in sequence_batch_scheduler to notify the backend when the timeout is detected? so that the idle timeout control and related timeout config parameters in the backend can be synchronized with the sequence_batch_scheduler.

[2022-03-24 09:11] bezero commented on #4102
@chiehpower
In your case, assuming you have created a bucket let's say `triton` and you have a models folder in that bucket as `triton/models/`
Then, your path should be ` "--model-store=s3://minio:9000/triton/models"`
Also, don't forget to pass minio credentials to your triton service (which I did forget to include in my previous response)
[code]

[2022-03-24 09:52] zachluo opened #4103 "No response after a long period"
**Description**
A clear and concise description of what the bug is.
When exporting a PyTorch model by torch script, the server will not respond to any requests after running near one month normally. Does anyone meet the same issue?

**Triton Information**
What version of Triton are you using?
21.03

Are you using the Triton container or did you build it yourself?
Triton container

**To Reproduce**

[2022-03-24 15:16] dominusLabs opened #4104 "Post Processing with Triton Ensemble"
Hi

We noticed that our YoloV4/TensorRT engine when being used with Triton returns ~1.4MB of data in the response. We're noticing very high latency in the overall inference process (another issue, raised [here](https://github.com/triton-inference-server/server/issues/4079)) , and are looking to cut down the response being sent back.

We only need the labels and the confidence scores being returned

[2022-03-24 15:53] chajath opened #4105 "ONNX TensorRT gives widely different result for CLIP text embedding"
**Description**
I've compiled a CLIP text embedding into an ONNX model (after some tweaking to make it ONNX compatible- see https://github.com/openai/CLIP/pull/219)
Now, when I run the ONNX model with TensorRT optimization, the result I see from Triton is just too far off from when I do CLIP text embedding directly with their code (seeing some 0.77 norm difference after normalization). Without Ten

[2022-03-25 04:27] mustafakasap commented on #3473
In the logs, it has following:
      ORT_TENSORRT_FP16_ENABLE is set, but platform doesn't support fast native fp16
which is because you have
      parameters { key: "precision_mode" value: "FP16" }

but seems your GPU doesnt support native FP16 mode in TRT. so either quantize your model into INT8 or use full model precision.

[2022-03-25 05:42] chiehpower commented on #4102
Hi @bezero

Thanks for your detailed explanation.

After I did several experiments and testings, eventually I could successfully make minIO with Triton server work well.
Also, I have tested that it can do inference well from Triton.

Thanks again!!

Attachment: for someone who wanna try it directly, the code (script) is [here](https://github.com/chiehpower/Setup-deeplearning-tools/blob/master/minI

[2022-03-25 05:42] #4102 closed

[2022-03-25 07:41] 520jefferson opened #4111 "how should i run the fastertransformer(FT) custom op with TIS?"
The model size increase , then i have to use the FT to do some optimization before online serving.

The FT support the  related TIS support the gpt https://github.com/triton-inference-server/fastertransformer_backend, but not T5.

If i want to use TIS to support T5(after FT optimmization)？ i just find the t5 triton_backend file https://github.com/NVIDIA/FasterTransformer/tree/dev/v5.0_beta/src/fas

[2022-03-25 10:31] Michelvl92 opened #4112 "inference failed: PyTorch execute failure: Global alloc not supported yet"
**Description**
Running inference of a TorchScript model build with:  torch.jit.script() also in the 22.02 docker

**Triton Information**
22.02

Using the Triton container

[2022-03-25 12:16] KarelvdVrie opened #4113 "Endless wait when loading Python backend model on Jetson - v2.19.0"
**Description**
Using the TRITON 2.19.0 server build into an image docker for the Jetson TX2 with the `add_sub` Python model makes the server hang forever when loading the model. The TensorRT, ONNX, and Tensorflow backends do load their models.
The TRITON does not give an error but the following is the output log:
[code]
There does not seem to be any system load during the time it is waiting, no g

[2022-03-25 13:47] Tabrizian commented on #4113
Do you have any other instances of Triton running in the background? Does the hang happen on every Triton start or this is an intermittent issue?

[2022-03-25 14:24] KarelvdVrie commented on #4113
No this is the only instance running, and the Jetson has been newly flashed with the latest software. And it happens on every start, I have tried with different python files and configurations, neither has helped.

[2022-03-25 16:23] KarelvdVrie commented on #4113
Running it without GPU access gives the same problem, which implies either something goes wrong in the build of the container or something is wrong with the Python backend, right?
[code]
Because this way the container is separated from the software such as CUDA and TensorRT of the Jetson? Or does the Nvidia-docker on Jetson still port through packages?

[2022-03-25 16:40] dyastremsky commented on #4112
Can you please fill out the bug report template? We need to be able to reproduce your bug to see what is happening. See template below. If there are any pieces you cannot provide, like your model, we need a sample model that reproduces the bug.

--

**Description**
A clear and concise description of what the bug is.

**Triton Information**
What version of Triton are you using?

Are you using the T

[2022-03-25 16:40] CoderHam commented on #4103
@zachluo we would need some more information to be able to triage this. In terms of resolution I would recommend trying to record memory usage to see if there is a trailing memory leak that causes the machine your server is being run on to hit an OOM state.

We do stress test Triton but not for as long as a month. If you could provide us repro steps to reproduce this in a smaller interval like a s

[2022-03-25 16:42] CoderHam commented on #4113
@KarelvdVrie can you attempt to run tritonserver from outside the docker, and see if you are able to reproduce it outside the Docker you have constructed?

[2022-03-25 16:44] CoderHam commented on #4105
@chajath did you see this behavior outside Triton as well i.e. native ONNXRuntime with TRT Execution Provider?

[2022-03-25 16:45] dyastremsky commented on #3980
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-03-25 16:45] #3980 closed

[2022-03-25 16:45] dyastremsky commented on #4019
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-03-25 16:45] #4019 closed

[2022-03-25 16:46] dyastremsky commented on #3141
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-03-25 16:46] #3141 closed

[2022-03-25 16:47] CoderHam commented on #4101
@mprithiv torch_sparse is not part of the vanilla pytorch library is it? Triton does not include the miscellaneous extension libraries for pytorch.

[2022-03-25 16:47] dyastremsky commented on #3563
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-03-25 16:47] #3563 closed

[2022-03-25 16:48] #4044 closed

[2022-03-25 16:49] CoderHam commented on #4096
@eanmikale what command did you use to launch Triton server?

Can you confirm the instance of Triton server is running and accessible from where you run your client scripts. You can use curl for the same:

[code]

[2022-03-25 16:52] CoderHam commented on #4052
@sarperkilic please refer to the [pytorch docs/tutorials](https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html#basics-of-torchscript) for how to produce the torchscript model.

I would recommend running the traced model in native PyTorch after it is traced to confirm it works correctly.

[2022-03-25 16:59] dumbPy commented on #4049
Yes #3644 is asking for something similar

[2022-03-25 17:30] mprithiv commented on #4101
No it is not a part of vanilla pytorch but it is a required package for PyG model I am using. Is there any way to include packages like torch_scatter, torch_sparse with the deployment?

[2022-03-25 18:06] deadeyegoodwin commented on #4101
Here is documentation on adding custom pytorch operations: https://github.com/triton-inference-server/server/blob/main/docs/custom_operations.md#pytorch

[2022-03-25 18:06] #4101 closed

[2022-03-25 18:09] deadeyegoodwin commented on #4112
Closing, reopen with required template information.

[2022-03-25 18:09] #4112 closed

[2022-03-25 18:14] deadeyegoodwin commented on #4104
We don't have an explicit post-processing example, but it operates the same as pre-processing. You need to create a post-processing model that takes the Yolo output and produces the output you want, and then add that model to the ensemble. You can also consider using BLS instead of ensemble: https://github.com/triton-inference-server/python_backend#business-logic-scripting

[2022-03-25 18:14] #4104 closed

[2022-03-25 18:18] deadeyegoodwin commented on #4079
Why do you think this is anything more that networking overhead?

[2022-03-25 18:19] #3866 closed

[2022-03-25 18:20] deadeyegoodwin commented on #4095
It should be possible with changes to the server grpc implementation, but we haven't looked at it in detail.

[2022-03-25 18:21] deadeyegoodwin commented on #3492
No, currently that backend API does not exist.

[2022-03-25 18:32] deadeyegoodwin commented on #4085
Perhaps there is a mismatch between what the classification option does and what you want. Have you looked that this example: https://github.com/triton-inference-server/client#image-classification-example.
It is expected that the number of elements in the output tensor matches the number of entries in labels file. Each element is interpreted as the probability of that index. Perhaps you want suppo

[2022-03-25 20:31] KarelvdVrie commented on #4113
That does work.

I installed the following packages (same as in the container):
[code]

With the following TRITON server unpacking in the `/opt/TRITON/` directory:
[code]

And the following command in the `bin` directory: `./tritonserver --backend-directory="/opt/TRITON/backends" --model-store="/opt/TRITON/Models" --strict-model-config=false --exit-on-error=true --log-verbose=true --model-control-

[2022-03-25 21:19] dominusLabs commented on #4079
I no longer do. I thought it was something more, since one of the chunks of time that was causing problems was within the actual Triton inference process, but that issue has since been resolved by us. I'm wondering if there is a way to reduce the networking overhead, but so far, I haven't found anything significantly fruitful.

[2022-03-25 22:47] tanmayv25 commented on #3652
I think we can add an API which backend can optionally implement. The function will then be invoked by the server when it times out a sequence.

@AlbertZheng  Can you open a new GH issue and describe your use-case. We will prioritize the enhancement.

[2022-03-26 00:16] byshiue commented on #4111
FT has supported the T5 in Triton, you can refer the guide in https://github.com/triton-inference-server/fastertransformer_backend/tree/dev/v1.1_beta#prepare-triton-t5-model-store-in-the-docker.

[2022-03-26 08:39] WadoodAbdul commented on #4026
Sure,

Here are the contents of mbart_tokenizer_encoder directory;
[code]

The contents of the config.pbtxt & model.py have been shared above as "Tokenizer+Encoder".

For the tokenizer files, please use this snippet,

[code]
------

### client.py

[code]

Please let me know if you need further details.

[2022-03-27 13:26] nadavs2310 commented on #4059
Hi, we have another question regarding the trace file:
We tried using the trace file in order to extract some timestamps of each request (more specifically the timestamp of the request and the response), but it seems that the timestamps in the tracefile are not actually absolute timestamps, but timestamps generates using `steady_clock` (a monotonic clock).

As I understand it, it is not possible t

[2022-03-27 17:54] dumbPy opened #4118 "[Feature Request] Allow ensemble model's sub-models to be inside the model dir"
**Is your feature request related to a problem? Please describe.**

Consider an ensemble model `M1` being an ensemble of `M11, M12, M13`. When we call load model api for M1, it would implicitly load M11, M12, M13 which is great...
But, These need to live in the same folder as `M1`, and hence are always independent models, that need to be put in place individually.
[code]
Since triton doesn't cater

[2022-03-27 20:42] eanmikale commented on #4096
./tritonserver --repoagent-directory=/home/jetsonx/Downloads/qa/checksum_repository_agent/ --model-repository=/home/jetsonx/server/docs/examples/model_repository/ --backend-directory=/home/jetsonx/Downloads/backends/ --backend-config=onnxruntime,enable-global-threadpool=0 --backend-config=onnxruntime,intra_op_thread_count=0 --backend-config=onnxruntime,inter_op_thread_count=0 --log-verbose=1

The

[2022-03-27 20:58] eanmikale commented on #4096
I didn't do anything different, but the image_client now runs successfully. Here is the command used:
./image_client -m densenet_onnx -c 3 -s INCEPTION /home/jetsonx/Downloads/qa/images/mug.jpg

However, this does not solve the "Repo agent path"? Assistance with this would still be appreciated. Do I need to open another issue? Thanks.

[2022-03-27 21:16] eanmikale commented on #4096
![AINetworkTests_i](https://user-images.githubusercontent.com/25436318/160301385-ab67dfa2-73bb-408a-becb-5341de47f62e.png)

[2022-03-28 04:36] 520jefferson commented on #4111
i met this error when building docker image.
Error response from daemon: No such image: triton_with_ft:21.07

[2022-03-28 04:42] #4111 closed

[2022-03-28 20:48] GuanLuo commented on #4096
Repo agent is a optional feature for user to manipulate the model files (i.e. decryption) at different stages of the model lifecycle (see [doc](https://github.com/triton-inference-server/server/blob/main/docs/repository_agents.md) for detail), you don't need to specify it if your model doesn't use repo agent.

Closing the ticket as the original issue is resolved.

[2022-03-28 20:48] #4096 closed

[2022-03-29 09:22] zhaohb opened #4126 "pytorch backend：backend_memory.cc:177] failed to free CUDA memory: an illegal memory access was encountered"
**Triton Information**
What version of Triton are you using? 21.12

Are you using the Triton container or did you build it yourself? using ngc container

**To Reproduce**
I have two PyTorch models, and now use Triton to deploy both models as a service, and then use tritonclient to send requests. If I send requests on (more than 10) terminals at the same time, and triton service will report an erro

[2022-03-29 09:33] zhaohb commented on #4126
I still get an error after the following operation
[code]

how to fix it?

[2022-03-29 12:08] ZJU-lishuang opened #4127 "perf_analyzer failed with --shared-memory=cuda"
**Description**
A clear and concise description of what the bug is.
When using `--shared-memory cuda` in perf_analyzer.like
[code]
I met this error.
`error: failed to create concurrency manager: unable to allocate memory of 8568000 bytes on gpu for output output : CUDA driver version is insufficient for CUDA runtime version`

**Triton Information**
I have tried following docker.
nvcr.io/nvidia/tri

[2022-03-29 12:26] arnabdas commented on #4068
We have tried the following commands to run the `perf_analyzer`.

[code]

We have tried with the following variations of the `input.json`

[code]

and

[code]

In both the cases we immediately got the following error:

[code]

Stacktrace of the core dump:

[code]

The `perf_analyzer` we got from [client release of Triton server](https://github.com/triton-inference-server/server/releases/tag/v2.8.0

[2022-03-29 16:38] #3593 closed

[2022-03-29 16:45] Tabrizian commented on #4113
Thanks for providing the repro steps. I have filed a ticket to look into this.

[2022-03-29 17:54] CoderHam commented on #4127
@ZJU-lishuang the sdk container is being run without access to a GPU (No `--gpus` flag). It will be unable to create the cuda shared memory to be registered with Triton server.

[2022-03-29 17:54] #4127 closed

[2022-03-29 18:10] CoderHam commented on #4126
@zhaohb can you confirm that this issue exists in the 22.02 container?

I added a fix to the pytorch backend that may have solved this bug: https://github.com/triton-inference-server/pytorch_backend/pull/49

[2022-03-29 18:25] GuanLuo commented on #4118
This flatten structure is to allow the individual model to be used for different ensemble model, i.e. you may have a model for pre-processing which can be the first step in different ensembles.

For your use case, since you have provided the sidecar service, the sidecar may check if you are uploading a collection of models (i.e. directory that does not contain config.pbtxt) instead of uploading on

[2022-03-29 19:28] GuanLuo commented on #4127
After the docker run change that @CoderHam mentioned you can verify if you can access the GPU via `nvidia-smi`

[2022-03-29 23:31] GuanLuo commented on #4066
Currently the `tfs` and `torchserve` parts of `perf_analyzer` can not be disabled, however, we do have plan to add option to disable them. Before that, you will have to remove the related code to exclude them from the build

[2022-03-29 23:50] GuanLuo commented on #4053
Closing issue due to lack of activity. Please re-open the issue if you would like to follow up with this issue.

[2022-03-29 23:50] #4053 closed

[2022-03-30 00:58] ZJU-lishuang commented on #4127
The problem is solved by the flag like `--gpus=all`.

[2022-03-30 02:56] zhaohb commented on #4126
@CoderHam Great, I had test in 22.02 container, there is no problem.
But I don't know why this is happening. Can you explain that？Why does this fix this bug？

[2022-03-30 04:37] arnabdas commented on #4068
We tested with specified `shape` input. Currently we are not getting the `core dump` error. But some other error is coming.

[code]

#### nemo_model1_input.json
[code]

We can not use `-1,-1` for the shape input, as we are getting `error: input shape must be > 0`

[2022-03-30 06:06] omrifried opened #4129 "Dynamic Batching is not creating batches during inference"
**Description**
I am deploying a triton server to GKE via the [gke-marketplace-app](https://github.com/triton-inference-server/server/tree/main/deploy/gke-marketplace-app) documentation. When I try to use dynamic batching, the requests are not batched and it is only sent with a batch size of 1.

**Triton Information**
The version is 2.17 as this is what the marketplace feature deploys.

Are you us

[2022-03-30 06:23] GuanLuo commented on #4129
Note that there is `async_infer` client API which you may want to use to explore the dynamic batching. `infer()` is a blocking call which doesn't return until the response is received, so if you are calling `infer()` twice in the same thread, your observation is expected as the second request won't be sent until the first one is completed.

[2022-03-30 06:32] Rusteam opened #4130 "error creating a triton deployment mlflow plugin"
**Description**
Error when a MLflow registry model is deployed to triton using **mlflow-triton-plugin** with `--falvor=onnx` flag.
The plugin is trying to create a `config.pbtxt` in the destination folder before creating that model folder itself.
Easy fix is to create that folder beforehand, but could also be handled from the plugin side.

[code]

**Triton Information**
Docker image: `nvcr.io/nvid

[2022-03-30 10:23] shimoshida commented on #3970
@dyastremsky I have an additional question.

I also overlook the output of `nvidia-smi`... In the `ND96asr v4` of Azure, MIG is already disenable as follows:
[code]

How to fix this to read GPU metrics?
Does Triton + Fastertransformer work well (can inference) if GPU metrics is not available?

[2022-03-30 12:27] tuotuoshao opened #4131 "Grpc compression increases the latency quite a lot?"
Here are two experiments with compare:
1
![hWIZhw1TII](https://user-images.githubusercontent.com/51219602/160833685-68b22ba3-a1fd-46b7-85bd-4676a03a57ee.png)
2
![woxG9CJHQl](https://user-images.githubusercontent.com/51219602/160833790-a18d6858-54b4-48d1-843b-e0bca6c4c971.png)

what' the wrong?

[2022-03-30 13:06] hegc opened #4132 "python backend always loading!"
**Description**
A clear and concise description of what the bug is.
I make a custom python stub and conda env files, when load model using python platfom, the starting process get stucked.

**Triton Information**
What version of Triton are you using?
docker run --gpus=1 --shm-size=50G --rm -p8000:8000 -p8001:8001 -p8002:8002 -v/path/to/model_repository:/models nvcr.io/nvidia/tritonserver:22.02-py3

[2022-03-30 13:08] hegc commented on #4132
drwxrwxr-x 3 supdev supdev      4096 3月  30 20:54 1
-rw-r--r-- 1 supdev supdev       571 3月  30 19:58 config.pbtxt
-rw------- 1 supdev supdev 408425936 3月  30 16:16 python3.8.10.tar.gz
-rwxr-xr-x 1 supdev supdev    690440 3月  30 18:32 triton_python_backend_stub

[2022-03-30 13:27] hegc commented on #3840
How can I set more resourses (CPU and Memory)?

[2022-03-30 13:28] Tabrizian commented on #4132
@hegc Did you compile the stub on the 22.02 branch? The Github branch that the stub uses must match the Triton version.

[2022-03-30 13:47] Alexejklim commented on #3840
In my case was necessary to have at least 2 CPU in requests:
[code]

[2022-03-30 14:50] arnabdas commented on #4068
Thank you @Tabrizian for your reply.

With the new shape parameter also we are facing issues. We are using the same input file.

[code]

[2022-03-30 16:04] omrifried commented on #4129
Hi @GuanLuo, I changed my task to be a detection task after this post. I am still seeing issues, but I will open up a new issue and mark this one as resolved.

[2022-03-30 16:24] omrifried opened #4133 "Dynamic Batching not creating batches correctly and incorrect inference results"
**Description**
I am deploying a triton server to GKE via the [gke-marketplace-app](https://github.com/triton-inference-server/server/tree/main/deploy/gke-marketplace-app) documentation. When I try to use dynamic batching, the requests are not batched and it is only sent with a batch size of 1. Additionally, the inference only results in one detection when it should be multiple.

**Triton Informat

[2022-03-30 16:40] jishminor opened #4134 "Triton hangs on tensorflow1 backend cpu-only build"
**Description**
Triton hangs during the initialization of the Tensorflow 1 runtime.

**Triton Information**
What version of Triton are you using?
2.20

Are you using the Triton container or did you build it yourself?
Triton container built using `build.py` convenience script

**To Reproduce**
Steps to reproduce the behavior.
All of this is tested on an aarch64 and x86 non-cuda machine.
Docker imag

[2022-03-30 19:04] omrifried commented on #4133
I increased `max_queue_delay_microseconds `to `5000000`, and also tried removing it entirely, but I am still seeing `batch_size: 1`.

I set up my model as follows:
[code]
I then compile with `triton_model = torch.jit.script(TritonModel(model).to(device)).to(device)` and upload this model along with the config mentioned above and a text file of classes. Then I call async_infer as mentioned above, b

[2022-03-30 19:11] tanmayv25 commented on #4133
Can you try a later releases? There have been a couple of fixes in Dynamic Batcher.
https://github.com/triton-inference-server/server/commit/7ad5141c93241c9bf385d11352d93a5cd380d738

[2022-03-30 19:17] omrifried commented on #4133
@tanmayv25  Yes, the marketplace tool uses 2.17 by default, but it looks like there is `build_and_push.sh` [here](https://github.com/triton-inference-server/server/tree/main/deploy/gke-marketplace-app/server-deployer).

I want to confirm that the bash script is the correct way to push manually? Or is there a way to change the version on the marketplace tool?

[2022-03-30 20:19] CoderHam commented on #4134
@jishminor are you running build.py from the r22.03 branch?

[2022-03-30 21:32] tanmayv25 commented on #4133
I am not familiar with that demo code. @mengdong Can you help?

[2022-03-30 21:35] tanmayv25 commented on #4133
@omrifried  Meanwhile you can experiment with triton containers from NGC on your local machine to see if latest release resolves your issue.
Read more about the problem from here: https://github.com/triton-inference-server/server/issues/3624

[2022-03-30 21:41] GuanLuo commented on #4068
@tanmayv25 can correct me if I am wrong. The `--shape` should be matching the `dims` in your input model config, so it should just need to be 1 dimension, and perf analyzer will handle the batch dimension for you. And from the `input.json` that you given, your input has only 1 element where the content is a string, so you should try `--shape input__0:1`. You can refer to the [perf analyzer doc](ht

[2022-03-30 22:05] omrifried commented on #4133
@tanmayv25 @mengdong it looks like the most up to date image available on GCP is the 2.17 version [here](https://console.cloud.google.com/gcr/images/nvidia-ngc-public/global/tritonserver)

[2022-03-30 22:30] jishminor commented on #4134
Yes running from the r22.03 branch as opposed to the release tag. I can also comment I saw the same behavior when running on main yesterday before the 22.03 release.

[2022-03-30 22:32] CoderHam commented on #4134
@jishminor adding TRITON_TENSORFLOW_INSTALL_EXTRA_DEPS makes you copy over and depend on nccl. Refer to the [CMakeList.txt](https://github.com/triton-inference-server/tensorflow_backend/blob/r22.03/CMakeLists.txt#L143-L145).

Is there a reason for using TRITON_TENSORFLOW_INSTALL_EXTRA_DEPS? I recommend building without it.

[2022-03-30 22:36] GuanLuo commented on #4131
The (de-)compression itself has some overhead, so there can be negative impact until the data to be transferred is sufficiently large

[2022-03-30 22:37] omrifried commented on #4133
It looks like `build_and_push.sh` is the correct source to use to build the server from CLI. I see that [values.yaml](https://github.com/triton-inference-server/server/blob/main/deploy/gke-marketplace-app/server-deployer/chart/triton/values.yaml) reference gcr.io/nvidia-ngc-public/tritonserver.22.03-py3, but that image does not exist. Additionally, as mentioned above, I do not see where to label t

[2022-03-30 22:38] jishminor commented on #4134
@CoderHam Leaving out the extra cmake arg causes the tensorflow backend to complain about missing nccl libs as per: https://github.com/triton-inference-server/server/issues/3996

[2022-03-30 22:40] CoderHam commented on #4134
If you do not strictly need tensorflow1, can you try with tensorflow2 instead?

[2022-03-30 22:41] jishminor commented on #4134
I believe the behavior is the same irrespective of using tf1 or tf2 backend, but I have yet to verify this. I have been testing with tf1 models at the moment.

[2022-03-30 23:06] jishminor commented on #4134
Building just the tf2 backend into the server via the build command:
[code]
does not result in a server hang. So it seems to only be an issue for the tf1 backend.

[2022-03-30 23:07] CoderHam commented on #4134
Yes it is a TF1 only issue because the TF1 build was not designed for the CPU only case. If this unblocks you can I close the issue? I am not aware of any plans to add a TF1 build to work independent of CUDA.

[2022-03-30 23:11] CoderHam commented on #4134
I believe the issue is isolated to Tensorflow1 and likely because of the way the Tensorflow1 build we are using is built.

To use TF1, you would need to re-work the build.py to copy over the stubs/GPU deps from the Triton py3-min container like we do for the pytorch container in the CPU only case: https://github.com/triton-inference-server/server/blob/main/build.py#L1083-L1103

[2022-03-31 00:04] mengdong commented on #4133
Hello @omrifried , you need to push the triton server from NCG to GCR, currently, GCR doesn't host Triton image.

[2022-03-31 01:56] omrifried commented on #4133
Understood. I tried this on my local with version 2.20 and am still seeing the same issue. I used the same code as I pasted above to call the server:
[code]

[2022-03-31 03:13] tuotuoshao commented on #4131
@GuanLuo  I've tried large input data just like 1x5000x10000x3 but it still generated greater latency than no compression. Could you tell me when should i use the compression and it is eactly more efficient than no compression？

[2022-03-31 03:35] hegc commented on #4132
Great! It works. Thank you.

[2022-03-31 05:18] arnabdas commented on #4068
Finally `perf_analyzer` worked for both `gRPC` and `HTTP`. We ran with `perf_analyzer -m nemo_model1 -u $triton_host:$triton_port -i gRPC --concurrency-range 1:5 --input-data ./nemo_model1_input.json --shape input__0:1 -v -f ./logs/perf__$(date +"%m_%d_%Y_T%T").csv`.

[code]

Thank you @Tabrizian , @GuanLuo , @dyastremsky

[2022-03-31 05:50] dominusLabs commented on #4085
We just ended up adding a post processing step in our ensemble. I think it was primarily caused by the YoloV4/TensorRT engine providing an output that Triton was not expecting.

[2022-03-31 05:50] #4085 closed

[2022-03-31 05:52] dominusLabs commented on #4079
Closing due to this being unrelated to Triton.

[2022-03-31 05:52] #4079 closed

[2022-03-31 07:20] codertimo opened #4137 "Q. Is BLS and model excution run with pipeline parallelism"
**Description**

I want to know that BLS(python backend ex: Preprocess) and model execution run with pipeline parallelism.

![IMG_0288](https://user-images.githubusercontent.com/9063575/160999754-a0d8a7c4-1f51-40ba-ae29-58b0bc470d72.jpg)

[2022-03-31 07:57] zijin520 opened #4138 "[Question] memory consumption of model loading for different instance_group count"
We know that when a model is loaded the model is loaded into memory for inference in any time.
If the instance count is set to be 2, does it take twice as much memory as the count 1? If so, why cannot we use the same model loaded memory for the two instances to reduce memory consumption because they are indeed created from the same model. Thanks.
instance_group [
 {
     count: 2
 }
]

[2022-03-31 11:35] gandharv-kapoor opened #4139 "Request custom model metadata"
This is in line with following feature request but probably addresses a broader problem PR https://github.com/triton-inference-server/server/issues/3484
As mentioned in the PR keeping model metadata and client always in sync is hard in a distributed environment specially where client hardly changes but models are regularly updated. Therefore it would be great if GET Model Metadata had some extensi

[2022-03-31 13:45] hegc commented on #3944
Hi, how you solved the problem using DLPack?

[2022-03-31 13:49] Tabrizian commented on #4132
Closing, the ticket as the issue has been solved.

[2022-03-31 13:49] #4132 closed

[2022-03-31 13:52] Tabrizian commented on #3944
There is documentation about this in here:

https://github.com/triton-inference-server/python_backend#interoperability-and-gpu-support

[2022-03-31 16:21] CoderHam commented on #4134
Thanks for pointing this out. We will be fixing this for consistency in the future. In the meanwhile I have a short fix in this PR: https://github.com/triton-inference-server/server/pull/4140 to unblock your TF1 build.

[2022-03-31 16:56] GuanLuo commented on #4131
@tanmayv25 do you have some insights to share? I don't think we have done in-depth compression benchmarking.

[2022-03-31 17:18] GuanLuo commented on #4068
Glad to hear that. Closing as the issue has been resolved

[2022-03-31 17:18] #4068 closed

[2022-03-31 17:41] GuanLuo commented on #4139
I think your request can be addressed by [model config protocol](https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_model_configuration.md) which is the endpoint to retrieve model configuration. And the user-specified parameter can be added to model config's [parameters](https://github.com/triton-inference-server/common/blob/main/protobuf/model_config.proto#L1922)

[2022-03-31 17:53] jishminor commented on #4134
@CoderHam Can confirm this PR fixed the hang issue. Here are the log outputs for reference:
[code]

[2022-03-31 17:53] #4134 closed

[2022-03-31 18:00] GuanLuo commented on #4138
Yes in general, but some backends (i.e. TRT backend, TF backend) will try to share model weight across instances as much as possible.

Note that for some cases you must have separate model copy for each instance to avoid unintended interference, for example, NLP models may need to maintain internal state for a sequence of requests which won't work properly if the model is shared.

[2022-03-31 18:00] #4138 closed

[2022-03-31 18:22] tanmayv25 commented on #4131
As Guan suggested compression is always going to add an overhead(time spent in compression and de-compression). But just large data does not guarantees you will see a perf benefit of compression.
It only helps when you have identified that bottleneck is in your network connection. The bandwidth is a limited resource and can support only certain bytes/sec of data transfer. compression/decompression

[2022-03-31 19:28] mengdong commented on #4133
Hello @omrifried , sorry for the late response, before checking Triton config, I want to make sure your pytorch model supports dynamic batching. i.e. The model needs to have a batch dimension of -1.

Triton dynamic batching feature requires the model to have -1 as batch size.

[2022-03-31 19:52] omrifried opened #4142 "Triton inference time extremely slow at scale"
**Description**
I am deploying a system via apache beam and calling the inference server, which is deployed on GKE, within the pipeline on image data. Initial inference is OK in terms of latency, but as the pipeline moves on and more data is held within the pipeline (more concurrent calls to the server), inference becomes really slow and reaches an average of 15 seconds per inference call.

**Trit

[2022-03-31 22:13] tanmayv25 commented on #4133
Looks like a bug to me and worth investigating for a proper root cause.
@omrifried Can you repeat your experiment with grpc client? Also, try sending 16 or more requests instead of just 2.

[2022-03-31 22:56] #4126 closed

[2022-03-31 23:11] CoderHam commented on #4142
@omrifried can you run the test with instance count = 1 instead of 2?
There is a known perf issue when running multiple instances of a TorchScript model on the same GPU https://github.com/pytorch/pytorch/issues/27902

[2022-04-01 00:18] omrifried commented on #4142
I tried with `count : 1` previously as well and still saw inference times of around 15-20 seconds on average

[2022-04-01 00:44] wanghaohw commented on #3033
@luckycallor Hava you solved your problem?I find that sending  inferences with different bath_size  will cause similar problem to GPU memory.When I try a new batch_size, it will increase the GPU memory.

[2022-04-01 01:51] GuanLuo commented on #4059
I think we can add a cmdline option to let tracer convert steady_clock timestamp to system_clock timestamp. But note that there can be inaccuracy because "system time can be adjusted at any moment".

[2022-04-01 03:11] omrifried commented on #4133
I believe it is a cause of the way my model handles batching. Because it takes in a list of tensors, instead of a batch of tensors, dynamic batching will not work. I was able to get static batching to work by adjusting the forward method a bit, but I don't think I will be able to get dynamic batching to work due to the requirement for fixed length in torchscript.

That being said, I did try with g

[2022-04-01 06:42] stringbue opened #4144 "How should I request a model whose input is a dictionary？"
**Description**
I'm deploying a model via docker and its input is a dictionary in a format like {"key": tensor}.
By querying the readme, I found that Triton supports Dictionary of Tensors as Input, but what makes me wonder is, how should I write the input of the config file?
And how should I pass the image data into the model via tritonclient.http? How does set_data_from_numpy handle a dictionary

[2022-04-01 06:53] dzier commented on #4144
Perhaps the documentation is not clear, but it does say how to specify a dictionary input in https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#special-conventions-for-pytorch-backend.

According the docs, the answer to 1. is to just use "key" and specify the shape and datatype associated with that "key". You do not use the "<name>_<index>" naming scheme.

For

[2022-04-01 07:56] stringbue commented on #4144
First of all, thank you very much for your answer.
Maybe my description of the problem is not clear enough. What I currently want to input is a single map dictionary, such as {"A":tensor}, B does not exist inside, and when I modify the input in config to name (my key name), I get an error:
[code]
It's not clear to me is it because my data is a dictionary of single mappings or for some other reason

[2022-04-01 09:15] hegc commented on #3426
Hi, How do you implement the post-process of YOLO detector ? python backend? thanks

[2022-04-01 09:41] tuotuoshao commented on #4131
@tanmayv25  Thank you for your clarification, now I have a clear concept of it. I'll measure the practical latency of compression and de-compression in a remote enviroment as my input shape likes 1x720x1280x3 or 1x1080x1920x3  at future.

[2022-04-01 16:45] yongbinfeng opened #4145 "python backend stuck in Starting Python backend stub when launching multiple servers simultaneously"
**Description**
When trying to launch two Triton servers simultaneously inside one docker container, for example, with
[code]
One server launches successfully; but the other way **gets stuck** in
[code]
forever and never moves on.

Not sure if it is related to the issue https://github.com/triton-inference-server/server/issues/4113 - the setup is quite different but they both get stuck in the same

[2022-04-01 17:01] CoderHam commented on #4144
@stringbue we should probably add an example to clear the description better. The issue here is you have not changed the input tensor names to be keys to . For example if the input to the model forward function is:

[code]
Instead, the names of the inputs in this case must map to the string value 'key' for that specific tensor. In this case the inputs would be "A" and "B" instead of INPUT__0 and I

[2022-04-01 17:12] chajath commented on #4105
What's the recommended way of running TensorRT execution provider? I was trying to setup TensorRT and use `ort.InferenceSession(onnx_path, providers=['TensorrtExecutionProvider'])` but it is failing and I can't find definite docs on troubleshooting. nVidia's TensorRT installation story is just too painful. Is there a docker image that I can pull and use to quickly test an onnx model with TensorRT?

[2022-04-01 18:45] chajath commented on #4105
Actually, managed to run tests after following https://github.com/microsoft/onnxruntime/issues/9986 to get dependencies sorted via nvidia provided packages.
Using TensorRT version 8.2.3.0 and onnxruntime 1.11.0, if I run with onnxruntime directly, I get a pretty close result to the original inference, with difference norm of ~ <1e-5

[2022-04-01 21:53] Tabrizian commented on #4026
Thanks for providing further details. You need to check the inference response of the BLS request to make sure that it doesn't have any error in this line:

[code]

I received the error below:

[code]

[2022-04-02 02:01] stringbue commented on #4144
Thanks a lot for your answer, I finally solved the problem.
First, you need to upgrade docker to 22.03, and then follow your suggestion, change the input name to name: "dictionary key name", and then the model can be loaded and reasoned correctly.

[2022-04-02 02:01] #4144 closed

[2022-04-02 03:53] hegc commented on #4137
If there are only one BLS instance, the requests is not parallel processed.

[2022-04-02 08:42] wanghaohw opened #4149 "Can't find tritonclient.utils.shared_memory on WIN10"
I want to use tritonclient.utils.shared_memory with WIN10 client,but I can't import it in Pycharm.
I install tritonclient by ```pip install tritonclient[all]```  and import it by ```import tritonclient.utils.shared_memory as shm```.

[2022-04-02 20:51] bro-adm commented on #4059
@GuanLuo
@nadavs2310

## Schema and Values

We are working on a k8s cluster, so we need to somehow manage the timestamps per the nodes as its currently implemented and their is no value for a time if its related to the node the deployment is set in especially when each replica can be on a different node.

We have found a way with initContainers and stuff like that to transform the monotonic timest

[2022-04-03 14:20] donggrame opened #4150 "Optional input for python backend"
**Description**
According to [this comment](https://github.com/triton-inference-server/server/issues/3419#issuecomment-992973441), I thought python backend supports `optional` argument in `input` since `22.01`.
I can confirm that identity backend works with `optional` but not python backend.
Am I missing something? I couldn't find any documents about it.

**Triton Information**
nvcr.io/nvidia/trit

[2022-04-03 16:38] sandeepy1 opened #4151 "Cannot start python-backend with TYPE_GPU instance type"
I am trying to run python-backend of the Triton server. Everything works fine in TYPE_CPU instance type. But, in TYPE-GPU I am facing following error.

[code]

Running again

[code]

GPU: RTX3050
Driver Version: 470.103.01
CUDA Version: 11.4

Also, server works fine on an other system with Tesla T4 GPU and same Driver and CUDA version.

[2022-04-03 19:00] zeynepkoyun opened #4152 "ValueError: assignment destination is read-only"
Hi
I have a working .onnx model with dynamic width and height value, I was able to present it successfully, but when I want to get the output values, I get the following error. I would be glad if you help.

Error:
ValueError: assignment destination is read-only

[2022-04-03 22:32] yaoyunda opened #4153 "Previous success build of full tritonserver failed for most recent release branches (r21.12...r22.03)"
**Description**
Following the build doc, using build.py
the "tritonserver" image is built successfully for r21.12, r22.02, r22.03 a week ago
however, it is now all failed.
The main branch build is still ok.

**Triton Information**
r21.12, r22.02, r22.03

Are you using the Triton container or did you build it yourself?
build it myself

**To Reproduce**
Steps to reproduce the behavior.

run:
 ./buil

[2022-04-03 22:35] yaoyunda commented on #4153
[tritonserver_build_r22.03_log_fail.txt](https://github.com/triton-inference-server/server/files/8405639/tritonserver_build_r22.03_log_fail.txt)
[tritonserver_build_r22.03_log_success.txt](https://github.com/triton-inference-server/server/files/8405640/tritonserver_build_r22.03_log_success.txt)

[2022-04-04 13:34] Tabrizian commented on #4149
Triton on Windows does not support shared memory.

[2022-04-04 13:38] Tabrizian commented on #4145
When running multiple tritonserver instances on the same machine, you need to change the `shm_region` prefix in Python backend. You can control the prefix name using the `shm-region-prefix-name` backend config flag.

[code]

[2022-04-04 13:48] Tabrizian commented on #4151
Are you sure you are using the Python backend? In the list of backends that you have shared it doesn't look like Python backend is being used. This is the ONNX backend that is returning the error.

[code]

The error you are seeing is because you are using a model that was generated using an older driver and is being used in a more recent CUDA driver. If you update the CUDA driver to a more recent

[2022-04-04 13:58] Tabrizian commented on #4150
This looks like a bug. I have filed a ticket for this.

[2022-04-04 15:36] shimoshida opened #4154 "pinned_memory_manager Killed"
**Description**
I want to deploy Triton server via Azure Kubernetes Service.
Target node is `ND96asr v4` which is equipped with 8 A100 GPUs.
Triton server **without** loading any models cannot startup successfully.

**Triton Information**
- triton: `nvcr.io/nvidia/tritonserver:21.07-py3`
- azure: `ND96asr v4`

**To Reproduce**
1. prepare cluster
To create cluster you follow the procedure of the az

[2022-04-04 16:51] yongbinfeng commented on #4145
Thanks a lot - this fixes our issue!

(Could the document be updated accordingly? Didn't see this was discussed anywhere in the document.)

[2022-04-04 17:24] dyastremsky commented on #4152
This looks to be a model issue. Does the model run successfully in ONNX Runtime? That would be the first step to see if it's a model issue outside of Triton.

If it runs succesfully in ONNX runtime, please fill out the bug template so that we can reproduce this. A backtrace and coredump would also be helpful.

**Description**
A clear and concise description of what the bug is.

**Triton Informatio

[2022-04-04 17:48] #3360 closed

[2022-04-04 18:40] tanmayv25 commented on #4149
`shared_memory` and `cuda_shared_memory` are only supported on linux systems.
See here for more documentation:
https://github.com/triton-inference-server/client#download-using-python-package-installer-pip

[2022-04-04 18:40] #4149 closed

[2022-04-04 18:48] tanmayv25 commented on #4131
Closing the issue for now. Please open a new issue if you find something wrong with the gRPC compression in Triton.

[2022-04-04 18:48] #4131 closed

[2022-04-04 21:47] tanmayv25 commented on #4154
21.07 looks like little old. Can you reproduce the issue with the latest triton release(22.03)?
Can you share the output of `dmesg` so that we can know what was the reason tritonserver got killed?

[2022-04-04 22:14] tanmayv25 commented on #4153
The issue looks like to originating while building FIL backend. If you are not using FIL, you can try skipping building FIL for now (just remove  `--backend=fil:r22.03`) in build.py.

[code]

We will take a look at why the FIL build is failing.

[2022-04-04 23:08] tanmayv25 commented on #4145
@yongbinfeng  You are correct, we are missing documentation of `shm-region-prefix-name`. Thanks for bringing it up to our notice. We have opened a ticket with the team to document these configs and their respective use-cases.
As your problem is solved, I will be closing this issue.

[2022-04-04 23:08] #4145 closed

[2022-04-04 23:19] tanmayv25 commented on #4142
@omrifried  15-20seconds looks very high. What was the latency of single request concurrency? What is the request concurrency when you observe the latency as large as 15-20sec?
Also can you run [perf_analyzer](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md) for your model and share the report? I am interested to find where you are hitting the bottleneck?
Dependin

[2022-04-05 07:12] sarperkilic opened #4159 "Batch Support Error Triton ONNX Backend"
**Description**
Hello,

I have an ONNX model. I am sharing the input and output dimensions of this model below.
![image](https://user-images.githubusercontent.com/81593133/161698185-65e50766-2697-49dc-909e-9adda2547b74.png)

I need to deploy this model with Triton Inference Server.

Below is my config file:

name: "segmentation_model"
platform: "onnxruntime_onnx"
max_batch_size: 8
input [
  {

[2022-04-05 14:44] DarkKingKaanMC opened #4160 "Specific item names cause Triton placeholders to not work in a GUI"
**Description**
As already reported on Discord, apparently specific item names cause Triton placeholders to not work in a GUI, specifically in the AuctionHouse plugin. (https://i.imgur.com/astucC3.png)

**Triton Information**
Triton v3.7.3

**To Reproduce**
I'm not sure how to reproduce this behaviour, but there's an error thrown in the console: https://pastebin.com/HeMKXMv6

**Expected behavior**

[2022-04-05 14:46] DarkKingKaanMC commented on #4160
Wrong repo, lmao.

[2022-04-05 14:46] #4160 closed

[2022-04-05 18:17] tanmayv25 commented on #4153
This is happening because of a recently introduced [bug](https://gitlab.kitware.com/cmake/cmake/-/issues/23368) in CMake 3.23.
The issue should get resolved once 3.23.1 is released. We have a work-around in 22.04 around this bug. See [here](https://github.com/triton-inference-server/fil_backend/pull/213/files) if interested.

If you would like to build with FIL backend, use 22.04 instead for FIL(`

[2022-04-05 18:19] lminer opened #4162 "Support for tfio in tensorflow backend"
tfio has a lot of ops that are necessary for audio models. Is there support included for tfio in then tensorflow backend?

If not, it would be a great addition.

[2022-04-05 19:44] #3908 closed

[2022-04-05 20:18] sanjay-k598 opened #4165 "Not able to use S3 bucket as a model storage"
I'm get an error while running triton server to use AWS S3 bucket to load my models from.

**Triton Information**

using triton server version 2.6.0

I'm using the triton container provided by Nvidia

**To Reproduce**
Steps to reproduce the behavior.
1. CREATE S3 bucket with the model.onnx file inside.
2. Create a folder named .aws under home directory of container and add below files to store the

[2022-04-05 22:01] CoderHam commented on #4072
Yes we can support a contribution. @Massendefekt would you be able to add this enhancement with some guidance?

[2022-04-05 22:08] CoderHam commented on #3429
@PauloFavero @FCollaPi I am unable to reproduce this issue. Can you provide me with additional environment information? As you can see the issue is occurring with registering the cuda shared memory in Triton and not with the creation / allocation of the cuda shared memory (`create_shared_memory_region`)

[2022-04-06 01:20] tanmayv25 commented on #4165
We have a test in our CI that tests triton with S3 storage model repository: https://github.com/triton-inference-server/server/blob/main/qa/L0_storage_S3/test.sh

That being said there are a couple of issues with your invocation:
1. You should add `--gpus all` to your docker invocation so that triton can access the GPUs. Looks like your mode is configured to run on GPU.
2.  `-p 8004:8004 -p 8005:8

[2022-04-06 01:44] tanmayv25 commented on #4159
Looks similar to https://github.com/triton-inference-server/onnxruntime_backend/issues/109

For Triton to support dynamic batching the output shape should be `[-1, <dim0>, <dim1>, <dim2>]`, however, when reading the onnx model the "output" shape was [1, -1, -1, -1]. Note, the first dimension should have been -1.

Is there a way to make `batch` in `[batch, Unsqueezeoutput_dim_1, height, width]` to

[2022-04-06 02:02] tanmayv25 commented on #4162
I have spent a brief time on reading about the [project](https://github.com/tensorflow/io). It looks more geared towards model training instead of inference. Can you give some links to these ops?

That being said. we have a way to provide custom ops to models loaded via tensorflow backend. See [here](https://github.com/triton-inference-server/server/issues/3604) for how we load models with ops fro

[2022-04-06 02:12] tanmayv25 commented on #4042
Sorry @SimZhou this issue seems to have fell through crack.
Have you tried the LD_PRELOAD trick with the custom op `RegexSplitWithOffsets`? [doc link](https://github.com/triton-inference-server/server/blob/main/docs/custom_operations.md#tensorflow).

[2022-04-06 02:14] lminer commented on #4162
You're right it's mostly useful for training, but for us there are ops that we would also use during inference. For example, [resample](https://www.tensorflow.org/io/api_docs/python/tfio/audio/resample), which would be used as a layer within the model itself for certain downsampling use cases.

[2022-04-06 03:08] mayani-nv commented on #4159
@tanmayv25  is the `batch` can be changed as `-1` using `polygraphy`?
[code]

[2022-04-06 04:17] hegc opened #4168 "HTTP ERROR 400 when load or unload model"
**Description**
I use the image nvcr.io/nvidia/tritonserver:22.02-py3, HTTP error 400 when I load or unload model

**Triton Information**
What version of Triton are you using?
nvcr.io/nvidia/tritonserver:22.02-py3

Are you using the Triton container or did you build it yourself?
nvcr.io/nvidia/tritonserver:22.02-py3

**To Reproduce**
When model-control-mode=explicit:

`docker run --gpus=1 --rm --s

[2022-04-06 05:01] SanjayDT4o commented on #4165
@tanmayv25 Thanks! for your suggestions.

- I'm  not using any GPU based machine so I didn't add "--gpus all".
- Now I have executed the below command..

docker run --rm -p 8000:8000 -p 8001:8001 -p 8002:8002 -v/home/sanjay/docs/examples/model_repository:/models nvcr.io/nvidia/tritonserver:20.12-py3 tritonserver --model-repository=s3://triton-models-poc [ S3bucket where my model file is located ]

[2022-04-06 05:24] shimoshida commented on #4154
@tanmayv25  thanks for the reply. I have investigated it with 21.07 and latest Triton.
I confirm that MIG is disabled correctly via `nvidia-smi`.

## Triton 22.03
logs of Triton startup

[code]

dmesg
<details>

[code]

</details>

## Triton 21.07
dmesg
<details>

[code]

</details>

[2022-04-06 06:06] hegc commented on #4168
em...I made a mistake, the request uri cannot be endswith '/'
`curl -X POST localhost:8000/v2/repository/models/retinaface_trt/unload`

[2022-04-06 06:06] #4168 closed

[2022-04-06 06:54] sarperkilic commented on #4159
Hello,

I tried the polygraphy

First, I inspect my model as follow:

$ polygraphy inspect model model.onnx
[W] 'colored' module is not installed, will not use colors when logging. To enable colors, please install the 'colored' module: python3 -m pip install colored
[I] Loading model: /home/mert/Documents/model.onnx
[I] ==== ONNX Model ====
    Name: torch-jit-export | ONNX Opset: 11

    ---- 1 G

[2022-04-06 10:30] zeynepkoyun commented on #4152
Hi @dyastremsky

Thank you for your answer. I was able to run the Onnx model, but when I presented it with triton, it gave this error. As a temporary solution, I was able to pull the numpy version to 1.15.4 and set the writeable flag true to operate on the relevant value.

I'm looking for different solutions on this issue, I would be glad if you could help me.

[2022-04-06 11:31] sarperkilic commented on #4159
Hello,

I have converted my model input and output tensor shape as follows:

![image](https://user-images.githubusercontent.com/81593133/161964564-a836ce06-b971-4fc1-bb0a-67beb2687d06.png)

And then I tried to inference using onnx-runtime. It works.

I share input and output logs of onnx-runtime below:

batch array shape:  (7, 3, 524, 870)
output shape: (1, 1, 7, 524, 870)

But, when I try to load

[2022-04-06 14:04] zhanghaoie opened #4170 "sometimes slower response time with smaller batch size"
**Description**
A clear and concise description of what the bug is.

**Triton Information**
What version of Triton are you using?
nvcr.io/nvidia/tritonserver:20.12-py3

Are you using the Triton container or did you build it yourself?
use container

**To Reproduce**
Steps to reproduce the behavior.

I have used the torch script to save model, the model is bert with 12 transformer layers.
I have req

[2022-04-06 14:08] zhanghaoie commented on #4170
this is an example, the upper with batch size 25, but response time is about 29.88ms.
the other with batch size 23, but response time is above 300ms

[2022-04-06 14:10] zhanghaoie commented on #4170
I0406 13:55:35.556104 125 http_server.cc:1229] HTTP request: 2 /v2/models/nsp_pairmatching/infer
I0406 13:55:35.556143 125 model_repository_manager.cc:496] GetInferenceBackend() 'nsp_pairmatching' version -1
I0406 13:55:35.556155 125 model_repository_manager.cc:496] GetInferenceBackend() 'nsp_pairmatching' version -1
I0406 13:55:35.556199 125 infer_request.cc:502] prepared: [0x0x7fcd7c005120] requ

[2022-04-06 15:13] Tabrizian commented on #4113
I was not able to reproduce this. I followed the instructions you've provided and built the dockerfile. Instead of docker-compose, I used the docker run command (which should have the same behavior as `docker-compose`) and used the same docker command:

[code]
The server loads the model successfully:

[code]

[2022-04-06 15:16] KarelvdVrie commented on #4113
Thank you for checking. I will have to look at the software and settings of the Jetson I guess. Closing the issue.

[2022-04-06 15:17] #4113 closed

[2022-04-06 16:55] dyastremsky commented on #4152
Were you able to run it in ONNX Runtime specifically? What backend are you using? We need you to provide the full reproduction instructions as described above and in the bug template, to get a sense of what's going on.

[2022-04-06 18:03] tanmayv25 commented on #4159
Triton is still reading the output tensor shape as [1, 1, -1, -1]

I don't understand these shapes in your comment:
[code]

Why is there an extra dimension in the output tensor? And why the batch size `7` is present in 3rd dim instead of first.

I presume onnx runtime doesn't apply strict output validation as needed by Triton. Something is wrong with the model, the generated tensor `(1, 1, 7, 524,

[2022-04-06 18:09] 1-800-BAD-CODE opened #4172 "Jetson PyTorch wheel broken link"
**Description**

Following the Jetson [documentation](https://github.com/triton-inference-server/server/blob/r22.02/docs/jetson.md) for 2.19.0, attempting to install the PyTorch wheel leads to a broken link.

**Triton Information**
2.19.0

**To Reproduce**

Link for 2.19 (broken):
[code]

Link for 2.20 (works):
[code]

[2022-04-06 18:18] CoderHam commented on #4172
@1-800-BAD-CODE thanks for bringing this to our attention. We will work on rectifying the same.

[2022-04-06 18:23] CoderHam commented on #4165
@sanjay-k598 can you try the same with a newer version of Triton (22.01 onwards)? There were some fixes made to S3 support including https://github.com/triton-inference-server/server/commit/806da77081a424fd00513ede4ed3603016785418

[2022-04-06 18:27] CoderHam commented on #4170
@zhanghaoie can you use the perf_analyzer to provide the breakdown between total inference time.

Follow up questions/suggestions:
- nvcr.io/nvidia/tritonserver:20.12-py3 is over a year old. Can you test with a newer release of Triton?
- Have you confirmed that this slowdown is not reproducible in PyTorch directly i.e. outside Triton?

[2022-04-06 18:28] CoderHam commented on #2836
@koval can you confirm that this issue is resolved in the new Triton release i.e. 22.03?

[2022-04-06 18:35] sarperkilic commented on #4159
I dont know why the output tensor shape has extra dimension.

My model was trained with PyTorch. I still have .pth file.

If you suggest me the way, I can re-convert from .pth to .onnx

When I try batch-size=1 inference on Triton, the output tensor shape is (1,524,870)

[2022-04-06 19:00] tanmayv25 commented on #4159
Unfortunately, I don't know why it would be happening either. Have you asked it here:

We obtain the dimension for the tensor in onnxruntime_backend [here](https://github.com/triton-inference-server/onnxruntime_backend/blob/main/src/onnxruntime_utils.cc#L174-L179). This is giving `[1,1, -1, -1]`.

I am transferring the issue to onnxruntime_backend project. But I think you may be better off working

[2022-04-06 22:37] acascio11 commented on #4172
This should be fixed now.

[2022-04-07 00:38] tanmayv25 commented on #4154
Looks like your system is going out of memory.

[code]

Try specifying lower `--pinned-memory-pool-byte-size`

[2022-04-07 01:25] tanmayv25 commented on #4067
Closing the issue because of inactivity. Please re-open if you are still running into issues.

[2022-04-07 01:25] #4067 closed

[2022-04-07 01:33] tanmayv25 commented on #4083
@youxingtian  Which version are you using? There was a fix that went in 22.02 container and might be related.
https://github.com/triton-inference-server/pytorch_backend/pull/49

[2022-04-07 01:34] #4083 closed

[2022-04-07 06:51] simpleesamm commented on #4085
Hi @dominusLabs! Im facing this exact same issue. Are u able to provide your post-processing step? Thanks so much!

[2022-04-07 07:29] zhanghaoie commented on #4170
Ok, I will use perf analyzer to see the time cost. I have tried docker 21.07, also doen't work.

[2022-04-07 08:45] jeon30c opened #4178 "[Question] The way of working of sequence_end control signal in sequece batcher"
I am using python backend and sequence batcher.
The signal comes in every 20ms but in server model I delayed the process by adding sleep of 40ms, meaning that the requests are stacking in message queue more and more as time goes on.

1. I observed that as soon as I sent control signal of sequence_end to the server, the server emptied the message queue right away and finished processing the sequenc

[2022-04-07 09:34] remib-proovstation opened #4179 "Triton server container lockup on stop when pinned memory is too big"
**Description**
When launching the triton server container with `--pinned-memory-pool-byte-size=20000000000` (20g), the container takes several minutes to stop with `docker container stop`.

When using less pinned memory, the docker stops as expected.

The more pinned memory is used, the longer it takes to stop the container,

This bug occurs only on one of our hardware setup

**Triton Information

[2022-04-07 10:42] zhanghaoie commented on #4170
Request concurrency: 1
  Client:
    Request count: 1022
    Throughput: 2452.8 infer/sec
    p50 latency: 9688 usec
    p90 latency: 9749 usec
    p95 latency: 9768 usec
    p99 latency: 9838 usec
    Avg HTTP time: 9681 usec (send/recv 47 usec + response wait 9634 usec)
  Server:
    Inference count: 29472
    Execution count: 1228
    Successful request count: 1228
    Avg request latency: 9458

[2022-04-07 10:45] zhanghaoie commented on #4170
I doubt if my client code has some problems when requesting batch data. below is the client code.

    def test_infer(self,
                   input0_data,
                   input1_data,
                   input2_data,
                   input3_data,
                   model_name):
        inputs = []
        outputs = []
        batch_size = input0_data.shape[0]
        inputs.append(httpclient.

[2022-04-07 16:10] CoderHam commented on #4172
@1-800-BAD-CODE please use the new URL. The follow has also been updated in the docs.

[2022-04-07 16:10] #4172 closed

[2022-04-07 17:13] 1-800-BAD-CODE commented on #4172
Thanks, link and libtorch both work.

[2022-04-07 19:12] yaoyunda opened #4183 "Need minimum CI test set to validate customized tritonsever gpu image built using optional features"
**Description**
A clear and concise description of what the bug is.

There is no clear specification and way to generate a CI test set for customized tritonsever image which is built using optional features.
Almost all current existing CI tests under qa folder are failed to validate customized  tritonsever  gpu image validation

**Triton Information**
What version of Triton are you using?
r22.03

[2022-04-07 23:06] GuanLuo commented on #4089
It appears that the bug has been fixed by https://github.com/triton-inference-server/server/pull/3828 and I am not able to reproduce it using the model example for the plugin. Can you try the plugin from the latest codebase?
[code]
returns:
[code]

[2022-04-08 02:29] lhy2749 opened #4184 "Will you submit the min-image for history triton?"
**Is your feature request related to a problem? Please describe.**
On our server, the nvidia-driver version is 450, and we can't upgrade it yet. It means we can only use triton-20.09, but it seems I can‘t use compose.py to build images becase of `nvcr.io/nvidia/tritonserver:20.09-py3-min not found`. Is there any way I can solve this problem?

**Describe the solution you'd like**
A clear and concis

[2022-04-08 04:32] #4150 closed

[2022-04-08 09:26] kelisiya commented on #4133
I have the same problem. When I use torchscript model in my triton client , the  dynamic batching not work. How can I prove that the dynamic batching is being used correctly. Whether multiple requests correspond to one client or multiple requests correspond to multiple clients. I have an input image but it has to be sliced into 16 patches then inference these patches separately, I want triton to h

[2022-04-08 10:02] QMassoz opened #4187 "model config is unavaible to client if model is not loaded by the server"
**Description**
The following code
[code]
fails and throws
[code]
when triton inference server is launched with ```--model-control-mode explicit``` and 'my_model' is not loaded by the server (it does exist in model repository). Only after 'my_model' is loaded using ```client.load_model('my_model')``` that the model configuration becomes available.

**Triton Information**
Triton version: 22.03
Dock

[2022-04-08 13:21] QMassoz opened #4188 "[request] automatic on-the-fly model load/unload based on init & process resources"
**Is your feature request related to a problem? Please describe.**
Yes, we want to easily deploy on a single Triton inference server (composed of 1+ GPUs) a large repository of models (let's say 20). Given the large amount of weights, it is obvious that Triton will not be able to load all models in GPU memory at the same time. Therefore, we will need a mechanism to load/unload models on-the-fly. O

[2022-04-08 18:06] GuanLuo commented on #4187
Triton doesn't provide the config (model metadata) unless the model is loaded and ready for inference.

[2022-04-08 18:06] #4187 closed

[2022-04-08 20:31] #4130 closed

[2022-04-08 21:22] tanmayv25 commented on #4133
@omrifried  Yes. The httpclient is built on top of geventhttpclient lib. The greenlets needs co-operative multi-threading to actually relinquish control to one another. After:

[code]

Are you calling [get_results()](https://github.com/triton-inference-server/client/blob/main/src/python/library/tritonclient/http/__init__.py#L1559) on response_1 and response_2 to relinquish control?

See here for e

[2022-04-08 21:24] tanmayv25 commented on #4133
@kelisiya This looks like a separate problem. Can you create a new github issue?

[2022-04-08 21:36] darintay opened #4193 "[request] Able to dynamically load ensembles without polling for model dependencies"
**Is your feature request related to a problem? Please describe.**
The process for dynamically loading an ensemble is cumbersome, and different from all(?) other model types.
You currently have to:
- Invoke ModelLoad for each model used by the ensemble
- Poll the server until it reports each one is ready
- Invoke ModelLoad for the ensemble model

For other model types the inferencer doesn't need t

[2022-04-08 23:02] tanmayv25 commented on #4178
Did you study the sequence batching strategy from [here](https://github.com/triton-inference-server/server/blob/main/docs/architecture.md#stateful-models)?

This should not happen. sequence_end just lets the sequence batcher know that batch slot can be used for other sequences.  What is your `max_sequence_idle_microseconds`? I am guessing that it is lesser than 20ms. Upon this timeout the batch sl

[2022-04-08 23:14] tanmayv25 commented on #4179
Can you describe other systems you have tried? Also their respective available memories and whether delay was observed or not.

Can you try the following step on the machine exhibitting this issue?

1.  Launch  `nvcr.io/nvidia/tritonserver:22.01-py3` in interactive mode on the machine.
2. Start the server within the container:
  `tritonserver -- model-repository=/models --model-control-mode=explic

[2022-04-08 23:31] GuanLuo commented on #4133
Also note that for HTTP Python client, you will need to set the `concurrency` for sending requests concurrently https://github.com/triton-inference-server/client/blob/main/src/python/examples/simple_http_async_infer_client.py#L55-L58

[2022-04-08 23:35] tanmayv25 commented on #4184
20.09 is a very old release. Our build process was different back then. See this for build instruction for the release: https://github.com/triton-inference-server/server/blob/r20.09/docs/build.rst

You might still be able to use newer version of triton using [cuda-compat.](https://docs.nvidia.com/deploy/cuda-compatibility/index.html#forward-compatibility-title).

[2022-04-08 23:36] sperezs95 opened #4194 "UNAVAILABLE: Invalid argument: model 'keypoints_pose_0', tensor 'input.1': the model expects 4 dimensions (shape [1,3,224,224]) but the model configuration specifies 4 dimensions (shape [1,3,224,244])"
**Description**
I'm trying to serve the NVIDIA human pose estimation model described here: https://github.com/NVIDIA-AI-IOT/trt_pose, specifically I'm using the ONNX conversion of the model shown in this other link: https:/ /github.com/NVIDIA-AI-IOT/deepstream_pose_estimation

I have downloaded the "pose_estimation.onnx" file, placed it in my newt models directory and wrote the following config fi

[2022-04-08 23:51] GuanLuo commented on #4154
I don't know why it may cause OOM even when no model is loaded. Would it also worth a try to remove the backend shared libraries so Triton will start without loading any framework libraries?

[2022-04-09 00:25] tanmayv25 commented on #4193
It should be able to load all the composing model of an ensemble. We even have a test case for it: https://github.com/triton-inference-server/server/blob/main/qa/L0_lifecycle/lifecycle_test.py#L1567-L1578

just loading the ensemble model loads the composing models. Can you describe your setup and what error you are seeing?

[2022-04-09 00:47] tanmayv25 commented on #4188
I have marked this as an enhancement but little reluctant in making part of Triton.

Currently, triton exposes all the control to the user to decide when to load or unload models as per need. See `--model-control-mode explicit`. A client can build logic around when to pre-fetch the model and when to unload it.

The reason why I am reluctant to your solution is : Some of the frameworks(like TF) don

[2022-04-09 00:57] tanmayv25 commented on #4183
What is the error that you are seeing? You should be able to run some of our generic tests.
You might have to tweak the tests to only include your specified backends: https://github.com/triton-inference-server/server/blob/main/qa/L0_infer/test.sh#L119

I agree some of these tests in qa require models that are not generated by the  [gen_qa_model_repository](https://github.com/triton-inference-serve

[2022-04-09 01:06] tanmayv25 commented on #4194
The error message is self-explanatory. Your model expects `input.1` with shape `[1, 3, 224, 224 ]` but your mode config describes the shape for the tensor as: `[1, 3, 224, 244]`

Just use the following config:

[code]

You can also use auto-complete config feature described here: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md#auto-generated-model-configurat

[2022-04-09 01:19] tanmayv25 commented on #4008
@XZHUNZHUN  Can you perform a debug build of triton server and share the stack trace?
https://github.com/triton-inference-server/server/blob/main/docs/faq.md#if-the-server-segfaults-how-can-i-debug-it

Also, did you expect to use tensorflow1? Or wanted yo use TF2 with [--backend-config=tensorflow,version=2](https://github.com/triton-inference-server/tensorflow_backend#--backend-configtensorflowver

[2022-04-09 01:26] tanmayv25 commented on #3928
Sorry for the delayed response.

From the error message it does appear that is the case. Is it not possible to generate the TRT engine within `tensorrt:21.12-py3` container?

[2022-04-09 01:33] tanmayv25 commented on #3976
It is not clear from your description what you are asking of Triton.

Triton can help you running models. We have a quickstart [here](https://github.com/triton-inference-server/server/blob/main/docs/quickstart.md).
The model repositoy has an onnx model: https://github.com/triton-inference-server/server/tree/main/docs/examples/model_repository/densenet_onnx
For directly calling inference from your

[2022-04-09 01:37] tanmayv25 commented on #4103
Closing the issue because of inactivity. Please share the requested additional information for us to be able to better assist you.

[2022-04-09 01:37] #4103 closed

[2022-04-09 02:36] sperezs95 commented on #4194
Thank you for your answer, it seems that my whole problem was a typing error, thank you very much for your time and help.

I'm going to try the auto-complete feature.

[2022-04-09 02:36] #4194 closed

[2022-04-09 09:23] fire commented on #3976
I am closing. Thanks for the help.

[2022-04-09 09:23] #3976 closed

[2022-04-09 23:05] eanmikale opened #4196 "Failed to update context stat: Timer not set correctly. Send time from 1649545273035059093 to 0."
./simple_http_infer_client -u https://endpoint.com -t 300 /home/hostname/Pictures/mug.jpeg
Failed to update context stat: Timer not set correctly. Send time from 1649545273035059093 to 0.
error: unable to run model: failed to parse the request JSON buffer: The document is empty. at 0

Looking at if the syntax is incorrect or the best way to conduct inference over an https connection.

[2022-04-10 04:01] darintay commented on #4193
Must have a been a bug on my end, and jumped to the conclusion that it wasn't supported.

Trying again now with a simple test case and it seems to pretty clearly work.  That's great to see!

My bad and thanks for the quick response!

[2022-04-10 04:01] #4193 closed

[2022-04-10 05:09] zhanghaoie commented on #4170
I have used the python backend instead of pytorch, it seems no problem!

[2022-04-10 05:09] #4170 closed

[2022-04-10 12:10] SinVl opened #4197 "Triton dosen't start in kubernetes"
**Description**
I am running Triton in kubernetes for two nodes for CPU inference. On one of them it starts normally, on the other it does not start.

Kubernetes manifest:
[code]

**Triton Information from the problem node**
[code]
**Triton Information from a normal node**
[code]
How can i figure out what is wrong? I don't understand it from the logs.

Thank you!

[2022-04-10 17:11] SinVl commented on #4197
I ran the same image on docker and realized what the problem was. It is strange that it was not displayed when running in Kubernetes
[code]

[2022-04-10 17:11] #4197 closed

[2022-04-10 17:49] xywlpo opened #4198 "how to ensemble models with detection and classsification"
Hi, I have a task to detect object first, and then classify the bbox. I design the pipeline with ensemble model. First I use yolov5 to detect object. Second, I use a crop model with python backend to crop image region by bbox. Last, I use the image roi to classify. But there is a problem if the detection part cannot detect anything, how should I write the code of crop model. Since the classificati

[2022-04-10 20:56] dfisk opened #4199 "tritonserver ensemble SEGV in nvidia::inferenceserver::RateLimiter::EnqueuePayload"
Greetings,

This issue is wrt.

NVIDIA Release 22.03 (build 33743047)
Triton Server Version 2.20.0

I have developed an ensemble example from scratch that combines XGBoost(1), Tensorflow(1), and Scikit-Learn(2) framework models, along with multiplexer(1) and combiner(1) python models using the tensorflow2, fil and python backends.

The server initializes properly inference to each of the (6) model

[2022-04-11 02:28] jeon30c commented on #4178
The settings are as below.
[code]

I got logging like

[code]

As you said, I printed out the logging using --log-verbose=1 and at the last request I got
[code]
I think this is the cause of the problem though I specified the start flag as is shown in the former logs.

Additional question:
I assigned random id to each model instance and had four instances as

[code]

But after repeating start and s

[2022-04-11 03:06] shimoshida commented on #4154
@tanmayv25 Is this command correct? The result is the same.
[code]

I'm sorry I cannot understand this. What should I do for investigation?

[2022-04-11 03:24] ZongqiangZhang commented on #3150
@Zhaojp-Frank @CoderHam
I have just did a test too, and tritonserver is working properly on MPS server.  I am afraid the failed case may be because of mis-configuration.

BWT, my test env is:
- GPU: Tesla T4
- GPU driver: 450.142
- Triton: 20.09 image from NGC
- Model: tf resnet

![image](https://user-images.githubusercontent.com/7486539/162659915-fc5b9147-3048-4ba4-afd7-b8320bf4cedf.png)

[2022-04-11 03:26] hegc commented on #4198
Maybe this can help you
`# pb_utils.InferenceResponse(output_tensors=..., TritonError("An error occured"))`

[2022-04-11 03:57] sandeepy1 opened #4200 "Failed to load tensorflow savedmodel"
I am trying to run tensporflow saved model. But, it gives following error. I am using docker container of triton 22.02 i.e. `nvcr.io/nvidia/tritonserver:22.02-py3` .

[code]
Below is the directory tree of `/opt/tritonserver/backends/`
[code]

This is the entire log.
[code]

[2022-04-11 06:33] donggrame commented on #4150
@Tabrizian
Sorry to bother you, but can I use the `optional` feature now if I build the stub on the main branch, or should I wait for the next release?
Because I built the stub on the main branch with the fix but it still complains about invalid arguments.

[2022-04-11 07:07] zhaohb opened #4201 "python backend: BLS triton_python_backend_utils support url arguments"
From the documentation I see that I can use python Backend BLS mode in this way：
[code]

As you can see, pb_utils does not support url parameters, so the BLS can only access other models that exist locally, not models that reside on other servers. How can we resolve this situation?

thank you very much.

[2022-04-11 07:46] ZongqiangZhang opened #4202 "feat: multiple triton server can bind on the same http/grpc port"
**Is your feature request related to a problem? Please describe.**
Running multiple copies of triton server each serving 1 instance of a model may perform better than a single triton server with 2 instances of the model. This can benefit throughput and performance when multi-process triton server(s) are running on MPS.
It's not allowed to start more than 2 copies of triton server listening on the

[2022-04-11 09:25] greenberd09 opened #4203 "Batching by any axis"
**Is your feature request related to a problem? Please describe.**
I am using optimized gpt-2 in onnx format from [this](https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/python/tools/transformers)
There is a problem with batching here, as some model inputs collect a batch along the 2nd dimension.
This has to do with previously computed keys and values ​​that can be used to prevent

[2022-04-11 09:50] expresschen commented on #3928
Yes，i solved it by reinstall cuda11.5

[2022-04-11 09:50] QMassoz commented on #4188
A suggestion: if some backends (like TF) does not manage their memory well, you could make a list of backends that are and aren't supported with such automatic load/unload feature. The list of supported backends could grow as time goes. In my opinion, it would be sad that the (uncontrollable) behavior of a few backends (which keeps growing fast in number) prevents new features for triton.

By the

[2022-04-11 09:50] #3928 closed

[2022-04-11 11:52] koval commented on #2836
@CoderHam I can confirm I don't see the issue in `nvcr.io/nvidia/pytorch:22.03-py3` and `nvcr.io/nvidia/tritonserver:22.03-py3`.

[2022-04-11 13:44] #2836 closed

[2022-04-11 13:47] Tabrizian commented on #4201
Correct. BLS can only be used with models that are loaded in the current instance of Tritonserver. If you want to execute requests on a remote Triton instance, you can install the `tritonclient` and send requests to remote triton servers using the Python client.

[2022-04-11 13:47] #4201 closed

[2022-04-11 16:28] dyastremsky commented on #4037
The same way. If I'm reading your nvidia-smi correctly, your GPU utilization is 0%. It looks like perhaps it was taken when requests weren't being sent or your model isn't actually using the GPU.

[2022-04-11 16:33] dyastremsky commented on #3936
Apologies for the delay. Are you still getting this error? We had a few fixes merged for upstream libraries.

[2022-04-11 16:47] Tabrizian commented on #3992
There are some APIs in CuPy to release the memory that might be useful for your scenario to reclaim the memory:

[code]

https://docs.cupy.dev/en/stable/user_guide/memory.html#memory-pool-operations

[2022-04-11 16:52] GuanLuo commented on #4051
Unfortunately we haven't have the development cycle to look into the issue.

The way that you were trying is the scheme for hot updating ensemble, this is a bug that we will need to fix

[2022-04-11 17:30] GuanLuo commented on #4021
@jspabloq From your experiment, you are actually comparing two "different" models (perhaps the same model structure, but the framework is different so different level of optimizations may be applied). Have you run the ONNX model with native ORT to make sure that the 2x difference is not intrinsic?

In general, it depends on whether your model can process larger batch size within one execution (if

[2022-04-11 18:59] zeruniverse commented on #3992
Thanks!

On Tue, Apr 12, 2022 at 12:47 AM Iman Tabrizian ***@***.***>
wrote:

[2022-04-11 19:00] #3992 closed

[2022-04-11 19:36] tanmayv25 commented on #4007
Looks like the bottleneck is not the compute infer inside the backend but within jmeter/triton http endpoint interaction.
Your latency values for the model are quite small. The total latency of response= `model compute + <some overhead>`

Using quantization can improve the model compute latency, but it will not improve the overhead, hence total response time might not see same level of improvement

[2022-04-11 22:29] PauloFavero commented on #3429
Hi @CoderHam

Thanks for giving a look into this issue.
What kind of information do you need?

I tried with this [docker-compose.yml](https://github.com/triton-inference-server/server/issues/3429#issuecomment-933716254) and with simple_grpc example.

[2022-04-11 23:06] Tabrizian commented on #4021
Guan is correct. BLS can have some overhead compared to ensemble because it needs to transfer data between the processes.

[2022-04-11 23:14] GuanLuo commented on #4202
Thanks for suggesting this feature, we will look into it.

[2022-04-11 23:39] GuanLuo commented on #4200
from the error message `unable to find 'libtriton_tensorflow_savedmodel.so'`, it appears that the wrong backend library name is being looked up. Can you check the model config (config.pbtxt) and make sure that the 'platform' and 'backend' fields are set correctly (see [expected value](https://github.com/triton-inference-server/backend#backends) for various backends)

[2022-04-11 23:58] GuanLuo commented on #4196
From the error message alone, it appears that your client is not preparing the request JSON correctly, please refer to the [predict protocol](https://github.com/kserve/kserve/blob/master/docs/predict-api/v2/required_api.md#inference) for the expected format. And you should also make sure that the proper server address is provided (ip / hostname with http port number)

[2022-04-12 00:10] GuanLuo commented on #4105
That may be issue fixed on the ORT side. The ORT version used by Triton is an older version and there is an ongoing PR (https://github.com/triton-inference-server/server/pull/4169) to upgrade to 1.11.0. Do you mind to repeat your experiment once Triton uses ORT 1.11.0?

[2022-04-12 00:16] GuanLuo commented on #4154
So Triton will attempt to load some backend (framework) libraries when it starts (i.e. `I0404 11:55:52.570841 69 tensorflow.cc:2169] TRITONBACKEND_Initialize: tensorflow`), and if you remove all the backends shipped in `/opt/tritonserver/backends/` (`rm -r /opt/tritonserver/backends/*`), then Triton will have to start without any backends:
[code]
We can narrow down the scope depending on whether T

[2022-04-12 00:53] tanmayv25 commented on #3426
I think [implicit state management ](https://github.com/triton-inference-server/server/blob/main/docs/architecture.md#implicit-state-management) does exactly that. The output of previous request will feed the input of next request.

[2022-04-12 01:57] zhaohb commented on #4201
@Tabrizian do we have plan to support this feature？

[2022-04-12 07:38] #4200 closed

[2022-04-12 07:39] #4151 closed

[2022-04-12 08:07] chiehpower opened #4205 "Launch the TIS encountering the issue of "Unable to get power limit for GPU 0: Not Supported""
**Description**
I have tried the docker image version with 21.03 and 21.09.
Here is the output message from the image `nvcr.io/nvidia/tritonserver:21.09-py3`.

[code]

**Triton Information**
21.09-py3 and 21.03-py3

Are you using the Triton container or did you build it yourself?
Container from NGC.

**To Reproduce**
My device is a **laptop** and its GPU is `NVIDIA GeForce RTX 2070 with Max-Q Desi

[2022-04-12 08:11] shimoshida commented on #4154
@GuanLuo Thank you for the help!
I have tried to delete all backend library, but OOM occurs(Triton version is `21.07`).
[code]

[2022-04-12 08:14] shimoshida commented on #4154
The same results by `22.03`
[code]

[2022-04-12 08:53] lhy2749 opened #4206 "Can Triton improve QPS by increasing CPU utilization?"
**Is your feature request related to a problem? Please describe.**

I know Triton can use `instance_group` in `config.pbtxt` loads multiple identical models. But I found that this only changes the memory utilization, while the CPU utilization is the same (observed by `docker stats`). Are there any commands or parameters that enable Triton to increase CPU utilization?

**Describe the solution you'd

[2022-04-12 17:05] CoderHam commented on #3150
@ZongqiangZhang @Zhaojp-Frank I am closing this ticket based on the confirmation from @ZongqiangZhang

[2022-04-12 18:44] tanmayv25 commented on #4188
Yes. The feature will help you achieve what you are asking. Please keep an eye for the announcement.

[2022-04-12 23:00] CoderHam commented on #4199
@dfisk thanks for the repro. Marking this as a bug.

[2022-04-12 23:02] CoderHam commented on #4205
@jbkyang-nvi can you have a look? Is it a DCGM bug?

[2022-04-12 23:05] CoderHam commented on #4206
@lhy2749 can you try to use the numa optimzation? https://github.com/triton-inference-server/server/blob/main/docs/optimization.md#numa-optimization

It is possible that the CPU utilization of specific cores are 100 but not all cores are being used.

[2022-04-13 00:51] chiehpower commented on #4205
Hi all,

After I tested, it can work (do inference and get the results)
However, it still shows the word "Unable to get power limit for GPU 0: Not Supported".
Does it matter? I mean do I need to care about this message?

[2022-04-13 01:46] #4206 closed

[2022-04-13 02:18] lhy2749 commented on #4184
Thank you for your advice. But I found a new problem, My operation is as follows:
run `docker run --gpus '"device=2"' -it --name triton-update -v ***:/models nvcr.io/nvidia/tritonserver:21.09-py3 bash`(drive version 450.80.02, RTX2080Ti), the error exception follows:

ERROR: This container was built for NVIDIA Driver Release 470.57 or later, but
       version 450.80.02 was detected and compatibil

[2022-04-13 02:23] zhaohb commented on #4201
@Tabrizian Thank you very much, I am already using tritonclient, but I am not sure how this is different from doing preprocessing in flask, what are the advantages of Python Backend？

[2022-04-13 03:19] lhy2749 commented on #4184
I found it.

Release 21.09 is based on [NVIDIA CUDA 11.4.2](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html), which requires [NVIDIA Driver](http://www.nvidia.com/Download/index.aspx?lang=en-us) release 470 or later. However, if you are running on Data Center GPUs (formerly Tesla), for example, T4, you may use NVIDIA driver release 418.40 (or later R418), 440.[3](https://docs.nv

[2022-04-13 03:22] #4184 closed

[2022-04-13 03:33] 520jefferson commented on #2238
maybe you can change the r20.10 to r20.12

[2022-04-13 04:07] SimZhou opened #4212 "Custom ops with LD_PRELOAD trick failed"
Hi, to incorporate tensorflow_text ops into triton server, (to support direct text as input #4042), I am trying LD_PRELOAD trick.

But I've failed to load those custom_ops into triton server.

Heres what I did:
1. create a new modified Docker image with modifed LD_LIBRARY_PATH, instructed by https://github.com/triton-inference-server/server/blob/main/docs/custom_operations.md#tensorflow. Also, cop

[2022-04-13 04:09] SimZhou commented on #4042
Yes, I am trying but it seems I've encountered another issue, which failed me with loading the custom op library: #4212

[2022-04-13 04:36] yaoyunda commented on #4183
@tanmayv25 , thanks.

I have some questions for you about my optional build.
 1. Are 3 sanity tests mentioned in test doc (L0_infer, L0_batcher and L0_sequence_batcher) enough for build validation test?

 BACKENDS="onnx" ENSEMBLES=0 EXPECTED_NUM_TESTS=37 bash -x ./test.shBACKENDS="onnx" ENSEMBLES=0 EXPECTED_NUM_TESTS=37 bash -x ./test.sh

using above command line to run, all 3 tests are passed. Ho

[2022-04-13 06:07] SimZhou commented on #4212
tried running tritonserver inside the container, and it gives me this:
[code]

[2022-04-13 10:13] zhaotyer opened #4213 "Tritonserver Log: model-level grading"
**Is your feature request related to a problem? Please describe.**
Currently, The logs of all models are printed together and it is difficult to distinguish，If there are many models, it will be difficult to locate the problem of a certain model.

**Describe the solution you'd like**
The log of each model is separated or the model information (like the model name) is automatically output in the log

[2022-04-13 11:45] Rusteam opened #4214 "[mlflow-triton-plugin] wrong "backend" value when deploying in onnx flavor"
**Description**
When deploying an MLflow model with ONNX flavor, **backend** equals to **onnx** in __config.pbtxt__, while it should be `backend=onnxruntime` or `platform=onnxruntime_onnx`.
[source](https://github.com/triton-inference-server/backend/blob/main/README.md#backends)

**Triton Information**
- docker image: `nvcr.io/nvidia/tritonserver:21.12-py3`
- mlflow-triton-plugin=0.1.0

**To Repro

[2022-04-13 11:49] Rusteam commented on #4214
I see it has been fixed [here](https://github.com/triton-inference-server/server/pull/4186) as well

[2022-04-13 11:49] #4214 closed

[2022-04-13 15:29] deadeyegoodwin commented on #4045
Fixed with #4045

[2022-04-13 15:33] #4045 closed

[2022-04-13 17:09] rmccorm4 commented on #3429
Hi @PauloFavero ,

Can you reproduce this using the latest **22.03** containers? I just tried to follow your repro using `docker run` and was not able to repro.

I also notice you're building a custom client container rather than using the SDK container directly. Can you try using the SDK container as-is?

[code]

[2022-04-13 18:13] naor2013 opened #4215 "Python Model with BLS: failed to get cuda pointer device attribute"
**Description**
A clear and concise description of what the bug is.
I'm using a Python model with BLS to call a TorchScript model that runs on a gpu.
I can see that when calling the Python model, it sends the request to the TorchScript model and succeeds based on the "add response output" log that happens after the model call.
Then I get a "failed to get cuda pointer device attribute: initializati

[2022-04-13 18:21] rmccorm4 commented on #3997
Hi @TannedCung ,

Can you elaborate on how you're stress testing triton? Please share the full stress test scripts / instructions on how to reproduce the error.

In addition:
1. Can you reproduce this by using `docker run` directly instead of using `docker-compose` ?
2. Can you reproduce this using [perf_analyzer](https://github.com/triton-inference-server/server/blob/main/docs/perf_analyzer.md) f

[2022-04-13 21:19] dyastremsky commented on #4183
Hi @yaoyunda. Those three tests mentioned in [the test document](https://github.com/triton-inference-server/server/blob/main/docs/test.md) are meant to be a sanity check. They won't be comprehensive, so if there's other functionality that is key for you, it could be worth testing. You could look at our current tests for inspiration, but as you mentioned, not all of the models are publicly availabl

[2022-04-13 21:22] Tabrizian commented on #4215
Hi @naor2013! Looks like call to [this function](https://github.com/triton-inference-server/python_backend/blob/c9f79ce25491a66075a563c655a9cc3285069cfb/src/pb_utils.cc#L85) failed.

* Have you started the container with `--gpus all`? It looks like there is some problem with CUDA initialization.
* What is the CUDA Driver version installed on your system? What GPU are you using is it a datacenter G

[2022-04-13 21:27] tanmayv25 commented on #4183
@yaoyunda  See here for the details: https://github.com/triton-inference-server/python_backend#managing-shared-memory

[2022-04-13 23:26] tanmayv25 commented on #4154
Can you try this and share your findings?
[code]
, does it work for N = 0, 1000, 1000000?
What is the total memory available in the system?

[2022-04-14 01:54] chiehpower commented on #4205
Hi @jbkyang-nvi ,

Here you are.
![4704997](https://user-images.githubusercontent.com/32332200/163296520-ac6114ac-5922-46fa-bf81-c85041f89896.jpg)
![4704991](https://user-images.githubusercontent.com/32332200/163296534-a3411c1e-1122-4ee7-82fc-3ece5fe86e37.jpg)

Got it!! Thanks for your information!

[2022-04-14 04:43] shimoshida commented on #4154
@tanmayv25
## settings:
Triton version: `21.07`

Machine spec:
- memory: `900` GiB
https://docs.microsoft.com/en-us/azure/virtual-machines/nda100-v4-series
[code]

Delete Libraries:
[code]

## Logs
N=0
[code]

N=1000
[code]

N= 1000000
[code]

[2022-04-14 09:09] jeon30c commented on #4178
To reproduce the situation, I tried to code a sample app. During the process, I found that I was using asynchronous library such as grpc.aio.xxx. After I switched that to synchronous version as grpc.xxx, the failure disappeared.

I will check this later. Thank you.

[2022-04-14 09:09] #4178 closed

[2022-04-14 10:22] TimovNiedek opened #4219 "Async requests not increasing throughput with high network latency"
**Description**
Calls to our Triton inference server have a high latency due to the networking being slow. The average inference request duration as reported by nv_inference_request_duration_us is below 25ms, but the latency for a single request as measured from the client side can be multiple seconds. We are using a client based on the [simple_grpc_async_infer_client](https://github.com/triton-in

[2022-04-14 11:46] Revist commented on #4165
I have the same problem:

`docker run --gpus 1 --rm -p8000:8000 -p8001:8001 -p8002:8002 nvcr.io/nvidia/tritonserver:22.03-py3 tritonserver --model-repository=s3://s3.eu-de.cloud-object-storage.appdomain.cloud/triton-models-directory`

the bucket s3.eu-de.cloud-object-storage.appdomain.cloud/triton-models-directory is publicly available and i still get error

`I0414 11:45:42.267265 1 server.cc:249]

[2022-04-14 14:16] Tabrizian commented on #4137
Closing the ticket, due to in-activity.

[2022-04-14 14:16] #4137 closed

[2022-04-14 14:22] naor2013 commented on #4215
I'm using the compatibility driver feature, so my actual Cuda is 11.0 but nvidia-smi shows Cuda version 11.6.

What exactly do you want to see in nvidia-smi? We have many GPUs all set up and used frequently, so it'll be very weird if that is a Cuda driver installation issue.

I tried to convert the output tensor to DLPack and from DLPack to torch, I got an issue from torch: "Specified device cuda:

[2022-04-14 14:26] Tabrizian commented on #4215
Yes, that is very helpful. Can you try running the 22.03 release? It includes this commit that could be related: https://github.com/triton-inference-server/python_backend/commit/56727b5b78d5d04720eac718c5f3ef1b9d591a94

[2022-04-14 14:32] naor2013 commented on #4215
It looks like it got merged in early February, does that not mean it is included in 22.02?

[2022-04-14 14:37] Tabrizian commented on #4215
My bad. You are correct. It is included in the 22.02 release. I'm not sure what else could be wrong. Can you share the contents of your model repository along with the client so that we can look into this?

[2022-04-14 14:50] hyperfraise opened #4220 "[FEATURE REQUEST] Support types supported by TensorRT"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I see that my TensorRT model can take as inputs FP16 or INT8, but not when I put it in a Triton inference server.

**Describe the solution you'd like**
We should be able to specify `TYPE_FP16` or `TYPE_INT8` in the `config.pbtxt` file when using "tensorr_plan" backend.

**Describe alternatives you've considered*

[2022-04-14 16:19] Naegionn opened #4221 "Serverside Postprocessing"
Hey,
I want to use triton in a way where it should serve multiple different models. For example object detection and segmentation models.
The client should not have to worry about postprocessing for each model but instead there would be some python function registered with the model (onnx) to be called as a server side postprocessing step. This would for example convert the segementation output  a

[2022-04-14 17:14] dyastremsky commented on #4220
You can use FP16 and INT8. See supported datatypes here: https://github.com/triton-inference-server/server/blob/main/docs/model_configuration.md

[2022-04-14 17:16] dyastremsky commented on #4220
Closing because this feature exists. If you have further questions related to this ticket, feel free to reopen.

[2022-04-14 17:16] #4220 closed

[2022-04-14 17:23] dyastremsky commented on #4221
You can use [ensemble models](https://github.com/triton-inference-server/server/blob/main/docs/architecture.md#ensemble-models) or the Python backend's [Business Logic Scripting](https://github.com/triton-inference-server/python_backend#business-logic-scripting). Those are often used for pre- and post-processing of models.

[2022-04-14 18:12] tanmayv25 commented on #4154
I see. One more experiment. Can you try this command?
[code]
Do you still see the failure? Read more about --cuda-memory-pool-byte-size from here: https://github.com/triton-inference-server/server/blob/main/src/main.cc#L555

64 MB should not be a great deal for 40GB gpus and 900GB machine. Most likely it is an issue with your environment. Trying to narrow down the same with these experiments.

[2022-04-14 19:02] tanmayv25 commented on #4165
@Revist Are you using Triton version 22.01 or up?

[2022-04-14 20:37] CoderHam commented on #4219
@TimovNiedek can you capture numbers with the async mode for perf analyzer?

[2022-04-14 20:38] CoderHam commented on #4213
@zhaotyer can you elaborate what parts of the logging you would like to include the model name in?

Do you care for the model instance or just the model name itself?

[2022-04-14 20:41] CoderHam commented on #4212
The issue is occurring likely because the version of TF used to create the custom op does not match the version used in Triton (TF NGC container for that release <xx.yy>).

I would recommend creating the custom op library inside that container and trying with that to avoid symbol issues.

[2022-04-14 20:44] CoderHam commented on #4198
You might need to take advantage of the python backend to do some pre/post processing between your models.

@Tabrizian to elaborate

[2022-04-14 20:46] CoderHam commented on #4203
Triton does support or have plans to support batching from an arbitrary axis. But we will make a note of your request and prioritize this request accordingly

[2022-04-14 20:46] CoderHam commented on #4205
It appears that your GPU does not have Power management support. @jbkyang-nvi can you look into this and close this ticket if required?

[2022-04-14 20:50] yaoyunda commented on #4183
@tanmayv25 ,
Thanks for explain.
For the python backend test, the main error from the attached log is missing 40 files listed below, how to generate or get them?

python_float16_float32_float32
python_float32_float32_float32
python_float32_int32_int32
python_int16_int16_int16
python_int32_float16_int16
python_int32_float32_float32
python_int32_int32_int32
python_int32_int32_object
python_int32_int

[2022-04-14 20:53] CoderHam commented on #4165
@Revist please refer to the docs for [model repository](https://github.com/triton-inference-server/server/blob/main/docs/model_repository.md#s3). When using private / local S3 you need to use both host and port

Example
[code]

[2022-04-14 22:05] jbkyang-nvi commented on #4205
Have verified the response from DCGM team. Since nvidia-smi -q -d POWER doesn't support this GPU DCGM doesn't support it. I will close the ticket. By the way, metrics errors should not make Triton stop running

[2022-04-15 00:10] damonmaria opened #4223 "Python InferenceServerClient (http) should not call close() from __del__"
**Description**
The python http `InferenceServerClient` implements the `__del__` finalizer and calls `self.close()`. The issue is that this uses gevent which must always be called from the same thread. Python can call `__del__` from any thread. So when the client is finalized you'll get errors like this:
[code]

I am already explicitly `close`ing the client in the correct thread but `InferenceServ

[2022-04-15 00:13] yaoyunda commented on #4183
@tanmayv25 , I figured out how to run python sanity check for L0_infer, need to use docker run with --shm-size=4g --ulimit memlock=-1, 1g is not enough. please ignore my previous comment for model file generation.

[2022-04-15 00:19] #4221 closed

[2022-04-15 00:27] tanmayv25 commented on #4183
Just adding it here anyways. The test script should generate the python models on its own.
https://github.com/triton-inference-server/server/blob/main/qa/L0_infer/test.sh#L153-L211

[2022-04-15 04:04] shimoshida commented on #4154
@tanmayv25 Thank you for the explanation! The result is as follows:
[code]

[2022-04-15 05:35] chiehpower commented on #4205
hi @CoderHam and @jbkyang-nvi

Thanks for checking and replying!
It is really helpful information.

BR,
Chieh

[2022-04-15 07:10] zhaotyer commented on #4213
@CoderHam Thank you for your reply
I start up a object detection model and a classification model, then inference with these two models, I got the following log information，The output log information is not clear which inference of the two models is.

![sendpix0](https://user-images.githubusercontent.com/89376832/163535375-463f2fcb-fb00-4978-a269-c3379a94512a.jpg)

Hope to have the following funct

[2022-04-15 07:29] TimovNiedek commented on #4219
@CoderHam here's the output with async mode.

[code]

[2022-04-15 09:49] greenberd09 commented on #4203
@CoderHam
Indeed, triton provides [tools](https://github.com/triton-inference-server/server/blob/main/docs/ragged_batching.md) for adapting batching to non-standard inputs. But as I understand it only works with input, this doesnt change batching behavior for output, does it?
It would be cool to know if there is an alternative server-side solution, as I may not understand correctly how batching wo

[2022-04-15 10:03] zbh0323 opened #4225 "[Question]The performance of triton-server itself"
Excuse me, have you evaluated the cpu and memory resources occupied by triton-server itself? Is there any official data to corroborate it?

[2022-04-15 12:28] hyperfraise commented on #4220
@dyastremsky I think there is a misunderstanding. in face `TYPE_FP16` and `TYPE_INT8` are not supported datatypes when using "tensorr_plan" backend. Would you please reopen this ?

[2022-04-15 12:39] hyperfraise commented on #4220
I'll provide a code snippet to illustrate what I mean.

[2022-04-15 12:51] hyperfraise commented on #4220
Hey. I got confused by [another issue](https://github.com/triton-inference-server/server/issues/2377) in which I understood that we should always specify TYPE_FP32 when using "tesnorrt_plan" no matter what the type of the model input is, but you're right. Thanks.

[2022-04-15 16:22] CoderHam commented on #4225
@zbh0323 are you referring to the CPU and memory resources taken by triton when no models are loaded / running or when there are inferences being run and models / respective frameworks have been loaded by Triton?

[2022-04-15 16:24] CoderHam commented on #4223
@damonmaria thank you for filing this issue. Can you provide a detailed repro with a minimal example so that we can add additional handling for such cases?

[2022-04-15 16:26] zbh0323 commented on #4225
Yes, I want to know the resources occupied by triton-server itself whether there is a model running or not

[2022-04-15 16:27] CoderHam commented on #4219
From these numbers it appears that using async mode does indeed increase the throughput from 2.6 to 6.8 inferences per second.

@TimovNiedek this is evidence that the async mode does increase throughput.

Additionally when the model itself becomes the bottleneck, throughput will no longer increase. Consider increasing the model instance count if you can.

[2022-04-15 16:29] zbh0323 commented on #4225
I want to use this to judge whether I should arrange multiple models together and run them in a triton server, or deploy multiple triton servers, each of which corresponds to a model service.> @zbh0323 are you referring to the CPU and memory resources taken by triton when no models are loaded / running or when there are inferences being run and models / respective frameworks have been loaded by Tr

[2022-04-15 16:29] zbh0323 commented on #4225
I want to use this to judge whether I should arrange multiple models together and run them in a triton server, or deploy multiple triton servers, each of which corresponds to a model service.

[2022-04-15 17:43] tanmayv25 commented on #4154
Marking it as a bug and will investigate more into why triton is going OOM.

[2022-04-15 20:45] damonmaria commented on #4223
As I said in the **To Reproduce** section above, there is no ability AFAIK to control which thread `__del__` will be called from. This is explicit in the [Python docs on __del__](https://docs.python.org/3/reference/datamodel.html?highlight=__del__#object.__del__):

Given that, if `InferenceServerClient`s `__del__` calls into `gevent` then obviously it may not be on the correct thread as required b

[2022-04-15 22:16] yaoyunda commented on #4183
For 2 other sanity tests , to run "BACKENDS="python" ENSEMBLES=0 EXPECTED_NUM_TESTS=37 bash -x ./test.sh" for Python backend is still not working. unable to figure out why: here are the logs.
[L0_batcher_python_test_log.txt](https://github.com/triton-inference-server/server/files/8498757/L0_batcher_python_test_log.txt)
[L0_sequence_batcher_python_test_log.txt](https://github.com/triton-inference-s

[2022-04-16 05:05] yaoyunda opened #4231 "Test L0_backend_python is coupled with AWS S3"
**Description**
A clear and concise description of what the bug is.
Need to build and tritonserver and  run the test L0_backend_python in Azure GPU VM
The test is going to fail with error:

aws: error: the following arguments are required: value
+ BUCKET_URL=s3://triton-bucket-
+ aws s3 rm s3://triton-bucket- --recursive --include '*'
fatal error: Unable to locate credentials
+ true
+ aws s3 mb s3

[2022-04-16 06:25] yaoyunda commented on #4231
build tritonserver using optional features:
./build.py --cmake-dir=./build
-build-dir=/mnt/citritonbuild
--enable-logging
--enable-stats
--enable-tracing
--enable-metrics
--enable-gpu-metrics
--enable-gpu
--filesystem=azure_storage
--endpoint=http
--endpoint=grpc
--repo-tag=common:r22.03
--repo-tag=core:r22.03
--repo-tag=backend:r22.03
--repo-tag=thirdparty:r22.03
--backend=ensemble
--backend=iden

[2022-04-16 07:19] yaoyunda opened #4232 "Test L0_http failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.
Test L0_http failed with errors, one of them as:
 Poll failed for model directory 'inception_graphdef': unexpected platform type 'tensorflow_graphdef' for inception_graphdef

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it yourself?
build by myself

**To R

[2022-04-16 07:28] yaoyunda opened #4233 "Test L0_grpc failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.

Test L0_grpc failed with errors, one of them as:
Poll failed for model directory 'inception_graphdef': unexpected platform type 'tensorflow_graphdef' for inception_graphdef

Test L0_http failed with errors, one of them as:
Poll failed for model directory 'inception_graphdef': unexpected platform type 'tensorflow_graphdef' for inc

[2022-04-17 07:45] farzanehnakhaee70 opened #4234 "triton python backend load time of pytorch model is 4x slower than an ONNX model load time."
The problem is that I have a pytoch model and want to deploy it via triton inference server without using torch tracing. When I deploy the mdoel using python backend, the loading time is around 0.8 seconds. However, if I load the onnx model without python backend, the loading time is around 0.2 seconds.

At the first place, I don't know if this difference is due to the pytorch model load time or t

[2022-04-17 16:31] naor2013 commented on #4215
@Tabrizian I'll try to reproduce it in a new environment so I'll have clear steps to reproduce.

I have another unrelated issue but it might have a quick answer (if not, I'll open a different issue).
I'm trying to use the Python backend to call my Pytorch model directly (I'm testing something specific, which is why I currently don't use the Pytorch backend).

When I test it with perf analyzer, usi

[2022-04-18 00:24] yaoyunda opened #4235 "Test L0_multi_server failed for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.

Test L0_multi_server failed with errors, one of them as:
unexpected platform type 'tensorflow_graphdef' for simple1

**Triton Information**
What version of Triton are you using?
r22.03
Are you using the Triton container or did you build it yourself?
build by myself

**To Reproduce**
Steps to reproduce the behavior.

Steps to repr

[2022-04-18 00:53] yaoyunda opened #4236 "Test L0_nullchar_string failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.

L0_nullchar_string failed with errors, one of them as:

Poll failed for model directory 'graphdef_nobatch_zero_1_bool': unexpected platform type 'tensorflow_graphdef' for graphdef_nobatch_zero_1_bool

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it yourse

[2022-04-18 02:19] yaoyunda opened #4237 "Test L0_output_name failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.

L0_output_name  failed with errors, one of them as:

Poll failed for model directory 'graphdef_nobatch_zero_1_float32': unexpected platform type 'tensorflow_graphdef' for graphdef_nobatch_zero_1_float32

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it you

[2022-04-18 02:46] yaoyunda opened #4238 "Test L0_model_config failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.
L0_model_config
failed with errors, one of them as:
 Poll failed for model directory 'invalid_platform': unexpected platform type 'tensorflo' for invalid_platform
 Poll failed for model directory 'control_tensor_multiple': sequence batching control tensor 'START' is specified for multiple control kinds for control_tensor_multiple

[2022-04-18 02:55] yaoyunda opened #4239 "Test L0_large_payload failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.

L0_large_payload failed with errors, one of them as:
Poll failed for model directory 'graphdef_nobatch_zero_1_float32': unexpected platform type 'tensorflow_graphdef' for graphdef_nobatch_zero_1_float32

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it you

[2022-04-18 03:02] yaoyunda opened #4240 "Test L0_parallel_copy failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.

L0_parallel_copy ailed with errors, one of them as:
 Poll failed for model directory 'plan_zero_1_float32': unexpected platform type 'tensorrt_plan' for plan_zero_1_float32

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it yourself?
build by myself

**To R

[2022-04-18 03:10] yaoyunda opened #4241 "Test L0_https failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.
Test L0_https failed with errors, one of them as:
Poll failed for model directory 'simple': unexpected platform type 'tensorflow_graphdef' for simple

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it yourself?
build by myself

**To Reproduce**
Steps to repr

[2022-04-18 03:19] yaoyunda opened #4242 "Test L0_custom_ops failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.
L0_custom_ops failed with errors:
error while loading shared libraries: libtensorflow_framework.so.1: cannot open shared object file: No such file or directory

**Triton Information**
What version of Triton are you using?
r22.03

Are you using the Triton container or did you build it yourself?
build by myself

**To Reproduce**
Ste

[2022-04-18 03:29] yaoyunda opened #4243 "Test L0_memory_growth failed to load all models for tritonserver image including only onnx and python backends"
**Description**
A clear and concise description of what the bug is.
L0_memory_growth failed with error:

cp: cannot stat '/data/inferenceserver/22.03/perf_model_store/resnet50*': No such file or directory
+ cp -r /data/inferenceserver/22.03/caffe_models/trt_model_store/resnet50_plan models/resnet50_fp16_plan
cp: cannot stat '/data/inferenceserver/22.03/caffe_models/trt_model_store/resnet50_plan':

[2022-04-18 07:42] omrifried commented on #4142
@tanmayv25 apologies for the delay. A single request is around 0.5 seconds, which seems appropriate. The issue is that the beam pipeline has extremely high concurrency, so there are a lot of issues being sent concurrently to the server. We set the number of workers to 10 so there are ten parallel workers processing videos, sending frames to Triton, and that is when we see the high inference times.

[2022-04-18 07:48] omrifried commented on #4133
@tanmayv25 - yes I am calling get_result sequentially, so it should be relinquishing control accordingly.

I have also tried setting `concurrency` to a larger value, such as 10 or 20, but it does not seem to be helping there

[2022-04-18 11:57] eanmikale opened #4244 "400 Error during Inference"
Hi guys,
We are having an issue accessing our ONNX model end-point for Image Classification. I have questions regarding the proper inclusion of the JSON file in the body of the JSON message, as well as the proper terminal commands. We have included the following in a curl command:

 curl -v https://infinite8institute-fo59atq168162q3o.socketxp.com/v2/models/model.onnx/versions/1/infer -X POST -H "C

[2022-04-18 15:22] FrancescoSaverioZuppichini opened #4245 "Clean and Concise documentation"
Dear all,

Thanks for Triton. This is more like a "call for action". Without clean and concise documentation, using Triton in the right way is very hard if not impossible.

Currently, the doc seems to have been very overlooked. I cannot see detailed and explained examples, you have to jump around multiple reports to understand how to (maybe) implement what you are looking for.

For example, I've b

[2022-04-18 15:41] CoderHam commented on #4243
@yaoyunda the memory growth tests require models that are generated and stored internally. Can you help us understand your motivation to run the memory growth tests?

[2022-04-18 15:42] CoderHam commented on #4242
@yaoyunda  the custom ops tests runs for Onnx, TF and PyTorch backends. Please remove/comment out the parts for the other backends if they have been disabled in your build.

[2022-04-18 15:42] #4242 closed

[2022-04-18 15:45] CoderHam commented on #4241
@yaoyunda the https test uses tensorflow models. You are seeing this error because your build was configured without TF support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 15:45] #4241 closed

[2022-04-18 15:45] CoderHam commented on #4240
@yaoyunda the L0_parallel test uses TensorRT plan models. You are seeing this error because your build was configured without TensorRT support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 15:45] #4240 closed

[2022-04-18 15:46] CoderHam commented on #4239
@yaoyunda the large payload test uses tensorflow models. You are seeing this error because your build was configured without TF support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 15:46] #4239 closed

[2022-04-18 15:49] CoderHam commented on #4237
@yaoyunda the L0_output_name test uses tensorflow models. You are seeing this error because your build was configured without TF support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 15:49] CoderHam commented on #4236
@yaoyunda the L0_nulltchar_string test uses tensorflow models. You are seeing this error because your build was configured without TF support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 15:49] #4236 closed

[2022-04-18 15:49] CoderHam commented on #4235
@yaoyunda the L0_multi_server test uses tensorflow models. You are seeing this error because your build was configured without TF support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 15:49] #4235 closed

[2022-04-18 16:00] CoderHam commented on #4234
@farzanehnakhaee70 Torchscript is the recommended way to deploy PyTorch models. That being said if you wish to use the python backend and load the pytorch model without tracing you will have an additional overhead during load time to create the shared memory regions needed to communicate between the Python and C processes.

@Tabrizian is our Python backend expert and can explain the same in detail

[2022-04-18 16:05] CoderHam commented on #4244
@eanmikale can you share the contents of the json file and confirm the file is not malformed?

I noticed a section of the request that contains (what looks like) a base64 encoded string. Can you explain where this originates from and the significance of the same?

`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTIxNTE0NDMsImlkIjoiaW5maW5pdGU4aW5zdGl0dXRlQGdtYWlsLmNvbSJ9.wuM3hEJUIFuJ4aXNqndmSbmo

[2022-04-18 16:05] CoderHam commented on #4232
@yaoyunda the L0_http test uses tensorflow models. You are seeing this error because your build was configured without TF support. Please replace the model with an identical model that can be loaded and run via the ONNX or python backend.

This may require modifications to the current test scripts.

[2022-04-18 16:05] #4232 closed

[2022-04-18 16:06] #4233 closed

[2022-04-18 16:09] CoderHam commented on #4231
@yaoyunda you can disable the env test if you have build without S3 cloud storage support. This would be as simple as commenting this section under the test.sh script

[code]

[2022-04-18 16:09] #4231 closed

[2022-04-18 16:10] CoderHam commented on #4223
@jbkyang-nvi can you have a look at this?

[2022-04-18 16:12] #4165 closed

[2022-04-18 16:13] CoderHam commented on #4153
Closing due to inactivity.

[2022-04-18 16:13] #4153 closed

[2022-04-18 16:13] CoderHam commented on #4152
Closing due to inactivity

[2022-04-18 16:13] #4152 closed

[2022-04-18 16:18] CoderHam commented on #4052
Closing due to inactivity

[2022-04-18 16:18] #4052 closed

[2022-04-18 16:19] CoderHam commented on #4203
@GuanLuo can you clarify the same? In my understanding Ragged batching is not the same as Batching by any axis.

[2022-04-18 16:28] dyastremsky commented on #4245
Hi Francesco, have you used the [quick start guide](https://github.com/triton-inference-server/server/blob/main/docs/quickstart.md) yet? That's a good place to start from for a vanilla model. You can adapt it using the links in our main README to your specific use case. If you want more concrete code, you can also look in our `qa` folder for specific examples associated with the backends/feature y

[2022-04-18 16:32] eanmikale commented on #4244
Sure, it is a test key from socketxp for a tunnel. Contents of the JSON file are below. It's named test3.json. 

POST /v2/models/model.onnx/versions/1/infer HTTP/1.1

Host: https://infinite8institute-fo59atq168162q3o.socketxp.com

Content-Type: application/json

Authorization: Bearer "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTIxNTE0NDMsImlkIjoiaW5maW5pdGU4"

Content-Length: 870

{

  "mod

[2022-04-18 17:31] tanmayv25 commented on #4133
Interesting. I have opened a bug with our team and will try to look at it later.

[2022-04-18 17:39] tanmayv25 commented on #4142
Do these workers keep sending requests to Triton with new frames irrespective of the fact that previous frame has returned or not?
Also, can you use statistics API to just collect the accumulated time when running inference requests on Triton at scale?
https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_statistics.md
The corresponding client API is:
grpc client: htt

[2022-04-18 17:50] tanmayv25 commented on #4183
L0_batcher and L0_sequence_batcher doesn't include the support for python backend.
https://github.com/triton-inference-server/server/blob/main/qa/L0_batcher/test.sh#L102
https://github.com/triton-inference-server/server/blob/main/qa/L0_sequence_batcher/sequence_batcher_test.py#L55

Most likely we don't generate these models. @Tabrizian  Do you know why we don't include python backend in these test

[2022-04-18 22:58] jbkyang-nvi commented on #4223
@damonmaria why are you manually calling `close()`? If you don't do that will this problem still happen?

[2022-04-19 00:12] GuanLuo commented on #4203
That is correct, ragged batching is a way to allow batching inputs that have different shape (i.e. batching inputs of shape [1, 4] and shape [1, 2]), however it still rely on the fact that batch dimension is the outer most dimension so that the data of each input is compact. Batching by any axis is a different and harder problem to solve as the data of inputs will be interleaving in the batched fo

[2022-04-19 01:46] kelisiya opened #4247 "torchscript model don't use Dynamic Batching"
**Description**
A clear and concise description of what the bug is.
Torchscript model don't use Dynamic Batching
**Triton Information**
What version of Triton are you using?
22.03
Are you using the Triton container or did you build it yourself?
Triton container
**To Reproduce**
Steps to reproduce the behavior.
1. torch.jit.trace('model.pt')
2. triton server load this model  and config use Dynamic

[2022-04-19 01:51] damonmaria commented on #4223
I create a client in the main thread at startup, get the model config and perform a sanity check on it. Because of gevent that client instance is tied to the main thread so I manually `close` it. When we start processing requests in a dedicated thread then I create a new client.

By calling `close` manually I'm ensuring it's called from the correct thread. If I leave it to `close` to be called thr

[2022-04-19 02:19] damonmaria commented on #4223
Sorry, I realize I did not answer both your questions.

When the `InferenceServerClient` object is garbage collected (finalized) by Python then it's `__del__` will be called and that will call `close`. So `close` is called no matter what. Even if I have manually called `close` already this second call to `close` from `__del__` will still cause this gevent thread warning.

[2022-04-19 03:07] sourabh-burnwal opened #4248 "How to maintain confidentiality of models in local deployments"
How do I ensure that my ML models are hidden from others in a local deployment of triton inference server. Since we need model files in the model repository, it's easily accessible.

If I use a S3 bucket as model repo, it's still can be downloaded.

How to deploy triton inference server on premise locally, and ensure models can't be accessed or downloaded by the client?

[2022-04-19 05:57] farzanehnakhaee70 commented on #4234
Thanks a lot @CoderHam. @Tabrizian I would appreciate if you can help me with anything which can reduce this loading time.

[2022-04-19 06:52] hliunim opened #4249 "Can Triton support TensorFlow1.10.0?"
As we all know, TensorFlow1.10.0 is an earlier version. Is it not supported to convert to onnx model using tf2onnx？
![image](https://user-images.githubusercontent.com/19989312/163942934-a2c8e507-8df4-49fa-9946-9f4383f12be4.png)
So can triton support TensorFlow1.10? If yes, what is the specific implementation method？Thank you

[2022-04-19 07:07] FrancescoSaverioZuppichini commented on #4245
Hi @dyastremsky, thanks for your reply. I hope you realize your answer proves my point. Of course, I've read them and they are just very quick raw examples that are not really useful if you want to go beyond copy & paste your examples. If you believe that the documentation is up to good open-source standards, then feel free to close the issue.

Try to put yourself in the shoes of somebody who want